set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_11_0_ 4 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_12_0_ 4 12 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 2 1 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 4 11 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 4 11 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 4 11 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 4 12 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 4 12 1 #SB_LUT4
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 7 3 4 #SB_LUT4
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 7 3 3 #SB_LUT4
set_location uu2.trig_rd_det_1_THRU_LUT4_0 2 10 2 #SB_LUT4
set_location uu2.r_data_reg_7_THRU_LUT4_0 4 8 7 #SB_LUT4
set_location uu2.r_data_reg_6_THRU_LUT4_0 4 8 6 #SB_LUT4
set_location uu2.r_data_reg_5_THRU_LUT4_0 4 8 5 #SB_LUT4
set_location uu2.r_data_reg_4_THRU_LUT4_0 4 8 4 #SB_LUT4
set_location uu2.r_data_reg_3_THRU_LUT4_0 4 8 3 #SB_LUT4
set_location uu2.r_data_reg_2_THRU_LUT4_0 4 8 2 #SB_LUT4
set_location uu2.r_data_reg_1_THRU_LUT4_0 4 8 1 #SB_LUT4
set_location uu2.r_data_reg_0_THRU_LUT4_0 4 8 0 #SB_LUT4
set_location uu2.bitmap_111_THRU_LUT4_0 7 3 2 #SB_LUT4
set_location uu0.sec_clkD_THRU_LUT4_0 4 7 3 #SB_LUT4
set_location uu0.delay_line_1_THRU_LUT4_0 1 9 3 #SB_LUT4
set_location buart.Z_rx.shifter_fast_7_THRU_LUT4_0 6 11 1 #SB_LUT4
set_location buart.Z_rx.shifter_fast_6_THRU_LUT4_0 6 11 3 #SB_LUT4
set_location buart.Z_rx.shifter_fast_5_THRU_LUT4_0 9 12 7 #SB_LUT4
set_location buart.Z_rx.shifter_fast_4_THRU_LUT4_0 7 14 4 #SB_LUT4
set_location buart.Z_rx.shifter_fast_3_THRU_LUT4_0 7 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast_2_THRU_LUT4_0 9 12 4 #SB_LUT4
set_location buart.Z_rx.shifter_fast_1_THRU_LUT4_0 8 13 4 #SB_LUT4
set_location buart.Z_rx.shifter_fast_0_THRU_LUT4_0 9 12 1 #SB_LUT4
set_location buart.Z_rx.shifter_7_rep1_THRU_LUT4_0 7 9 5 #SB_LUT4
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 6 11 0 #SB_LUT4
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 6 11 6 #SB_LUT4
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 8 13 5 #SB_LUT4
set_location buart.Z_rx.shifter_4_rep1_THRU_LUT4_0 9 14 7 #SB_LUT4
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 7 14 0 #SB_LUT4
set_location buart.Z_rx.shifter_3_rep2_THRU_LUT4_0 9 12 6 #SB_LUT4
set_location buart.Z_rx.shifter_3_rep1_THRU_LUT4_0 7 14 1 #SB_LUT4
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 9 9 7 #SB_LUT4
set_location buart.Z_rx.shifter_2_rep1_THRU_LUT4_0 9 12 3 #SB_LUT4
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 9 9 0 #SB_LUT4
set_location buart.Z_rx.shifter_1_rep1_THRU_LUT4_0 9 12 2 #SB_LUT4
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 9 12 0 #SB_LUT4
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 11 9 7 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 1 9 0 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 1 9 1 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_3_THRU_LUT4_0 9 3 1 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_2_THRU_LUT4_0 6 4 7 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_1_THRU_LUT4_0 6 4 5 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_0_THRU_LUT4_0 9 3 0 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_3_THRU_LUT4_0 9 6 2 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_2_THRU_LUT4_0 9 6 1 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_1_THRU_LUT4_0 9 6 0 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_0_THRU_LUT4_0 6 5 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.reset_2_REP_LUT4_0 8 2 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.ce_3_REP_LUT4_0 8 2 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI4I852_3_Lab_UT.didp.ce_2_REP_LUT4_0 8 2 4 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNIULOK1_3_Lab_UT.didp.ce_1_REP_LUT4_0 7 8 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIV29R8_Lab_UT.dictrl.state_0_esr_3_REP_LUT4_0 8 9 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIV29R8_Lab_UT.dictrl.state_0_3_rep2_esr_REP_LUT4_0 7 13 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIV29R8_Lab_UT.dictrl.state_0_3_rep1_esr_REP_LUT4_0 7 13 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNITTE7F_Lab_UT.dictrl.state_0_fast_esr_1_REP_LUT4_0 7 10 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNITTE7F_Lab_UT.dictrl.state_0_esr_1_REP_LUT4_0 7 10 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNITTE7F_Lab_UT.dictrl.state_0_1_rep1_esr_REP_LUT4_0 7 10 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIRFD0E_Lab_UT.dictrl.state_0_fast_esr_2_REP_LUT4_0 8 8 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIRFD0E_Lab_UT.dictrl.state_0_esr_2_REP_LUT4_0 8 8 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIRFD0E_Lab_UT.dictrl.state_0_2_rep1_esr_REP_LUT4_0 8 8 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNIC32CN_Lab_UT.dictrl.state_0_esr_0_REP_LUT4_0 8 9 4 #SB_LUT4
set_location uu2.r_addr_RNO[5] 2 10 0 #SB_LUT4
set_location uu2.bitmap_RNIG5UR[84] 6 3 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[4] 5 7 0 #SB_DFF
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 2 4 4 #SB_LUT4
set_location Lab_UT.dictrl.g1_5 5 13 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_12 8 11 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[5] 1 14 0 #SB_LUT4
set_location buart.Z_rx.shifter_7_rep1 7 9 5 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_RNIJSSP3[0] 7 1 7 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_RNIAC7D1[1] 7 4 2 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr[2] 6 4 7 #SB_DFFESR
set_location uu2.w_addr_displaying[0] 5 2 4 #SB_DFFNSR
set_location uu0.l_precount[0] 1 9 2 #SB_DFFR
set_location buart.Z_rx.shifter_3_rep1 7 14 1 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_11 9 10 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_1 1 3 7 #SB_LUT4
set_location uu0.l_count_RNIRLTJ1[17] 2 11 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 6 10 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNINEHL 6 13 0 #SB_LUT4
set_location uu2.l_count_RNO[4] 2 12 3 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNICO8R3[2] 7 2 5 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_RNIHMHR3[2] 5 5 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 5 9 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 6 10 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 4 12 4 #SB_DFF
set_location buart.Z_tx.shifter_RNO[5] 5 8 6 #SB_LUT4
set_location uu2.r_addr_RNO[0] 2 8 1 #SB_LUT4
set_location uu2.bitmap_RNI4LQU[34] 6 1 7 #SB_LUT4
set_location buart.Z_rx.bitcount_sbtinv[4] 5 10 0 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[0] 5 11 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[3] 6 7 2 #SB_DFF
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIQOJQ3 7 12 2 #SB_LUT4
set_location Lab_UT.didp.ce_RNI5U3I[1] 7 8 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[2] 4 2 6 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNO 5 2 0 #SB_LUT4
set_location uu2.un1_w_user_cr_0_a3 5 7 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 1 12 6 #SB_LUT4
set_location uu0.delay_line_RNO[0] 1 9 4 #SB_LUT4
set_location Lab_UT.dispString.rdy 4 7 1 #SB_DFF
set_location Lab_UT.didp.regrce4.q_esr[1] 6 4 5 #SB_DFFESR
set_location Lab_UT.didp.regrce2.q[2] 9 5 2 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[0] 8 3 3 #SB_LUT4
set_location Lab_UT.didp.ce_RNI4EIS1[2] 9 4 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIS3A93[1] 9 9 2 #SB_LUT4
set_location uu2.w_addr_displaying[3] 5 2 3 #SB_DFFNSR
set_location buart.Z_rx.shifter_3_rep2 9 12 6 #SB_DFFER
set_location Lab_UT.didp.reset[3] 8 2 3 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_0 9 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1 5 2 0 #SB_DFFNSR
set_location buart.Z_tx.shifter[3] 5 8 4 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_RNILUSP3[1] 6 4 4 #SB_LUT4
set_location Lab_UT.dictrl.m90 12 10 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNIRKP91 7 5 7 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i[2] 6 1 3 #SB_LUT4
set_location uu2.r_addr[2] 2 7 0 #SB_DFFSR
set_location Lab_UT.dictrl.alarmstate_1_0_.m3_0 9 7 1 #SB_LUT4
set_location buart.Z_rx.shifter_fast[1] 8 13 4 #SB_DFFER
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 8 3 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIHC6L[1] 6 12 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 5 12 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 5 12 7 #SB_DFF
set_location Lab_UT.dictrl.state_0_fast_esr[3] 7 13 7 #SB_DFFESR
set_location uu2.w_addr_displaying_ness[6] 4 4 3 #SB_DFFNESS
set_location buart.Z_tx.shifter_RNO[8] 6 8 1 #SB_LUT4
set_location Lab_UT.dictrl.justentered_1_sqmuxa_i 9 7 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast[3] 5 2 2 #SB_DFFNSR
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNI1N6L5 8 11 5 #SB_LUT4
set_location uu2.w_addr_user[1] 1 6 3 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 2 4 3 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 12 10 5 #SB_LUT4
set_location buart.Z_rx.shifter[0] 11 9 7 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[0] 4 11 0 #SB_CARRY
set_location Lab_UT.dictrl.state_ret_4_esr 8 9 2 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_1_rep1_esr_RNID53P 9 13 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[3] 5 2 3 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[3] 8 4 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[0] 8 5 0 #SB_LUT4
set_location Lab_UT.didp.ce[2] 8 2 4 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIBOOF 7 10 1 #SB_LUT4
set_location uu0.l_count[8] 1 12 4 #SB_DFFER
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIE4AI 7 13 2 #SB_LUT4
set_location Lab_UT.didp.reset[0] 8 2 6 #SB_DFFSS
set_location buart.Z_tx.shifter[6] 5 8 7 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[0] 8 3 3 #SB_DFF
set_location Lab_UT.didp.countrce2.q[2] 8 5 7 #SB_DFF
set_location Lab_UT.dictrl.state_ret_2_ess_RNIJAJ21 5 13 5 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[6] 4 5 5 #SB_LUT4
set_location uu2.r_addr[1] 2 8 5 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[2] 5 6 4 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[1] 9 5 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[2] 9 4 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO 7 11 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIBOOF_0 7 10 2 #SB_LUT4
set_location uu2.trig_rd_det[1] 2 10 2 #SB_DFFSR
set_location buart.Z_rx.shifter_fast[6] 6 11 3 #SB_DFFER
set_location Lab_UT.didp.countrce2.q_RNO_0[0] 8 3 7 #SB_LUT4
set_location Lab_UT.dictrl.m73_1 8 11 1 #SB_LUT4
set_location uu2.w_addr_user_RNO[4] 2 6 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNIFPHP1[3] 1 3 3 #SB_LUT4
set_location uu0.sec_clkD_RNISDHD 4 7 0 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_ctle[3] 9 13 7 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_RNIJOHR3[3] 5 5 7 #SB_LUT4
set_location uu0.l_count_RNO[18] 2 11 4 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_1_0_.m3 8 6 3 #SB_LUT4
set_location uu2.w_addr_user_nesr[2] 4 5 3 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[0] 5 1 7 #SB_DFFNSR
set_location uu2.r_addr_esr[8] 2 4 1 #SB_DFFESR
set_location uu2.bitmap[221] 4 3 4 #SB_DFFNSR
set_location buart.Z_rx.shifter[3] 9 9 7 #SB_DFFER
set_location buart.Z_rx.bitcount_es[1] 4 10 0 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[3] 4 11 3 #SB_CARRY
set_location Lab_UT.dictrl.state_ret_1_ess 8 8 0 #SB_DFFESS
set_location Lab_UT.dictrl.m59_ns_1_ns 6 6 5 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[5] 6 3 4 #SB_LUT4
set_location uu2.vram_rd_clk_det_RNI95711[1] 5 7 1 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[8] 4 4 5 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[2] 5 6 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_1[3] 8 3 0 #SB_LUT4
set_location uu2.bitmap_RNIU2IS[52] 6 3 1 #SB_LUT4
set_location uu2.bitmap[197] 5 1 6 #SB_DFFNSR
set_location Lab_UT.didp.regrce1.q_esr_RNITLJB1[3] 8 5 4 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_1[3] 8 4 3 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNI28771[3] 8 8 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 12 2 #SB_LUT4
set_location buart.Z_tx.shifter[5] 5 8 6 #SB_DFFER
set_location buart.Z_rx.shifter_4_rep1 9 14 7 #SB_DFFER
set_location uu2.vbuf_w_addr_displaying.N_50_i_i 4 4 2 #SB_LUT4
set_location uu2.bitmap_RNIBG4K[58] 4 3 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[3] 5 7 2 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[1] 8 7 5 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO[5] 6 6 1 #SB_LUT4
set_location uu2.bitmap[69] 5 1 4 #SB_DFFNSR
set_location Lab_UT.dispString.cnt_RNIFV4E[1] 5 9 2 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[2] 9 5 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa 8 6 5 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIE43C7[6] 4 6 1 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[3] 2 4 6 #SB_LUT4
set_location uu2.bitmap[40] 6 2 4 #SB_DFFNSR
set_location uu2.w_addr_user_RNO[1] 1 6 3 #SB_LUT4
set_location uu2.bitmap[218] 5 4 1 #SB_DFFNSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 4 12 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 4 9 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_8 11 10 4 #SB_LUT4
set_location uu2.w_addr_user_nesr[5] 6 6 1 #SB_DFFNESR
set_location uu2.w_addr_displaying_RNIDKOL_0[0] 4 1 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIGD5V[2] 4 2 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 1 15 4 #SB_LUT4
set_location buart.Z_rx.shifter[6] 6 11 6 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 4 12 0 #SB_CARRY
set_location buart.Z_tx.Z_baudgen.counter[5] 6 10 4 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_13 8 14 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNII0R67[1] 8 10 7 #SB_LUT4
set_location uu0.l_count[2] 1 11 2 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_11_RNIC32CN 8 10 5 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO_1[3] 7 6 5 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI3OPR5[2] 5 3 6 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_a2_0_0 5 6 3 #SB_LUT4
set_location uu2.bitmap[84] 6 3 4 #SB_DFFNSR
set_location buart.Z_tx.shifter[8] 6 8 1 #SB_DFFER
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 2 4 2 #SB_LUT4
set_location uu2.r_data_rdy_RNO 5 5 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 2 15 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 4 12 3 #SB_CARRY
set_location Lab_UT.dispString.dOut_RNO_0[4] 6 7 7 #SB_LUT4
set_location Lab_UT.dispString.cnt[1] 6 9 0 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNO[0] 4 5 4 #SB_LUT4
set_location uu2.vram_rd_clk_det[0] 7 3 3 #SB_DFFNS
set_location buart.Z_rx.hh[1] 1 9 0 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[2] 8 7 3 #SB_LUT4
set_location uu2.vbuf_count.result_1[8] 2 14 2 #SB_LUT4
set_location uu2.l_count_RNO[9] 2 12 5 #SB_LUT4
set_location buart.Z_tx.uart_tx 5 8 2 #SB_DFFES
set_location buart.Z_rx.shifter_1_rep1 9 12 2 #SB_DFFER
set_location Lab_UT.dispString.dOut_RNO[6] 6 7 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_7_ess_RNO 7 10 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_3_RNO 7 8 1 #SB_LUT4
set_location Lab_UT.alarmchar_latch[0] 6 5 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNI12TI1_0[6] 5 3 3 #SB_LUT4
set_location uu2.r_data_reg[1] 4 8 1 #SB_DFFNE
set_location uu0.l_count_RNO[12] 1 13 3 #SB_LUT4
set_location uu0.l_count[11] 1 11 7 #SB_DFFER
set_location buart.Z_tx.bitcount_RNO[0] 4 9 1 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 4 9 1 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_5 9 10 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[5] 5 4 2 #SB_LUT4
set_location uu2.l_count_RNI9S834_0[1] 2 12 0 #SB_LUT4
set_location uu2.l_count[4] 2 12 3 #SB_DFFS
set_location uu2.bitmap[75] 6 1 2 #SB_DFFNSR
set_location resetGen.reset_count[0] 11 10 1 #SB_DFF
set_location Lab_UT.didp.regrce1.q_esr_RNIH9JB1[0] 6 5 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_9 7 12 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_8_ess 8 9 1 #SB_DFFESS
set_location uu2.w_addr_displaying_RNO[8] 5 2 5 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[2] 2 2 0 #SB_LUT4
set_location uu2.un1_w_user_cr_0_a3_4 5 7 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 5 10 7 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_16 8 12 0 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI7MSO[4] 4 1 5 #SB_LUT4
set_location uu2.bitmap_RNI5T9T1[72] 6 2 3 #SB_LUT4
set_location uu2.bitmap[314] 5 4 0 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[3].un55_ci 1 11 4 #SB_LUT4
set_location uu0.l_count[1] 1 11 6 #SB_DFFER
set_location Lab_UT.dictrl.state_0_esr[2] 8 8 3 #SB_DFFESR
set_location uu2.w_addr_displaying[8] 5 2 5 #SB_DFFNSR
set_location Lab_UT.didp.countrce4.q_RNO_1[2] 7 4 5 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIAGOP1[3] 9 2 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNI036C1 7 5 5 #SB_LUT4
set_location Lab_UT.dictrl.g0_2_5 7 12 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 2 3 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[2] 9 4 7 #SB_LUT4
set_location uu2.trig_rd_det_RNO[0] 2 10 1 #SB_LUT4
set_location Lab_UT.dispString.cnt[2] 6 9 7 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_esr_RNI88DT7[1] 6 12 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[7] 2 13 0 #SB_LUT4
set_location uu2.bitmap[296] 6 2 0 #SB_DFFNSR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 6 10 4 #SB_CARRY
set_location Lab_UT.dispString.dOut_RNO[1] 6 7 6 #SB_LUT4
set_location uu2.bitmap[212] 7 3 7 #SB_DFFNSR
set_location uu2.r_data_reg[4] 4 8 4 #SB_DFFNE
set_location uu0.l_count[12] 1 13 3 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[0] 9 5 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_6 11 11 3 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_latch[0] 8 6 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_15 2 3 1 #SB_LUT4
set_location uu2.l_count[7] 2 13 0 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_11_RNO_6 7 11 4 #SB_LUT4
set_location uu0.l_count_RNO[0] 1 11 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i[1] 4 3 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNI6J081[6] 5 3 2 #SB_LUT4
set_location uu2.bitmap_RNIIU8Q8[72] 4 3 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 6 10 2 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_15 7 12 4 #SB_LUT4
set_location uu2.bitmap_RNIFJI02[212] 5 3 1 #SB_LUT4
set_location uu0.l_count[4] 1 13 7 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_1_ess_RNO 8 8 0 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[3] 1 10 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIUJLP6[1] 6 10 7 #SB_LUT4
set_location Lab_UT.dictrl.g0_2_2 9 8 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 5 3 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[1] 7 2 1 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate8_3 9 7 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 6 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNIC9NT 4 2 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[2] 2 14 1 #SB_LUT4
set_location uu2.l_count_RNO[3] 2 12 6 #SB_LUT4
set_location uu2.bitmap[200] 6 2 1 #SB_DFFNSR
set_location Lab_UT.dispString.cnt_RNO[1] 6 9 0 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[2] 9 5 6 #SB_DFFSR
set_location Lab_UT.didp.regrce2.q_RNI6AKM3[0] 6 5 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q[1] 9 4 1 #SB_DFF
set_location Lab_UT.alarmchar_latch[6] 6 7 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI245H[2] 4 2 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 13 6 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[0] 7 2 0 #SB_LUT4
set_location Lab_UT.dictrl.m40_m2_0 8 11 0 #SB_LUT4
set_location uu2.r_data_reg[7] 4 8 7 #SB_DFFNE
set_location uu0.l_count[17] 2 11 0 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_RNIP2TP3[3] 7 1 5 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNO[3] 9 5 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_3 11 9 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_12 2 3 3 #SB_LUT4
set_location uu2.l_count[2] 2 14 1 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[0] 5 8 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_3 7 11 5 #SB_LUT4
set_location Lab_UT.dictrl.m86_0 11 10 5 #SB_LUT4
set_location uu0.l_count_RNO[3] 1 11 5 #SB_LUT4
set_location Lab_UT.dispString.dOut[6] 6 7 4 #SB_DFF
set_location Lab_UT.bcd2segment1.segmentUQ_i[2] 4 3 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 6 10 1 #SB_CARRY
set_location Lab_UT.didp.regrce1.q_esr_RNIUNGG1[1] 8 6 1 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr_RNIDIHR3[0] 6 5 1 #SB_LUT4
set_location Lab_UT.dictrl.m25_0 8 10 0 #SB_LUT4
set_location uu0.l_precount[2] 1 9 5 #SB_DFFR
set_location uu2.w_addr_displaying_RNI37MM2[3] 4 1 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_7 4 5 0 #SB_LUT4
set_location Lab_UT.dispString.rdy_RNO 4 7 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i[1] 5 1 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 6 10 5 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr[1] 9 6 0 #SB_DFFESR
set_location Lab_UT.dictrl.state_ret_11_RNIRFD0E 7 8 0 #SB_LUT4
set_location Lab_UT.dictrl.m97 12 10 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[0] 6 3 2 #SB_LUT4
set_location uu2.vram_rd_clk_RNO 2 10 3 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 2 13 1 #SB_LUT4
set_location uu2.bitmap_RNIU0UJ[314] 5 4 4 #SB_LUT4
set_location uu2.bitmap[90] 5 4 2 #SB_DFFNSR
set_location uu2.bitmap[290] 6 1 6 #SB_DFFNSR
set_location Lab_UT.un1_armed_4 8 7 0 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[1] 9 5 5 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[2] 9 4 3 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 1 13 4 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNISCGV1[0] 5 11 2 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_50_i_i_fast 4 4 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 12 5 #SB_LUT4
set_location uu0.l_count[18] 2 11 4 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[3] 7 6 7 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 5 8 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_0 7 11 6 #SB_LUT4
set_location Lab_UT.dictrl.m30_0_0 6 12 2 #SB_LUT4
set_location Lab_UT.dictrl.g0_4_2 8 12 3 #SB_LUT4
set_location uu0.l_count_RNO[6] 1 8 3 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[2] 4 10 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIIVPI1[4] 5 11 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[5] 5 7 7 #SB_DFF
set_location Lab_UT.dictrl.state_ret_3 7 8 1 #SB_DFFSS
set_location Lab_UT.dictrl.g0_22 8 12 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_17_o3_2 9 9 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIFEKI3 7 13 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[0] 5 1 7 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr[3] 9 3 1 #SB_DFFESR
set_location uu2.w_addr_displaying[1] 5 2 7 #SB_DFFNSR
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_12 9 10 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIUC6L1[1] 7 6 1 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNI12TI1[6] 5 3 5 #SB_LUT4
set_location uu2.r_data_reg[0] 4 8 0 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_2 4 6 7 #SB_LUT4
set_location uu0.l_count_RNO[13] 1 13 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 4 9 0 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 4 9 0 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_2 9 11 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNI7FC61 6 13 2 #SB_LUT4
set_location Lab_UT.dictrl.g2_1 7 12 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[4] 5 4 1 #SB_LUT4
set_location uu2.vram_wr_en_0_i 4 7 2 #SB_LUT4
set_location resetGen.reset_count[3] 12 10 2 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 6 10 4 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNI20V6[8] 4 5 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNI416J3 7 12 7 #SB_LUT4
set_location uu2.r_addr[4] 2 7 5 #SB_DFFSR
set_location uu2.bitmap[168] 6 1 0 #SB_DFFNSR
set_location Lab_UT.didp.reset_RNO[3] 8 2 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_11 8 11 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIVJEO 7 13 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNINJD5[3] 4 6 5 #SB_LUT4
set_location uu0.l_precount_RNI85Q91[3] 1 10 4 #SB_LUT4
set_location uu0.l_count[0] 1 11 3 #SB_DFFER
set_location buart.Z_rx.shifter_fast[3] 7 14 6 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_11_RNIV29R8 7 13 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[1] 7 10 5 #SB_DFFESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 2 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 4 12 6 #SB_DFF
set_location Lab_UT.dictrl.state_0_fast_esr[1] 7 10 4 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_8 2 3 7 #SB_LUT4
set_location uu2.l_count[8] 2 14 2 #SB_DFFS
set_location uu2.bitmap_RNIRETJ1[93] 4 3 5 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[6] 5 8 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIOP0V3[0] 5 10 3 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNIG7M61[1] 8 5 3 #SB_LUT4
set_location Lab_UT.dictrl.m30_1 8 13 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNI12TI1_1[6] 5 3 4 #SB_LUT4
set_location uu2.r_addr_RNO[1] 2 8 5 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[1] 4 10 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[0] 5 6 6 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNIIOLT 9 10 6 #SB_LUT4
set_location uu2.vram_rd_clk 2 10 3 #SB_DFFS
set_location resetGen.reset_count_RNO[0] 11 10 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es[4] 4 11 4 #SB_DFFES
set_location Lab_UT.didp.regrce3.q_RNIEQ8R3[3] 7 1 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[5] 5 2 6 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNIN52C4 5 4 6 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 2 4 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 2 10 5 #SB_LUT4
set_location uu2.bitmap_RNIURJN1[40] 6 2 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[9] 1 12 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[0] 5 6 6 #SB_LUT4
set_location Lab_UT.didp.regrce2.q[1] 9 5 1 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[1] 7 4 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[2] 8 5 7 #SB_LUT4
set_location Lab_UT.didp.ce[0] 7 8 4 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_3_rep1_esr 7 13 5 #SB_DFFESR
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 2 13 3 #SB_LUT4
set_location uu2.bitmap[34] 5 1 3 #SB_DFFNSR
set_location uu2.bitmap[215] 7 3 6 #SB_DFFNSR
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_1_i 8 6 0 #SB_LUT4
set_location uu2.r_data_reg[3] 4 8 3 #SB_DFFNE
set_location uu0.l_count[13] 1 13 0 #SB_DFFER
set_location buart.Z_tx.bitcount[2] 4 9 3 #SB_DFFR
set_location Lab_UT.didp.reset[2] 8 2 7 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_7 11 11 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_1 9 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_16 2 3 6 #SB_LUT4
set_location uu2.l_count[6] 2 10 5 #SB_DFFR
set_location uu2.bitmap[58] 4 3 2 #SB_DFFNSR
set_location buart.Z_tx.shifter[0] 5 8 1 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_RNIN0TP3[2] 7 1 6 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[2] 7 4 7 #SB_DFF
set_location Lab_UT.didp.countrce2.q[0] 8 5 0 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_7 8 11 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI11N26 8 12 5 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[4] 6 2 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[7] 4 4 2 #SB_DFFNESR
set_location uu2.w_addr_displaying_RNIDKOL[0] 2 2 2 #SB_LUT4
set_location uu2.bitmap[186] 4 3 0 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 2 11 2 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_RNIPTIE1[0] 9 4 4 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i[1] 6 1 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[2] 6 10 1 #SB_DFF
set_location Lab_UT.un1_idle_1_0_iclk 7 7 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_14 6 12 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 2 4 5 #SB_LUT4
set_location uu0.l_count[7] 2 9 7 #SB_DFFER
set_location buart.Z_rx.shifter_fast[0] 9 12 1 #SB_DFFER
set_location Lab_UT.didp.countrce2.q_RNO_0[2] 8 6 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess 7 5 4 #SB_DFFESS
set_location uu2.w_addr_displaying_RNIPFLE1[3] 4 1 6 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[2] 1 9 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 4 12 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 5 12 0 #SB_DFF
set_location Lab_UT.dictrl.state_ret_5_ess 8 8 2 #SB_DFFESS
set_location Lab_UT.dictrl.state_0_fast_esr[2] 8 8 4 #SB_DFFESR
set_location Lab_UT.didp.regrce3.q_RNI08DN5[1] 8 5 5 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[0] 7 4 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[0] 4 5 4 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[2] 4 2 6 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNI47N27[5] 4 4 7 #SB_LUT4
set_location uu2.r_data_rdy 5 5 1 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 6 10 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[4] 4 11 4 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIPJCC[3] 4 6 6 #SB_LUT4
set_location uu2.r_addr_esr[6] 2 4 5 #SB_DFFESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 11 1 #SB_LUT4
set_location uu0.l_count_RNI8ORT6[11] 1 10 6 #SB_LUT4
set_location resetGen.reset_count_RNO[3] 12 10 2 #SB_LUT4
set_location buart.Z_rx.shifter[1] 9 12 0 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[1] 4 11 1 #SB_CARRY
set_location uu2.w_addr_displaying_RNO[0] 5 2 4 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_42_i_i 4 1 3 #SB_LUT4
set_location uu2.vbuf_count.result_1[5] 2 10 4 #SB_LUT4
set_location uu0.delay_line[1] 1 9 3 #SB_DFFR
set_location Lab_UT.dispString.dOut_RNO[3] 6 7 2 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[0] 6 5 4 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNO[2] 6 9 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[1] 8 4 2 #SB_LUT4
set_location Lab_UT.didp.ce[3] 8 2 1 #SB_DFFSR
set_location uu0.l_count[9] 1 12 7 #SB_DFFER
set_location buart.Z_rx.bitcount_es_RNISCGV1[4] 5 11 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[2] 5 12 3 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[1] 7 4 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_6_esr_RNO 8 9 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNI0C4D4 9 10 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIUI6O8[0] 9 10 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_2_rep1_esr 8 8 5 #SB_DFFESR
set_location Lab_UT.dictrl.m55_0 9 11 1 #SB_LUT4
set_location Lab_UT.dictrl.m37 8 12 6 #SB_LUT4
set_location uu2.r_data_reg[6] 4 8 6 #SB_DFFNE
set_location uu0.l_count_RNO[15] 1 13 2 #SB_LUT4
set_location uu0.l_count[14] 1 12 3 #SB_DFFER
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 5 10 2 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNO[2] 9 5 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_0 11 9 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_4 9 11 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr 7 13 6 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_1_rep1_esr_RNILO8G6 8 10 3 #SB_LUT4
set_location Lab_UT.dictrl.m47_x0 8 13 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_13 2 3 0 #SB_LUT4
set_location uu2.l_count[1] 2 13 1 #SB_DFFR
set_location uu2.bitmap[72] 6 2 2 #SB_DFFNSR
set_location uu0.sec_clk 2 7 6 #SB_DFFR
set_location uu0.l_precount_RNO[0] 1 9 2 #SB_LUT4
set_location buart.Z_tx.shifter[7] 6 8 0 #SB_DFFER
set_location buart.Z_tx.bitcount_RNI22V22[2] 5 9 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[1] 7 4 4 #SB_DFF
set_location Lab_UT.didp.countrce2.q[3] 8 4 7 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_4 9 10 4 #SB_LUT4
set_location uu2.bitmap[111] 7 3 2 #SB_DFFNSR
set_location Lab_UT.dispString.dOut_RNO_0[1] 7 2 7 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[3] 7 6 7 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO_0[6] 4 6 4 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[1] 7 2 6 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[0] 9 5 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[1] 9 4 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3[3] 8 2 2 #SB_LUT4
set_location Lab_UT.dictrl.g0_15 9 8 3 #SB_LUT4
set_location uu2.trig_rd_det[0] 2 10 1 #SB_DFFSR
set_location buart.Z_rx.shifter_fast[5] 9 12 7 #SB_DFFER
set_location Lab_UT.didp.regrce2.q_RNIAEKM3[2] 6 4 1 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNIULOK1[3] 8 2 6 #SB_LUT4
set_location uu2.w_addr_user_RNO[7] 7 3 1 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[1] 1 9 7 #SB_LUT4
set_location uu0.l_precount[3] 1 10 1 #SB_DFFR
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 5 12 7 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[5] 5 1 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_6 4 4 1 #SB_LUT4
set_location uu2.l_count_RNIBCGK1_0[9] 2 12 7 #SB_LUT4
set_location uu2.bitmap_RNIG91I1[66] 5 1 2 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNI8K8R3[0] 7 2 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNIAD6S 8 8 6 #SB_LUT4
set_location Lab_UT.dictrl.g0_17_o6_1_5 6 13 7 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i[0] 5 1 3 #SB_LUT4
set_location uu2.w_addr_user_nesr[3] 4 5 7 #SB_DFFNESR
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 2 13 6 #SB_LUT4
set_location uu2.bitmap_RNIM9P11[75] 6 1 4 #SB_LUT4
set_location uu0.sec_clk_RNO 2 7 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 5 10 1 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr_RNIO6DH5[0] 8 6 2 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr[2] 9 6 1 #SB_DFFESR
set_location Lab_UT.dictrl.m59_ns_1_x1 8 10 2 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[8] 4 5 2 #SB_LUT4
set_location uu2.bitmap_RNI6H8O[90] 5 4 3 #SB_LUT4
set_location resetGen.rst 5 10 4 #SB_DFF
set_location buart.Z_rx.shifter[4] 7 14 0 #SB_DFFER
set_location buart.Z_rx.bitcount_es[2] 4 10 1 #SB_DFFES
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[4] 7 3 7 #SB_LUT4
set_location uu2.bitmap[93] 4 3 3 #SB_DFFNSR
set_location Lab_UT.dispString.dOut_RNO_1[3] 6 7 1 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[0] 9 5 4 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[3] 9 4 5 #SB_DFF
set_location uu2.un4_w_user_data_rdy_i_o2[0] 4 7 4 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[2] 7 4 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI4I852[3] 8 2 5 #SB_LUT4
set_location Lab_UT.dictrl.m47_ns 8 13 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_1[2] 9 4 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[0] 5 5 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_1_rep1_esr 7 10 3 #SB_DFFESR
set_location Lab_UT.dictrl.m86 11 10 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 4 7 6 #SB_LUT4
set_location uu2.bitmap[52] 6 3 2 #SB_DFFNSR
set_location buart.Z_tx.shifter_RNO[2] 5 8 3 #SB_LUT4
set_location buart.Z_rx.shifter_RNIUOH63[4] 9 14 6 #SB_LUT4
set_location Lab_UT.un1_armed_2_0_iso_i 8 7 6 #SB_LUT4
set_location Lab_UT.didp.ce_RNIDJKH1[3] 8 1 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_1 7 13 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNIO3GC 6 13 6 #SB_LUT4
set_location buart.Z_rx.shifter_3_rep2_RNIT8A31 9 13 4 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[2] 5 6 5 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI6SFG[3] 8 3 4 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[0] 5 5 4 #SB_DFF
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNITSVD3 8 10 6 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[2] 4 5 3 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO_0[3] 4 5 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIL9SE4[2] 6 2 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO_0[0] 5 5 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNO[6] 4 4 3 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[4] 5 7 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_1_rep1_esr_ctle 11 8 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO 1 3 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 4 12 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNIA8O21 9 8 0 #SB_LUT4
set_location Lab_UT.dictrl.m30 8 10 1 #SB_LUT4
set_location Lab_UT.dictrl.g0_0_1 8 12 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[6] 6 1 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 4 9 3 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNINTCP[0] 5 11 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[3] 5 4 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[6] 4 5 5 #SB_DFFNESR
set_location resetGen.reset_count[2] 12 10 5 #SB_DFF
set_location Lab_UT.dictrl.state_ret_5_ess_RNO_0 8 8 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNIJQOL[2] 4 1 1 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 5 8 2 #SB_LUT4
set_location buart.Z_rx.shifter[7] 6 11 0 #SB_DFFER
set_location buart.Z_rx.bitcount_es_RNIQ0DP[4] 5 11 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 6 10 5 #SB_DFF
set_location buart.Z_rx.shifter_7_rep1_RNIG7Q01 9 14 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_10 7 11 3 #SB_LUT4
set_location uu0.l_count_RNI2GS72[4] 1 12 1 #SB_LUT4
set_location uu0.l_count[3] 1 11 5 #SB_DFFER
set_location Lab_UT.dictrl.state_0_esr[0] 8 9 4 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_2_rep1_esr_RNIU4P66 6 13 3 #SB_LUT4
set_location uu2.bitmap_RNIBNS22[180] 5 4 5 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO_1[2] 7 6 3 #SB_LUT4
set_location Lab_UT.didp.ce_RNI51AM[0] 7 8 5 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_o2 4 6 0 #SB_LUT4
set_location uu2.bitmap[87] 6 3 6 #SB_DFFNSR
set_location Lab_UT.dispString.cnt[0] 6 9 2 #SB_DFFSR
set_location Lab_UT.didp.regrce1.q_esr_RNIFKHR3[1] 5 5 5 #SB_LUT4
set_location uu2.vram_rd_clk_det[1] 7 3 4 #SB_DFFNS
set_location buart.Z_rx.hh[0] 1 9 1 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 7 6 6 #SB_LUT4
set_location Lab_UT.alarmchar_latch[3] 6 7 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO 7 5 4 #SB_LUT4
set_location uu2.r_data_reg[2] 4 8 2 #SB_DFFNE
set_location uu0.l_count_RNO[11] 1 11 7 #SB_LUT4
set_location uu0.l_count[10] 1 12 5 #SB_DFFER
set_location buart.Z_tx.bitcount[3] 4 9 2 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_4 7 7 7 #SB_LUT4
set_location Lab_UT.dictrl.justentered_latch 9 7 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[6] 4 3 0 #SB_LUT4
set_location uu2.l_count[5] 2 10 4 #SB_DFFR
set_location resetGen.reset_count[1] 12 10 3 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_8 9 13 1 #SB_LUT4
set_location Lab_UT.dictrl.dicAlarmTrig 7 7 4 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[4] 4 1 3 #SB_DFFNESR
set_location uu2.bitmap_RNII0BN[69] 5 1 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_5_ess_RNO 8 8 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 5 10 1 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_17 6 12 4 #SB_LUT4
set_location uu0.l_count[6] 1 8 3 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_6_esr 8 9 5 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_esr_RNI00K56[3] 9 11 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[3] 8 9 6 #SB_DFFESR
set_location uu2.l_count_RNIBCGK1[9] 2 12 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_1[3] 7 1 3 #SB_LUT4
set_location Lab_UT.dictrl.g0_2_4 8 12 2 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_a2_0_4 5 6 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_3[2] 6 4 6 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 8 4 4 #SB_LUT4
set_location uu2.bitmap[308] 6 3 0 #SB_DFFNSR
set_location buart.Z_tx.bitcount_RNIDCDL[3] 5 9 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_17_a6_1_6 6 13 1 #SB_LUT4
set_location uu0.delay_line[0] 1 9 4 #SB_DFFR
set_location resetGen.rst_RNO 5 10 4 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[2] 5 6 2 #SB_LUT4
set_location Lab_UT.alarmchar_latch[4] 7 7 5 #SB_LUT4
set_location uu2.r_data_reg[5] 4 8 5 #SB_DFFNE
set_location uu0.l_count_RNO[16] 2 11 1 #SB_LUT4
set_location uu0.l_count_RNI04591[10] 1 12 0 #SB_LUT4
set_location uu0.l_count[15] 1 13 2 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[1] 9 5 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_1 7 5 3 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_latch[1] 8 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_14 2 2 7 #SB_LUT4
set_location uu2.l_count[0] 2 13 2 #SB_DFFR
set_location resetGen.reset_count[4] 12 10 6 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_5 9 13 2 #SB_LUT4
set_location Lab_UT.dictrl.m86_2 11 10 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i[0] 4 3 2 #SB_LUT4
set_location uu2.bitmap_RNISSSN[162] 6 1 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 11 6 #SB_LUT4
set_location uu0.l_count[5] 1 14 0 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_RNI5AJE1[3] 8 4 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_esr_RNO 8 9 2 #SB_LUT4
set_location Lab_UT.didp.reset_RNO_0[3] 7 2 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 4 4 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIFBD5[3] 4 6 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIV1P31[4] 2 2 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 5 10 7 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr[3] 9 6 2 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI5EFJC 8 11 6 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[2] 7 3 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNII048[6] 6 10 6 #SB_LUT4
set_location uu2.l_count_RNO[0] 2 13 2 #SB_LUT4
set_location uu2.bitmap[66] 5 1 5 #SB_DFFNSR
set_location uu2.bitmap[203] 6 1 3 #SB_DFFNSR
set_location Lab_UT.dispString.cnt_RNO[0] 6 9 2 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[3] 9 5 7 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[0] 9 4 2 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 13 1 #SB_LUT4
set_location uu0.l_count_RNIFAQ9[13] 1 13 5 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[3] 8 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNIUI3J3[3] 1 3 4 #SB_LUT4
set_location uu0.l_count[16] 2 11 1 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[1] 8 7 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_2 11 11 6 #SB_LUT4
set_location Lab_UT.dictrl.m87 12 10 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 2 3 5 #SB_LUT4
set_location uu2.l_count[3] 2 12 6 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[1] 5 8 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNO_2 7 12 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[8] 4 5 2 #SB_DFFNESR
set_location uu2.r_addr_RNO[4] 2 7 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 3 0 #SB_RAM40_4K
set_location uu0.l_count_RNO[4] 1 13 7 #SB_LUT4
set_location Lab_UT.didp.ce_RNO[0] 7 8 4 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[5] 2 2 1 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 2 4 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 11 2 #SB_LUT4
set_location uu0.l_precount[1] 1 9 7 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_10 7 7 6 #SB_LUT4
set_location Lab_UT.dictrl.g0_17_a6_3_7 9 11 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_0 1 3 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_7_ess 7 10 7 #SB_DFFESS
set_location Lab_UT.bcd2segment4.segmentUQ_i[2] 5 1 6 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_esr[0] 6 5 7 #SB_DFFESR
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[3] 6 2 0 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[1] 6 3 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIG3243[1] 6 13 5 #SB_LUT4
set_location uu0.l_count_RNI96A32[18] 1 10 5 #SB_LUT4
set_location Lab_UT.dictrl.un1_alarmstate_1_sqmuxa_1_0_i 9 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_5_ess_RNI6H8A1 7 7 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNI8ND5G[3] 5 3 7 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[2] 5 9 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[4] 5 12 1 #SB_DFF
set_location Lab_UT.didp.regrce3.q_RNIKRUF1[1] 8 5 2 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[2] 8 7 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11_RNITTE7F 7 10 6 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[4] 5 8 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 4 12 2 #SB_CARRY
set_location uu0.l_count_RNO[7] 2 9 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[3] 5 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI5JE3[5] 5 12 2 #SB_LUT4
set_location Lab_UT.dispString.dOut[2] 5 6 2 #SB_DFF
set_location Lab_UT.dictrl.g0_23 8 11 4 #SB_LUT4
set_location uu2.r_addr_esr[3] 2 4 6 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 6 10 2 #SB_CARRY
set_location Lab_UT.didp.regrce3.q_RNIAM8R3[1] 7 2 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[3] 5 2 2 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_esr[0] 9 3 0 #SB_DFFESR
set_location Lab_UT.didp.regrce2.q[3] 9 5 3 #SB_DFFSR
set_location uu2.w_addr_displaying[2] 5 2 1 #SB_DFFNSR
set_location uu2.bitmap_RNI05EB1[314] 5 4 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_11 7 11 7 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_3 1 3 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_3 11 10 7 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate8_4 9 8 5 #SB_LUT4
set_location buart.Z_tx.shifter[2] 5 8 3 #SB_DFFER
set_location Lab_UT.dictrl.m93 12 10 1 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[6] 6 1 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNIHPJ64[3] 4 3 6 #SB_LUT4
set_location uu2.bitmap[180] 7 3 5 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNIPAN5U[3] 2 3 4 #SB_LUT4
set_location uu2.r_addr[5] 2 10 0 #SB_DFFSR
set_location Lab_UT.didp.regrce2.q_RNI8CKM3[1] 6 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNIT30I1 4 2 5 #SB_LUT4
set_location buart.Z_rx.shifter_fast[2] 9 12 4 #SB_DFFER
set_location uu2.w_addr_displaying_RNI0ES07[5] 4 4 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 12 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 4 12 2 #SB_DFF
set_location uu2.l_count[9] 2 12 5 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[7] 6 8 0 #SB_LUT4
set_location uu2.r_addr_RNO[2] 2 7 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[1] 6 7 6 #SB_DFF
set_location uu2.w_addr_displaying_fast_RNI4GV31[2] 4 2 2 #SB_LUT4
set_location uu2.bitmap_RNIGQ8J1[111] 6 2 5 #SB_LUT4
set_location resetGen.reset_count_RNO[1] 12 10 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 5 2 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 12 4 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNIOG7L[2] 5 6 1 #SB_LUT4
set_location Lab_UT.didp.regrce2.q[0] 9 5 0 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[2] 7 4 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[3] 8 4 7 #SB_LUT4
set_location Lab_UT.didp.ce[1] 7 8 6 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_esr_RNIU7683[2] 6 12 0 #SB_LUT4
set_location uu2.w_addr_displaying[5] 5 2 6 #SB_DFFNSR
set_location buart.Z_rx.shifter_2_rep1 9 12 3 #SB_DFFER
set_location Lab_UT.didp.regrce4.q_esr_ctle[3] 7 8 3 #SB_LUT4
set_location buart.Z_rx.hh_RNIJ3K62[0] 5 9 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 4 12 1 #SB_CARRY
set_location Lab_UT.didp.reset[1] 8 2 5 #SB_DFFSS
set_location uu2.w_addr_displaying_fast_RNI7JV31[2] 4 2 3 #SB_LUT4
set_location buart.Z_tx.shifter[1] 5 8 0 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[3] 8 4 1 #SB_DFF
set_location Lab_UT.didp.countrce2.q[1] 8 4 2 #SB_DFF
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[5] 6 2 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 6 10 3 #SB_CARRY
set_location Lab_UT.bcd2segment3.segmentUQ_i[0] 6 2 4 #SB_LUT4
set_location uu2.r_addr[0] 2 8 1 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[3] 7 6 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[3] 9 4 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 2 4 3 #SB_LUT4
set_location buart.Z_rx.shifter_fast[7] 6 11 1 #SB_DFFER
set_location Lab_UT.didp.countrce2.q_RNO_0[1] 8 3 5 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 4 10 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[17] 2 11 0 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[3] 6 1 6 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIITTD7[6] 5 5 2 #SB_LUT4
set_location uu0.delay_line_RNILLLG7[1] 1 10 7 #SB_LUT4
set_location uu2.w_addr_user[7] 7 3 1 #SB_DFFNSR
set_location resetGen.reset_count_RNO[4] 12 10 6 #SB_LUT4
set_location buart.Z_rx.shifter[2] 9 9 0 #SB_DFFER
set_location buart.Z_rx.bitcount_es[0] 5 11 7 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[2] 4 11 2 #SB_CARRY
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[6] 7 3 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[1] 5 2 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[1] 7 6 0 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_1[2] 8 4 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIASHNC[1] 9 11 3 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIV4M42[0] 5 12 4 #SB_LUT4
set_location uu2.bitmap[194] 5 1 0 #SB_DFFNSR
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_5 9 9 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIRLAN5[3] 9 11 2 #SB_LUT4
set_location buart.Z_tx.shifter[4] 5 8 5 #SB_DFFER
set_location Lab_UT.dictrl.state_0_esr_RNIH9933[0] 7 5 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr[7] 4 4 4 #SB_DFFNESR
set_location Lab_UT.dispString.dOut_RNO_0[0] 6 5 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[2] 8 7 4 #SB_DFF
set_location uu2.trig_rd_det_RNIJIIO[1] 4 10 2 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[0] 6 5 5 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[3] 9 5 3 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNICGKM3[3] 7 4 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[0] 9 4 2 #SB_LUT4
set_location uu2.trig_rd_det_RNINBDQ[1] 2 5 2 #SB_LUT4
set_location uu2.l_count_RNI9S834[1] 2 12 2 #SB_LUT4
set_location uu0.sec_clkD 4 7 3 #SB_DFF
set_location buart.Z_rx.shifter_fast[4] 7 14 4 #SB_DFFER
set_location Lab_UT.dictrl.g1_1_1 8 14 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 5 12 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIB544A[2] 8 10 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[4] 5 1 0 #SB_LUT4
set_location Lab_UT.un1_idle_5_0_iclk 8 7 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_9 11 9 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIQTDF1[3] 8 12 7 #SB_LUT4
set_location Lab_UT.dictrl.g0_17_o6_1_4 6 13 4 #SB_LUT4
set_location uu2.l_count_RNIFGGK1[3] 2 12 4 #SB_LUT4
set_location uu2.w_addr_user[4] 2 6 1 #SB_DFFNSR
set_location buart.Z_rx.shifter[5] 8 13 5 #SB_DFFER
set_location buart.Z_rx.bitcount_es[3] 5 11 3 #SB_DFFES
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[3] 6 3 0 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 2 13 5 #SB_LUT4
set_location uu0.l_count_RNI2CNU[11] 1 11 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 6 10 3 #SB_DFF
set_location Lab_UT.dictrl.state_ret_11_RNO_12 7 11 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_8_ess_RNO 8 9 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[5] 6 7 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_user_nesr_RNO[3] 4 5 7 #SB_LUT4
set_location uu2.bitmap[162] 6 1 5 #SB_DFFNSR
set_location Lab_UT.didp.countrce1.q_RNO_0[1] 9 8 6 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIF1S9[5] 6 6 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[5] 5 7 7 #SB_LUT4
set_location Lab_UT.alarmchar_latch[1] 8 7 7 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 5 9 0 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate22 9 7 5 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
