set_location IN_MUX_bfv_5_14_0_ 5 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_5_0_ 9 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_3_0_ 12 3 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 8 5 6 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 9 5 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 9 5 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 9 5 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 12 3 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 12 3 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI4JSO_1_uu2.w_addr_displaying_nesr_1_REP_LUT4_0 5 6 2 #SB_LUT4
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 5 8 5 #SB_LUT4
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 5 8 4 #SB_LUT4
set_location uu2.trig_rd_det_1_THRU_LUT4_0 2 4 5 #SB_LUT4
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 12 7 #SB_LUT4
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 12 6 #SB_LUT4
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 12 5 #SB_LUT4
set_location uu2.r_data_reg_4_THRU_LUT4_0 2 12 4 #SB_LUT4
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 12 3 #SB_LUT4
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 12 2 #SB_LUT4
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 12 1 #SB_LUT4
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 12 0 #SB_LUT4
set_location uu2.bitmap_111_THRU_LUT4_0 5 8 3 #SB_LUT4
set_location uu0.sec_clkD_THRU_LUT4_0 2 7 7 #SB_LUT4
set_location uu0.delay_line_1_THRU_LUT4_0 1 7 6 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_6_THRU_LUT4_0 6 11 6 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_5_THRU_LUT4_0 6 13 6 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_4_THRU_LUT4_0 6 12 2 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_3_THRU_LUT4_0 5 13 4 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_2_THRU_LUT4_0 7 13 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_7_THRU_LUT4_0 6 11 1 #SB_LUT4
set_location buart.Z_rx.shifter_0_6_rep1_THRU_LUT4_0 6 11 7 #SB_LUT4
set_location buart.Z_rx.shifter_0_6_THRU_LUT4_0 6 11 2 #SB_LUT4
set_location buart.Z_rx.shifter_0_5_rep1_THRU_LUT4_0 6 13 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_5_THRU_LUT4_0 6 11 0 #SB_LUT4
set_location buart.Z_rx.shifter_0_4_rep1_THRU_LUT4_0 6 12 4 #SB_LUT4
set_location buart.Z_rx.shifter_0_4_THRU_LUT4_0 6 11 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_3_THRU_LUT4_0 5 11 6 #SB_LUT4
set_location buart.Z_rx.shifter_0_2_THRU_LUT4_0 5 11 4 #SB_LUT4
set_location buart.Z_rx.shifter_0_1_THRU_LUT4_0 5 13 6 #SB_LUT4
set_location buart.Z_rx.shifter_0_0_THRU_LUT4_0 6 12 7 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 1 7 5 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 1 7 4 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNIOG7L_1_Lab_UT.dispString.dOut_6_REP_LUT4_0 4 11 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.reset_2_REP_LUT4_0 8 3 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.ce_3_REP_LUT4_0 8 3 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI4I852_3_Lab_UT.didp.ce_2_REP_LUT4_0 8 3 3 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNIULOK1_3_Lab_UT.didp.ce_1_REP_LUT4_0 8 3 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_fast_esr_3_REP_LUT4_0 9 7 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_esr_3_REP_LUT4_0 9 7 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_3_rep2_esr_REP_LUT4_0 9 7 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_3_rep1_esr_REP_LUT4_0 9 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKPIVI_2_Lab_UT.dictrl.state_0_esr_2_REP_LUT4_0 8 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_fast_esr_0_REP_LUT4_0 8 7 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_esr_0_REP_LUT4_0 8 7 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_0_rep1_esr_REP_LUT4_0 8 7 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI9CU3Q_2_Lab_UT.dictrl.state_0_esr_1_REP_LUT4_0 9 7 3 #SB_LUT4
set_location Lab_UT.dictrl.next_state_3_THRU_LUT4_0 12 5 0 #SB_LUT4
set_location Lab_UT.dictrl.m1_0_Lab_UT.dictrl.shifter_ret_1_REP_LUT4_0 5 11 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_7_esr_RNO 9 3 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIL2ATH[0] 11 10 0 #SB_LUT4
set_location uu2.vbuf_count.result_1[5] 1 6 7 #SB_LUT4
set_location uu0.delay_line[1] 1 7 6 #SB_DFFR
set_location Lab_UT.dispString.dOut_RNO[3] 4 11 6 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNO[2] 4 12 0 #SB_LUT4
set_location Lab_UT.dictrl.g0_5 7 8 1 #SB_LUT4
set_location uu2.bitmap_RNI7GKQ[58] 5 1 6 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[1] 7 6 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_6_esr_RNO 9 6 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIOIJR7[0] 9 10 7 #SB_LUT4
set_location uu2.r_data_reg[6] 2 12 6 #SB_DFFNE
set_location uu0.l_count_RNO[15] 1 14 3 #SB_LUT4
set_location uu0.l_count[14] 1 14 4 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[2] 6 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_0 9 6 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNI5OGCH 9 8 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr 9 7 7 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_13 4 5 1 #SB_LUT4
set_location uu2.l_count[1] 1 7 1 #SB_DFFR
set_location uu2.bitmap[72] 5 3 2 #SB_DFFNSR
set_location uu0.sec_clk 1 7 0 #SB_DFFR
set_location Lab_UT.didp.countrce2.q_RNI1S78[1] 9 1 1 #SB_LUT4
set_location uu2.bitmap_RNIS4UH1[314] 5 1 7 #SB_LUT4
set_location uu2.bitmap[111] 5 8 3 #SB_DFFNSR
set_location Lab_UT.didp.ce_RNI65GA[0] 7 1 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNIS94O2 8 10 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNISBBJ4[0] 11 11 3 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNIULOK1[3] 8 3 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNICSUJ 7 9 3 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[1] 1 10 3 #SB_LUT4
set_location uu0.l_precount[3] 1 10 1 #SB_DFFR
set_location uu2.w_addr_displaying_nesr_RNIS6T61[1] 5 5 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_6 2 9 7 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i[0] 6 5 5 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 1 5 6 #SB_LUT4
set_location uu0.sec_clk_RNO 1 7 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 1 9 5 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_RNICAPA4[3] 7 4 3 #SB_LUT4
set_location Lab_UT.didp.regrce4.q[0] 7 5 2 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNO[8] 2 9 2 #SB_LUT4
set_location resetGen.rst 7 7 0 #SB_DFF
set_location Lab_UT.dictrl.g1_2_1 7 12 7 #SB_LUT4
set_location uu2.bitmap[93] 4 2 0 #SB_DFFNSR
set_location resetGen.uu0.counter_gen_label[3].un252_ci 8 5 2 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[0] 6 7 4 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[3] 8 2 7 #SB_DFF
set_location Lab_UT.didp.countrce4.q_RNO_0[2] 6 6 5 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI4I852[3] 8 3 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIU7Q14 11 12 1 #SB_LUT4
set_location uu2.bitmap_RNI10J51[69] 5 4 2 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNI8N121[0] 6 3 4 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[0] 7 1 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIQN495[8] 5 5 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 4 9 0 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[2] 2 14 3 #SB_LUT4
set_location Lab_UT.didp.ce_RNIDJKH1[3] 7 6 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIUQEL8[1] 8 6 4 #SB_LUT4
set_location uu2.r_addr_RNO[5] 2 13 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[4] 4 8 0 #SB_DFF
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 2 5 4 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNICJDT[1] 6 1 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[5] 1 15 0 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNO_0 6 11 3 #SB_LUT4
set_location uu2.w_addr_displaying[0] 5 4 7 #SB_DFFNSR
set_location uu0.l_precount[0] 1 7 7 #SB_DFFR
set_location uu2.mem0.ram512X8_inst_RNO_1 2 8 3 #SB_LUT4
set_location uu0.l_count_RNIRLTJ1[17] 1 12 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNIU0079[2] 8 6 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 5 14 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIJGPPK[1] 9 10 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIIE1Q91[2] 11 10 7 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.counter_gen_label[7].un437_ci_0 5 4 3 #SB_LUT4
set_location uu2.l_count_RNO[4] 1 6 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI9CU3Q[2] 9 7 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIK8B43 11 12 7 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNIQBH29 6 9 5 #SB_LUT4
set_location Lab_UT.dictrl.g0_3 7 13 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIM0T61[2] 5 7 4 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_RNI13PI1[2] 7 11 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNIHOSE 8 7 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 4 13 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 5 14 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 12 3 4 #SB_DFF
set_location Lab_UT.dictrl.state_0_esr_RNIVHJND[0] 9 13 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIGEPH1[4] 5 6 4 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[5] 2 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3_fast_RNO 7 14 5 #SB_LUT4
set_location uu2.r_addr_RNO[0] 2 4 4 #SB_LUT4
set_location buart.Z_rx.bitcount_sbtinv[4] 11 5 0 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[0] 11 5 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[3] 4 11 6 #SB_DFF
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI3DTV5 9 13 6 #SB_LUT4
set_location Lab_UT.dictrl.m9 11 5 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_20 6 14 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIOT908[3] 9 9 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21 7 7 7 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNIMIM09 6 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[4] 5 4 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 1 12 1 #SB_LUT4
set_location uu0.delay_line_RNO[0] 1 10 0 #SB_LUT4
set_location Lab_UT.dispString.rdy 4 8 1 #SB_DFF
set_location Lab_UT.didp.regrce2.q[2] 7 3 2 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[0] 7 6 2 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNIA3PF1_0[6] 6 4 2 #SB_LUT4
set_location resetGen.uu0.counter_gen_label[2].un241_ci 8 4 2 #SB_LUT4
set_location Lab_UT.didp.reset[3] 8 3 6 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_2_ess_RNIJT2J 8 6 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_0 8 10 3 #SB_LUT4
set_location Lab_UT.dictrl.g0_42 7 12 5 #SB_LUT4
set_location buart.Z_tx.shifter[3] 2 14 4 #SB_DFFER
set_location Lab_UT.dictrl.m81_e 11 4 1 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i[2] 5 3 6 #SB_LUT4
set_location uu2.r_addr[2] 2 4 0 #SB_DFFSR
set_location Lab_UT.didp.regrce2.q_RNI63KT3[2] 5 2 1 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNIAF824[3] 5 2 5 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 9 1 3 #SB_LUT4
set_location uu2.w_addr_user_RNIG9RA[1] 2 10 0 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 11 3 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 11 3 5 #SB_DFF
set_location Lab_UT.didp.regrce1.q[2] 6 7 2 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_fast_esr[3] 9 7 5 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIG3207 8 14 2 #SB_LUT4
set_location uu2.w_addr_displaying_ness[6] 6 4 1 #SB_DFFNESS
set_location buart.Z_tx.shifter_RNO[8] 2 11 2 #SB_LUT4
set_location Lab_UT.dictrl.g0_27 7 8 0 #SB_LUT4
set_location uu2.w_addr_user[1] 5 8 1 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 2 5 3 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 8 4 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c[0] 9 5 0 #SB_CARRY
set_location Lab_UT.dictrl.state_ret_4_esr 9 3 0 #SB_DFFESR
set_location Lab_UT.didp.countrce4.q_RNO[3] 7 6 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[0] 9 1 0 #SB_LUT4
set_location Lab_UT.didp.ce[2] 8 3 3 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_esr_RNIQ3CG[2] 8 6 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKPIVI[2] 8 6 6 #SB_LUT4
set_location uu0.l_count[8] 1 15 1 #SB_DFFER
set_location buart.Z_rx.shifter_0_5_rep1 6 13 5 #SB_DFFER
set_location Lab_UT.didp.reset[0] 8 3 7 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_7 6 12 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3_0[0] 8 8 1 #SB_LUT4
set_location buart.Z_tx.shifter[6] 2 11 0 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[0] 7 6 2 #SB_DFF
set_location Lab_UT.didp.countrce2.q[2] 9 2 2 #SB_DFF
set_location Lab_UT.dictrl.state_0_esr_RNI48008[3] 9 10 2 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[6] 2 9 4 #SB_LUT4
set_location uu2.r_addr[1] 2 4 1 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[2] 5 9 6 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[1] 7 3 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[2] 8 2 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI4N0L4_0[3] 7 9 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIOJ371 8 11 3 #SB_LUT4
set_location uu2.trig_rd_det[1] 2 4 5 #SB_DFFSR
set_location uu0.l_count_RNIOIDD2[18] 1 13 1 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNIK3221[3] 4 1 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_0[0] 9 2 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[4] 5 8 2 #SB_LUT4
set_location uu2.bitmap_RNIELSJ2[111] 5 7 5 #SB_LUT4
set_location uu0.sec_clkD_RNISDHD 2 8 5 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_RNIOF7P[1] 6 6 3 #SB_LUT4
set_location uu0.l_count_RNO[18] 1 13 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[2] 2 10 5 #SB_DFFNESR
set_location uu2.r_addr_esr[8] 2 5 1 #SB_DFFESR
set_location uu2.bitmap[221] 4 2 1 #SB_DFFNSR
set_location buart.Z_rx.bitcount_es[1] 8 5 0 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[3] 9 5 3 #SB_CARRY
set_location Lab_UT.didp.regrce4.q_RNO[1] 7 5 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess 8 7 4 #SB_DFFESS
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[5] 4 4 2 #SB_LUT4
set_location uu2.vram_rd_clk_det_RNI95711[1] 2 13 1 #SB_LUT4
set_location buart.Z_rx.shifter_ret_2 5 11 7 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[2] 7 13 5 #SB_DFFER
set_location Lab_UT.dispString.dOut_RNO_1[2] 5 10 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_1[3] 9 1 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3[0] 8 8 0 #SB_LUT4
set_location uu2.bitmap_RNIU2IS[52] 4 4 5 #SB_LUT4
set_location uu2.bitmap[197] 5 4 1 #SB_DFFNSR
set_location Lab_UT.didp.countrce3.q_RNO_1[3] 8 2 5 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNI28771[3] 8 1 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_12 7 14 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 14 1 #SB_LUT4
set_location buart.Z_tx.shifter[5] 2 14 6 #SB_DFFER
set_location Lab_UT.dispString.dOut_RNO_0[3] 4 11 5 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[1] 7 1 2 #SB_DFF
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIGU6P7 9 12 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr 8 7 2 #SB_DFFESR
set_location Lab_UT.dictrl.shifter_ret_3_RNI 6 10 2 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[5] 2 10 7 #SB_LUT4
set_location uu2.bitmap[69] 5 4 0 #SB_DFFNSR
set_location Lab_UT.dispString.cnt_RNIFV4E[1] 4 11 4 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[2] 7 3 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa 6 10 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[3] 2 5 6 #SB_LUT4
set_location uu2.bitmap[40] 4 7 0 #SB_DFFNSR
set_location Lab_UT.dictrl.g1_1_0 7 12 6 #SB_LUT4
set_location Lab_UT.dictrl.g0_31 6 13 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[1] 5 8 1 #SB_LUT4
set_location uu2.bitmap_RNIMS86A[66] 4 2 3 #SB_LUT4
set_location uu2.bitmap[218] 5 1 1 #SB_DFFNSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 11 3 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_3_RNIITJO1 6 3 2 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO_1[0] 11 9 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 4 13 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIHV38[6] 5 14 6 #SB_LUT4
set_location uu2.w_addr_user_nesr[5] 2 10 7 #SB_DFFNESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 1 8 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 12 3 0 #SB_CARRY
set_location Lab_UT.dictrl.next_state_RNO_0[2] 11 9 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[5] 5 14 4 #SB_DFF
set_location buart.Z_rx.shifter_ret_5 6 12 3 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[5] 6 13 6 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_12_RNO_0 11 7 6 #SB_LUT4
set_location uu0.l_count[2] 1 11 2 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_9_ess_RNO 9 4 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIN8JN3 8 12 3 #SB_LUT4
set_location Lab_UT.dictrl.next_state[2] 11 9 1 #SB_DFFE
set_location Lab_UT.didp.countrce1.q_RNO_1[3] 6 1 2 #SB_LUT4
set_location uu2.bitmap[84] 4 4 2 #SB_DFFNSR
set_location buart.Z_tx.shifter[8] 2 11 2 #SB_DFFER
set_location buart.Z_rx.shifter_ret_5_RNO 6 12 3 #SB_LUT4
set_location buart.Z_rx.shifter_0[7] 6 11 1 #SB_DFFER
set_location Lab_UT.didp.regrce1.q_RNO[3] 6 7 3 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 2 5 0 #SB_LUT4
set_location uu2.r_data_rdy_RNO 2 8 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 1 9 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 12 3 3 #SB_CARRY
set_location Lab_UT.dispString.dOut_RNO_0[4] 5 9 0 #SB_LUT4
set_location Lab_UT.dispString.cnt[1] 4 12 4 #SB_DFFSR
set_location Lab_UT.didp.regrce1.q_RNI2NVO3[1] 4 1 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[0] 2 9 5 #SB_LUT4
set_location uu2.vram_rd_clk_det[0] 5 8 4 #SB_DFFNS
set_location buart.Z_rx.hh[1] 1 7 5 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[2] 6 1 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNII6FQI[2] 8 8 4 #SB_LUT4
set_location uu2.vbuf_count.result_1[8] 1 5 7 #SB_LUT4
set_location uu2.l_count_RNO[9] 1 5 2 #SB_LUT4
set_location buart.Z_tx.uart_tx 2 14 2 #SB_DFFES
set_location Lab_UT.dictrl.state_ret_3_RNO 7 5 0 #SB_LUT4
set_location Lab_UT.dictrl.N_27_0_i 11 5 2 #SB_LUT4
set_location uu2.r_data_reg[1] 2 12 1 #SB_DFFNE
set_location uu0.l_count_RNO[12] 1 11 7 #SB_LUT4
set_location uu0.l_count[11] 1 13 3 #SB_DFFER
set_location buart.Z_tx.bitcount_RNO[0] 2 13 2 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 2 13 2 #SB_DFFR
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[5] 5 1 2 #SB_LUT4
set_location uu2.l_count_RNI9S834_0[1] 1 6 0 #SB_LUT4
set_location uu2.l_count[4] 1 6 6 #SB_DFFS
set_location uu2.bitmap[75] 5 3 5 #SB_DFFNSR
set_location resetGen.reset_count[0] 8 4 1 #SB_DFF
set_location buart.Z_rx.shifter_ret_6_rep1_RNO 5 13 2 #SB_LUT4
set_location buart.Z_rx.shifter_0_4_rep1 6 12 4 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_8_ess 9 3 1 #SB_DFFESS
set_location uu2.w_addr_displaying_RNO[8] 5 5 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 1 9 6 #SB_DFF
set_location Lab_UT.dictrl.state_ret_12_RNO_3 11 7 0 #SB_LUT4
set_location uu2.bitmap[314] 5 1 0 #SB_DFFNSR
set_location uu0.l_count[1] 1 11 3 #SB_DFFER
set_location buart.Z_rx.shifter_ret_6_RNO 5 13 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_5_ess_RNIR0LH1 6 3 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[2] 8 7 6 #SB_DFFESR
set_location uu2.w_addr_displaying[8] 5 5 1 #SB_DFFNSR
set_location uu2.bitmap_RNIC6I01[84] 4 4 7 #SB_LUT4
set_location buart.Z_rx.shifter_ret_6_rep1 5 13 2 #SB_DFFES
set_location Lab_UT.didp.countrce3.q_RNIAGOP1[3] 8 2 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_14 6 14 6 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_1_RNI1OGT 8 14 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 4 5 5 #SB_LUT4
set_location buart.Z_rx.shifter_0[0] 6 12 7 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNI49824[0] 5 2 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[2] 8 2 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_5_ess_RNINALF 8 4 7 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNIU0079_0[2] 8 8 3 #SB_LUT4
set_location uu2.trig_rd_det_RNO[0] 1 4 1 #SB_LUT4
set_location Lab_UT.dispString.cnt[2] 4 12 0 #SB_DFFSR
set_location buart.Z_rx.shifter_ret_1_fast_RNO 7 13 4 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNI8D824[2] 5 2 4 #SB_LUT4
set_location uu2.vbuf_count.result_1[7] 1 5 4 #SB_LUT4
set_location uu2.bitmap[296] 5 3 0 #SB_DFFNSR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 5 14 4 #SB_CARRY
set_location buart.Z_rx.shifter_ret_3_rep1_RNO 7 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3_fast 7 14 5 #SB_DFFES
set_location Lab_UT.dispString.dOut_RNO[1] 5 9 3 #SB_LUT4
set_location uu2.bitmap[212] 4 4 1 #SB_DFFNSR
set_location uu2.r_data_reg[4] 2 12 4 #SB_DFFNE
set_location uu0.l_count[12] 1 11 7 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[0] 6 7 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_9_ess 9 4 4 #SB_DFFESS
set_location uu2.mem0.ram512X8_inst_RNO_15 4 9 3 #SB_LUT4
set_location uu2.l_count[7] 1 5 4 #SB_DFFR
set_location uu2.w_addr_displaying_RNICAPH1[2] 4 6 5 #SB_LUT4
set_location uu0.l_count_RNO[0] 1 11 4 #SB_LUT4
set_location Lab_UT.didp.regrce3.q_RNINAVN[0] 6 2 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i[1] 4 2 0 #SB_LUT4
set_location uu2.bitmap_RNIEJM91[34] 6 5 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 5 14 2 #SB_DFF
set_location Lab_UT.dictrl.state_ret_12_RNO_6 11 6 5 #SB_LUT4
set_location uu0.l_count[4] 1 14 5 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_1_ess_RNO 8 7 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_5_5_x1 8 12 0 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[3] 1 10 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 2 6 4 #SB_LUT4
set_location buart.Z_rx.shifter_ret_5_RNIIJHP1 11 12 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[1] 6 2 4 #SB_LUT4
set_location resetGen.reset_count_RNO_0[4] 8 4 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 5 14 2 #SB_LUT4
set_location uu2.vbuf_count.result_1[2] 1 6 1 #SB_LUT4
set_location uu2.l_count_RNO[3] 1 6 2 #SB_LUT4
set_location uu2.bitmap_RNIVKR41[180] 5 7 0 #SB_LUT4
set_location uu2.bitmap[200] 5 3 1 #SB_DFFNSR
set_location Lab_UT.dispString.cnt_RNO[1] 4 12 4 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[2] 6 7 6 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[1] 7 2 5 #SB_DFF
set_location Lab_UT.dictrl.m25_ns 7 11 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 14 0 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNI41KT3[1] 5 2 0 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[0] 7 6 1 #SB_LUT4
set_location uu2.r_data_reg[7] 2 12 7 #SB_DFFNE
set_location uu0.l_count[17] 1 12 3 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[3] 6 7 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_12 4 10 2 #SB_LUT4
set_location uu2.l_count[2] 1 6 1 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[0] 2 14 1 #SB_LUT4
set_location Lab_UT.dictrl.g0_4_1 7 13 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[3] 5 6 1 #SB_DFFNESR
set_location uu0.l_count_RNO[3] 1 12 6 #SB_LUT4
set_location Lab_UT.dispString.dOut[6] 4 11 1 #SB_DFF
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIPS7A6 9 14 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i[2] 4 2 1 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNI2Q224[6] 1 9 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 5 14 1 #SB_CARRY
set_location Lab_UT.dictrl.m25_x1 7 11 3 #SB_LUT4
set_location Lab_UT.dictrl.m25_0 7 11 1 #SB_LUT4
set_location uu0.l_precount[2] 1 10 4 #SB_DFFR
set_location uu0.l_count_RNIGTCU[15] 1 14 7 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNIA3PF1[6] 6 4 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIOELE1[4] 4 6 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_7 2 7 6 #SB_LUT4
set_location Lab_UT.dispString.rdy_RNO 4 8 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_7_esr 9 3 3 #SB_DFFESR
set_location Lab_UT.bcd2segment4.segmentUQ_i[1] 5 4 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 5 14 5 #SB_LUT4
set_location buart.Z_rx.shifter_ret_2_RNO 5 11 7 #SB_LUT4
set_location Lab_UT.didp.regrce4.q[3] 7 3 5 #SB_DFFSR
set_location Lab_UT.didp.regrce1.q_RNI0LVO3[0] 6 3 0 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[0] 4 4 4 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO_0[8] 2 9 1 #SB_LUT4
set_location uu2.vram_rd_clk_RNO 1 3 5 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 1 7 1 #SB_LUT4
set_location uu2.bitmap[90] 5 1 2 #SB_DFFNSR
set_location uu2.bitmap[290] 6 5 0 #SB_DFFNSR
set_location Lab_UT.didp.regrce3.q[1] 7 3 4 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[2] 8 2 3 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 2 13 4 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_RNIOMK62[0] 6 2 3 #SB_LUT4
set_location Lab_UT.dictrl.g0_3_0 7 13 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNIAKAQ2[7] 5 7 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 14 6 #SB_LUT4
set_location uu0.l_count[18] 1 13 0 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[3] 6 1 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI51E3N[1] 9 10 1 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 2 14 4 #SB_LUT4
set_location uu0.l_count_RNO[6] 1 11 0 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[2] 8 5 1 #SB_LUT4
set_location Lab_UT.dispString.dOut[5] 4 8 5 #SB_DFF
set_location Lab_UT.dictrl.state_ret_3 7 5 0 #SB_DFFSS
set_location buart.Z_rx.shifter_ret_RNO 5 12 5 #SB_LUT4
set_location Lab_UT.dictrl.g1_4 11 11 0 #SB_LUT4
set_location Lab_UT.dictrl.g0_11 7 12 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_fast_esr_RNIFKL21[0] 8 10 0 #SB_LUT4
set_location uu2.r_data_reg[0] 2 12 0 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_2 2 11 5 #SB_LUT4
set_location uu0.l_count_RNO[13] 1 16 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 4 13 7 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 4 13 7 #SB_DFFR
set_location buart.Z_rx.shifter_ret_6_fast 5 13 3 #SB_DFFES
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_2 6 10 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNIEIOO8[0] 8 11 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[4] 5 1 1 #SB_LUT4
set_location uu2.w_addr_user_nesr[7] 2 9 0 #SB_DFFNESR
set_location uu2.vram_wr_en_0_i 4 9 2 #SB_LUT4
set_location resetGen.reset_count[3] 8 4 4 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 5 14 4 #SB_LUT4
set_location buart.Z_rx.shifter_ret_5_fast 6 12 1 #SB_DFFES
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIH05S 11 8 1 #SB_LUT4
set_location uu2.w_data_0_o2_0[4] 4 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNI1U7M3[7] 4 6 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO 11 7 7 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO_0[0] 11 9 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNII08G4[1] 4 8 2 #SB_LUT4
set_location uu2.r_addr[4] 2 4 7 #SB_DFFSR
set_location uu2.bitmap[168] 5 3 7 #SB_DFFNSR
set_location buart.Z_rx.shifter_ret_5_fast_RNO 6 12 1 #SB_LUT4
set_location Lab_UT.didp.reset_RNO[3] 8 3 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_2 11 6 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNI24TF4 7 8 3 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNINJD5[3] 2 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNI6VOF1[6] 6 4 3 #SB_LUT4
set_location uu0.l_precount_RNI85Q91[3] 1 10 2 #SB_LUT4
set_location uu0.l_count[0] 1 11 4 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNI6B824[1] 5 2 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[1] 9 7 3 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNI0DI21 8 10 4 #SB_LUT4
set_location Lab_UT.dictrl.m1_0 5 11 3 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIVCU1[8] 2 10 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 1 12 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 11 3 2 #SB_DFF
set_location Lab_UT.didp.regrce1.q[0] 6 7 0 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_12_RNO_15 6 14 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIU2C38[3] 9 8 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI4CET7[3] 9 9 2 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI9ITA5[3] 4 3 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_8 4 9 4 #SB_LUT4
set_location uu2.l_count[8] 1 5 7 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[6] 2 11 0 #SB_LUT4
set_location buart.Z_rx.shifter_0[1] 5 13 6 #SB_DFFER
set_location Lab_UT.didp.regrce2.q_RNIG7M61[1] 8 1 1 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNO[1] 6 7 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21_0 7 7 4 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[1] 9 9 4 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIHSS8[5] 2 9 3 #SB_LUT4
set_location uu2.r_addr_RNO[1] 2 4 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[1] 8 5 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[0] 5 10 2 #SB_DFF
set_location Lab_UT.dictrl.shifter_ret_3 6 11 4 #SB_DFFER
set_location uu2.vram_rd_clk 1 3 5 #SB_DFFS
set_location resetGen.reset_count_RNO[0] 8 4 1 #SB_LUT4
set_location buart.Z_rx.shifter_0_6_rep1 6 11 7 #SB_DFFER
set_location buart.Z_rx.bitcount_es[4] 9 5 4 #SB_DFFES
set_location Lab_UT.didp.regrce4.q_RNIANSM3[2] 6 3 7 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNI6626 6 10 1 #SB_LUT4
set_location Lab_UT.dictrl.g1_1 8 13 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[5] 5 4 6 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 2 5 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 1 5 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[9] 1 12 2 #SB_LUT4
set_location buart.Z_rx.shifter_ret_6_rep1_RNI4S9J1 11 13 2 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[0] 5 10 2 #SB_LUT4
set_location Lab_UT.didp.regrce2.q[1] 7 3 1 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[1] 7 6 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[2] 9 2 2 #SB_LUT4
set_location Lab_UT.didp.ce[0] 7 5 1 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_12_RNO_8 7 10 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIT67DE[0] 9 12 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr 9 7 6 #SB_DFFESR
set_location uu2.w_addr_displaying[4] 5 4 5 #SB_DFFNSR
set_location uu2.vbuf_w_addr_displaying.result_1[6] 6 4 0 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 1 9 3 #SB_LUT4
set_location uu2.bitmap_RNI1PH82[40] 4 7 1 #SB_LUT4
set_location uu2.bitmap[34] 6 5 5 #SB_DFFNSR
set_location uu2.bitmap[215] 4 3 0 #SB_DFFNSR
set_location resetGen.escKey_4 5 13 1 #SB_LUT4
set_location buart.Z_rx.shifter_ret_1_RNO 7 13 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIU5J2B 8 9 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIR1TO6 8 9 3 #SB_LUT4
set_location Lab_UT.dictrl.g0_28_1_0 7 13 0 #SB_LUT4
set_location uu2.r_data_reg[3] 2 12 3 #SB_DFFNE
set_location uu0.l_count[13] 1 16 5 #SB_DFFER
set_location buart.Z_tx.bitcount[2] 4 13 5 #SB_DFFR
set_location Lab_UT.didp.reset[2] 8 3 2 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_1 7 12 3 #SB_LUT4
set_location uu2.w_addr_i_0_tz[0] 4 10 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_16 4 9 5 #SB_LUT4
set_location uu2.l_count[6] 1 5 0 #SB_DFFR
set_location uu2.bitmap[58] 5 1 5 #SB_DFFNSR
set_location buart.Z_tx.shifter[0] 2 14 1 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[2] 6 6 6 #SB_DFF
set_location Lab_UT.didp.countrce2.q[0] 9 1 0 #SB_DFF
set_location Lab_UT.dictrl.state_ret_6_esr_RNIB8OC4 7 11 5 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNI4PQ1 6 9 4 #SB_LUT4
set_location Lab_UT.dictrl.m91 11 4 0 #SB_LUT4
set_location Lab_UT.dictrl.m31_ns 8 13 4 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[4] 5 3 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNIKE7JD[4] 4 7 3 #SB_LUT4
set_location uu2.bitmap[186] 5 1 4 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 1 11 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIE8RP4 7 7 1 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i[1] 5 3 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[2] 5 14 1 #SB_DFF
set_location Lab_UT.dictrl.state_ret_12_RNO_5 7 9 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 2 5 5 #SB_LUT4
set_location uu0.l_count[7] 1 12 7 #SB_DFFER
set_location Lab_UT.didp.countrce2.q_RNO_0[2] 9 2 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess 9 6 3 #SB_DFFESS
set_location Lab_UT.dictrl.m25_4 7 11 0 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[2] 1 10 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 12 3 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 11 3 3 #SB_DFF
set_location Lab_UT.didp.regrce1.q[3] 6 7 3 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_5_ess 9 6 0 #SB_DFFESS
set_location Lab_UT.dictrl.g0_43_x 6 13 7 #SB_LUT4
set_location buart.Z_rx.shifter_0[2] 5 11 4 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.counter_RNI3HE3[5] 11 3 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_3[3] 4 12 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[0] 6 2 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIH7T88[3] 9 10 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[0] 2 9 5 #SB_DFFNESR
set_location uu2.w_addr_displaying_RNIJHPH1[2] 5 7 3 #SB_LUT4
set_location uu2.r_data_rdy 2 8 4 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 5 14 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[4] 9 5 4 #SB_LUT4
set_location Lab_UT.dispString.m9 6 10 4 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNI85KT3[3] 4 1 3 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNI_2 6 9 6 #SB_LUT4
set_location uu2.r_addr_esr[6] 2 5 5 #SB_DFFESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 11 5 #SB_LUT4
set_location resetGen.reset_count_RNO[3] 8 4 4 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c[1] 9 5 1 #SB_CARRY
set_location Lab_UT.didp.regrce4.q_RNO[3] 7 3 5 #SB_LUT4
set_location Lab_UT.dictrl.g1_2 9 12 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[0] 5 4 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[0] 5 10 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[1] 9 2 5 #SB_LUT4
set_location Lab_UT.didp.ce[3] 8 3 1 #SB_DFFSR
set_location Lab_UT.dictrl.shifter_ret_3_RNIK5FS8 6 9 3 #SB_LUT4
set_location Lab_UT.dictrl.m48 9 13 5 #SB_LUT4
set_location uu2.w_addr_displaying[7] 5 4 4 #SB_DFFNSR
set_location uu0.l_count[9] 1 12 2 #SB_DFFER
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 5 13 7 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3_rep1 7 14 6 #SB_DFFES
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_4 9 11 1 #SB_LUT4
set_location Lab_UT.dictrl.m89_am 11 5 5 #SB_LUT4
set_location Lab_UT.dictrl.m10 11 5 6 #SB_LUT4
set_location Lab_UT.dictrl.g1_0_1 7 12 1 #SB_LUT4
set_location Lab_UT.dictrl.g0_46 7 12 4 #SB_LUT4
set_location uu0.l_precount_RNO[0] 1 7 7 #SB_LUT4
set_location buart.Z_tx.shifter[7] 2 11 1 #SB_DFFER
set_location buart.Z_tx.bitcount_RNI22V22[2] 2 11 3 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[1] 7 6 4 #SB_DFF
set_location Lab_UT.didp.countrce2.q[3] 9 1 4 #SB_DFF
set_location Lab_UT.dispString.dOut_RNO_0[1] 5 10 7 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[3] 6 1 4 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO[7] 2 9 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[1] 4 11 3 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[0] 7 3 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[1] 7 2 5 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIE21V3[3] 8 3 5 #SB_LUT4
set_location uu2.trig_rd_det[0] 1 4 1 #SB_DFFSR
set_location Lab_UT.dictrl.g0_37 9 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 11 3 5 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[5] 6 5 2 #SB_LUT4
set_location uu2.l_count_RNIBCGK1_0[9] 1 5 3 #SB_LUT4
set_location uu0.l_precount_RNI3Q7K1[2] 1 10 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI38BCN[3] 11 10 6 #SB_LUT4
set_location uu2.w_addr_user_nesr[3] 2 10 4 #SB_DFFNESR
set_location Lab_UT.dictrl.shifter_ret_3_RNI_1 5 10 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI25P31_0[1] 4 5 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1 1 11 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es[2] 8 5 1 #SB_DFFES
set_location Lab_UT.didp.regrce4.q_RNO[0] 7 5 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIP5KF4 8 12 2 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[4] 4 4 1 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3 7 14 7 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[3] 5 13 4 #SB_DFFER
set_location buart.Z_rx.bitcount_es_RNIFSPI1[4] 11 4 3 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[3] 4 12 2 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNIVHJJ[1] 7 1 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI25P31[1] 4 5 6 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_a2 4 9 6 #SB_LUT4
set_location uu2.bitmap_RNIV8902[66] 6 5 3 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNIGCKQ8 6 9 2 #SB_LUT4
set_location Lab_UT.dictrl.next_state[0] 11 9 4 #SB_DFFE
set_location Lab_UT.didp.regrce4.q_RNIGCKQ8[0] 6 6 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_11 6 14 7 #SB_LUT4
set_location uu2.bitmap[52] 4 4 4 #SB_DFFNSR
set_location buart.Z_rx.shifter_0[5] 6 11 0 #SB_DFFER
set_location Lab_UT.dictrl.state_0_esr_RNISK689[0] 7 8 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIPED74[3] 9 11 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNIAUDM 7 10 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[2] 5 9 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI6SFG[3] 8 1 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[0] 7 1 6 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO[2] 2 10 5 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO_0[3] 2 10 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNI84IJ2[2] 2 6 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO_0[0] 9 3 6 #SB_LUT4
set_location Lab_UT.dictrl.g0_9_1 6 8 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNO[6] 6 4 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[4] 4 8 0 #SB_LUT4
set_location Lab_UT.dictrl.g0_30 9 8 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO 4 8 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 12 3 2 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_RNI6JSM3[0] 7 4 0 #SB_LUT4
set_location Lab_UT.dictrl.m63_0_1 9 13 0 #SB_LUT4
set_location Lab_UT.dictrl.m30 8 13 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[6] 6 5 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 4 13 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[3] 5 1 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[6] 2 9 4 #SB_DFFNESR
set_location resetGen.reset_count[2] 8 4 3 #SB_DFF
set_location buart.Z_tx.uart_tx_RNO 2 14 2 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNI4PVO3[2] 4 1 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO_0[1] 9 9 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 5 14 5 #SB_DFF
set_location buart.Z_rx.shifter_ret_6 5 13 5 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[6] 6 11 6 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_12_RNO_1 11 7 2 #SB_LUT4
set_location uu0.l_count[3] 1 12 6 #SB_DFFER
set_location resetGen.rst_RNIMHUCC 11 8 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[4] 11 3 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[0] 8 7 3 #SB_DFFESR
set_location Lab_UT.dictrl.next_state[3] 12 5 0 #SB_DFFE
set_location uu2.bitmap[87] 4 4 6 #SB_DFFNSR
set_location buart.Z_rx.shifter_0[6] 6 11 2 #SB_DFFER
set_location Lab_UT.didp.regrce1.q_RNO[0] 6 7 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI4L025[3] 9 7 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[0] 11 9 4 #SB_LUT4
set_location Lab_UT.dispString.cnt[0] 4 12 3 #SB_DFFSR
set_location uu2.w_addr_displaying_nesr_RNI6RE03[3] 4 6 2 #SB_LUT4
set_location uu2.vram_rd_clk_det[1] 5 8 5 #SB_DFFNS
set_location buart.Z_rx.hh[0] 1 7 4 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 6 1 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNI8NSO[4] 4 6 0 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3_RNI9ARR 8 12 6 #SB_LUT4
set_location Lab_UT.dictrl.g1_1_4 6 13 3 #SB_LUT4
set_location resetGen.escKey_5 9 11 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_ess_RNO 9 6 3 #SB_LUT4
set_location Lab_UT.dictrl.m33 8 13 0 #SB_LUT4
set_location uu2.r_data_reg[2] 2 12 2 #SB_DFFNE
set_location uu0.l_count_RNO[11] 1 13 3 #SB_LUT4
set_location uu0.l_count[10] 1 14 6 #SB_DFFER
set_location buart.Z_tx.bitcount[3] 4 13 1 #SB_DFFR
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[6] 5 1 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_17 4 10 1 #SB_LUT4
set_location uu2.l_count[5] 1 6 7 #SB_DFFR
set_location resetGen.reset_count[1] 8 4 0 #SB_DFF
set_location Lab_UT.didp.regrce2.q_RNI2VJT3[0] 6 3 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_5_ess_RNO 9 6 0 #SB_LUT4
set_location Lab_UT.dictrl.m3 11 8 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 1 9 5 #SB_DFF
set_location Lab_UT.dictrl.state_ret_12_RNO_4 11 7 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI89VA1[3] 9 10 4 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIU0804[6] 4 9 7 #SB_LUT4
set_location uu0.l_count[6] 1 11 0 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_6_esr 9 6 4 #SB_DFFESR
set_location Lab_UT.dictrl.state_0_esr_RNIGENTQ[2] 11 10 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr[3] 9 7 4 #SB_DFFESR
set_location uu2.l_count_RNIBCGK1[9] 1 5 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_1[3] 6 6 2 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNI4PQ1_0 6 9 0 #SB_LUT4
set_location Lab_UT.dictrl.m19 7 14 3 #SB_LUT4
set_location uu2.bitmap_RNILGG61[90] 5 1 3 #SB_LUT4
set_location buart.Z_rx.shifter_0[3] 5 11 6 #SB_DFFER
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 8 2 6 #SB_LUT4
set_location uu2.bitmap_RNI208E6[40] 4 7 2 #SB_LUT4
set_location uu2.bitmap[308] 4 4 0 #SB_DFFNSR
set_location Lab_UT.dictrl.shifter_ret_1_RNICGMV1 6 13 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIDCDL[3] 4 13 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNI206J5[7] 5 7 2 #SB_LUT4
set_location uu0.delay_line[0] 1 10 0 #SB_DFFR
set_location resetGen.rst_RNO 7 7 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[2] 5 10 5 #SB_LUT4
set_location uu2.bitmap_RNIAE522[93] 4 2 2 #SB_LUT4
set_location buart.Z_rx.shifter_ret 5 12 5 #SB_DFFES
set_location Lab_UT.dictrl.state_0_esr_RNI4N0L4[3] 7 8 2 #SB_LUT4
set_location Lab_UT.dictrl.m89_bm 11 5 1 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_o2_0 4 10 3 #SB_LUT4
set_location uu2.r_data_reg[5] 2 12 5 #SB_DFFNE
set_location uu0.l_count_RNO[16] 1 12 5 #SB_LUT4
set_location uu0.l_count[15] 1 14 3 #SB_DFFER
set_location Lab_UT.didp.regrce3.q_RNO[1] 7 3 4 #SB_LUT4
set_location Lab_UT.dictrl.m82 11 4 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_14 5 5 0 #SB_LUT4
set_location uu2.l_count[0] 1 4 0 #SB_DFFR
set_location resetGen.reset_count[4] 8 4 6 #SB_DFF
set_location Lab_UT.didp.countrce3.q_RNI36SS[0] 8 2 1 #SB_LUT4
set_location Lab_UT.dictrl.g0_5_5_ns 8 12 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[1] 5 6 2 #SB_DFFNESR
set_location Lab_UT.bcd2segment1.segmentUQ_i[0] 5 1 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_7 7 9 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI6KC68[0] 11 11 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 11 3 #SB_LUT4
set_location uu0.l_count[5] 1 15 0 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_4_esr_RNO 9 3 0 #SB_LUT4
set_location Lab_UT.dictrl.m47 9 12 4 #SB_LUT4
set_location buart.Z_rx.shifter_ret_4_RNO 7 15 0 #SB_LUT4
set_location Lab_UT.didp.reset_RNO_0[3] 7 2 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNICE00K[1] 8 9 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 2 9 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIHNKSM[3] 9 8 3 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIFBD5[3] 2 10 6 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIASLS1[1] 4 5 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 1 9 6 #SB_LUT4
set_location Lab_UT.didp.regrce4.q[1] 7 5 3 #SB_DFFSR
set_location Lab_UT.didp.ce_RNI14UL1[2] 7 2 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A[2] 11 7 3 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[2] 4 3 0 #SB_LUT4
set_location uu2.l_count_RNO[0] 1 4 0 #SB_LUT4
set_location uu2.bitmap[66] 6 5 2 #SB_DFFNSR
set_location uu2.bitmap[203] 5 3 6 #SB_DFFNSR
set_location resetGen.escKey 9 11 5 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNO[0] 4 12 3 #SB_LUT4
set_location Lab_UT.didp.regrce3.q[3] 6 7 5 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q[0] 6 2 0 #SB_DFF
set_location uu2.w_addr_displaying_RNIAJJL8[8] 4 5 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 14 2 #SB_LUT4
set_location uu0.l_count_RNIFAQ9[13] 2 13 3 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[3] 7 6 5 #SB_LUT4
set_location uu0.l_count[16] 1 12 5 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[1] 7 1 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 4 5 3 #SB_LUT4
set_location uu2.l_count[3] 1 6 2 #SB_DFFR
set_location uu0.l_count_RNIO2782[16] 1 10 6 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[1] 2 14 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIUQEL8_0[1] 8 8 2 #SB_LUT4
set_location uu2.w_addr_user_nesr[8] 2 9 2 #SB_DFFNESR
set_location uu2.r_addr_RNO[4] 2 4 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 5 0 #SB_RAM40_4K
set_location uu0.l_count_RNO[4] 1 14 5 #SB_LUT4
set_location Lab_UT.didp.ce_RNO[0] 7 5 1 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 2 5 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIUNPV1[2] 5 6 5 #SB_LUT4
set_location uu2.bitmap_RNIKL222[212] 4 3 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 11 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI6H8A1[2] 6 9 7 #SB_LUT4
set_location Lab_UT.dictrl.m40 6 13 2 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.result_1[3] 5 6 1 #SB_LUT4
set_location uu0.l_precount[1] 1 10 3 #SB_DFFR
set_location uu2.mem0.ram512X8_inst_RNO_0 4 8 4 #SB_LUT4
set_location Lab_UT.didp.ce_RNI62AM[1] 9 3 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i[2] 5 4 1 #SB_LUT4
set_location Lab_UT.didp.regrce4.q[2] 7 5 4 #SB_DFFSR
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[3] 5 3 0 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i[1] 4 4 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIQ1339[3] 8 9 6 #SB_LUT4
set_location Lab_UT.dictrl.g0_4_a4_5 8 14 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNI0ES07[8] 5 5 3 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[2] 4 13 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[4] 11 3 4 #SB_DFF
set_location Lab_UT.didp.regrce3.q_RNIKRUF1[1] 7 2 3 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[2] 6 1 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI4CET7_0[3] 9 10 5 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[4] 2 14 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 12 3 2 #SB_CARRY
set_location Lab_UT.didp.countrce4.q_RNI5GGH[0] 7 6 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO_2[0] 11 9 2 #SB_LUT4
set_location uu0.l_count_RNO[7] 1 12 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[3] 11 5 3 #SB_LUT4
set_location Lab_UT.dispString.dOut[2] 5 10 5 #SB_DFF
set_location Lab_UT.dictrl.shifter_ret_1 5 11 5 #SB_DFFES
set_location uu2.r_addr_esr[3] 2 5 6 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 5 14 2 #SB_CARRY
set_location buart.Z_rx.shifter_ret_1_fast 7 13 4 #SB_DFFES
set_location uu2.w_addr_displaying_RNO[7] 5 4 4 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3_RNO 7 14 7 #SB_LUT4
set_location Lab_UT.didp.regrce2.q[3] 7 3 3 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81[2] 8 7 0 #SB_LUT4
set_location uu2.w_addr_displaying[2] 5 8 0 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_3 2 11 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_3 7 9 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNIVIE9H 9 9 0 #SB_LUT4
set_location Lab_UT.dictrl.m31_x0 7 13 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNI30QB21[7] 4 6 4 #SB_LUT4
set_location buart.Z_tx.shifter[2] 2 14 3 #SB_DFFER
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[6] 5 3 7 #SB_LUT4
set_location uu2.bitmap[180] 4 4 3 #SB_DFFNSR
set_location Lab_UT.dictrl.state_0_esr_RNIQ1339[0] 7 8 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNI9TD6E[0] 9 12 2 #SB_LUT4
set_location uu2.r_addr[5] 2 13 0 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_esr_RNIR2IE1[2] 6 8 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 14 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 12 3 2 #SB_DFF
set_location Lab_UT.didp.regrce1.q[1] 6 7 1 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_fast_esr[0] 8 7 1 #SB_DFFESR
set_location uu2.l_count[9] 1 5 2 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[7] 2 11 1 #SB_LUT4
set_location uu2.r_addr_RNO[2] 2 4 0 #SB_LUT4
set_location Lab_UT.dispString.dOut[1] 5 9 3 #SB_DFF
set_location resetGen.reset_count_RNO[1] 8 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 5 8 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 15 1 #SB_LUT4
set_location Lab_UT.didp.regrce2.q[0] 7 3 0 #SB_DFFSR
set_location Lab_UT.didp.countrce4.q_RNO[2] 6 6 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[3] 9 1 4 #SB_LUT4
set_location Lab_UT.didp.ce[1] 8 3 0 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_12_RNO_9 7 10 7 #SB_LUT4
set_location uu2.w_addr_displaying[5] 5 4 6 #SB_DFFNSR
set_location Lab_UT.dictrl.state_ret_12 11 7 7 #SB_DFF
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIPHQ67 8 11 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNI3QHJ5[1] 9 7 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 12 3 1 #SB_CARRY
set_location Lab_UT.didp.reset[1] 8 3 4 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_6 6 12 0 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_ctle 12 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNI47N27[8] 5 5 4 #SB_LUT4
set_location buart.Z_tx.shifter[1] 2 14 0 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[3] 7 6 6 #SB_DFF
set_location Lab_UT.didp.countrce2.q[1] 9 2 5 #SB_DFF
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[5] 5 3 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 5 14 3 #SB_CARRY
set_location Lab_UT.didp.regrce4.q_RNICPSM3[3] 7 4 5 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i[0] 4 7 0 #SB_LUT4
set_location uu2.r_addr[0] 2 4 4 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[3] 2 8 6 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[3] 8 2 7 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 2 5 3 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_0[1] 9 2 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_35 7 12 2 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 1 5 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[17] 1 12 3 #SB_LUT4
set_location resetGen.rst_RNIAL6V33 12 9 2 #SB_LUT4
set_location Lab_UT.didp.regrce1.q_RNI6RVO3[3] 4 1 2 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[3] 6 5 0 #SB_LUT4
set_location uu2.bitmap_RNIC4D61[72] 5 3 3 #SB_LUT4
set_location uu0.delay_line_RNILLLG7[1] 8 5 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNIOM1S6[2] 5 6 6 #SB_LUT4
set_location resetGen.reset_count_RNO[4] 8 4 6 #SB_LUT4
set_location buart.Z_rx.bitcount_es[0] 11 5 7 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[2] 9 5 2 #SB_CARRY
set_location Lab_UT.didp.regrce4.q_RNO[2] 7 5 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[6] 4 4 3 #SB_LUT4
set_location buart.Z_rx.shifter_ret_1 7 13 6 #SB_DFFES
set_location Lab_UT.dispString.dOut_RNO_1[1] 5 9 2 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNIOG7L[1] 4 11 0 #SB_LUT4
set_location uu2.bitmap[194] 6 5 1 #SB_DFFNSR
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_5 5 11 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_13 8 10 5 #SB_LUT4
set_location buart.Z_tx.shifter[4] 2 14 5 #SB_DFFER
set_location Lab_UT.dispString.dOut_RNO_0[0] 4 10 0 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[2] 6 1 7 #SB_DFF
set_location uu2.trig_rd_det_RNIJIIO[1] 2 4 3 #SB_LUT4
set_location uu2.bitmap_RNI6RO21[162] 6 5 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[0] 4 11 7 #SB_LUT4
set_location Lab_UT.didp.regrce2.q_RNO[3] 7 3 3 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[0] 6 2 0 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI4JSO[1] 4 5 2 #SB_LUT4
set_location uu2.trig_rd_det_RNINBDQ[1] 2 4 2 #SB_LUT4
set_location uu2.l_count_RNI9S834[1] 1 6 5 #SB_LUT4
set_location uu0.sec_clkD 2 7 7 #SB_DFF
set_location Lab_UT.didp.regrce4.q_RNISBJ41[3] 7 4 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 11 3 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIOH1FC 8 11 2 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[4] 6 5 1 #SB_LUT4
set_location uu2.l_count_RNIFGGK1[3] 1 6 4 #SB_LUT4
set_location Lab_UT.dictrl.g0_28 8 13 2 #SB_LUT4
set_location uu2.w_addr_user[4] 5 8 2 #SB_DFFNSR
set_location uu0.l_count_RNI8ORT6[15] 1 13 2 #SB_LUT4
set_location buart.Z_rx.bitcount_es[3] 11 5 3 #SB_DFFES
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[3] 4 4 0 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 1 6 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 5 14 3 #SB_DFF
set_location buart.Z_rx.shifter_ret_4 7 15 0 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[4] 6 12 2 #SB_DFFER
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIHF8LB 8 9 4 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNICF9U4[3] 11 3 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_esr_RNIKE4Q8[0] 9 12 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state[1] 9 9 4 #SB_DFFE
set_location uu2.bitmap_RNI1UT12[75] 5 3 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_8_ess_RNO 9 3 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_12_RNO_10 7 10 3 #SB_LUT4
set_location buart.Z_rx.shifter_0[4] 6 11 5 #SB_DFFER
set_location Lab_UT.didp.regrce1.q_RNO[2] 6 7 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIBHFL 7 10 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[2] 11 9 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[5] 5 9 4 #SB_LUT4
set_location Lab_UT.dictrl.shifter_ret_3_RNO 6 11 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_user_nesr_RNO[3] 2 10 4 #SB_LUT4
set_location uu2.bitmap[162] 6 5 4 #SB_DFFNSR
set_location Lab_UT.didp.countrce1.q_RNO_0[1] 7 1 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNI8NSO[2] 5 6 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[5] 4 8 5 #SB_LUT4
set_location Lab_UT.didp.regrce4.q_RNI8LSM3[1] 7 4 1 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 4 13 3 #SB_LUT4
set_location buart.Z_rx.shifter_ret_6_fast_RNO 5 13 3 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
