set_location IN_MUX_bfv_2_3_0_ 2 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_3_0_ 6 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_3_0_ 8 3 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 4 3 0 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 6 3 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 6 3 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 6 3 1 #SB_LUT4
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 4 11 4 #SB_LUT4
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 4 11 3 #SB_LUT4
set_location uu2.trig_rd_det_1_THRU_LUT4_0 4 4 3 #SB_LUT4
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 7 7 #SB_LUT4
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 7 6 #SB_LUT4
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 7 5 #SB_LUT4
set_location uu2.r_data_reg_4_THRU_LUT4_0 2 7 4 #SB_LUT4
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 7 3 #SB_LUT4
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 7 2 #SB_LUT4
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 7 1 #SB_LUT4
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 7 0 #SB_LUT4
set_location uu2.bitmap_111_THRU_LUT4_0 4 11 2 #SB_LUT4
set_location uu0.sec_clkD_THRU_LUT4_0 2 8 2 #SB_LUT4
set_location uu0.delay_line_1_THRU_LUT4_0 1 8 7 #SB_LUT4
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 5 12 2 #SB_LUT4
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 5 12 1 #SB_LUT4
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 5 12 0 #SB_LUT4
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 6 12 6 #SB_LUT4
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 6 12 7 #SB_LUT4
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 6 12 5 #SB_LUT4
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 6 12 3 #SB_LUT4
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 7 12 7 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 5 2 7 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 5 3 7 #SB_LUT4
set_location Lab_UT.dispString.rdy_THRU_LUT4_0 7 6 6 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIIKFH3_3_Lab_UT.didp.ce_3_REP_LUT4_0 9 10 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI84NN1_3_Lab_UT.didp.ce_2_REP_LUT4_0 9 10 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNISML65_Lab_UT.dictrl.state_0_3_REP_LUT4_0 8 13 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIRRERA_Lab_UT.dictrl.state_0_1_REP_LUT4_0 8 13 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNINI42G_Lab_UT.dictrl.state_ret_2_REP_LUT4_0 8 13 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNI919D9_Lab_UT.dictrl.state_0_0_REP_LUT4_0 9 14 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNI4Q509_Lab_UT.dictrl.state_0_2_REP_LUT4_0 8 13 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_RNIGOKU_Lab_UT.didp.ce_0_REP_LUT4_0 9 12 0 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNIA99N6_0_Lab_UT.dictrl.alarmstate_0_1_REP_LUT4_0 11 7 6 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNI4S8S6_0_Lab_UT.dictrl.alarmstate_0_0_REP_LUT4_0 11 7 4 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF_Lab_UT.alarmchar_1_REP_LUT4_0 9 7 7 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9_0_Lab_UT.alarmchar_0_REP_LUT4_0 9 7 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.un1_num_11_Lab_UT.didp.ce_1_REP_LUT4_0 9 10 3 #SB_LUT4
set_location Lab_UT.alarmchar_5_THRU_LUT4_0 11 8 0 #SB_LUT4
set_location Lab_UT.alarmchar_4_THRU_LUT4_0 11 5 3 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment[5] 6 10 3 #SB_LUT4
set_location uu2.r_addr[2] 2 5 5 #SB_DFFSR
set_location buart.Z_rx.bitcount_RNI9F1H1_0[4] 6 2 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[2] 6 6 7 #SB_LUT4
set_location Lab_UT.didp.m42 8 12 2 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 9 10 5 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ[4] 6 10 0 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 8 3 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 8 2 3 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_31 8 8 1 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[8] 2 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_fast[3] 5 10 5 #SB_DFFNSR
set_location Lab_UT.didp.N_22_0_i 9 9 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4 7 6 0 #SB_DFF
set_location uu2.w_addr_user[1] 6 6 4 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 5 4 3 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 2 10 6 #SB_LUT4
set_location buart.Z_rx.shifter[0] 7 12 7 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[0] 6 3 0 #SB_CARRY
set_location Lab_UT.bcd2segment4.N_196_i 5 6 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[3] 6 6 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[3] 7 10 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[0] 8 10 6 #SB_LUT4
set_location Lab_UT.didp.ce[2] 9 10 1 #SB_DFFSR
set_location Lab_UT.dictrl.state_0_RNIRB6E1[1] 8 14 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_0[2] 5 6 0 #SB_LUT4
set_location Lab_UT.alarmchar[1] 9 7 7 #SB_DFF
set_location uu2.w_addr_displaying[6] 6 8 2 #SB_DFFNSS
set_location uu2.mem0.ram512X8_inst_RNO_57 5 9 4 #SB_LUT4
set_location uu0.l_count[8] 1 11 4 #SB_DFFER
set_location Lab_UT.didp.reset[0] 9 10 2 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_3_RNIDH8U 9 13 6 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep2 6 6 2 #SB_DFFNSR
set_location buart.Z_tx.shifter[6] 1 7 7 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[0] 9 11 3 #SB_DFF
set_location Lab_UT.didp.countrce2.q[2] 8 10 4 #SB_DFF
set_location uu2.w_addr_displaying_1_rep1_RNIJ9KQ3 5 11 7 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment[6] 6 11 1 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[6] 6 5 2 #SB_LUT4
set_location uu2.r_addr[1] 2 5 6 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[2] 9 9 3 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[2] 9 8 5 #SB_LUT4
set_location uu2.trig_rd_det[1] 4 4 3 #SB_DFFSR
set_location Lab_UT.didp.m41 8 12 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.un1_num_11 8 9 4 #SB_LUT4
set_location uu2.w_addr_user_RNO[4] 6 6 6 #SB_LUT4
set_location uu0.sec_clkD_RNISDHD 2 8 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_3_RNI2T7U 8 14 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_1_sqmuxa_3 7 12 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_32 7 7 0 #SB_LUT4
set_location uu0.l_count_RNO[18] 2 11 4 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIIKFH3[3] 9 9 1 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIB4K34[6] 7 6 4 #SB_LUT4
set_location uu2.w_addr_user_nesr[2] 7 5 7 #SB_DFFNESR
set_location Lab_UT.bcd2segment4.un1_num_7_1_0_a2 7 10 3 #SB_LUT4
set_location Lab_UT.bcd2segment4.G_64_a0_1 9 11 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNIFOBB3[2] 7 7 3 #SB_LUT4
set_location uu2.r_addr_esr[8] 5 4 1 #SB_DFFESR
set_location uu2.bitmap[221] 6 6 7 #SB_DFFNSR
set_location buart.Z_rx.shifter[3] 6 12 7 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[3] 6 3 3 #SB_CARRY
set_location Lab_UT.bcd2segment1.segmentUQ[5] 4 10 4 #SB_LUT4
set_location uu2.vram_rd_clk_det_RNI95711[1] 2 8 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[2] 9 5 3 #SB_LUT4
set_location Lab_UT.alarmchar[4] 11 5 3 #SB_DFF
set_location uu2.un28_w_addr_user_i_0_a3 8 6 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_54 6 7 4 #SB_LUT4
set_location uu2.bitmap_RNI5R5D8[69] 5 7 6 #SB_LUT4
set_location uu2.bitmap[197] 5 6 3 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 11 2 #SB_LUT4
set_location buart.Z_tx.shifter[5] 1 7 6 #SB_DFFER
set_location Lab_UT.bcd2segment1.segment_0[2] 4 9 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr[8] 6 9 1 #SB_DFFNESR
set_location Lab_UT.dispString.dOut_RNO_0[3] 9 8 7 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[1] 8 10 0 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO[5] 7 5 6 #SB_LUT4
set_location uu2.bitmap[69] 5 6 5 #SB_DFFNSR
set_location Lab_UT.didp.countrce2.q_RNIMK4F1[1] 7 9 7 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[3] 5 4 6 #SB_LUT4
set_location uu2.bitmap_RNI693L[87] 7 9 3 #SB_LUT4
set_location uu2.bitmap[40] 5 11 3 #SB_DFFNSR
set_location uu2.w_addr_user_RNO[1] 6 6 4 #SB_LUT4
set_location uu2.bitmap[218] 4 10 3 #SB_DFFNSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 8 2 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 2 5 2 #SB_LUT4
set_location uu2.w_addr_user_nesr[5] 7 5 6 #SB_DFFNESR
set_location Lab_UT.bcd2segment3.segment_i_0[1] 6 11 6 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[8] 7 7 7 #SB_DFFNESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 2 9 6 #SB_LUT4
set_location buart.Z_rx.shifter[6] 5 12 1 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 8 3 0 #SB_CARRY
set_location Lab_UT.dictrl.alarmstate_ret_RNI6ASS3 11 6 6 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_3 11 6 1 #SB_DFF
set_location Lab_UT.bcd2segment1.segmentUQ[6] 4 9 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[5] 2 3 4 #SB_DFF
set_location Lab_UT.didp.reset_RNO[1] 9 10 7 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_53_i_i_rep1 6 9 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_28 7 8 5 #SB_LUT4
set_location uu0.l_count[2] 1 10 2 #SB_DFFER
set_location Lab_UT.dictrl.next_state[2] 7 13 2 #SB_DFFES
set_location uu2.bitmap_RNILMVP[180] 5 10 6 #SB_LUT4
set_location uu2.bitmap[84] 7 9 6 #SB_DFFNSR
set_location buart.Z_tx.shifter[8] 2 9 1 #SB_DFFER
set_location Lab_UT.dictrl.next_state_RNO[3] 8 12 0 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_3_RNO 11 6 1 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 5 4 2 #SB_LUT4
set_location uu2.r_data_rdy_RNO 2 10 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 2 9 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 8 3 3 #SB_CARRY
set_location Lab_UT.dispString.cnt[1] 1 8 2 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNO[0] 6 5 4 #SB_LUT4
set_location uu2.vram_rd_clk_det[0] 4 11 3 #SB_DFFNS
set_location buart.Z_rx.hh[1] 5 2 7 #SB_DFFS
set_location uu2.vbuf_count.result_1[8] 1 6 7 #SB_LUT4
set_location uu2.l_count_RNO[9] 2 6 0 #SB_LUT4
set_location buart.Z_tx.uart_tx 1 5 7 #SB_DFFES
set_location Lab_UT.dispString.dOut_RNO[6] 9 5 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_3_RNO 8 13 2 #SB_LUT4
set_location uu2.r_data_reg[1] 2 7 1 #SB_DFFNE
set_location uu0.l_count_RNO[12] 1 12 3 #SB_LUT4
set_location uu0.l_count[11] 1 10 7 #SB_DFFER
set_location buart.Z_tx.bitcount_RNO[0] 2 5 1 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 2 5 1 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_4_RNINNUG 8 14 6 #SB_LUT4
set_location uu2.l_count_RNI9S834_0[1] 2 6 6 #SB_LUT4
set_location uu2.l_count[4] 2 6 7 #SB_DFFS
set_location uu2.bitmap[75] 6 11 5 #SB_DFFNSR
set_location resetGen.reset_count[0] 2 10 2 #SB_DFF
set_location uu2.w_addr_displaying_nesr[5] 8 8 6 #SB_DFFNESR
set_location uu2.mem0.ram512X8_inst_RNO_60 7 8 1 #SB_LUT4
set_location Lab_UT.didp.m29 9 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNISQPH1_0[7] 7 7 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 2 4 1 #SB_DFF
set_location Lab_UT.didp.reset_RNO[2] 8 7 1 #SB_LUT4
set_location Lab_UT.didp.m34_ns 8 11 3 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret 12 7 2 #SB_DFFSS
set_location uu2.bitmap[314] 4 10 1 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[3].un55_ci 1 10 4 #SB_LUT4
set_location uu0.l_count[1] 1 10 6 #SB_DFFER
set_location Lab_UT.didp.countrce4.q_RNO_1[2] 8 12 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNO 7 6 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 4 6 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[2] 9 8 4 #SB_LUT4
set_location uu2.trig_rd_det_RNO[0] 4 4 2 #SB_LUT4
set_location uu2.bitmap_RNIKJFQ1[69] 5 6 2 #SB_LUT4
set_location Lab_UT.dispString.cnt[2] 9 9 7 #SB_DFFSR
set_location Lab_UT.bcd2segment4.G_3 11 6 2 #SB_LUT4
set_location uu2.vbuf_count.result_1[7] 1 6 0 #SB_LUT4
set_location uu2.bitmap[296] 5 11 1 #SB_DFFNSR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 2 3 4 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[2] 8 3 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[1] 9 6 7 #SB_LUT4
set_location uu2.bitmap[212] 7 9 7 #SB_DFFNSR
set_location buart.Z_rx.bitcount[2] 7 3 3 #SB_DFFS
set_location Lab_UT.bcd2segment4.G_64_a0 9 6 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr_RNIV0V92[7] 4 9 3 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNI5QH04 6 7 3 #SB_LUT4
set_location uu2.r_data_reg[4] 2 7 4 #SB_DFFNE
set_location uu0.l_count[12] 1 12 3 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_15 4 6 2 #SB_LUT4
set_location uu2.l_count[7] 1 6 0 #SB_DFFR
set_location uu2.w_addr_displaying_RNIDKOL[1] 4 7 4 #SB_LUT4
set_location uu0.l_count_RNO[0] 1 10 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 2 3 2 #SB_DFF
set_location uu2.w_addr_user_nesr_RNI8NF3[8] 6 4 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_22 4 6 0 #SB_LUT4
set_location uu0.l_count[4] 1 12 7 #SB_DFFER
set_location uu2.w_addr_displaying_nesr_RNISQPH1[7] 7 7 4 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[3] 1 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_i_0[6] 7 11 2 #SB_LUT4
set_location Lab_UT.alarmchar_RNO[6] 11 5 6 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_53_i_i_fast 6 9 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 7 6 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0[2] 8 13 3 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_40 5 8 3 #SB_LUT4
set_location resetGen.reset_count_RNO_0[4] 2 9 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 2 3 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9_0[0] 9 7 6 #SB_LUT4
set_location uu2.vbuf_count.result_1[2] 1 6 4 #SB_LUT4
set_location uu2.l_count_RNO[3] 2 6 3 #SB_LUT4
set_location uu2.bitmap[200] 6 10 1 #SB_DFFNSR
set_location Lab_UT.didp.countrce3.q[1] 9 8 3 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 12 6 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[0] 9 11 2 #SB_LUT4
set_location Lab_UT.dictrl.next_state16_5 7 11 6 #SB_LUT4
set_location uu2.r_data_reg[7] 2 7 7 #SB_DFFNE
set_location uu0.l_count[17] 2 13 3 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_39 8 8 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_12 4 5 6 #SB_LUT4
set_location uu2.l_count[2] 1 6 4 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[0] 1 5 2 #SB_LUT4
set_location uu0.l_count_RNO[3] 1 10 5 #SB_LUT4
set_location Lab_UT.dispString.dOut[6] 9 5 5 #SB_DFF
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 2 3 1 #SB_CARRY
set_location Lab_UT.dictrl.next_alarmstate4_0 7 11 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIVAPV6[8] 8 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_21 4 5 1 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[3] 7 3 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI1S78_0[1] 9 10 4 #SB_LUT4
set_location uu0.l_precount[2] 1 9 2 #SB_DFFR
set_location Lab_UT.didp.countrce2.q_RNI6SFG_2[1] 7 10 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_7 5 5 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_43 4 8 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 2 3 5 #SB_LUT4
set_location uu2.vram_rd_clk_RNO 4 4 6 #SB_LUT4
set_location buart.Z_rx.bitcount_RNIIU223[4] 7 2 5 #SB_LUT4
set_location Lab_UT.didp.m37_ns_1 8 14 2 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 1 6 1 #SB_LUT4
set_location uu2.bitmap_RNIG4PV[66] 5 6 1 #SB_LUT4
set_location uu2.bitmap[90] 4 10 5 #SB_DFFNSR
set_location uu2.bitmap[290] 5 10 1 #SB_DFFNSR
set_location Lab_UT.didp.countrce3.q[2] 9 8 5 #SB_DFF
set_location Lab_UT.dictrl.next_alarmstate_1_1_0_.m4 11 6 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 1 12 4 #SB_LUT4
set_location buart.Z_rx.bitcount_RNILM873[4] 8 2 4 #SB_LUT4
set_location buart.Z_rx.bitcount[4] 7 3 4 #SB_DFFS
set_location uu2.vbuf_w_addr_displaying.N_54_i_i_fast 6 9 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 11 5 #SB_LUT4
set_location uu0.l_count[18] 2 11 4 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[3] 8 10 7 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIFOBB3[8] 4 6 1 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 1 7 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.N_194_i 5 10 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.un1_num_5_2 8 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNIT4P31 5 8 5 #SB_LUT4
set_location uu2.bitmap_RNIQQ0L[72] 6 10 6 #SB_LUT4
set_location uu0.l_count_RNO[6] 2 11 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[5] 9 5 0 #SB_DFF
set_location Lab_UT.dictrl.state_ret_3 8 13 2 #SB_DFFSS
set_location uu2.w_addr_displaying_RNI8BP31[6] 8 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[6] 6 8 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_24 5 8 4 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI25P31[8] 7 7 2 #SB_LUT4
set_location uu2.w_addr_displaying[1] 6 8 1 #SB_DFFNSR
set_location uu2.vbuf_w_addr_displaying.result_1[5] 8 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNO 6 8 6 #SB_LUT4
set_location uu2.r_data_reg[0] 2 7 0 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_2 4 5 4 #SB_LUT4
set_location uu0.l_count_RNO[13] 1 12 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 2 5 0 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 2 5 0 #SB_DFFR
set_location buart.Z_rx.bitcount_RNO_0[0] 7 2 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNIMK4F1_0[1] 4 11 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNIO0LS1[1] 7 14 5 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNO 12 7 2 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment_0[0] 5 11 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIF4D9[2] 5 11 5 #SB_LUT4
set_location uu2.vram_wr_en_0_i 4 5 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_46 5 8 1 #SB_LUT4
set_location resetGen.reset_count[3] 2 10 4 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 2 3 4 #SB_LUT4
set_location uu2.w_data_0_o2_0[4] 8 6 4 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNIFG6E 6 7 6 #SB_LUT4
set_location Lab_UT.didp.m28 9 5 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_1 11 7 0 #SB_DFFSR
set_location Lab_UT.bcd2segment3.segment[3] 5 11 1 #SB_LUT4
set_location uu2.r_addr[4] 4 4 1 #SB_DFFSR
set_location uu2.bitmap[168] 6 11 1 #SB_DFFNSR
set_location Lab_UT.didp.reset_RNO[3] 8 7 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNI970U[3] 7 13 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[4] 4 10 3 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNINJD5[3] 8 5 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIFOBB3_0[2] 7 7 5 #SB_LUT4
set_location uu0.l_precount_RNI85Q91[3] 1 9 4 #SB_LUT4
set_location uu0.l_count[0] 1 10 3 #SB_DFFER
set_location Lab_UT.dictrl.alarmstate_ret_2_RNO 11 7 1 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ[6] 6 11 0 #SB_LUT4
set_location uu2.bitmap_RNI8LAO[34] 5 10 4 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 2 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 8 2 0 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_8 4 5 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_37 5 7 3 #SB_LUT4
set_location uu2.l_count[8] 1 6 7 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[6] 1 7 7 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[1] 8 14 7 #SB_LUT4
set_location uu2.r_addr_RNO[1] 2 5 6 #SB_LUT4
set_location Lab_UT.dispString.dOut[0] 8 6 0 #SB_DFF
set_location Lab_UT.dispString.cnt[3] 9 9 6 #SB_DFFSR
set_location uu2.vram_rd_clk 4 4 6 #SB_DFFS
set_location resetGen.reset_count_RNO[0] 2 10 2 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNIMK4F1_2[1] 5 10 7 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 5 4 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 1 8 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[9] 1 11 7 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[0] 8 6 0 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[1] 8 11 6 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[2] 8 10 4 #SB_LUT4
set_location Lab_UT.didp.ce[0] 9 12 0 #SB_DFFSR
set_location uu2.w_addr_displaying[4] 6 6 0 #SB_DFFNSR
set_location uu2.w_addr_displaying_3_rep2_RNO 6 6 2 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 1 6 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_51 8 8 0 #SB_LUT4
set_location uu2.bitmap[34] 5 10 3 #SB_DFFNSR
set_location uu2.bitmap[215] 7 9 2 #SB_DFFNSR
set_location buart.Z_rx.bitcount[3] 7 3 7 #SB_DFFS
set_location uu2.r_data_reg[3] 2 7 3 #SB_DFFNE
set_location uu0.l_count[13] 1 12 0 #SB_DFFER
set_location buart.Z_tx.bitcount[2] 2 5 4 #SB_DFFR
set_location buart.Z_rx.bitcount_RNO_0[3] 7 3 6 #SB_LUT4
set_location Lab_UT.didp.reset[2] 8 7 1 #SB_DFFSR
set_location uu2.w_addr_i_0_tz[0] 8 6 5 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNI588O1 6 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_16 5 7 7 #SB_LUT4
set_location uu2.l_count[6] 1 8 1 #SB_DFFR
set_location uu2.bitmap[58] 4 9 5 #SB_DFFNSR
set_location buart.Z_tx.shifter[0] 1 5 2 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[2] 8 5 0 #SB_DFF
set_location Lab_UT.didp.countrce2.q[0] 8 10 6 #SB_DFF
set_location Lab_UT.dictrl.next_state_RNI95NC1[0] 7 14 4 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[7] 6 9 5 #SB_DFFNESR
set_location uu2.bitmap[186] 4 9 1 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 2 11 2 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment[4] 6 10 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[2] 2 3 1 #SB_DFF
set_location Lab_UT.dictrl.state_0_RNIBITA2[2] 7 11 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[1] 8 9 1 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 5 4 5 #SB_LUT4
set_location uu0.l_count[7] 2 11 5 #SB_DFFER
set_location Lab_UT.bcd2segment4.N_195_i 6 11 3 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[2] 1 9 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 8 2 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 8 3 5 #SB_DFF
set_location Lab_UT.bcd2segment4.G_64_a0_1_0 9 7 1 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1 6 8 0 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_30 8 8 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_19 8 8 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0[3] 8 13 7 #SB_DFFSR
set_location Lab_UT.dictrl.alarmstate_0[1] 11 7 6 #SB_DFFSR
set_location uu2.w_addr_user_nesr[0] 6 5 4 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[2] 6 6 3 #SB_DFFNSR
set_location uu2.r_data_rdy 2 10 0 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 2 3 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_i_m4[4] 4 7 6 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNIDKIL 7 8 3 #SB_LUT4
set_location uu2.r_addr_esr[6] 5 4 5 #SB_DFFESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 10 1 #SB_LUT4
set_location uu0.l_count_RNI8ORT6[11] 1 9 6 #SB_LUT4
set_location resetGen.reset_count_RNO[3] 2 10 4 #SB_LUT4
set_location buart.Z_rx.shifter[1] 6 12 3 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[1] 6 3 1 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter_RNIU4N1[2] 8 2 6 #SB_LUT4
set_location Lab_UT.bcd2segment4.G_1 12 6 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ[3] 4 10 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[0] 6 8 4 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNIKIVT 5 9 0 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1 6 8 6 #SB_DFFNSR
set_location uu2.vbuf_count.result_1[5] 1 8 0 #SB_LUT4
set_location uu0.delay_line[1] 1 8 7 #SB_DFFR
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[4] 8 3 3 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[3] 9 7 3 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[0] 7 6 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[1] 7 10 7 #SB_LUT4
set_location Lab_UT.didp.ce[3] 9 10 6 #SB_DFFSR
set_location Lab_UT.bcd2segment4.segment_0[1] 5 6 4 #SB_LUT4
set_location Lab_UT.alarmchar[6] 11 5 6 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_56 5 9 2 #SB_LUT4
set_location uu0.l_count[9] 1 11 7 #SB_DFFER
set_location buart.Z_rx.bitcount[0] 7 2 7 #SB_DFFS
set_location Lab_UT.didp.countrce4.q_RNO_0[1] 8 11 5 #SB_LUT4
set_location uu2.r_data_reg[6] 2 7 6 #SB_DFFNE
set_location uu0.l_count_RNO[15] 1 12 2 #SB_LUT4
set_location uu0.l_count[14] 1 11 3 #SB_DFFER
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 2 3 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_13 4 6 3 #SB_LUT4
set_location uu2.l_count[1] 1 6 1 #SB_DFFR
set_location uu2.bitmap[72] 6 10 3 #SB_DFFNSR
set_location uu0.sec_clk 1 8 4 #SB_DFFR
set_location uu0.l_precount_RNO[0] 4 12 3 #SB_LUT4
set_location buart.Z_tx.shifter[7] 2 9 0 #SB_DFFER
set_location buart.Z_tx.bitcount_RNI22V22[2] 2 5 3 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[1] 8 11 6 #SB_DFF
set_location Lab_UT.didp.countrce3.q_RNI36SS[1] 9 9 0 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI1S78[1] 9 10 0 #SB_LUT4
set_location Lab_UT.didp.countrce2.q[3] 8 10 5 #SB_DFF
set_location uu2.bitmap[111] 4 11 2 #SB_DFFNSR
set_location Lab_UT.dispString.dOut_RNO_0[1] 9 5 7 #SB_LUT4
set_location Lab_UT.didp.m37_ns 7 13 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNIMK4F1_3[1] 4 11 1 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[3] 8 10 7 #SB_DFF
set_location Lab_UT.bcd2segment3.un1_num_1 9 8 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO_0[6] 6 5 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[1] 9 7 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[1] 9 8 3 #SB_LUT4
set_location Lab_UT.dictrl.next_state_set_0_1 8 11 1 #SB_LUT4
set_location uu2.trig_rd_det[0] 4 4 2 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_20 7 8 0 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[0] 7 2 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNI919D9 7 14 0 #SB_LUT4
set_location Lab_UT.bcd2segment4.N_197_i 5 6 6 #SB_LUT4
set_location Lab_UT.bcd2segment2.N_201_i 8 9 7 #SB_LUT4
set_location uu2.w_addr_user_RNO[7] 6 6 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_58 5 8 2 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[1] 1 13 5 #SB_LUT4
set_location uu0.l_precount[3] 1 9 1 #SB_DFFR
set_location resetGen.escKey_3 6 12 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 8 2 3 #SB_LUT4
set_location uu2.w_addr_displaying_8_rep1_nesr 6 9 4 #SB_DFFNESR
set_location uu2.mem0.ram512X8_inst_RNO_6 4 6 6 #SB_LUT4
set_location uu2.l_count_RNIBCGK1_0[9] 2 6 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0[0] 9 14 3 #SB_DFFSR
set_location uu2.w_addr_user_nesr[3] 7 5 4 #SB_DFFNESR
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 1 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_42 4 8 3 #SB_LUT4
set_location uu0.sec_clk_RNO 1 8 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 2 4 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[8] 6 5 3 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep2_RNI1HJ81 5 7 2 #SB_LUT4
set_location resetGen.rst 8 11 7 #SB_DFF
set_location buart.Z_rx.shifter[4] 6 12 6 #SB_DFFER
set_location Lab_UT.didp.m24 8 5 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ[4] 4 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_7_rep1_nesr_RNI023T1 5 9 6 #SB_LUT4
set_location uu2.bitmap[93] 8 9 1 #SB_DFFNSR
set_location resetGen.uu0.counter_gen_label[3].un252_ci 2 10 3 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[3] 9 6 0 #SB_LUT4
set_location Lab_UT.didp.countrce3.q[3] 9 8 2 #SB_DFF
set_location Lab_UT.bcd2segment3.N_200_i 6 10 7 #SB_LUT4
set_location Lab_UT.alarmchar[5] 11 8 0 #SB_DFF
set_location Lab_UT.didp.countrce4.q_RNO_0[2] 7 11 5 #SB_LUT4
set_location Lab_UT.dictrl.next_state[0] 7 14 2 #SB_DFFES
set_location uu2.bitmap_RNIARM01[90] 4 10 6 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[0] 8 10 1 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNITFCD1[1] 8 14 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 4 5 7 #SB_LUT4
set_location uu2.bitmap[52] 4 11 1 #SB_DFFNSR
set_location buart.Z_tx.shifter_RNO[2] 1 7 3 #SB_LUT4
set_location Lab_UT.bcd2segment4.N_198_i 5 10 1 #SB_LUT4
set_location Lab_UT.bcd2segment2.N_202_i 7 9 2 #SB_LUT4
set_location uu2.r_addr_RNO[5] 4 4 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_48 6 7 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_0[2] 9 9 4 #SB_LUT4
set_location Lab_UT.dispString.dOut[4] 9 5 6 #SB_DFF
set_location Lab_UT.didp.m34_ns_1 7 13 7 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[0] 8 10 1 #SB_DFF
set_location Lab_UT.dictrl.state_ret_2 8 13 5 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_RNO 8 13 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1_RNICI8U 8 12 5 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[2] 7 5 7 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO_0[3] 7 5 5 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 5 5 3 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[1] 6 8 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_27 4 8 4 #SB_LUT4
set_location uu2.bitmap_RNI033L[84] 7 9 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[5] 2 12 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[4] 9 5 6 #SB_LUT4
set_location Lab_UT.didp.m45 7 13 3 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI34K17[8] 7 6 3 #SB_LUT4
set_location uu2.w_addr_displaying[0] 6 8 4 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO 6 5 6 #SB_LUT4
set_location uu2.bitmap_RNIMQ601[58] 4 9 2 #SB_LUT4
set_location uu0.l_precount[0] 4 12 3 #SB_DFFR
set_location buart.Z_rx.bitcount_RNIC77M1[0] 8 2 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 8 3 2 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI84NN1[3] 8 9 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_1 4 7 2 #SB_LUT4
set_location uu0.l_count_RNIRLTJ1[17] 2 11 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 2 5 4 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF_0 11 6 7 #SB_LUT4
set_location uu2.w_addr_user_nesr[6] 6 5 2 #SB_DFFNESR
set_location uu2.mem0.ram512X8_inst_RNO_45 7 8 2 #SB_LUT4
set_location uu2.bitmap_RNITQGB1[111] 5 11 6 #SB_LUT4
set_location resetGen.reset_count[2] 2 10 6 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 2 3 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret 9 9 2 #SB_DFFSS
set_location Lab_UT.dictrl.next_state_0_sqmuxa_4 7 12 1 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment_i_0[2] 6 11 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_62 5 9 1 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 1 5 7 #SB_LUT4
set_location buart.Z_rx.shifter[7] 5 12 2 #SB_DFFER
set_location buart.Z_rx.bitcount_RNI9F1H1[4] 6 2 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_2 11 7 1 #SB_DFFSS
set_location Lab_UT.bcd2segment3.segment[0] 5 11 3 #SB_LUT4
set_location uu2.l_count_RNO[4] 2 6 7 #SB_LUT4
set_location uu2.bitmap_RNIVOBS1[93] 5 8 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 2 3 5 #SB_DFF
set_location Lab_UT.didp.reset_RNO[0] 9 10 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNISML65 7 13 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[5] 4 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_29 8 8 3 #SB_LUT4
set_location uu0.l_count_RNI2GS72[4] 1 11 1 #SB_LUT4
set_location uu0.l_count[3] 1 10 5 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_4_RNI4EJF21 7 14 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state[3] 8 12 0 #SB_DFFES
set_location Lab_UT.bcd2segment4.segment[2] 5 6 3 #SB_LUT4
set_location Lab_UT.bcd2segment3.segment_i_1[1] 6 11 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 2 4 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 2 3 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 8 2 2 #SB_DFF
set_location Lab_UT.didp.N_21_0_i 9 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNIETIP[1] 6 9 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_34 6 7 5 #SB_LUT4
set_location uu2.bitmap[87] 8 9 7 #SB_DFFNSR
set_location buart.Z_tx.shifter_RNO[5] 1 7 6 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[0] 7 14 2 #SB_LUT4
set_location uu2.r_addr_RNO[0] 2 5 7 #SB_LUT4
set_location uu2.bitmap_RNI011L[75] 6 10 4 #SB_LUT4
set_location Lab_UT.dispString.dOut[3] 9 7 3 #SB_DFF
set_location Lab_UT.dispString.cnt[0] 1 8 3 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_4_RNINI42G 7 14 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_1 8 13 0 #SB_DFFSS
set_location Lab_UT.bcd2segment3.N_199_i 6 11 5 #SB_LUT4
set_location uu2.vram_rd_clk_det[1] 4 11 4 #SB_DFFNS
set_location uu2.vbuf_w_addr_displaying.N_54_i_i 7 7 7 #SB_LUT4
set_location buart.Z_rx.hh[0] 5 3 7 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 8 9 3 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate4 7 11 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[2] 6 6 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[4] 6 6 0 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_RNO 6 8 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 1 11 6 #SB_LUT4
set_location uu0.delay_line_RNO[0] 1 9 0 #SB_LUT4
set_location Lab_UT.dispString.rdy 7 6 6 #SB_DFF
set_location Lab_UT.didp.countrce4.q_RNO[0] 9 11 3 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate[0] 11 6 3 #SB_DFF
set_location Lab_UT.alarmchar[2] 9 7 6 #SB_DFF
set_location uu2.w_addr_displaying_RNI50L01[2] 6 9 2 #SB_LUT4
set_location uu2.w_addr_displaying[3] 6 6 1 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_52 7 8 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIRRERA 7 14 6 #SB_LUT4
set_location uu2.r_data_reg[2] 2 7 2 #SB_DFFNE
set_location uu0.l_count_RNO[11] 1 10 7 #SB_LUT4
set_location uu0.l_count[10] 1 11 5 #SB_DFFER
set_location resetGen.uu0.counter_gen_label[2].un241_ci 2 9 4 #SB_LUT4
set_location buart.Z_tx.bitcount[3] 2 5 2 #SB_DFFR
set_location buart.Z_rx.bitcount_RNO_0[2] 7 3 2 #SB_LUT4
set_location buart.Z_rx.bitcount_RNIAPJJ[1] 6 2 3 #SB_LUT4
set_location Lab_UT.didp.reset[3] 8 7 0 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNI7BP14[6] 8 6 3 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1 6 8 7 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_17 4 8 1 #SB_LUT4
set_location uu2.l_count[5] 1 8 0 #SB_DFFR
set_location resetGen.reset_count[1] 2 10 5 #SB_DFF
set_location buart.Z_tx.shifter[3] 1 7 4 #SB_DFFER
set_location Lab_UT.dictrl.next_state_RNIN0UD1[2] 7 13 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_61 5 8 0 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNIA99N6[0] 11 6 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 2 4 0 #SB_DFF
set_location uu0.l_count[6] 2 11 7 #SB_DFFER
set_location buart.Z_rx.bitcount_RNO[4] 7 3 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment[1] 5 6 5 #SB_LUT4
set_location uu2.l_count_RNIBCGK1[9] 2 6 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_1[3] 7 11 0 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_i_0[0] 5 10 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 9 8 1 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0[0] 11 7 4 #SB_DFFSR
set_location uu2.w_addr_displaying_7_rep1_nesr 6 9 6 #SB_DFFNESR
set_location uu2.bitmap[308] 4 11 0 #SB_DFFNSR
set_location Lab_UT.dictrl.state_0_RNIM00A3[3] 8 11 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIDCDL[3] 2 4 4 #SB_LUT4
set_location uu0.delay_line[0] 1 9 0 #SB_DFFR
set_location resetGen.rst_RNO 8 11 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[5] 8 3 4 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[2] 9 5 4 #SB_LUT4
set_location buart.Z_rx.bitcount[1] 7 3 1 #SB_DFFS
set_location Lab_UT.dictrl.state_ret_4_RNI4Q509 7 14 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_RNIGOKU 8 13 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_i_0[1] 7 9 0 #SB_LUT4
set_location uu2.w_addr_user_RNIPJCC[1] 7 4 6 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_o2_0 8 6 1 #SB_LUT4
set_location uu2.r_data_reg[5] 2 7 5 #SB_DFFNE
set_location uu0.l_count_RNO[16] 2 11 1 #SB_LUT4
set_location uu0.l_count_RNI04591[10] 1 11 0 #SB_LUT4
set_location uu0.l_count[15] 1 12 2 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_14 4 6 4 #SB_LUT4
set_location uu2.l_count[0] 1 6 2 #SB_DFFR
set_location resetGen.reset_count[4] 2 10 7 #SB_DFF
set_location Lab_UT.bcd2segment4.segment_i_1[5] 5 5 7 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI25P31_0[8] 7 7 1 #SB_LUT4
set_location uu2.bitmap_RNISSSN[162] 6 11 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_23 5 8 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 10 6 #SB_LUT4
set_location uu0.l_count[5] 2 12 0 #SB_DFFER
set_location buart.Z_rx.bitcount_RNO[1] 7 3 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_59 5 7 4 #SB_LUT4
set_location Lab_UT.didp.reset_RNO_0[3] 8 12 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 8 5 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0[1] 8 13 1 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNIFBD5[3] 7 5 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_41 5 7 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 2 4 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_1_sqmuxa_2_0 6 12 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNII048[6] 2 3 7 #SB_LUT4
set_location Lab_UT.didp.N_23_0_i 1 8 2 #SB_LUT4
set_location uu2.l_count_RNO[0] 1 6 2 #SB_LUT4
set_location uu2.bitmap[66] 5 6 7 #SB_DFFNSR
set_location uu2.bitmap[203] 6 10 7 #SB_DFFNSR
set_location resetGen.escKey 2 10 1 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNO[0] 1 8 3 #SB_LUT4
set_location Lab_UT.dispString.cnt_RNIRJ7L[3] 8 6 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q[0] 9 8 6 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 12 1 #SB_LUT4
set_location uu0.l_count_RNIFAQ9[13] 1 12 5 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO_0[3] 7 11 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state16_4 6 12 2 #SB_LUT4
set_location Lab_UT.bcd2segment4.N_198_i_1 5 10 0 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ[3] 5 11 0 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_i_0[2] 7 9 1 #SB_LUT4
set_location uu0.l_count[16] 2 11 1 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[1] 8 10 0 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_RNI0P1V 8 14 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_38 5 7 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 4 8 2 #SB_LUT4
set_location uu2.l_count[3] 2 6 3 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[1] 1 7 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[8] 6 5 3 #SB_DFFNESR
set_location uu2.r_addr_RNO[4] 4 4 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 5 0 #SB_RAM40_4K
set_location uu0.l_count_RNO[4] 1 12 7 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNO 6 8 0 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 5 5 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_26 4 8 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 10 2 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[2] 7 3 3 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI6SFG_0[1] 7 10 1 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_i_1[1] 8 9 6 #SB_LUT4
set_location uu0.l_precount[1] 1 13 5 #SB_DFFR
set_location resetGen.escKey_2_0 7 12 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNI1GK36[2] 7 12 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_0 4 5 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_44 5 9 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_RNICD593 7 12 5 #SB_LUT4
set_location uu0.l_count_RNI96A32[18] 1 9 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNI0C5J6[2] 7 12 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[6] 4 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment_1[1] 8 9 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[2] 2 4 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[4] 8 3 7 #SB_DFF
set_location Lab_UT.didp.countrce1.q_RNO[2] 8 10 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_35 6 7 2 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[4] 1 7 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 8 3 2 #SB_CARRY
set_location uu0.l_count_RNO[7] 2 11 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI5JE3[5] 8 3 6 #SB_LUT4
set_location Lab_UT.dispString.dOut[2] 9 5 4 #SB_DFF
set_location uu2.r_addr_esr[3] 5 4 6 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 2 3 2 #SB_CARRY
set_location buart.Z_rx.bitcount_RNIMK771[4] 7 2 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[3] 5 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_25 4 8 5 #SB_LUT4
set_location uu2.w_addr_displaying[2] 6 8 3 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_53 5 7 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_3 8 5 7 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO_0[1] 7 3 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_47 6 7 7 #SB_LUT4
set_location buart.Z_tx.shifter[2] 1 7 3 #SB_DFFER
set_location uu2.bitmap[180] 5 10 7 #SB_DFFNSR
set_location Lab_UT.didp.countrce2.q_RNI6SFG_1[1] 7 10 0 #SB_LUT4
set_location uu2.r_addr[5] 4 4 0 #SB_DFFSR
set_location Lab_UT.bcd2segment1.segment[3] 4 10 1 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNI4S8S6[0] 11 6 5 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ[5] 6 10 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 8 3 2 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_36 5 9 3 #SB_LUT4
set_location uu2.l_count[9] 2 6 0 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[7] 2 9 0 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_54_i_i_rep1 6 9 4 #SB_LUT4
set_location uu2.r_addr_RNO[2] 2 5 5 #SB_LUT4
set_location buart.Z_rx.hh_RNI065O1[0] 6 2 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[1] 9 6 7 #SB_DFF
set_location resetGen.reset_count_RNO[1] 2 10 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 6 8 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNIUGNM6[2] 4 5 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 11 4 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[2] 8 5 0 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[3] 8 10 5 #SB_LUT4
set_location Lab_UT.didp.ce[1] 9 10 3 #SB_DFFSR
set_location Lab_UT.alarmchar[0] 9 7 4 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_50 8 8 5 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI6SFG_3[1] 7 10 5 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_53_i_i 6 9 5 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO_0[4] 6 3 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 8 3 1 #SB_CARRY
set_location Lab_UT.didp.reset[1] 9 10 7 #SB_DFFSR
set_location Lab_UT.dictrl.alarmstate_ret_1_RNO 11 7 0 #SB_LUT4
set_location buart.Z_tx.shifter[1] 1 7 0 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[3] 7 10 6 #SB_DFF
set_location Lab_UT.didp.countrce2.q[1] 7 10 7 #SB_DFF
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 2 3 3 #SB_CARRY
set_location uu2.r_addr[0] 2 5 7 #SB_DFFSR
set_location Lab_UT.dispString.dOut_RNO_2[3] 9 7 2 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[3] 9 8 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[0] 4 9 5 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 5 4 3 #SB_LUT4
set_location uu2.bitmap_RNI8LB51[186] 4 9 6 #SB_LUT4
set_location Lab_UT.didp.m40 7 13 4 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 2 8 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[17] 2 13 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_33 7 8 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_18 7 6 2 #SB_LUT4
set_location uu0.delay_line_RNILLLG7[1] 1 9 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_RNO 9 9 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast[1] 6 8 5 #SB_DFFNSR
set_location uu2.w_addr_user[7] 6 6 5 #SB_DFFNSR
set_location uu2.bitmap_RNI232M[52] 5 9 5 #SB_LUT4
set_location resetGen.reset_count_RNO[4] 2 10 7 #SB_LUT4
set_location buart.Z_rx.shifter[2] 6 12 5 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[2] 6 3 2 #SB_CARRY
set_location uu2.w_addr_displaying_RNO[1] 6 8 1 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_1[1] 9 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_55 6 7 1 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF 11 5 5 #SB_LUT4
set_location uu2.bitmap[194] 5 6 6 #SB_DFFNSR
set_location uu2.bitmap_RNI2S3H1[40] 5 11 4 #SB_LUT4
set_location buart.Z_tx.shifter[4] 1 7 5 #SB_DFFER
set_location buart.Z_rx.bitcount_RNI9OJJ[1] 6 2 1 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNIMK4F1_1[1] 7 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr[7] 6 9 3 #SB_DFFNESR
set_location Lab_UT.dispString.dOut_RNO_0[0] 9 6 5 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI6SFG[1] 7 10 2 #SB_LUT4
set_location Lab_UT.didp.countrce1.q[2] 8 10 3 #SB_DFF
set_location uu2.trig_rd_det_RNIJIIO[1] 4 4 4 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO_2[0] 9 6 4 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[0] 9 8 6 #SB_LUT4
set_location uu2.trig_rd_det_RNINBDQ[1] 4 4 5 #SB_LUT4
set_location uu2.l_count_RNI9S834[1] 2 6 2 #SB_LUT4
set_location uu0.sec_clkD 2 8 2 #SB_DFF
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9[0] 9 7 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 8 3 5 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNO[0] 11 6 3 #SB_LUT4
set_location uu2.l_count_RNIFGGK1[3] 2 6 4 #SB_LUT4
set_location Lab_UT.dictrl.next_state_0_sqmuxa_2 7 12 0 #SB_LUT4
set_location uu2.w_addr_user[4] 6 6 6 #SB_DFFNSR
set_location buart.Z_rx.shifter[5] 5 12 0 #SB_DFFER
set_location uu2.w_addr_displaying_1_rep1_RNIHOCO1 7 9 4 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 1 6 5 #SB_LUT4
set_location uu0.l_count_RNI2CNU[11] 1 10 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 2 3 3 #SB_DFF
set_location Lab_UT.dictrl.next_alarmstate4_1_0 6 12 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state[1] 8 14 7 #SB_DFFES
set_location Lab_UT.dictrl.state_0_RNILGF17[3] 8 11 2 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[2] 7 13 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment_0[0] 4 9 4 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.counter_gen_label[6].un426_ci 5 4 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_49 7 8 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_user_nesr_RNO[3] 7 5 4 #SB_LUT4
set_location uu2.bitmap[162] 6 11 3 #SB_DFFNSR
set_location uu2.w_addr_user_nesr_RNIF1S9[5] 6 5 0 #SB_LUT4
set_location Lab_UT.dispString.dOut_RNO[5] 9 5 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 2 4 5 #SB_LUT4
set_io o_serial_data 34
set_io led[1] 137
set_io to_ir 95
set_io sd 99
set_io led[4] 107
set_io led[2] 128
set_io led[0] 144
set_io from_pc 22
set_io led[3] 117
set_io clk_in 3
