set_location IN_MUX_bfv_4_13_0_ 4 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_10_0_ 9 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_12_0_ 7 12 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 7 8 5 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 9 10 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 9 10 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 9 10 1 #SB_LUT4
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 2 9 2 #SB_LUT4
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 2 9 1 #SB_LUT4
set_location uu2.trig_rd_det_1_THRU_LUT4_0 2 8 7 #SB_LUT4
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 5 7 #SB_LUT4
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 5 6 #SB_LUT4
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 5 5 #SB_LUT4
set_location uu2.r_data_reg_4_THRU_LUT4_0 1 5 6 #SB_LUT4
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 5 3 #SB_LUT4
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 5 2 #SB_LUT4
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 5 1 #SB_LUT4
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 5 0 #SB_LUT4
set_location uu2.bitmap_111_THRU_LUT4_0 2 9 0 #SB_LUT4
set_location uu0.sec_clkD_THRU_LUT4_0 1 10 3 #SB_LUT4
set_location uu0.delay_line_1_THRU_LUT4_0 5 11 7 #SB_LUT4
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 7 13 0 #SB_LUT4
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 7 13 1 #SB_LUT4
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 6 14 7 #SB_LUT4
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 6 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 6 14 3 #SB_LUT4
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 9 14 1 #SB_LUT4
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 6 14 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 7 15 0 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 5 14 5 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 5 12 3 #SB_LUT4
set_location Lab_UT.dispString.rdy_THRU_LUT4_0 5 8 0 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI84NN1_2_Lab_UT.didp.ce_2_REP_LUT4_0 9 9 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIR8QUG_Lab_UT.dictrl.state_ret_2_REP_LUT4_0 5 11 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIQCSRA_Lab_UT.dictrl.state_0_2_REP_LUT4_0 8 14 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIQ35U8_Lab_UT.dictrl.state_0_0_REP_LUT4_0 8 12 5 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIPU6T9_Lab_UT.dictrl.state_0_1_REP_LUT4_0 8 12 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNI2AJ17_Lab_UT.dictrl.state_0_3_REP_LUT4_0 8 12 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_2_RNIGOKU_Lab_UT.didp.ce_0_REP_LUT4_0 11 11 0 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNIA99N6_0_Lab_UT.dictrl.alarmstate_0_1_REP_LUT4_0 5 10 0 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNI4S8S6_0_Lab_UT.dictrl.alarmstate_0_0_REP_LUT4_0 5 10 1 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_0_THRU_LUT4_0 5 13 0 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF_Lab_UT.alarmchar_1_REP_LUT4_0 6 10 4 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9_0_Lab_UT.alarmchar_0_REP_LUT4_0 5 9 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.m5_Lab_UT.didp.ce_1_REP_LUT4_0 9 9 0 #SB_LUT4
set_location Lab_UT.alarmchar_5_THRU_LUT4_0 4 3 2 #SB_LUT4
set_location Lab_UT.alarmchar_4_THRU_LUT4_0 4 8 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_52 9 7 2 #SB_LUT4
set_location Lab_UT.bcd2segment2.un1_num_5_2 11 8 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_70 7 9 1 #SB_LUT4
set_location resetGen.uu0.counter_gen_label[2].un241_ci 4 9 3 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO_0[2] 9 11 7 #SB_LUT4
set_location buart.Z_rx.bitcount_RNIAPJJ[1] 9 11 3 #SB_LUT4
set_location Lab_UT.didp.reset[3] 8 10 2 #SB_DFFSR
set_location Lab_UT.bcd2segment2.segmentUQ[5] 11 8 1 #SB_LUT4
set_location buart.Z_tx.shifter[3] 1 6 4 #SB_DFFER
set_location Lab_UT.dictrl.next_state_RNI72HD1[1] 7 11 1 #SB_LUT4
set_location uu2.w_data_i_o2[0] 5 8 6 #SB_LUT4
set_location uu2.r_addr[2] 9 8 6 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m59_am 5 9 7 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIBTS94[8] 5 6 2 #SB_LUT4
set_location uu2.w_addr_displaying_0_rep1 5 6 7 #SB_DFFNSR
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 11 9 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 7 12 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 6 11 6 #SB_DFF
set_location uu2.w_addr_displaying_ness[6] 9 5 6 #SB_DFFNESS
set_location uu2.mem0.ram512X8_inst_RNO_83 6 4 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_31 8 7 7 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[8] 2 7 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIQCSRA 8 11 4 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4 5 9 3 #SB_DFF
set_location uu2.w_addr_user[1] 4 7 5 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 2 4 7 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 4 9 4 #SB_LUT4
set_location buart.Z_rx.shifter[0] 7 15 0 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[0] 9 10 0 #SB_CARRY
set_location Lab_UT.didp.countrce4.q_RNO[3] 7 10 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[0] 11 9 0 #SB_LUT4
set_location Lab_UT.didp.ce[2] 9 9 3 #SB_DFFSR
set_location Lab_UT.alarmchar[1] 6 10 4 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_57 7 7 7 #SB_LUT4
set_location uu0.l_count[8] 1 8 3 #SB_DFFER
set_location Lab_UT.dictrl.next_alarmstate_1_1_0_.G_74 5 9 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_75 8 7 0 #SB_LUT4
set_location Lab_UT.didp.reset[0] 11 11 2 #SB_DFFSR
set_location buart.Z_tx.shifter[6] 2 7 0 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[0] 7 10 6 #SB_DFF
set_location Lab_UT.didp.countrce2.q[2] 11 9 7 #SB_DFF
set_location uu2.w_addr_user_RNO_0[5] 4 5 6 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[6] 5 5 2 #SB_LUT4
set_location uu2.r_addr[1] 9 8 7 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q_RNO[2] 7 9 2 #SB_LUT4
set_location uu2.trig_rd_det[1] 2 8 7 #SB_DFFSR
set_location uu0.l_count_RNIOIDD2[18] 1 10 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m99 7 3 0 #SB_LUT4
set_location uu0.sec_clkD_RNISDHD 2 7 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_32 5 7 4 #SB_LUT4
set_location uu0.l_count_RNO[18] 2 10 7 #SB_LUT4
set_location uu2.w_addr_user_nesr[2] 5 5 1 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[0] 9 4 7 #SB_DFFNSR
set_location Lab_UT.dictrl.next_state_0_sqmuxa_0 6 13 7 #SB_LUT4
set_location uu2.r_addr_esr[8] 2 4 0 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_66 6 6 2 #SB_LUT4
set_location uu2.bitmap[221] 6 4 4 #SB_DFFNSR
set_location buart.Z_rx.shifter[3] 6 14 3 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[3] 9 10 3 #SB_CARRY
set_location Lab_UT.bcd2segment1.m109 9 4 2 #SB_LUT4
set_location uu2.vram_rd_clk_det_RNI95711[1] 2 7 3 #SB_LUT4
set_location Lab_UT.alarmchar[4] 4 8 6 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_54 8 7 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_76 8 7 2 #SB_LUT4
set_location uu2.bitmap[197] 8 8 2 #SB_DFFNSR
set_location Lab_UT.dictrl.next_state_RNI9T1T1[2] 9 12 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 9 6 #SB_LUT4
set_location buart.Z_tx.shifter[5] 1 6 6 #SB_DFFER
set_location uu2.w_addr_user_RNO_0[8] 4 4 1 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr[8] 7 8 4 #SB_DFFNESR
set_location Lab_UT.didp.countrce1.q[1] 11 8 2 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_91 6 6 5 #SB_LUT4
set_location uu2.bitmap[69] 8 8 1 #SB_DFFNSR
set_location uu2.vbuf_raddr.result_1[3] 2 4 4 #SB_LUT4
set_location uu2.bitmap[40] 7 7 3 #SB_DFFNSR
set_location uu2.w_addr_user_RNO[1] 4 7 5 #SB_LUT4
set_location uu2.bitmap[218] 7 3 5 #SB_DFFNSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 7 12 5 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNISKK51[3] 7 10 3 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 2 13 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIHV38[6] 4 13 6 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIREPN6[8] 5 6 4 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[8] 9 5 7 #SB_DFFNESR
set_location uu2.mem0.ram512X8_inst_RNO_65 7 6 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 1 8 5 #SB_LUT4
set_location buart.Z_rx.shifter[6] 7 13 1 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 7 12 0 #SB_CARRY
set_location Lab_UT.dictrl.alarmstate_ret_RNI6ASS3 6 10 7 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_3 4 8 7 #SB_DFF
set_location Lab_UT.bcd2segment1.m54_0 6 10 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[5] 4 13 4 #SB_DFF
set_location Lab_UT.dictrl.state_ret_1_RNITFCD1 8 13 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_28 8 5 2 #SB_LUT4
set_location uu0.l_count[2] 1 11 1 #SB_DFFER
set_location Lab_UT.dictrl.next_state[2] 9 12 0 #SB_DFFES
set_location Lab_UT.bcd2segment1.m114 9 4 5 #SB_LUT4
set_location uu2.bitmap[84] 9 3 6 #SB_DFFNSR
set_location buart.Z_tx.shifter[8] 2 7 2 #SB_DFFER
set_location Lab_UT.dictrl.next_state_RNO[3] 9 11 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_3_RNO 4 8 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m23 5 10 3 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 2 6 1 #SB_LUT4
set_location uu2.r_data_rdy_RNO 4 9 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 1 8 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 7 12 3 #SB_CARRY
set_location Lab_UT.dispString.cnt[1] 5 4 2 #SB_DFFSR
set_location uu2.w_addr_user_nesr_RNO[0] 5 5 0 #SB_LUT4
set_location uu2.vram_rd_clk_det[0] 2 9 1 #SB_DFFNS
set_location buart.Z_rx.hh[1] 5 14 5 #SB_DFFS
set_location uu2.vbuf_count.result_1[8] 5 12 7 #SB_LUT4
set_location uu2.l_count_RNO[9] 4 11 7 #SB_LUT4
set_location buart.Z_tx.uart_tx 1 6 2 #SB_DFFES
set_location Lab_UT.dispString.dOut_RNO[6] 5 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_3_RNO 8 12 4 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIS90D1[2] 7 14 6 #SB_LUT4
set_location Lab_UT.dictrl.next_state_1_sqmuxa_5 7 14 2 #SB_LUT4
set_location uu2.r_data_reg[1] 2 5 1 #SB_DFFNE
set_location uu0.l_count_RNO[12] 1 7 6 #SB_LUT4
set_location uu0.l_count[11] 2 10 5 #SB_DFFER
set_location buart.Z_tx.bitcount_RNO[0] 2 12 0 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 2 12 0 #SB_DFFR
set_location Lab_UT.dictrl.state_ret_4_RNINNUG 7 11 0 #SB_LUT4
set_location uu2.l_count_RNI9S834_0[1] 4 11 2 #SB_LUT4
set_location uu2.l_count[4] 4 11 5 #SB_DFFS
set_location uu2.bitmap[75] 8 4 1 #SB_DFFNSR
set_location resetGen.reset_count[0] 4 9 5 #SB_DFF
set_location uu2.w_addr_user[8] 4 5 5 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_60 7 5 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m107 9 4 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 4 12 0 #SB_DFF
set_location Lab_UT.dictrl.alarmstate_ret 5 10 2 #SB_DFFSS
set_location uu2.bitmap[314] 9 3 1 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[3].un55_ci 1 11 3 #SB_LUT4
set_location uu0.l_count[1] 1 11 2 #SB_DFFER
set_location Lab_UT.dictrl.state_ret_4_RNO 5 9 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 7 5 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m26 5 10 5 #SB_LUT4
set_location uu2.trig_rd_det_RNO[0] 2 8 6 #SB_LUT4
set_location uu2.bitmap_RNIIGUI[66] 8 3 6 #SB_LUT4
set_location Lab_UT.dispString.cnt[2] 5 10 5 #SB_DFFSR
set_location Lab_UT.bcd2segment1.segmentUQ_1[4] 7 3 2 #SB_LUT4
set_location uu2.w_data_i_0_tz[0] 5 8 7 #SB_LUT4
set_location uu2.vbuf_count.result_1[7] 4 10 5 #SB_LUT4
set_location uu2.bitmap[296] 7 7 1 #SB_DFFNSR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 4 13 4 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[2] 7 12 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNIUG9D3[1] 7 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_4_rep1_RNO 8 6 4 #SB_LUT4
set_location uu2.bitmap[212] 8 4 7 #SB_DFFNSR
set_location buart.Z_rx.bitcount[2] 9 8 3 #SB_DFFS
set_location Lab_UT.bcd2segment1.m97 9 7 5 #SB_LUT4
set_location uu2.r_data_reg[4] 1 5 6 #SB_DFFNE
set_location uu0.l_count[12] 1 7 6 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_88 7 3 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_15 4 6 6 #SB_LUT4
set_location uu2.l_count[7] 4 10 5 #SB_DFFR
set_location uu2.bitmap_RNIJVK41[40] 7 7 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNIDKOL[1] 5 7 3 #SB_LUT4
set_location uu0.l_count_RNO[0] 1 11 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m85_0 8 3 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m100 7 3 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 4 13 2 #SB_DFF
set_location Lab_UT.bcd2segment2.segment[1] 9 3 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_22 4 6 4 #SB_LUT4
set_location uu0.l_count[4] 1 9 5 #SB_DFFER
set_location uu0.vbuf_precount_cntrl1.result_1[3] 2 11 1 #SB_LUT4
set_location Lab_UT.alarmchar_RNO[6] 4 6 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 4 6 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0[2] 8 14 6 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_40 7 4 3 #SB_LUT4
set_location resetGen.reset_count_RNO_0[4] 4 8 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 4 13 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9_0[0] 6 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m72_0 8 13 0 #SB_LUT4
set_location uu2.vbuf_count.result_1[2] 5 12 1 #SB_LUT4
set_location uu2.l_count_RNO[3] 5 11 6 #SB_LUT4
set_location uu2.bitmap[200] 9 4 5 #SB_DFFNSR
set_location Lab_UT.didp.countrce3.q[1] 7 4 6 #SB_DFF
set_location uu2.w_addr_user_RNO[8] 4 5 5 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNINBDH1 7 6 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 9 7 #SB_LUT4
set_location Lab_UT.dictrl.next_state16_5 6 13 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.m87_0 8 3 2 #SB_LUT4
set_location uu2.r_data_reg[7] 2 5 7 #SB_DFFNE
set_location uu0.l_count[17] 2 10 3 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_39 6 7 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_12 5 6 0 #SB_LUT4
set_location uu2.l_count[2] 5 12 1 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[0] 1 6 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[3] 6 8 7 #SB_DFFNESR
set_location uu0.l_count_RNO[3] 2 10 1 #SB_LUT4
set_location Lab_UT.dispString.dOut[6] 5 7 6 #SB_DFF
set_location Lab_UT.didp.ce_RNO[3] 8 10 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 4 13 1 #SB_CARRY
set_location Lab_UT.dictrl.next_alarmstate4_2_0 6 13 1 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate4_0 6 13 3 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[4] 8 4 7 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[7] 9 3 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_21 7 5 6 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[3] 8 12 7 #SB_LUT4
set_location uu0.l_precount[2] 2 11 4 #SB_DFFR
set_location uu0.l_count_RNIGTCU[15] 1 10 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_7 4 5 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m39_0 8 10 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.m1 11 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNIKGI51 7 6 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_43 9 5 1 #SB_LUT4
set_location uu2.bitmap_RNI65TM[72] 9 4 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 4 13 5 #SB_LUT4
set_location uu2.vram_rd_clk_RNO 5 11 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIF00Q[5] 8 5 3 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 4 10 1 #SB_LUT4
set_location uu2.bitmap[90] 7 3 1 #SB_DFFNSR
set_location uu2.bitmap[290] 8 8 3 #SB_DFFNSR
set_location Lab_UT.didp.countrce3.q[2] 7 9 2 #SB_DFF
set_location Lab_UT.dictrl.next_alarmstate_1_1_0_.m4 6 10 3 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 2 7 6 #SB_LUT4
set_location buart.Z_rx.bitcount[4] 9 8 1 #SB_DFFS
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 9 1 #SB_LUT4
set_location uu0.l_count[18] 2 10 7 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[3] 11 10 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_86 9 6 3 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 1 6 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_0[0] 7 9 0 #SB_LUT4
set_location uu0.l_count_RNO[6] 1 11 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[5] 5 7 1 #SB_DFF
set_location Lab_UT.dictrl.state_ret_3 8 12 4 #SB_DFFSS
set_location Lab_UT.bcd2segment1.m89 6 4 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNIMBBL2[7] 2 7 4 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[0] 9 4 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_24 8 5 7 #SB_LUT4
set_location uu2.w_addr_displaying[1] 7 6 5 #SB_DFFNSR
set_location Lab_UT.didp.countrce2.q_RNI84NN1[2] 11 9 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m119 7 7 1 #SB_LUT4
set_location uu2.w_addr_user_RNI2UTD[1] 4 6 3 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1_RNO 7 6 6 #SB_LUT4
set_location uu2.r_data_reg[0] 2 5 0 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_2 4 4 7 #SB_LUT4
set_location uu0.l_count_RNO[13] 1 7 1 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 2 13 0 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 2 13 0 #SB_DFFR
set_location buart.Z_rx.bitcount_RNO_0[0] 9 10 7 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNO 5 10 2 #SB_LUT4
set_location uu2.w_addr_user_nesr[7] 5 5 3 #SB_DFFNESR
set_location uu2.w_addr_displaying_7_rep1 9 6 5 #SB_DFFNSR
set_location uu2.vram_wr_en_0_i 6 8 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_46 8 5 4 #SB_LUT4
set_location resetGen.reset_count[3] 4 9 2 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 4 13 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_63 9 5 2 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_1 2 8 4 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m60_0 6 11 2 #SB_LUT4
set_location uu2.r_addr[4] 2 8 1 #SB_DFFSR
set_location uu2.bitmap[168] 9 4 1 #SB_DFFNSR
set_location Lab_UT.bcd2segment1.segment[4] 7 3 5 #SB_LUT4
set_location uu0.l_precount_RNI85Q91[3] 1 12 6 #SB_LUT4
set_location uu0.l_count[0] 1 11 4 #SB_DFFER
set_location Lab_UT.dictrl.alarmstate_ret_2_RNO 2 8 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 2 10 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 7 12 5 #SB_DFF
set_location uu2.w_addr_user_RNIQ6EA[5] 4 5 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_81 9 7 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_8 5 6 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_37 6 8 6 #SB_LUT4
set_location uu2.l_count[8] 5 12 7 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[6] 2 7 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[1] 7 11 2 #SB_LUT4
set_location uu2.r_addr_RNO[1] 9 8 7 #SB_LUT4
set_location Lab_UT.dispString.dOut[0] 5 7 7 #SB_DFF
set_location Lab_UT.dispString.cnt[3] 5 10 3 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m98_0 7 7 3 #SB_LUT4
set_location uu2.w_addr_user[3] 4 7 6 #SB_DFFNSR
set_location uu2.vram_rd_clk 5 11 4 #SB_DFFS
set_location resetGen.reset_count_RNO[0] 4 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[5] 9 6 6 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 2 4 0 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 5 11 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[9] 2 10 2 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[1] 6 11 3 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[2] 11 9 7 #SB_LUT4
set_location Lab_UT.didp.ce[0] 11 11 0 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m65_0 7 10 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m39_e_2 8 10 0 #SB_LUT4
set_location uu2.w_addr_displaying[4] 8 6 5 #SB_DFFNSR
set_location uu2.w_addr_displaying_0_rep1_RNO 5 6 7 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 4 12 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_51 8 7 4 #SB_LUT4
set_location uu2.bitmap[34] 8 8 0 #SB_DFFNSR
set_location uu2.bitmap[215] 8 9 6 #SB_DFFNSR
set_location resetGen.escKey_4 6 12 0 #SB_LUT4
set_location buart.Z_rx.bitcount[3] 8 12 7 #SB_DFFS
set_location Lab_UT.dictrl.state_0_RNIHE146[2] 6 13 6 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIR7FF7[6] 4 6 0 #SB_LUT4
set_location uu2.r_data_reg[3] 2 5 3 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_73 8 6 3 #SB_LUT4
set_location uu0.l_count[13] 1 7 1 #SB_DFFER
set_location buart.Z_tx.bitcount[2] 2 13 6 #SB_DFFR
set_location buart.Z_rx.bitcount_RNO_0[3] 8 12 6 #SB_LUT4
set_location Lab_UT.didp.reset[2] 8 10 4 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_16 9 6 2 #SB_LUT4
set_location uu2.l_count[6] 5 11 1 #SB_DFFR
set_location uu2.bitmap[58] 9 7 3 #SB_DFFNSR
set_location buart.Z_tx.shifter[0] 1 6 1 #SB_DFFER
set_location Lab_UT.didp.countrce4.q[2] 7 10 7 #SB_DFF
set_location Lab_UT.didp.countrce2.q[0] 11 9 0 #SB_DFF
set_location Lab_UT.dictrl.next_state_RNI95NC1[0] 8 11 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m71 4 8 2 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr[3] 7 8 1 #SB_DFFNESR
set_location uu2.bitmap[186] 9 7 5 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 1 10 7 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNIASM81[2] 7 10 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m101 8 4 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[2] 4 13 1 #SB_DFF
set_location Lab_UT.dictrl.state_0_RNIBITA2[2] 7 13 5 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[0] 8 9 3 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 2 6 5 #SB_LUT4
set_location uu0.l_count[7] 1 7 2 #SB_DFFER
set_location Lab_UT.dictrl.state_0_RNIENNE[1] 8 13 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.m68_bm 5 7 0 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[2] 2 11 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 6 12 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 6 11 0 #SB_DFF
set_location uu2.w_addr_displaying_2_rep1 8 8 5 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_30 5 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_19 6 5 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0[3] 8 12 2 #SB_DFFSR
set_location Lab_UT.dictrl.alarmstate_0[1] 5 10 0 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m68_am 6 7 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m52_bm 6 9 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m5 11 10 6 #SB_LUT4
set_location uu2.w_addr_user_nesr[0] 5 5 0 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[2] 8 8 6 #SB_DFFNSR
set_location uu2.w_addr_displaying_3_rep1_nesr_RNO 7 8 0 #SB_LUT4
set_location uu2.r_data_rdy 4 9 6 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 4 13 1 #SB_LUT4
set_location uu2.r_addr_esr[6] 2 6 5 #SB_DFFESR
set_location uu2.mem0.ram512X8_inst_RNO_68 9 5 3 #SB_LUT4
set_location uu2.bitmap_RNI19S42[34] 7 7 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 11 6 #SB_LUT4
set_location resetGen.reset_count_RNO[3] 4 9 2 #SB_LUT4
set_location buart.Z_rx.shifter[1] 6 14 5 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[1] 9 10 1 #SB_CARRY
set_location buart.Z_rx.bitcount_RNIIU223[0] 9 12 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ[3] 9 3 0 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI83ID7[8] 2 6 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[0] 5 6 5 #SB_LUT4
set_location uu2.w_addr_displaying_1_rep1 7 6 6 #SB_DFFNSR
set_location uu2.vbuf_count.result_1[5] 5 11 0 #SB_LUT4
set_location uu0.delay_line[1] 5 11 7 #SB_DFFR
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[4] 7 12 3 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[1] 11 9 1 #SB_LUT4
set_location Lab_UT.didp.ce[3] 8 10 3 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m46 5 7 1 #SB_LUT4
set_location Lab_UT.alarmchar[6] 4 6 1 #SB_DFF
set_location uu2.w_addr_displaying[7] 9 6 7 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_56 9 7 7 #SB_LUT4
set_location uu0.l_count[9] 2 10 2 #SB_DFFER
set_location buart.Z_rx.bitcount_RNILM873[0] 9 12 7 #SB_LUT4
set_location buart.Z_rx.bitcount[0] 9 8 0 #SB_DFFS
set_location Lab_UT.bcd2segment1.m84_0 8 3 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.m113 9 4 4 #SB_LUT4
set_location uu2.r_data_reg[6] 2 5 6 #SB_DFFNE
set_location uu2.mem0.ram512X8_inst_RNO_74 7 7 4 #SB_LUT4
set_location uu0.l_count_RNO[15] 1 9 3 #SB_LUT4
set_location uu0.l_count[14] 1 9 4 #SB_DFFER
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 4 13 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m42_bm 9 10 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_13 8 5 1 #SB_LUT4
set_location uu2.l_count[1] 4 10 1 #SB_DFFR
set_location uu2.bitmap[72] 9 4 3 #SB_DFFNSR
set_location uu0.sec_clk 5 11 3 #SB_DFFR
set_location uu0.l_precount_RNO[0] 2 11 7 #SB_LUT4
set_location buart.Z_tx.shifter[7] 2 7 1 #SB_DFFER
set_location buart.Z_tx.bitcount_RNI22V22[2] 1 12 0 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[1] 6 11 3 #SB_DFF
set_location Lab_UT.didp.countrce2.q[3] 11 9 6 #SB_DFF
set_location uu2.bitmap[111] 2 9 0 #SB_DFFNSR
set_location Lab_UT.didp.countrce1.q[3] 11 10 2 #SB_DFF
set_location Lab_UT.dictrl.state_ret_3_RNIS90D1 7 11 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m42_am 6 9 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m102 8 4 1 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[7] 5 5 3 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[1] 7 4 6 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[3] 8 8 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m90_0 8 3 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m42_ns 6 9 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[4] 8 6 6 #SB_LUT4
set_location uu2.trig_rd_det[0] 2 8 6 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_20 6 8 4 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[0] 9 8 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNI86V6[2] 4 5 7 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNI0FF3[4] 4 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_58 8 6 0 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[1] 2 11 3 #SB_LUT4
set_location uu0.l_precount[3] 2 11 1 #SB_DFFR
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 6 11 6 #SB_LUT4
set_location Lab_UT.dictrl.next_state_1_sqmuxa_0 6 14 1 #SB_LUT4
set_location uu2.w_addr_displaying_8_rep1_nesr 7 8 3 #SB_DFFNESR
set_location uu2.mem0.ram512X8_inst_RNO_6 4 5 0 #SB_LUT4
set_location uu2.l_count_RNIBCGK1_0[9] 4 11 1 #SB_LUT4
set_location uu0.l_precount_RNI3Q7K1[2] 2 11 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIB7JE1[1] 8 14 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0[0] 8 12 5 #SB_DFFSR
set_location uu2.w_addr_displaying_fast[7] 9 3 7 #SB_DFFNSR
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 4 10 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_42 7 6 0 #SB_LUT4
set_location uu0.sec_clk_RNO 5 11 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 4 12 3 #SB_LUT4
set_location Lab_UT.dictrl.next_state_0_sqmuxa_3 6 13 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m81_0 8 10 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m41_0 6 10 1 #SB_LUT4
set_location uu2.w_addr_user[5] 4 7 7 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_67 7 10 0 #SB_LUT4
set_location resetGen.rst 6 7 7 #SB_DFF
set_location buart.Z_rx.shifter[4] 6 14 6 #SB_DFFER
set_location uu2.bitmap[93] 6 4 2 #SB_DFFNSR
set_location resetGen.uu0.counter_gen_label[3].un252_ci 4 9 1 #SB_LUT4
set_location Lab_UT.didp.countrce3.q[3] 7 9 3 #SB_DFF
set_location Lab_UT.alarmchar[5] 4 3 2 #SB_DFF
set_location Lab_UT.dictrl.next_state[0] 8 11 7 #SB_DFFES
set_location Lab_UT.bcd2segment1.m92 6 4 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.N_165_i 5 8 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_79 7 3 7 #SB_LUT4
set_location Lab_UT.didp.countrce1.q_RNO[0] 11 8 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.m93_0 8 3 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_85 6 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 7 5 1 #SB_LUT4
set_location uu2.bitmap[52] 8 9 3 #SB_DFFNSR
set_location buart.Z_tx.shifter_RNO[2] 1 6 3 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIFOTF[3] 8 14 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_0[1] 8 9 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m77 8 8 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast_nesr_RNO[3] 7 8 1 #SB_LUT4
set_location uu2.r_addr_RNO[5] 2 8 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_48 7 6 4 #SB_LUT4
set_location Lab_UT.dispString.dOut[4] 4 8 2 #SB_DFF
set_location Lab_UT.didp.countrce1.q[0] 11 8 0 #SB_DFF
set_location Lab_UT.dictrl.state_ret_2 5 11 2 #SB_DFFSS
set_location Lab_UT.dictrl.state_ret_1_RNO 9 13 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIEI8U[2] 8 14 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m76_0 8 10 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.m47_0 6 10 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNO[2] 5 5 1 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNIK9E4[2] 4 5 3 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 2 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_90 7 3 3 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[6] 8 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m30 5 10 4 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNO[6] 9 5 6 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[1] 5 6 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_27 9 6 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[5] 1 8 4 #SB_LUT4
set_location uu2.w_addr_displaying[0] 5 6 5 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO 8 5 5 #SB_LUT4
set_location uu2.bitmap_RNIPIHG1[75] 8 4 6 #SB_LUT4
set_location uu0.l_precount[0] 2 11 7 #SB_DFFR
set_location buart.Z_rx.bitcount_RNIC77M1[0] 9 11 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 7 12 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIJ9317[2] 7 13 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIDH8U[1] 8 13 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m118 7 7 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNI64LA[1] 6 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_1 6 5 0 #SB_LUT4
set_location uu0.l_count_RNIRLTJ1[17] 1 10 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 2 13 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNIO00A3[3] 8 14 3 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF_0 6 10 2 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ[6] 8 9 0 #SB_LUT4
set_location uu2.w_addr_user_nesr[6] 5 5 2 #SB_DFFNESR
set_location uu2.w_addr_displaying_fast[4] 8 6 6 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_45 9 5 4 #SB_LUT4
set_location resetGen.reset_count[2] 4 9 4 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 4 13 3 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIPU6T9 7 12 6 #SB_LUT4
set_location Lab_UT.dictrl.state_ret 9 13 4 #SB_DFFSS
set_location Lab_UT.dictrl.next_state_0_sqmuxa_4 6 13 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m25_0 8 10 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_62 6 6 4 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 1 6 2 #SB_LUT4
set_location buart.Z_rx.shifter[7] 7 13 0 #SB_DFFER
set_location buart.Z_rx.bitcount_RNI9F1H1[4] 9 12 6 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_2 2 8 5 #SB_DFFSS
set_location Lab_UT.bcd2segment1.m91_0 8 3 5 #SB_LUT4
set_location uu2.l_count_RNO[4] 4 11 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 4 13 5 #SB_DFF
set_location Lab_UT.didp.reset_RNO[0] 11 11 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIARVM2[0] 5 6 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_29 8 7 5 #SB_LUT4
set_location uu0.l_count[3] 2 10 1 #SB_DFFER
set_location Lab_UT.dictrl.next_state[3] 9 11 2 #SB_DFFES
set_location Lab_UT.bcd2segment1.m49_0 6 10 5 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_a2_4 5 8 2 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 2 13 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 4 13 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 6 12 5 #SB_DFF
set_location Lab_UT.dictrl.state_0_RNITK4F[1] 7 11 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_80 9 8 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_34 7 5 0 #SB_LUT4
set_location uu2.bitmap[87] 9 3 4 #SB_DFFNSR
set_location buart.Z_tx.shifter_RNO[5] 1 6 6 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[0] 8 11 7 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_0[2] 8 9 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.N_172_i 5 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNIL4F73[3] 8 4 5 #SB_LUT4
set_location uu2.r_addr_RNO[0] 2 8 3 #SB_LUT4
set_location Lab_UT.dispString.dOut[3] 5 8 3 #SB_DFF
set_location Lab_UT.dispString.cnt[0] 5 10 4 #SB_DFFSR
set_location Lab_UT.dictrl.state_ret_1 9 13 6 #SB_DFFSS
set_location uu2.w_addr_displaying_7_rep1_RNO 9 6 5 #SB_LUT4
set_location uu2.vram_rd_clk_det[1] 2 9 2 #SB_DFFNS
set_location buart.Z_rx.hh[0] 5 12 3 #SB_DFFS
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 11 10 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNI2AJ17 8 11 5 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate4 6 13 2 #SB_LUT4
set_location Lab_UT.bcd2segment1.m94_0 8 8 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m52_am 5 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.m26_0 7 4 0 #SB_LUT4
set_location uu2.w_addr_displaying_fast_RNO[2] 8 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[4] 8 6 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 4 9 7 #SB_LUT4
set_location uu0.delay_line_RNO[0] 2 11 0 #SB_LUT4
set_location Lab_UT.dispString.rdy 5 8 0 #SB_DFF
set_location Lab_UT.didp.countrce4.q_RNO[0] 7 10 6 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate[0] 5 13 0 #SB_DFFE
set_location Lab_UT.bcd2segment1.m39_e_3 8 10 1 #SB_LUT4
set_location Lab_UT.alarmchar[2] 6 9 1 #SB_DFF
set_location resetGen.escKey_5 7 13 7 #SB_LUT4
set_location uu2.r_data_reg[2] 2 5 2 #SB_DFFNE
set_location uu0.l_count_RNO[11] 2 10 5 #SB_LUT4
set_location uu0.l_count[10] 1 9 1 #SB_DFFER
set_location buart.Z_tx.bitcount[3] 2 13 2 #SB_DFFR
set_location Lab_UT.bcd2segment3.segment_0[2] 8 4 2 #SB_LUT4
set_location uu2.w_data_i_o2_4[0] 5 8 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_17 8 5 0 #SB_LUT4
set_location uu2.l_count[5] 5 11 0 #SB_DFFR
set_location resetGen.reset_count[1] 4 9 0 #SB_DFF
set_location uu2.w_addr_displaying_fast_nesr_RNO[8] 7 8 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_61 7 5 4 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNIA99N6[0] 5 9 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m59_bm 5 9 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.m106 7 4 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 4 12 3 #SB_DFF
set_location uu0.l_count[6] 1 11 7 #SB_DFFER
set_location buart.Z_rx.bitcount_RNO[4] 9 8 1 #SB_LUT4
set_location uu2.l_count_RNIBCGK1[9] 4 11 3 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 9 9 4 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_0[0] 5 10 1 #SB_DFFSR
set_location Lab_UT.bcd2segment1.m27 5 4 2 #SB_LUT4
set_location uu2.bitmap[308] 8 8 4 #SB_DFFNSR
set_location buart.Z_tx.bitcount_RNIDCDL[3] 2 13 3 #SB_LUT4
set_location uu0.delay_line[0] 2 11 0 #SB_DFFR
set_location resetGen.rst_RNO 6 7 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[5] 7 12 4 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNI4V78[3] 11 9 2 #SB_LUT4
set_location buart.Z_rx.bitcount[1] 9 8 2 #SB_DFFS
set_location Lab_UT.dictrl.state_ret_2_RNIGOKU 7 11 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.m96 11 7 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m62 6 7 3 #SB_LUT4
set_location uu2.r_data_reg[5] 2 5 5 #SB_DFFNE
set_location uu0.l_count_RNO[16] 1 8 2 #SB_LUT4
set_location uu0.l_count[15] 1 9 3 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_89 8 9 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_14 6 5 3 #SB_LUT4
set_location uu2.l_count[0] 4 10 2 #SB_DFFR
set_location resetGen.reset_count[4] 4 8 5 #SB_DFF
set_location uu2.w_addr_displaying_nesr_RNO[8] 9 5 7 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[2] 8 9 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_23 6 5 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 11 2 #SB_LUT4
set_location uu0.l_count[5] 1 8 4 #SB_DFFER
set_location buart.Z_rx.bitcount_RNO[1] 9 8 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_59 6 4 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 6 5 7 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIQ35U8 8 11 2 #SB_LUT4
set_location Lab_UT.dictrl.state_0[1] 8 12 1 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_41 7 5 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 4 12 0 #SB_LUT4
set_location buart.Z_rx.bitcount_RNI9F1H1[0] 9 12 2 #SB_LUT4
set_location uu2.l_count_RNO[0] 4 10 2 #SB_LUT4
set_location uu2.bitmap[66] 8 3 3 #SB_DFFNSR
set_location uu2.bitmap[203] 8 4 3 #SB_DFFNSR
set_location resetGen.escKey 7 9 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q[0] 7 9 4 #SB_DFF
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 9 2 #SB_LUT4
set_location uu0.l_count_RNIFAQ9[13] 2 7 5 #SB_LUT4
set_location Lab_UT.dictrl.next_state16_4 7 14 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m93 6 4 4 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_a2_0 4 8 0 #SB_LUT4
set_location uu0.l_count[16] 1 8 2 #SB_DFFER
set_location Lab_UT.didp.countrce1.q_RNO[1] 11 8 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_84 7 3 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_38 8 6 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 4 6 5 #SB_LUT4
set_location uu2.l_count[3] 5 11 6 #SB_DFFR
set_location uu0.l_count_RNIO2782[16] 2 11 6 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[1] 1 6 0 #SB_LUT4
set_location uu2.r_addr_RNO[4] 2 8 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 5 0 #SB_RAM40_4K
set_location uu0.l_count_RNO[4] 1 9 5 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNO 8 8 5 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 2 6 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.un1_num_1 7 9 5 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment[5] 9 3 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_26 9 5 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 11 1 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO[2] 9 8 3 #SB_LUT4
set_location uu0.l_precount[1] 2 11 3 #SB_DFFR
set_location Lab_UT.bcd2segment1.m88_0 8 3 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_0 6 8 0 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNIR0FR1[3] 7 11 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m29 8 13 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_44 8 5 6 #SB_LUT4
set_location uu2.bitmap_RNI672H[84] 9 3 5 #SB_LUT4
set_location uu2.bitmap_RNIC6T81[212] 8 4 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m90 6 4 2 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[2] 2 13 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[4] 7 12 7 #SB_DFF
set_location Lab_UT.didp.countrce1.q_RNO[2] 11 8 7 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNICJTA2[3] 7 14 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_87 6 6 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_35 6 8 5 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[4] 1 6 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 7 12 2 #SB_CARRY
set_location uu2.w_addr_displaying_8_rep1_nesr_RNO 7 8 3 #SB_LUT4
set_location uu0.l_count_RNO[7] 1 7 2 #SB_LUT4
set_location Lab_UT.dispString.dOut[2] 5 8 1 #SB_DFF
set_location uu2.r_addr_esr[3] 2 4 4 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 4 13 2 #SB_CARRY
set_location buart.Z_rx.bitcount_RNIMK771[4] 9 11 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.N_178_i 5 8 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[7] 9 6 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_25 7 6 3 #SB_LUT4
set_location uu2.w_addr_displaying[2] 8 8 7 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_53 8 7 6 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNI0MRT[1] 7 14 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_71 7 9 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_3 4 7 1 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO_0[1] 9 11 6 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ[4] 11 8 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_47 5 8 4 #SB_LUT4
set_location buart.Z_tx.shifter[2] 1 6 3 #SB_DFFER
set_location uu2.bitmap[180] 8 9 1 #SB_DFFNSR
set_location Lab_UT.bcd2segment3.segment[2] 8 4 3 #SB_LUT4
set_location uu2.r_addr[5] 2 8 0 #SB_DFFSR
set_location Lab_UT.bcd2segment1.segment[3] 9 3 1 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_4_RNIR8QUG 8 11 6 #SB_LUT4
set_location Lab_UT.dictrl.next_alarmstate_RNI4S8S6[0] 5 9 5 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 9 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 7 12 2 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_82 9 8 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_36 6 8 3 #SB_LUT4
set_location uu2.l_count[9] 4 11 7 #SB_DFFR
set_location uu2.bitmap_RNI43641[162] 8 6 2 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[7] 2 7 1 #SB_LUT4
set_location Lab_UT.dispString.rdy_RNIGIDK3 4 6 7 #SB_LUT4
set_location uu2.r_addr_RNO[2] 9 8 6 #SB_LUT4
set_location buart.Z_rx.hh_RNI065O1[0] 8 13 5 #SB_LUT4
set_location Lab_UT.dispString.dOut[1] 6 9 6 #SB_DFF
set_location resetGen.reset_count_RNO[1] 4 9 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 8 8 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 8 3 #SB_LUT4
set_location buart.Z_rx.bitcount_RNIBQJJ[4] 9 12 1 #SB_LUT4
set_location Lab_UT.didp.countrce4.q_RNO[2] 7 10 7 #SB_LUT4
set_location Lab_UT.didp.countrce2.q_RNO[3] 11 9 6 #SB_LUT4
set_location Lab_UT.didp.ce[1] 9 9 0 #SB_DFFSR
set_location Lab_UT.alarmchar[0] 5 9 2 #SB_DFF
set_location uu2.w_addr_displaying[5] 9 6 6 #SB_DFFNSR
set_location uu2.mem0.ram512X8_inst_RNO_50 6 6 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_72 8 7 3 #SB_LUT4
set_location buart.Z_rx.bitcount_RNO_0[4] 9 10 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 7 12 1 #SB_CARRY
set_location Lab_UT.didp.reset[1] 12 9 2 #SB_DFFSR
set_location Lab_UT.dictrl.alarmstate_ret_1_RNO 2 8 4 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ[3] 11 8 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m8 5 10 7 #SB_LUT4
set_location buart.Z_tx.shifter[1] 1 6 0 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.counter_RNI2GE3[1] 6 12 7 #SB_LUT4
set_location Lab_UT.didp.countrce4.q[3] 7 10 4 #SB_DFF
set_location Lab_UT.didp.countrce2.q[1] 11 9 1 #SB_DFF
set_location Lab_UT.bcd2segment1.m77_0 8 8 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 4 13 3 #SB_CARRY
set_location uu2.r_addr[0] 2 8 3 #SB_DFFSR
set_location Lab_UT.didp.countrce3.q_RNO[3] 7 9 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment[0] 9 7 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m82_0 8 8 2 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 2 4 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.m47_e 8 14 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNINEKD7[6] 4 7 4 #SB_LUT4
set_location uu2.w_addr_user_RNO[5] 4 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep2_nesr_RNO 7 8 2 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 6 11 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[17] 2 10 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m97_0 7 7 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_33 6 5 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_18 5 7 5 #SB_LUT4
set_location uu0.delay_line_RNILLLG7[1] 1 10 2 #SB_LUT4
set_location Lab_UT.dictrl.state_ret_RNO 9 13 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m68_0_ns_1 8 14 1 #SB_LUT4
set_location uu2.w_addr_displaying_fast[1] 5 6 6 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNI59BR1[5] 9 6 4 #SB_LUT4
set_location uu2.w_addr_displaying_3_rep1_nesr 7 8 0 #SB_DFFNESR
set_location Lab_UT.bcd2segment1.m53 9 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNO[3] 6 8 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_69 9 5 5 #SB_LUT4
set_location resetGen.reset_count_RNO[4] 4 8 5 #SB_LUT4
set_location buart.Z_rx.shifter[2] 9 14 1 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[2] 9 10 2 #SB_CARRY
set_location Lab_UT.dictrl.state_ret_1_RNIAD2V 8 13 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[1] 7 6 5 #SB_LUT4
set_location Lab_UT.bcd2segment1.m47 6 9 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_55 6 6 1 #SB_LUT4
set_location Lab_UT.dictrl.alarmstate_ret_RNI8PIF 4 8 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m110 9 4 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_77 6 7 0 #SB_LUT4
set_location uu2.bitmap[194] 8 3 5 #SB_DFFNSR
set_location uu2.bitmap_RNIKGSI[58] 9 7 1 #SB_LUT4
set_location buart.Z_tx.shifter[4] 1 6 5 #SB_DFFER
set_location Lab_UT.didp.countrce1.q[2] 11 8 7 #SB_DFF
set_location uu2.w_addr_user_nesr_RNO[4] 5 5 4 #SB_LUT4
set_location uu2.trig_rd_det_RNIJIIO[1] 1 8 7 #SB_LUT4
set_location Lab_UT.didp.countrce3.q_RNO[0] 7 9 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.m36 6 9 4 #SB_LUT4
set_location Lab_UT.bcd2segment1.N_121_mux_i 12 9 2 #SB_LUT4
set_location uu2.trig_rd_det_RNINBDQ[1] 2 8 2 #SB_LUT4
set_location uu2.l_count_RNI9S834[1] 4 11 4 #SB_LUT4
set_location uu0.sec_clkD 1 10 3 #SB_DFF
set_location Lab_UT.dictrl.alarmstate_0_RNIL6V9[0] 6 9 0 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 6 11 0 #SB_LUT4
set_location uu2.w_addr_displaying_2_rep1_RNI01H61 8 6 7 #SB_LUT4
set_location uu2.w_addr_user_nesr[4] 5 5 4 #SB_DFFNESR
set_location uu2.l_count_RNIFGGK1[3] 4 12 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI18N1[5] 6 12 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_64 6 6 7 #SB_LUT4
set_location uu0.l_count_RNI8ORT6[15] 1 10 1 #SB_LUT4
set_location buart.Z_rx.shifter[5] 6 14 7 #SB_DFFER
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 4 12 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 4 13 3 #SB_DFF
set_location Lab_UT.dictrl.next_state[1] 7 11 2 #SB_DFFES
set_location uu2.w_addr_displaying_nesr_RNIV7KP6[8] 6 7 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_78 6 4 5 #SB_LUT4
set_location Lab_UT.dictrl.state_0_RNILGF17[3] 7 13 3 #SB_LUT4
set_location uu2.un28_w_addr_user_i_0_o4 4 8 1 #SB_LUT4
set_location Lab_UT.dictrl.next_state_RNO[2] 9 12 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.segment_0[0] 11 7 0 #SB_LUT4
set_location Lab_UT.bcd2segment1.m76 8 10 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_49 9 6 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_displaying_4_rep1 8 6 4 #SB_DFFNSR
set_location uu2.w_addr_displaying_3_rep2_nesr 7 8 2 #SB_DFFNESR
set_location uu2.bitmap[162] 8 3 1 #SB_DFFNSR
set_location Lab_UT.dictrl.state_ret_4_RNIFPRO41 8 11 3 #SB_LUT4
set_location Lab_UT.bcd2segment1.m68_0_ns 8 14 2 #SB_LUT4
set_location uu2.w_addr_user_RNO[3] 4 7 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 2 13 4 #SB_LUT4
set_location Lab_UT.dictrl.next_state_1_sqmuxa_4 7 14 1 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
