ble_pack uu2.r_data_reg_4_LC_1_5_6 { uu2.r_data_reg_4_THRU_LUT4_0, uu2.r_data_reg[4] }
clb_pack LT_1_5 { uu2.r_data_reg_4_LC_1_5_6 }
set_location LT_1_5 1 5
ble_pack buart.Z_tx.shifter_1_LC_1_6_0 { buart.Z_tx.shifter_RNO[1], buart.Z_tx.shifter[1] }
ble_pack buart.Z_tx.shifter_0_LC_1_6_1 { buart.Z_tx.shifter_RNO[0], buart.Z_tx.shifter[0] }
ble_pack buart.Z_tx.uart_tx_LC_1_6_2 { buart.Z_tx.uart_tx_RNO, buart.Z_tx.uart_tx }
ble_pack buart.Z_tx.shifter_2_LC_1_6_3 { buart.Z_tx.shifter_RNO[2], buart.Z_tx.shifter[2] }
ble_pack buart.Z_tx.shifter_3_LC_1_6_4 { buart.Z_tx.shifter_RNO[3], buart.Z_tx.shifter[3] }
ble_pack buart.Z_tx.shifter_4_LC_1_6_5 { buart.Z_tx.shifter_RNO[4], buart.Z_tx.shifter[4] }
ble_pack buart.Z_tx.shifter_5_LC_1_6_6 { buart.Z_tx.shifter_RNO[5], buart.Z_tx.shifter[5] }
clb_pack LT_1_6 { buart.Z_tx.shifter_1_LC_1_6_0, buart.Z_tx.shifter_0_LC_1_6_1, buart.Z_tx.uart_tx_LC_1_6_2, buart.Z_tx.shifter_2_LC_1_6_3, buart.Z_tx.shifter_3_LC_1_6_4, buart.Z_tx.shifter_4_LC_1_6_5, buart.Z_tx.shifter_5_LC_1_6_6 }
set_location LT_1_6 1 6
ble_pack uu0.l_count_13_LC_1_7_1 { uu0.l_count_RNO[13], uu0.l_count[13] }
ble_pack uu0.l_count_7_LC_1_7_2 { uu0.l_count_RNO[7], uu0.l_count[7] }
ble_pack uu0.l_count_12_LC_1_7_6 { uu0.l_count_RNO[12], uu0.l_count[12] }
clb_pack LT_1_7 { uu0.l_count_13_LC_1_7_1, uu0.l_count_7_LC_1_7_2, uu0.l_count_12_LC_1_7_6 }
set_location LT_1_7 1 7
ble_pack uu0.l_count_16_LC_1_8_2 { uu0.l_count_RNO[16], uu0.l_count[16] }
ble_pack uu0.l_count_8_LC_1_8_3 { uu0.vbuf_count_cntrl1.result_1[8], uu0.l_count[8] }
ble_pack uu0.l_count_5_LC_1_8_4 { uu0.vbuf_count_cntrl1.result_1[5], uu0.l_count[5] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_3_LC_1_8_5 { uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_7__un99_ci_0_LC_1_8_6 { uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 }
ble_pack uu2.trig_rd_det_RNIJIIO_1_LC_1_8_7 { uu2.trig_rd_det_RNIJIIO[1] }
clb_pack LT_1_8 { uu0.l_count_16_LC_1_8_2, uu0.l_count_8_LC_1_8_3, uu0.l_count_5_LC_1_8_4, uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_3_LC_1_8_5, uu0.vbuf_count_cntrl1.counter_gen_label_7__un99_ci_0_LC_1_8_6, uu2.trig_rd_det_RNIJIIO_1_LC_1_8_7 }
set_location LT_1_8 1 8
ble_pack uu0.l_count_10_LC_1_9_1 { uu0.vbuf_count_cntrl1.result_1[10], uu0.l_count[10] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_15__un187_ci_1_LC_1_9_2 { uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 }
ble_pack uu0.l_count_15_LC_1_9_3 { uu0.l_count_RNO[15], uu0.l_count[15] }
ble_pack uu0.l_count_14_LC_1_9_4 { uu0.vbuf_count_cntrl1.result_1[14], uu0.l_count[14] }
ble_pack uu0.l_count_4_LC_1_9_5 { uu0.l_count_RNO[4], uu0.l_count[4] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_12__un154_ci_9_LC_1_9_6 { uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_16__un198_ci_2_LC_1_9_7 { uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 }
clb_pack LT_1_9 { uu0.l_count_10_LC_1_9_1, uu0.vbuf_count_cntrl1.counter_gen_label_15__un187_ci_1_LC_1_9_2, uu0.l_count_15_LC_1_9_3, uu0.l_count_14_LC_1_9_4, uu0.l_count_4_LC_1_9_5, uu0.vbuf_count_cntrl1.counter_gen_label_12__un154_ci_9_LC_1_9_6, uu0.vbuf_count_cntrl1.counter_gen_label_16__un198_ci_2_LC_1_9_7 }
set_location LT_1_9 1 9
ble_pack uu0.l_count_RNIGTCU_15_LC_1_10_0 { uu0.l_count_RNIGTCU[15] }
ble_pack uu0.l_count_RNI8ORT6_15_LC_1_10_1 { uu0.l_count_RNI8ORT6[15] }
ble_pack uu0.delay_line_RNILLLG7_1_LC_1_10_2 { uu0.delay_line_RNILLLG7[1] }
ble_pack uu0.sec_clkD_LC_1_10_3 { uu0.sec_clkD_THRU_LUT4_0, uu0.sec_clkD }
ble_pack uu0.l_count_RNIRLTJ1_17_LC_1_10_4 { uu0.l_count_RNIRLTJ1[17] }
ble_pack uu0.l_count_RNIOIDD2_18_LC_1_10_5 { uu0.l_count_RNIOIDD2[18] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_8_LC_1_10_7 { uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 }
clb_pack LT_1_10 { uu0.l_count_RNIGTCU_15_LC_1_10_0, uu0.l_count_RNI8ORT6_15_LC_1_10_1, uu0.delay_line_RNILLLG7_1_LC_1_10_2, uu0.sec_clkD_LC_1_10_3, uu0.l_count_RNIRLTJ1_17_LC_1_10_4, uu0.l_count_RNIOIDD2_18_LC_1_10_5, uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_8_LC_1_10_7 }
set_location LT_1_10 1 10
ble_pack uu0.l_count_2_LC_1_11_1 { uu0.vbuf_count_cntrl1.result_1[2], uu0.l_count[2] }
ble_pack uu0.l_count_1_LC_1_11_2 { uu0.vbuf_count_cntrl1.result_1[1], uu0.l_count[1] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_3__un55_ci_LC_1_11_3 { uu0.vbuf_count_cntrl1.counter_gen_label[3].un55_ci }
ble_pack uu0.l_count_0_LC_1_11_4 { uu0.l_count_RNO[0], uu0.l_count[0] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_6_LC_1_11_6 { uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 }
ble_pack uu0.l_count_6_LC_1_11_7 { uu0.l_count_RNO[6], uu0.l_count[6] }
clb_pack LT_1_11 { uu0.l_count_2_LC_1_11_1, uu0.l_count_1_LC_1_11_2, uu0.vbuf_count_cntrl1.counter_gen_label_3__un55_ci_LC_1_11_3, uu0.l_count_0_LC_1_11_4, uu0.vbuf_count_cntrl1.counter_gen_label_10__un132_ci_6_LC_1_11_6, uu0.l_count_6_LC_1_11_7 }
set_location LT_1_11 1 11
ble_pack buart.Z_tx.bitcount_RNI22V22_2_LC_1_12_0 { buart.Z_tx.bitcount_RNI22V22[2] }
ble_pack uu0.l_precount_RNI85Q91_3_LC_1_12_6 { uu0.l_precount_RNI85Q91[3] }
clb_pack LT_1_12 { buart.Z_tx.bitcount_RNI22V22_2_LC_1_12_0, uu0.l_precount_RNI85Q91_3_LC_1_12_6 }
set_location LT_1_12 1 12
ble_pack uu2.r_addr_esr_8_LC_2_4_0 { uu2.vbuf_raddr.result_1[8], uu2.r_addr_esr[8] }
ble_pack uu2.r_addr_esr_3_LC_2_4_4 { uu2.vbuf_raddr.result_1[3], uu2.r_addr_esr[3] }
ble_pack uu2.r_addr_esr_7_LC_2_4_7 { uu2.vbuf_raddr.result_1[7], uu2.r_addr_esr[7] }
clb_pack LT_2_4 { uu2.r_addr_esr_8_LC_2_4_0, uu2.r_addr_esr_3_LC_2_4_4, uu2.r_addr_esr_7_LC_2_4_7 }
set_location LT_2_4 2 4
ble_pack uu2.r_data_reg_0_LC_2_5_0 { uu2.r_data_reg_0_THRU_LUT4_0, uu2.r_data_reg[0] }
ble_pack uu2.r_data_reg_1_LC_2_5_1 { uu2.r_data_reg_1_THRU_LUT4_0, uu2.r_data_reg[1] }
ble_pack uu2.r_data_reg_2_LC_2_5_2 { uu2.r_data_reg_2_THRU_LUT4_0, uu2.r_data_reg[2] }
ble_pack uu2.r_data_reg_3_LC_2_5_3 { uu2.r_data_reg_3_THRU_LUT4_0, uu2.r_data_reg[3] }
ble_pack uu2.r_data_reg_5_LC_2_5_5 { uu2.r_data_reg_5_THRU_LUT4_0, uu2.r_data_reg[5] }
ble_pack uu2.r_data_reg_6_LC_2_5_6 { uu2.r_data_reg_6_THRU_LUT4_0, uu2.r_data_reg[6] }
ble_pack uu2.r_data_reg_7_LC_2_5_7 { uu2.r_data_reg_7_THRU_LUT4_0, uu2.r_data_reg[7] }
clb_pack LT_2_5 { uu2.r_data_reg_0_LC_2_5_0, uu2.r_data_reg_1_LC_2_5_1, uu2.r_data_reg_2_LC_2_5_2, uu2.r_data_reg_3_LC_2_5_3, uu2.r_data_reg_5_LC_2_5_5, uu2.r_data_reg_6_LC_2_5_6, uu2.r_data_reg_7_LC_2_5_7 }
set_location LT_2_5 2 5
ble_pack uu2.vbuf_raddr.counter_gen_label_6__un426_ci_3_LC_2_6_1 { uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 }
ble_pack uu2.vbuf_raddr.counter_gen_label_4__un404_ci_LC_2_6_4 { uu2.vbuf_raddr.counter_gen_label[4].un404_ci }
ble_pack uu2.r_addr_esr_6_LC_2_6_5 { uu2.vbuf_raddr.result_1[6], uu2.r_addr_esr[6] }
ble_pack uu2.vbuf_raddr.counter_gen_label_8__un448_ci_0_LC_2_6_6 { uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 }
ble_pack uu2.w_addr_displaying_nesr_RNI83ID7_8_LC_2_6_7 { uu2.w_addr_displaying_nesr_RNI83ID7[8] }
clb_pack LT_2_6 { uu2.vbuf_raddr.counter_gen_label_6__un426_ci_3_LC_2_6_1, uu2.vbuf_raddr.counter_gen_label_4__un404_ci_LC_2_6_4, uu2.r_addr_esr_6_LC_2_6_5, uu2.vbuf_raddr.counter_gen_label_8__un448_ci_0_LC_2_6_6, uu2.w_addr_displaying_nesr_RNI83ID7_8_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack buart.Z_tx.shifter_6_LC_2_7_0 { buart.Z_tx.shifter_RNO[6], buart.Z_tx.shifter[6] }
ble_pack buart.Z_tx.shifter_7_LC_2_7_1 { buart.Z_tx.shifter_RNO[7], buart.Z_tx.shifter[7] }
ble_pack buart.Z_tx.shifter_8_LC_2_7_2 { buart.Z_tx.shifter_RNO[8], buart.Z_tx.shifter[8] }
ble_pack uu2.vram_rd_clk_det_RNI95711_1_LC_2_7_3 { uu2.vram_rd_clk_det_RNI95711[1] }
ble_pack uu2.w_addr_displaying_RNIMBBL2_7_LC_2_7_4 { uu2.w_addr_displaying_RNIMBBL2[7] }
ble_pack uu0.l_count_RNIFAQ9_13_LC_2_7_5 { uu0.l_count_RNIFAQ9[13] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_13__un165_ci_0_LC_2_7_6 { uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 }
ble_pack uu0.sec_clkD_RNISDHD_LC_2_7_7 { uu0.sec_clkD_RNISDHD }
clb_pack LT_2_7 { buart.Z_tx.shifter_6_LC_2_7_0, buart.Z_tx.shifter_7_LC_2_7_1, buart.Z_tx.shifter_8_LC_2_7_2, uu2.vram_rd_clk_det_RNI95711_1_LC_2_7_3, uu2.w_addr_displaying_RNIMBBL2_7_LC_2_7_4, uu0.l_count_RNIFAQ9_13_LC_2_7_5, uu0.vbuf_count_cntrl1.counter_gen_label_13__un165_ci_0_LC_2_7_6, uu0.sec_clkD_RNISDHD_LC_2_7_7 }
set_location LT_2_7 2 7
ble_pack uu2.r_addr_5_LC_2_8_0 { uu2.r_addr_RNO[5], uu2.r_addr[5] }
ble_pack uu2.r_addr_4_LC_2_8_1 { uu2.r_addr_RNO[4], uu2.r_addr[4] }
ble_pack uu2.trig_rd_det_RNINBDQ_1_LC_2_8_2 { uu2.trig_rd_det_RNINBDQ[1] }
ble_pack uu2.r_addr_0_LC_2_8_3 { uu2.r_addr_RNO[0], uu2.r_addr[0] }
ble_pack Lab_UT.dictrl.alarmstate_ret_1_LC_2_8_4 { Lab_UT.dictrl.alarmstate_ret_1_RNO, Lab_UT.dictrl.alarmstate_ret_1 }
ble_pack Lab_UT.dictrl.alarmstate_ret_2_LC_2_8_5 { Lab_UT.dictrl.alarmstate_ret_2_RNO, Lab_UT.dictrl.alarmstate_ret_2 }
ble_pack uu2.trig_rd_det_0_LC_2_8_6 { uu2.trig_rd_det_RNO[0], uu2.trig_rd_det[0] }
ble_pack uu2.trig_rd_det_1_LC_2_8_7 { uu2.trig_rd_det_1_THRU_LUT4_0, uu2.trig_rd_det[1] }
clb_pack LT_2_8 { uu2.r_addr_5_LC_2_8_0, uu2.r_addr_4_LC_2_8_1, uu2.trig_rd_det_RNINBDQ_1_LC_2_8_2, uu2.r_addr_0_LC_2_8_3, Lab_UT.dictrl.alarmstate_ret_1_LC_2_8_4, Lab_UT.dictrl.alarmstate_ret_2_LC_2_8_5, uu2.trig_rd_det_0_LC_2_8_6, uu2.trig_rd_det_1_LC_2_8_7 }
set_location LT_2_8 2 8
ble_pack uu2.bitmap_111_LC_2_9_0 { uu2.bitmap_111_THRU_LUT4_0, uu2.bitmap[111] }
ble_pack uu2.vram_rd_clk_det_0_LC_2_9_1 { uu2.vram_rd_clk_det_0_THRU_LUT4_0, uu2.vram_rd_clk_det[0] }
ble_pack uu2.vram_rd_clk_det_1_LC_2_9_2 { uu2.vram_rd_clk_det_1_THRU_LUT4_0, uu2.vram_rd_clk_det[1] }
clb_pack LT_2_9 { uu2.bitmap_111_LC_2_9_0, uu2.vram_rd_clk_det_0_LC_2_9_1, uu2.vram_rd_clk_det_1_LC_2_9_2 }
set_location LT_2_9 2 9
ble_pack uu0.l_count_3_LC_2_10_1 { uu0.l_count_RNO[3], uu0.l_count[3] }
ble_pack uu0.l_count_9_LC_2_10_2 { uu0.vbuf_count_cntrl1.result_1[9], uu0.l_count[9] }
ble_pack uu0.l_count_17_LC_2_10_3 { uu0.vbuf_count_cntrl1.result_1[17], uu0.l_count[17] }
ble_pack uu0.l_count_11_LC_2_10_5 { uu0.l_count_RNO[11], uu0.l_count[11] }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_18__un220_ci_LC_2_10_6 { uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci }
ble_pack uu0.l_count_18_LC_2_10_7 { uu0.l_count_RNO[18], uu0.l_count[18] }
clb_pack LT_2_10 { uu0.l_count_3_LC_2_10_1, uu0.l_count_9_LC_2_10_2, uu0.l_count_17_LC_2_10_3, uu0.l_count_11_LC_2_10_5, uu0.vbuf_count_cntrl1.counter_gen_label_18__un220_ci_LC_2_10_6, uu0.l_count_18_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack uu0.delay_line_0_LC_2_11_0 { uu0.delay_line_RNO[0], uu0.delay_line[0] }
ble_pack uu0.l_precount_3_LC_2_11_1 { uu0.vbuf_precount_cntrl1.result_1[3], uu0.l_precount[3] }
ble_pack uu0.l_precount_1_LC_2_11_3 { uu0.vbuf_precount_cntrl1.result_1[1], uu0.l_precount[1] }
ble_pack uu0.l_precount_2_LC_2_11_4 { uu0.vbuf_precount_cntrl1.result_1[2], uu0.l_precount[2] }
ble_pack uu0.l_precount_RNI3Q7K1_2_LC_2_11_5 { uu0.l_precount_RNI3Q7K1[2] }
ble_pack uu0.l_count_RNIO2782_16_LC_2_11_6 { uu0.l_count_RNIO2782[16] }
ble_pack uu0.l_precount_0_LC_2_11_7 { uu0.l_precount_RNO[0], uu0.l_precount[0] }
clb_pack LT_2_11 { uu0.delay_line_0_LC_2_11_0, uu0.l_precount_3_LC_2_11_1, uu0.l_precount_1_LC_2_11_3, uu0.l_precount_2_LC_2_11_4, uu0.l_precount_RNI3Q7K1_2_LC_2_11_5, uu0.l_count_RNIO2782_16_LC_2_11_6, uu0.l_precount_0_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack buart.Z_tx.bitcount_0_LC_2_12_0 { buart.Z_tx.bitcount_RNO[0], buart.Z_tx.bitcount[0] }
clb_pack LT_2_12 { buart.Z_tx.bitcount_0_LC_2_12_0 }
set_location LT_2_12 2 12
ble_pack buart.Z_tx.bitcount_1_LC_2_13_0 { buart.Z_tx.bitcount_RNO[1], buart.Z_tx.bitcount[1] }
ble_pack buart.Z_tx.bitcount_RNO_0_3_LC_2_13_1 { buart.Z_tx.bitcount_RNO_0[3] }
ble_pack buart.Z_tx.bitcount_3_LC_2_13_2 { buart.Z_tx.bitcount_RNO[3], buart.Z_tx.bitcount[3] }
ble_pack buart.Z_tx.bitcount_RNIDCDL_3_LC_2_13_3 { buart.Z_tx.bitcount_RNIDCDL[3] }
ble_pack buart.Z_tx.bitcount_RNIVE1P1_2_LC_2_13_4 { buart.Z_tx.bitcount_RNIVE1P1[2] }
ble_pack buart.Z_tx.bitcount_RNO_0_2_LC_2_13_5 { buart.Z_tx.bitcount_RNO_0[2] }
ble_pack buart.Z_tx.bitcount_2_LC_2_13_6 { buart.Z_tx.bitcount_RNO[2], buart.Z_tx.bitcount[2] }
clb_pack LT_2_13 { buart.Z_tx.bitcount_1_LC_2_13_0, buart.Z_tx.bitcount_RNO_0_3_LC_2_13_1, buart.Z_tx.bitcount_3_LC_2_13_2, buart.Z_tx.bitcount_RNIDCDL_3_LC_2_13_3, buart.Z_tx.bitcount_RNIVE1P1_2_LC_2_13_4, buart.Z_tx.bitcount_RNO_0_2_LC_2_13_5, buart.Z_tx.bitcount_2_LC_2_13_6 }
set_location LT_2_13 2 13
ble_pack Lab_UT.alarmchar_5_LC_4_3_2 { Lab_UT.alarmchar_5_THRU_LUT4_0, Lab_UT.alarmchar[5] }
clb_pack LT_4_3 { Lab_UT.alarmchar_5_LC_4_3_2 }
set_location LT_4_3 4 3
ble_pack uu2.w_addr_user_RNO_0_8_LC_4_4_1 { uu2.w_addr_user_RNO_0[8] }
ble_pack uu2.mem0.ram512X8_inst_RNO_2_LC_4_4_7 { uu2.mem0.ram512X8_inst_RNO_2 }
clb_pack LT_4_4 { uu2.w_addr_user_RNO_0_8_LC_4_4_1, uu2.mem0.ram512X8_inst_RNO_2_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack uu2.mem0.ram512X8_inst_RNO_6_LC_4_5_0 { uu2.mem0.ram512X8_inst_RNO_6 }
ble_pack uu2.mem0.ram512X8_inst_RNO_7_LC_4_5_1 { uu2.mem0.ram512X8_inst_RNO_7 }
ble_pack uu2.w_addr_user_nesr_RNIK9E4_2_LC_4_5_3 { uu2.w_addr_user_nesr_RNIK9E4[2] }
ble_pack uu2.w_addr_user_RNIQ6EA_5_LC_4_5_4 { uu2.w_addr_user_RNIQ6EA[5] }
ble_pack uu2.w_addr_user_8_LC_4_5_5 { uu2.w_addr_user_RNO[8], uu2.w_addr_user[8] }
ble_pack uu2.w_addr_user_RNO_0_5_LC_4_5_6 { uu2.w_addr_user_RNO_0[5] }
ble_pack uu2.w_addr_user_nesr_RNI86V6_2_LC_4_5_7 { uu2.w_addr_user_nesr_RNI86V6[2] }
clb_pack LT_4_5 { uu2.mem0.ram512X8_inst_RNO_6_LC_4_5_0, uu2.mem0.ram512X8_inst_RNO_7_LC_4_5_1, uu2.w_addr_user_nesr_RNIK9E4_2_LC_4_5_3, uu2.w_addr_user_RNIQ6EA_5_LC_4_5_4, uu2.w_addr_user_8_LC_4_5_5, uu2.w_addr_user_RNO_0_5_LC_4_5_6, uu2.w_addr_user_nesr_RNI86V6_2_LC_4_5_7 }
set_location LT_4_5 4 5
ble_pack uu2.w_addr_user_nesr_RNIR7FF7_6_LC_4_6_0 { uu2.w_addr_user_nesr_RNIR7FF7[6] }
ble_pack Lab_UT.alarmchar_6_LC_4_6_1 { Lab_UT.alarmchar_RNO[6], Lab_UT.alarmchar[6] }
ble_pack uu2.mem0.ram512X8_inst_RNO_4_LC_4_6_2 { uu2.mem0.ram512X8_inst_RNO_4 }
ble_pack uu2.w_addr_user_RNI2UTD_1_LC_4_6_3 { uu2.w_addr_user_RNI2UTD[1] }
ble_pack uu2.mem0.ram512X8_inst_RNO_22_LC_4_6_4 { uu2.mem0.ram512X8_inst_RNO_22 }
ble_pack uu2.mem0.ram512X8_inst_RNO_11_LC_4_6_5 { uu2.mem0.ram512X8_inst_RNO_11 }
ble_pack uu2.mem0.ram512X8_inst_RNO_15_LC_4_6_6 { uu2.mem0.ram512X8_inst_RNO_15 }
ble_pack Lab_UT.dispString.rdy_RNIGIDK3_LC_4_6_7 { Lab_UT.dispString.rdy_RNIGIDK3 }
clb_pack LT_4_6 { uu2.w_addr_user_nesr_RNIR7FF7_6_LC_4_6_0, Lab_UT.alarmchar_6_LC_4_6_1, uu2.mem0.ram512X8_inst_RNO_4_LC_4_6_2, uu2.w_addr_user_RNI2UTD_1_LC_4_6_3, uu2.mem0.ram512X8_inst_RNO_22_LC_4_6_4, uu2.mem0.ram512X8_inst_RNO_11_LC_4_6_5, uu2.mem0.ram512X8_inst_RNO_15_LC_4_6_6, Lab_UT.dispString.rdy_RNIGIDK3_LC_4_6_7 }
set_location LT_4_6 4 6
ble_pack uu2.mem0.ram512X8_inst_RNO_3_LC_4_7_1 { uu2.mem0.ram512X8_inst_RNO_3 }
ble_pack uu2.w_addr_user_nesr_RNI0FF3_4_LC_4_7_2 { uu2.w_addr_user_nesr_RNI0FF3[4] }
ble_pack uu2.w_addr_user_nesr_RNINEKD7_6_LC_4_7_4 { uu2.w_addr_user_nesr_RNINEKD7[6] }
ble_pack uu2.w_addr_user_1_LC_4_7_5 { uu2.w_addr_user_RNO[1], uu2.w_addr_user[1] }
ble_pack uu2.w_addr_user_3_LC_4_7_6 { uu2.w_addr_user_RNO[3], uu2.w_addr_user[3] }
ble_pack uu2.w_addr_user_5_LC_4_7_7 { uu2.w_addr_user_RNO[5], uu2.w_addr_user[5] }
clb_pack LT_4_7 { uu2.mem0.ram512X8_inst_RNO_3_LC_4_7_1, uu2.w_addr_user_nesr_RNI0FF3_4_LC_4_7_2, uu2.w_addr_user_nesr_RNINEKD7_6_LC_4_7_4, uu2.w_addr_user_1_LC_4_7_5, uu2.w_addr_user_3_LC_4_7_6, uu2.w_addr_user_5_LC_4_7_7 }
set_location LT_4_7 4 7
ble_pack uu2.un28_w_addr_user_i_0_a2_0_LC_4_8_0 { uu2.un28_w_addr_user_i_0_a2_0 }
ble_pack uu2.un28_w_addr_user_i_0_o4_LC_4_8_1 { uu2.un28_w_addr_user_i_0_o4 }
ble_pack Lab_UT.dispString.dOut_4_LC_4_8_2 { Lab_UT.bcd2segment1.m71, Lab_UT.dispString.dOut[4] }
ble_pack Lab_UT.dictrl.alarmstate_ret_RNI8PIF_LC_4_8_3 { Lab_UT.dictrl.alarmstate_ret_RNI8PIF }
ble_pack resetGen.reset_count_RNO_0_4_LC_4_8_4 { resetGen.reset_count_RNO_0[4] }
ble_pack resetGen.reset_count_4_LC_4_8_5 { resetGen.reset_count_RNO[4], resetGen.reset_count[4] }
ble_pack Lab_UT.alarmchar_4_LC_4_8_6 { Lab_UT.alarmchar_4_THRU_LUT4_0, Lab_UT.alarmchar[4] }
ble_pack Lab_UT.dictrl.alarmstate_ret_3_LC_4_8_7 { Lab_UT.dictrl.alarmstate_ret_3_RNO, Lab_UT.dictrl.alarmstate_ret_3 }
clb_pack LT_4_8 { uu2.un28_w_addr_user_i_0_a2_0_LC_4_8_0, uu2.un28_w_addr_user_i_0_o4_LC_4_8_1, Lab_UT.dispString.dOut_4_LC_4_8_2, Lab_UT.dictrl.alarmstate_ret_RNI8PIF_LC_4_8_3, resetGen.reset_count_RNO_0_4_LC_4_8_4, resetGen.reset_count_4_LC_4_8_5, Lab_UT.alarmchar_4_LC_4_8_6, Lab_UT.dictrl.alarmstate_ret_3_LC_4_8_7 }
set_location LT_4_8 4 8
ble_pack resetGen.reset_count_1_LC_4_9_0 { resetGen.reset_count_RNO[1], resetGen.reset_count[1] }
ble_pack resetGen.uu0.counter_gen_label_3__un252_ci_LC_4_9_1 { resetGen.uu0.counter_gen_label[3].un252_ci }
ble_pack resetGen.reset_count_3_LC_4_9_2 { resetGen.reset_count_RNO[3], resetGen.reset_count[3] }
ble_pack resetGen.uu0.counter_gen_label_2__un241_ci_LC_4_9_3 { resetGen.uu0.counter_gen_label[2].un241_ci }
ble_pack resetGen.reset_count_2_LC_4_9_4 { resetGen.reset_count_RNO[2], resetGen.reset_count[2] }
ble_pack resetGen.reset_count_0_LC_4_9_5 { resetGen.reset_count_RNO[0], resetGen.reset_count[0] }
ble_pack uu2.r_data_rdy_LC_4_9_6 { uu2.r_data_rdy_RNO, uu2.r_data_rdy }
ble_pack uu0.vbuf_count_cntrl1.counter_gen_label_11__un143_ci_0_LC_4_9_7 { uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 }
clb_pack LT_4_9 { resetGen.reset_count_1_LC_4_9_0, resetGen.uu0.counter_gen_label_3__un252_ci_LC_4_9_1, resetGen.reset_count_3_LC_4_9_2, resetGen.uu0.counter_gen_label_2__un241_ci_LC_4_9_3, resetGen.reset_count_2_LC_4_9_4, resetGen.reset_count_0_LC_4_9_5, uu2.r_data_rdy_LC_4_9_6, uu0.vbuf_count_cntrl1.counter_gen_label_11__un143_ci_0_LC_4_9_7 }
set_location LT_4_9 4 9
ble_pack uu2.l_count_1_LC_4_10_1 { uu2.vbuf_count.result_1[1], uu2.l_count[1] }
ble_pack uu2.l_count_0_LC_4_10_2 { uu2.l_count_RNO[0], uu2.l_count[0] }
ble_pack uu2.l_count_7_LC_4_10_5 { uu2.vbuf_count.result_1[7], uu2.l_count[7] }
ble_pack uu2.vbuf_count.counter_gen_label_8__un350_ci_LC_4_10_6 { uu2.vbuf_count.counter_gen_label[8].un350_ci }
clb_pack LT_4_10 { uu2.l_count_1_LC_4_10_1, uu2.l_count_0_LC_4_10_2, uu2.l_count_7_LC_4_10_5, uu2.vbuf_count.counter_gen_label_8__un350_ci_LC_4_10_6 }
set_location LT_4_10 4 10
ble_pack uu2.l_count_RNIBCGK1_0_9_LC_4_11_1 { uu2.l_count_RNIBCGK1_0[9] }
ble_pack uu2.l_count_RNI9S834_0_1_LC_4_11_2 { uu2.l_count_RNI9S834_0[1] }
ble_pack uu2.l_count_RNIBCGK1_9_LC_4_11_3 { uu2.l_count_RNIBCGK1[9] }
ble_pack uu2.l_count_RNI9S834_1_LC_4_11_4 { uu2.l_count_RNI9S834[1] }
ble_pack uu2.l_count_4_LC_4_11_5 { uu2.l_count_RNO[4], uu2.l_count[4] }
ble_pack uu2.l_count_9_LC_4_11_7 { uu2.l_count_RNO[9], uu2.l_count[9] }
clb_pack LT_4_11 { uu2.l_count_RNIBCGK1_0_9_LC_4_11_1, uu2.l_count_RNI9S834_0_1_LC_4_11_2, uu2.l_count_RNIBCGK1_9_LC_4_11_3, uu2.l_count_RNI9S834_1_LC_4_11_4, uu2.l_count_4_LC_4_11_5, uu2.l_count_9_LC_4_11_7 }
set_location LT_4_11 4 11
ble_pack buart.Z_tx.Z_baudgen.counter_0_LC_4_12_0 { buart.Z_tx.Z_baudgen.counter_RNO[0], buart.Z_tx.Z_baudgen.counter[0] }
ble_pack uu2.vbuf_count.counter_gen_label_2__un284_ci_LC_4_12_1 { uu2.vbuf_count.counter_gen_label[2].un284_ci }
ble_pack uu2.l_count_RNIFGGK1_3_LC_4_12_2 { uu2.l_count_RNIFGGK1[3] }
ble_pack buart.Z_tx.Z_baudgen.counter_1_LC_4_12_3 { buart.Z_tx.Z_baudgen.counter_RNO[1], buart.Z_tx.Z_baudgen.counter[1] }
ble_pack uu2.vbuf_count.counter_gen_label_4__un306_ci_LC_4_12_7 { uu2.vbuf_count.counter_gen_label[4].un306_ci }
clb_pack LT_4_12 { buart.Z_tx.Z_baudgen.counter_0_LC_4_12_0, uu2.vbuf_count.counter_gen_label_2__un284_ci_LC_4_12_1, uu2.l_count_RNIFGGK1_3_LC_4_12_2, buart.Z_tx.Z_baudgen.counter_1_LC_4_12_3, uu2.vbuf_count.counter_gen_label_4__un306_ci_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_4_13_0 { buart.Z_tx.Z_baudgen.un2_counter_cry_1_c }
ble_pack buart.Z_tx.Z_baudgen.counter_2_LC_4_13_1 { buart.Z_tx.Z_baudgen.counter_RNO[2], buart.Z_tx.Z_baudgen.counter[2], buart.Z_tx.Z_baudgen.un2_counter_cry_2_c }
ble_pack buart.Z_tx.Z_baudgen.counter_3_LC_4_13_2 { buart.Z_tx.Z_baudgen.counter_RNO[3], buart.Z_tx.Z_baudgen.counter[3], buart.Z_tx.Z_baudgen.un2_counter_cry_3_c }
ble_pack buart.Z_tx.Z_baudgen.counter_4_LC_4_13_3 { buart.Z_tx.Z_baudgen.counter_RNO[4], buart.Z_tx.Z_baudgen.counter[4], buart.Z_tx.Z_baudgen.un2_counter_cry_4_c }
ble_pack buart.Z_tx.Z_baudgen.counter_5_LC_4_13_4 { buart.Z_tx.Z_baudgen.counter_RNO[5], buart.Z_tx.Z_baudgen.counter[5], buart.Z_tx.Z_baudgen.un2_counter_cry_5_c }
ble_pack buart.Z_tx.Z_baudgen.counter_6_LC_4_13_5 { buart.Z_tx.Z_baudgen.counter_RNO[6], buart.Z_tx.Z_baudgen.counter[6] }
ble_pack buart.Z_tx.Z_baudgen.counter_RNIHV38_6_LC_4_13_6 { buart.Z_tx.Z_baudgen.counter_RNIHV38[6] }
ble_pack buart.Z_tx.Z_baudgen.counter_RNI5M6E_1_LC_4_13_7 { buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] }
clb_pack LT_4_13 { buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_4_13_0, buart.Z_tx.Z_baudgen.counter_2_LC_4_13_1, buart.Z_tx.Z_baudgen.counter_3_LC_4_13_2, buart.Z_tx.Z_baudgen.counter_4_LC_4_13_3, buart.Z_tx.Z_baudgen.counter_5_LC_4_13_4, buart.Z_tx.Z_baudgen.counter_6_LC_4_13_5, buart.Z_tx.Z_baudgen.counter_RNIHV38_6_LC_4_13_6, buart.Z_tx.Z_baudgen.counter_RNI5M6E_1_LC_4_13_7 }
set_location LT_4_13 4 13
ble_pack Lab_UT.dispString.cnt_1_LC_5_4_2 { Lab_UT.bcd2segment1.m27, Lab_UT.dispString.cnt[1] }
clb_pack LT_5_4 { Lab_UT.dispString.cnt_1_LC_5_4_2 }
set_location LT_5_4 5 4
ble_pack uu2.w_addr_user_nesr_0_LC_5_5_0 { uu2.w_addr_user_nesr_RNO[0], uu2.w_addr_user_nesr[0] }
ble_pack uu2.w_addr_user_nesr_2_LC_5_5_1 { uu2.w_addr_user_nesr_RNO[2], uu2.w_addr_user_nesr[2] }
ble_pack uu2.w_addr_user_nesr_6_LC_5_5_2 { uu2.w_addr_user_nesr_RNO[6], uu2.w_addr_user_nesr[6] }
ble_pack uu2.w_addr_user_nesr_7_LC_5_5_3 { uu2.w_addr_user_nesr_RNO[7], uu2.w_addr_user_nesr[7] }
ble_pack uu2.w_addr_user_nesr_4_LC_5_5_4 { uu2.w_addr_user_nesr_RNO[4], uu2.w_addr_user_nesr[4] }
clb_pack LT_5_5 { uu2.w_addr_user_nesr_0_LC_5_5_0, uu2.w_addr_user_nesr_2_LC_5_5_1, uu2.w_addr_user_nesr_6_LC_5_5_2, uu2.w_addr_user_nesr_7_LC_5_5_3, uu2.w_addr_user_nesr_4_LC_5_5_4 }
set_location LT_5_5 5 5
ble_pack uu2.mem0.ram512X8_inst_RNO_12_LC_5_6_0 { uu2.mem0.ram512X8_inst_RNO_12 }
ble_pack uu2.w_addr_displaying_RNIARVM2_0_LC_5_6_1 { uu2.w_addr_displaying_RNIARVM2[0] }
ble_pack uu2.w_addr_displaying_nesr_RNIBTS94_8_LC_5_6_2 { uu2.w_addr_displaying_nesr_RNIBTS94[8] }
ble_pack uu2.mem0.ram512X8_inst_RNO_8_LC_5_6_3 { uu2.mem0.ram512X8_inst_RNO_8 }
ble_pack uu2.w_addr_displaying_nesr_RNIREPN6_8_LC_5_6_4 { uu2.w_addr_displaying_nesr_RNIREPN6[8] }
ble_pack uu2.w_addr_displaying_0_LC_5_6_5 { uu2.w_addr_displaying_RNO[0], uu2.w_addr_displaying[0] }
ble_pack uu2.w_addr_displaying_fast_1_LC_5_6_6 { uu2.w_addr_displaying_fast_RNO[1], uu2.w_addr_displaying_fast[1] }
ble_pack uu2.w_addr_displaying_0_rep1_LC_5_6_7 { uu2.w_addr_displaying_0_rep1_RNO, uu2.w_addr_displaying_0_rep1 }
clb_pack LT_5_6 { uu2.mem0.ram512X8_inst_RNO_12_LC_5_6_0, uu2.w_addr_displaying_RNIARVM2_0_LC_5_6_1, uu2.w_addr_displaying_nesr_RNIBTS94_8_LC_5_6_2, uu2.mem0.ram512X8_inst_RNO_8_LC_5_6_3, uu2.w_addr_displaying_nesr_RNIREPN6_8_LC_5_6_4, uu2.w_addr_displaying_0_LC_5_6_5, uu2.w_addr_displaying_fast_1_LC_5_6_6, uu2.w_addr_displaying_0_rep1_LC_5_6_7 }
set_location LT_5_6 5 6
ble_pack Lab_UT.bcd2segment1.m68_bm_LC_5_7_0 { Lab_UT.bcd2segment1.m68_bm }
ble_pack Lab_UT.dispString.dOut_5_LC_5_7_1 { Lab_UT.bcd2segment1.m46, Lab_UT.dispString.dOut[5] }
ble_pack uu2.mem0.ram512X8_inst_RNO_30_LC_5_7_2 { uu2.mem0.ram512X8_inst_RNO_30 }
ble_pack uu2.w_addr_displaying_RNIDKOL_1_LC_5_7_3 { uu2.w_addr_displaying_RNIDKOL[1] }
ble_pack uu2.mem0.ram512X8_inst_RNO_32_LC_5_7_4 { uu2.mem0.ram512X8_inst_RNO_32 }
ble_pack uu2.mem0.ram512X8_inst_RNO_18_LC_5_7_5 { uu2.mem0.ram512X8_inst_RNO_18 }
ble_pack Lab_UT.dispString.dOut_6_LC_5_7_6 { Lab_UT.dispString.dOut_RNO[6], Lab_UT.dispString.dOut[6] }
ble_pack Lab_UT.dispString.dOut_0_LC_5_7_7 { Lab_UT.bcd2segment1.N_172_i, Lab_UT.dispString.dOut[0] }
clb_pack LT_5_7 { Lab_UT.bcd2segment1.m68_bm_LC_5_7_0, Lab_UT.dispString.dOut_5_LC_5_7_1, uu2.mem0.ram512X8_inst_RNO_30_LC_5_7_2, uu2.w_addr_displaying_RNIDKOL_1_LC_5_7_3, uu2.mem0.ram512X8_inst_RNO_32_LC_5_7_4, uu2.mem0.ram512X8_inst_RNO_18_LC_5_7_5, Lab_UT.dispString.dOut_6_LC_5_7_6, Lab_UT.dispString.dOut_0_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack Lab_UT.dispString.rdy_LC_5_8_0 { Lab_UT.dispString.rdy_THRU_LUT4_0, Lab_UT.dispString.rdy }
ble_pack Lab_UT.dispString.dOut_2_LC_5_8_1 { Lab_UT.bcd2segment1.N_178_i, Lab_UT.dispString.dOut[2] }
ble_pack uu2.un28_w_addr_user_i_0_a2_4_LC_5_8_2 { uu2.un28_w_addr_user_i_0_a2_4 }
ble_pack Lab_UT.dispString.dOut_3_LC_5_8_3 { Lab_UT.bcd2segment1.N_165_i, Lab_UT.dispString.dOut[3] }
ble_pack uu2.mem0.ram512X8_inst_RNO_47_LC_5_8_4 { uu2.mem0.ram512X8_inst_RNO_47 }
ble_pack uu2.w_data_i_o2_4_0_LC_5_8_5 { uu2.w_data_i_o2_4[0] }
ble_pack uu2.w_data_i_o2_0_LC_5_8_6 { uu2.w_data_i_o2[0] }
ble_pack uu2.w_data_i_0_tz_0_LC_5_8_7 { uu2.w_data_i_0_tz[0] }
clb_pack LT_5_8 { Lab_UT.dispString.rdy_LC_5_8_0, Lab_UT.dispString.dOut_2_LC_5_8_1, uu2.un28_w_addr_user_i_0_a2_4_LC_5_8_2, Lab_UT.dispString.dOut_3_LC_5_8_3, uu2.mem0.ram512X8_inst_RNO_47_LC_5_8_4, uu2.w_data_i_o2_4_0_LC_5_8_5, uu2.w_data_i_o2_0_LC_5_8_6, uu2.w_data_i_0_tz_0_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack Lab_UT.bcd2segment1.m59_bm_LC_5_9_0 { Lab_UT.bcd2segment1.m59_bm }
ble_pack Lab_UT.bcd2segment1.m52_am_LC_5_9_1 { Lab_UT.bcd2segment1.m52_am }
ble_pack Lab_UT.alarmchar_0_LC_5_9_2 { Lab_UT.dictrl.alarmstate_0_RNIL6V9_0_Lab_UT.alarmchar_0_REP_LUT4_0, Lab_UT.alarmchar[0] }
ble_pack Lab_UT.dictrl.state_ret_4_LC_5_9_3 { Lab_UT.dictrl.state_ret_4_RNO, Lab_UT.dictrl.state_ret_4 }
ble_pack Lab_UT.dictrl.next_alarmstate_RNIA99N6_0_LC_5_9_4 { Lab_UT.dictrl.next_alarmstate_RNIA99N6[0] }
ble_pack Lab_UT.dictrl.next_alarmstate_RNI4S8S6_0_LC_5_9_5 { Lab_UT.dictrl.next_alarmstate_RNI4S8S6[0] }
ble_pack Lab_UT.dictrl.next_alarmstate_1_1_0__G_74_LC_5_9_6 { Lab_UT.dictrl.next_alarmstate_1_1_0_.G_74 }
ble_pack Lab_UT.bcd2segment1.m59_am_LC_5_9_7 { Lab_UT.bcd2segment1.m59_am }
clb_pack LT_5_9 { Lab_UT.bcd2segment1.m59_bm_LC_5_9_0, Lab_UT.bcd2segment1.m52_am_LC_5_9_1, Lab_UT.alarmchar_0_LC_5_9_2, Lab_UT.dictrl.state_ret_4_LC_5_9_3, Lab_UT.dictrl.next_alarmstate_RNIA99N6_0_LC_5_9_4, Lab_UT.dictrl.next_alarmstate_RNI4S8S6_0_LC_5_9_5, Lab_UT.dictrl.next_alarmstate_1_1_0__G_74_LC_5_9_6, Lab_UT.bcd2segment1.m59_am_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack Lab_UT.dictrl.alarmstate_0_1_LC_5_10_0 { Lab_UT.dictrl.next_alarmstate_RNIA99N6_0_Lab_UT.dictrl.alarmstate_0_1_REP_LUT4_0, Lab_UT.dictrl.alarmstate_0[1] }
ble_pack Lab_UT.dictrl.alarmstate_0_0_LC_5_10_1 { Lab_UT.dictrl.next_alarmstate_RNI4S8S6_0_Lab_UT.dictrl.alarmstate_0_0_REP_LUT4_0, Lab_UT.dictrl.alarmstate_0[0] }
ble_pack Lab_UT.dictrl.alarmstate_ret_LC_5_10_2 { Lab_UT.dictrl.alarmstate_ret_RNO, Lab_UT.dictrl.alarmstate_ret }
ble_pack Lab_UT.dispString.cnt_3_LC_5_10_3 { Lab_UT.bcd2segment1.m23, Lab_UT.dispString.cnt[3] }
ble_pack Lab_UT.dispString.cnt_0_LC_5_10_4 { Lab_UT.bcd2segment1.m30, Lab_UT.dispString.cnt[0] }
ble_pack Lab_UT.dispString.cnt_2_LC_5_10_5 { Lab_UT.bcd2segment1.m26, Lab_UT.dispString.cnt[2] }
ble_pack Lab_UT.bcd2segment1.m8_LC_5_10_7 { Lab_UT.bcd2segment1.m8 }
clb_pack LT_5_10 { Lab_UT.dictrl.alarmstate_0_1_LC_5_10_0, Lab_UT.dictrl.alarmstate_0_0_LC_5_10_1, Lab_UT.dictrl.alarmstate_ret_LC_5_10_2, Lab_UT.dispString.cnt_3_LC_5_10_3, Lab_UT.dispString.cnt_0_LC_5_10_4, Lab_UT.dispString.cnt_2_LC_5_10_5, Lab_UT.bcd2segment1.m8_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack uu2.l_count_5_LC_5_11_0 { uu2.vbuf_count.result_1[5], uu2.l_count[5] }
ble_pack uu2.l_count_6_LC_5_11_1 { uu2.vbuf_count.result_1[6], uu2.l_count[6] }
ble_pack Lab_UT.dictrl.state_ret_2_LC_5_11_2 { Lab_UT.dictrl.state_ret_4_RNIR8QUG_Lab_UT.dictrl.state_ret_2_REP_LUT4_0, Lab_UT.dictrl.state_ret_2 }
ble_pack uu0.sec_clk_LC_5_11_3 { uu0.sec_clk_RNO, uu0.sec_clk }
ble_pack uu2.vram_rd_clk_LC_5_11_4 { uu2.vram_rd_clk_RNO, uu2.vram_rd_clk }
ble_pack uu2.l_count_3_LC_5_11_6 { uu2.l_count_RNO[3], uu2.l_count[3] }
ble_pack uu0.delay_line_1_LC_5_11_7 { uu0.delay_line_1_THRU_LUT4_0, uu0.delay_line[1] }
clb_pack LT_5_11 { uu2.l_count_5_LC_5_11_0, uu2.l_count_6_LC_5_11_1, Lab_UT.dictrl.state_ret_2_LC_5_11_2, uu0.sec_clk_LC_5_11_3, uu2.vram_rd_clk_LC_5_11_4, uu2.l_count_3_LC_5_11_6, uu0.delay_line_1_LC_5_11_7 }
set_location LT_5_11 5 11
ble_pack uu2.l_count_2_LC_5_12_1 { uu2.vbuf_count.result_1[2], uu2.l_count[2] }
ble_pack buart.Z_rx.hh_0_LC_5_12_3 { buart.Z_rx.hh_0_THRU_LUT4_0, buart.Z_rx.hh[0] }
ble_pack uu2.l_count_8_LC_5_12_7 { uu2.vbuf_count.result_1[8], uu2.l_count[8] }
clb_pack LT_5_12 { uu2.l_count_2_LC_5_12_1, buart.Z_rx.hh_0_LC_5_12_3, uu2.l_count_8_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack Lab_UT.dictrl.next_alarmstate_0_LC_5_13_0 { Lab_UT.dictrl.next_alarmstate_0_THRU_LUT4_0, Lab_UT.dictrl.next_alarmstate[0] }
clb_pack LT_5_13 { Lab_UT.dictrl.next_alarmstate_0_LC_5_13_0 }
set_location LT_5_13 5 13
ble_pack buart.Z_rx.hh_1_LC_5_14_5 { buart.Z_rx.hh_1_THRU_LUT4_0, buart.Z_rx.hh[1] }
clb_pack LT_5_14 { buart.Z_rx.hh_1_LC_5_14_5 }
set_location LT_5_14 5 14
ble_pack Lab_UT.bcd2segment1.m89_LC_6_4_1 { Lab_UT.bcd2segment1.m89 }
ble_pack uu2.bitmap_93_LC_6_4_2 { Lab_UT.bcd2segment1.m90, uu2.bitmap[93] }
ble_pack Lab_UT.bcd2segment1.m92_LC_6_4_3 { Lab_UT.bcd2segment1.m92 }
ble_pack uu2.bitmap_221_LC_6_4_4 { Lab_UT.bcd2segment1.m93, uu2.bitmap[221] }
ble_pack uu2.mem0.ram512X8_inst_RNO_78_LC_6_4_5 { uu2.mem0.ram512X8_inst_RNO_78 }
ble_pack uu2.mem0.ram512X8_inst_RNO_83_LC_6_4_6 { uu2.mem0.ram512X8_inst_RNO_83 }
ble_pack uu2.mem0.ram512X8_inst_RNO_59_LC_6_4_7 { uu2.mem0.ram512X8_inst_RNO_59 }
clb_pack LT_6_4 { Lab_UT.bcd2segment1.m89_LC_6_4_1, uu2.bitmap_93_LC_6_4_2, Lab_UT.bcd2segment1.m92_LC_6_4_3, uu2.bitmap_221_LC_6_4_4, uu2.mem0.ram512X8_inst_RNO_78_LC_6_4_5, uu2.mem0.ram512X8_inst_RNO_83_LC_6_4_6, uu2.mem0.ram512X8_inst_RNO_59_LC_6_4_7 }
set_location LT_6_4 6 4
ble_pack uu2.mem0.ram512X8_inst_RNO_1_LC_6_5_0 { uu2.mem0.ram512X8_inst_RNO_1 }
ble_pack uu2.mem0.ram512X8_inst_RNO_23_LC_6_5_2 { uu2.mem0.ram512X8_inst_RNO_23 }
ble_pack uu2.mem0.ram512X8_inst_RNO_14_LC_6_5_3 { uu2.mem0.ram512X8_inst_RNO_14 }
ble_pack uu2.mem0.ram512X8_inst_RNO_33_LC_6_5_4 { uu2.mem0.ram512X8_inst_RNO_33 }
ble_pack uu2.mem0.ram512X8_inst_RNO_19_LC_6_5_5 { uu2.mem0.ram512X8_inst_RNO_19 }
ble_pack uu2.mem0.ram512X8_inst_RNO_5_LC_6_5_7 { uu2.mem0.ram512X8_inst_RNO_5 }
clb_pack LT_6_5 { uu2.mem0.ram512X8_inst_RNO_1_LC_6_5_0, uu2.mem0.ram512X8_inst_RNO_23_LC_6_5_2, uu2.mem0.ram512X8_inst_RNO_14_LC_6_5_3, uu2.mem0.ram512X8_inst_RNO_33_LC_6_5_4, uu2.mem0.ram512X8_inst_RNO_19_LC_6_5_5, uu2.mem0.ram512X8_inst_RNO_5_LC_6_5_7 }
set_location LT_6_5 6 5
ble_pack uu2.mem0.ram512X8_inst_RNO_50_LC_6_6_0 { uu2.mem0.ram512X8_inst_RNO_50 }
ble_pack uu2.mem0.ram512X8_inst_RNO_55_LC_6_6_1 { uu2.mem0.ram512X8_inst_RNO_55 }
ble_pack uu2.mem0.ram512X8_inst_RNO_66_LC_6_6_2 { uu2.mem0.ram512X8_inst_RNO_66 }
ble_pack uu2.mem0.ram512X8_inst_RNO_87_LC_6_6_3 { uu2.mem0.ram512X8_inst_RNO_87 }
ble_pack uu2.mem0.ram512X8_inst_RNO_62_LC_6_6_4 { uu2.mem0.ram512X8_inst_RNO_62 }
ble_pack uu2.mem0.ram512X8_inst_RNO_91_LC_6_6_5 { uu2.mem0.ram512X8_inst_RNO_91 }
ble_pack uu2.mem0.ram512X8_inst_RNO_85_LC_6_6_6 { uu2.mem0.ram512X8_inst_RNO_85 }
ble_pack uu2.mem0.ram512X8_inst_RNO_64_LC_6_6_7 { uu2.mem0.ram512X8_inst_RNO_64 }
clb_pack LT_6_6 { uu2.mem0.ram512X8_inst_RNO_50_LC_6_6_0, uu2.mem0.ram512X8_inst_RNO_55_LC_6_6_1, uu2.mem0.ram512X8_inst_RNO_66_LC_6_6_2, uu2.mem0.ram512X8_inst_RNO_87_LC_6_6_3, uu2.mem0.ram512X8_inst_RNO_62_LC_6_6_4, uu2.mem0.ram512X8_inst_RNO_91_LC_6_6_5, uu2.mem0.ram512X8_inst_RNO_85_LC_6_6_6, uu2.mem0.ram512X8_inst_RNO_64_LC_6_6_7 }
set_location LT_6_6 6 6
ble_pack uu2.mem0.ram512X8_inst_RNO_77_LC_6_7_0 { uu2.mem0.ram512X8_inst_RNO_77 }
ble_pack uu2.w_addr_displaying_fast_RNI64LA_1_LC_6_7_2 { uu2.w_addr_displaying_fast_RNI64LA[1] }
ble_pack Lab_UT.bcd2segment1.m62_LC_6_7_3 { Lab_UT.bcd2segment1.m62 }
ble_pack Lab_UT.bcd2segment1.m68_am_LC_6_7_4 { Lab_UT.bcd2segment1.m68_am }
ble_pack uu2.w_addr_displaying_nesr_RNIV7KP6_8_LC_6_7_5 { uu2.w_addr_displaying_nesr_RNIV7KP6[8] }
ble_pack uu2.mem0.ram512X8_inst_RNO_39_LC_6_7_6 { uu2.mem0.ram512X8_inst_RNO_39 }
ble_pack resetGen.rst_LC_6_7_7 { resetGen.rst_RNO, resetGen.rst }
clb_pack LT_6_7 { uu2.mem0.ram512X8_inst_RNO_77_LC_6_7_0, uu2.w_addr_displaying_fast_RNI64LA_1_LC_6_7_2, Lab_UT.bcd2segment1.m62_LC_6_7_3, Lab_UT.bcd2segment1.m68_am_LC_6_7_4, uu2.w_addr_displaying_nesr_RNIV7KP6_8_LC_6_7_5, uu2.mem0.ram512X8_inst_RNO_39_LC_6_7_6, resetGen.rst_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack uu2.mem0.ram512X8_inst_RNO_0_LC_6_8_0 { uu2.mem0.ram512X8_inst_RNO_0 }
ble_pack uu2.vram_wr_en_0_i_LC_6_8_1 { uu2.vram_wr_en_0_i }
ble_pack uu2.mem0.ram512X8_inst_RNO_36_LC_6_8_3 { uu2.mem0.ram512X8_inst_RNO_36 }
ble_pack uu2.mem0.ram512X8_inst_RNO_20_LC_6_8_4 { uu2.mem0.ram512X8_inst_RNO_20 }
ble_pack uu2.mem0.ram512X8_inst_RNO_35_LC_6_8_5 { uu2.mem0.ram512X8_inst_RNO_35 }
ble_pack uu2.mem0.ram512X8_inst_RNO_37_LC_6_8_6 { uu2.mem0.ram512X8_inst_RNO_37 }
ble_pack uu2.w_addr_displaying_nesr_3_LC_6_8_7 { uu2.w_addr_displaying_nesr_RNO[3], uu2.w_addr_displaying_nesr[3] }
clb_pack LT_6_8 { uu2.mem0.ram512X8_inst_RNO_0_LC_6_8_0, uu2.vram_wr_en_0_i_LC_6_8_1, uu2.mem0.ram512X8_inst_RNO_36_LC_6_8_3, uu2.mem0.ram512X8_inst_RNO_20_LC_6_8_4, uu2.mem0.ram512X8_inst_RNO_35_LC_6_8_5, uu2.mem0.ram512X8_inst_RNO_37_LC_6_8_6, uu2.w_addr_displaying_nesr_3_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack Lab_UT.dictrl.alarmstate_0_RNIL6V9_0_LC_6_9_0 { Lab_UT.dictrl.alarmstate_0_RNIL6V9[0] }
ble_pack Lab_UT.alarmchar_2_LC_6_9_1 { Lab_UT.dictrl.alarmstate_0_RNIL6V9_0[0], Lab_UT.alarmchar[2] }
ble_pack Lab_UT.bcd2segment1.m47_LC_6_9_2 { Lab_UT.bcd2segment1.m47 }
ble_pack Lab_UT.bcd2segment1.m36_LC_6_9_4 { Lab_UT.bcd2segment1.m36 }
ble_pack Lab_UT.bcd2segment1.m42_am_LC_6_9_5 { Lab_UT.bcd2segment1.m42_am }
ble_pack Lab_UT.dispString.dOut_1_LC_6_9_6 { Lab_UT.bcd2segment1.m42_ns, Lab_UT.dispString.dOut[1] }
ble_pack Lab_UT.bcd2segment1.m52_bm_LC_6_9_7 { Lab_UT.bcd2segment1.m52_bm }
clb_pack LT_6_9 { Lab_UT.dictrl.alarmstate_0_RNIL6V9_0_LC_6_9_0, Lab_UT.alarmchar_2_LC_6_9_1, Lab_UT.bcd2segment1.m47_LC_6_9_2, Lab_UT.bcd2segment1.m36_LC_6_9_4, Lab_UT.bcd2segment1.m42_am_LC_6_9_5, Lab_UT.dispString.dOut_1_LC_6_9_6, Lab_UT.bcd2segment1.m52_bm_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack Lab_UT.bcd2segment1.m47_0_LC_6_10_0 { Lab_UT.bcd2segment1.m47_0 }
ble_pack Lab_UT.bcd2segment1.m41_0_LC_6_10_1 { Lab_UT.bcd2segment1.m41_0 }
ble_pack Lab_UT.dictrl.alarmstate_ret_RNI8PIF_0_LC_6_10_2 { Lab_UT.dictrl.alarmstate_ret_RNI8PIF_0 }
ble_pack Lab_UT.dictrl.next_alarmstate_1_1_0__m4_LC_6_10_3 { Lab_UT.dictrl.next_alarmstate_1_1_0_.m4 }
ble_pack Lab_UT.alarmchar_1_LC_6_10_4 { Lab_UT.dictrl.alarmstate_ret_RNI8PIF_Lab_UT.alarmchar_1_REP_LUT4_0, Lab_UT.alarmchar[1] }
ble_pack Lab_UT.bcd2segment1.m49_0_LC_6_10_5 { Lab_UT.bcd2segment1.m49_0 }
ble_pack Lab_UT.bcd2segment1.m54_0_LC_6_10_6 { Lab_UT.bcd2segment1.m54_0 }
ble_pack Lab_UT.dictrl.alarmstate_ret_RNI6ASS3_LC_6_10_7 { Lab_UT.dictrl.alarmstate_ret_RNI6ASS3 }
clb_pack LT_6_10 { Lab_UT.bcd2segment1.m47_0_LC_6_10_0, Lab_UT.bcd2segment1.m41_0_LC_6_10_1, Lab_UT.dictrl.alarmstate_ret_RNI8PIF_0_LC_6_10_2, Lab_UT.dictrl.next_alarmstate_1_1_0__m4_LC_6_10_3, Lab_UT.alarmchar_1_LC_6_10_4, Lab_UT.bcd2segment1.m49_0_LC_6_10_5, Lab_UT.bcd2segment1.m54_0_LC_6_10_6, Lab_UT.dictrl.alarmstate_ret_RNI6ASS3_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack buart.Z_rx.Z_baudgen.counter_1_LC_6_11_0 { buart.Z_rx.Z_baudgen.counter_RNO[1], buart.Z_rx.Z_baudgen.counter[1] }
ble_pack uu2.vbuf_count.counter_gen_label_6__un328_ci_3_LC_6_11_1 { uu2.vbuf_count.counter_gen_label[6].un328_ci_3 }
ble_pack Lab_UT.bcd2segment1.m60_0_LC_6_11_2 { Lab_UT.bcd2segment1.m60_0 }
ble_pack Lab_UT.didp.countrce4.q_1_LC_6_11_3 { Lab_UT.didp.countrce4.q_RNO[1], Lab_UT.didp.countrce4.q[1] }
ble_pack buart.Z_rx.Z_baudgen.counter_0_LC_6_11_6 { buart.Z_rx.Z_baudgen.counter_RNO[0], buart.Z_rx.Z_baudgen.counter[0] }
clb_pack LT_6_11 { buart.Z_rx.Z_baudgen.counter_1_LC_6_11_0, uu2.vbuf_count.counter_gen_label_6__un328_ci_3_LC_6_11_1, Lab_UT.bcd2segment1.m60_0_LC_6_11_2, Lab_UT.didp.countrce4.q_1_LC_6_11_3, buart.Z_rx.Z_baudgen.counter_0_LC_6_11_6 }
set_location LT_6_11 6 11
ble_pack resetGen.escKey_4_LC_6_12_0 { resetGen.escKey_4 }
ble_pack buart.Z_rx.Z_baudgen.counter_RNI18N1_5_LC_6_12_4 { buart.Z_rx.Z_baudgen.counter_RNI18N1[5] }
ble_pack buart.Z_rx.Z_baudgen.counter_5_LC_6_12_5 { buart.Z_rx.Z_baudgen.counter_RNO[5], buart.Z_rx.Z_baudgen.counter[5] }
ble_pack buart.Z_rx.Z_baudgen.counter_RNI2GE3_1_LC_6_12_7 { buart.Z_rx.Z_baudgen.counter_RNI2GE3[1] }
clb_pack LT_6_12 { resetGen.escKey_4_LC_6_12_0, buart.Z_rx.Z_baudgen.counter_RNI18N1_5_LC_6_12_4, buart.Z_rx.Z_baudgen.counter_5_LC_6_12_5, buart.Z_rx.Z_baudgen.counter_RNI2GE3_1_LC_6_12_7 }
set_location LT_6_12 6 12
ble_pack Lab_UT.dictrl.next_state16_5_LC_6_13_0 { Lab_UT.dictrl.next_state16_5 }
ble_pack Lab_UT.dictrl.next_alarmstate4_2_0_LC_6_13_1 { Lab_UT.dictrl.next_alarmstate4_2_0 }
ble_pack Lab_UT.dictrl.next_alarmstate4_LC_6_13_2 { Lab_UT.dictrl.next_alarmstate4 }
ble_pack Lab_UT.dictrl.next_alarmstate4_0_LC_6_13_3 { Lab_UT.dictrl.next_alarmstate4_0 }
ble_pack Lab_UT.dictrl.next_state_0_sqmuxa_3_LC_6_13_4 { Lab_UT.dictrl.next_state_0_sqmuxa_3 }
ble_pack Lab_UT.dictrl.next_state_0_sqmuxa_4_LC_6_13_5 { Lab_UT.dictrl.next_state_0_sqmuxa_4 }
ble_pack Lab_UT.dictrl.state_0_RNIHE146_2_LC_6_13_6 { Lab_UT.dictrl.state_0_RNIHE146[2] }
ble_pack Lab_UT.dictrl.next_state_0_sqmuxa_0_LC_6_13_7 { Lab_UT.dictrl.next_state_0_sqmuxa_0 }
clb_pack LT_6_13 { Lab_UT.dictrl.next_state16_5_LC_6_13_0, Lab_UT.dictrl.next_alarmstate4_2_0_LC_6_13_1, Lab_UT.dictrl.next_alarmstate4_LC_6_13_2, Lab_UT.dictrl.next_alarmstate4_0_LC_6_13_3, Lab_UT.dictrl.next_state_0_sqmuxa_3_LC_6_13_4, Lab_UT.dictrl.next_state_0_sqmuxa_4_LC_6_13_5, Lab_UT.dictrl.state_0_RNIHE146_2_LC_6_13_6, Lab_UT.dictrl.next_state_0_sqmuxa_0_LC_6_13_7 }
set_location LT_6_13 6 13
ble_pack Lab_UT.dictrl.next_state_1_sqmuxa_0_LC_6_14_1 { Lab_UT.dictrl.next_state_1_sqmuxa_0 }
ble_pack buart.Z_rx.shifter_3_LC_6_14_3 { buart.Z_rx.shifter_3_THRU_LUT4_0, buart.Z_rx.shifter[3] }
ble_pack buart.Z_rx.shifter_1_LC_6_14_5 { buart.Z_rx.shifter_1_THRU_LUT4_0, buart.Z_rx.shifter[1] }
ble_pack buart.Z_rx.shifter_4_LC_6_14_6 { buart.Z_rx.shifter_4_THRU_LUT4_0, buart.Z_rx.shifter[4] }
ble_pack buart.Z_rx.shifter_5_LC_6_14_7 { buart.Z_rx.shifter_5_THRU_LUT4_0, buart.Z_rx.shifter[5] }
clb_pack LT_6_14 { Lab_UT.dictrl.next_state_1_sqmuxa_0_LC_6_14_1, buart.Z_rx.shifter_3_LC_6_14_3, buart.Z_rx.shifter_1_LC_6_14_5, buart.Z_rx.shifter_4_LC_6_14_6, buart.Z_rx.shifter_5_LC_6_14_7 }
set_location LT_6_14 6 14
ble_pack Lab_UT.bcd2segment1.m99_LC_7_3_0 { Lab_UT.bcd2segment1.m99 }
ble_pack uu2.bitmap_90_LC_7_3_1 { Lab_UT.bcd2segment1.m100, uu2.bitmap[90] }
ble_pack Lab_UT.bcd2segment1.segmentUQ_1_4_LC_7_3_2 { Lab_UT.bcd2segment1.segmentUQ_1[4] }
ble_pack uu2.mem0.ram512X8_inst_RNO_90_LC_7_3_3 { uu2.mem0.ram512X8_inst_RNO_90 }
ble_pack uu2.mem0.ram512X8_inst_RNO_84_LC_7_3_4 { uu2.mem0.ram512X8_inst_RNO_84 }
ble_pack uu2.bitmap_218_LC_7_3_5 { Lab_UT.bcd2segment1.segment[4], uu2.bitmap[218] }
ble_pack uu2.mem0.ram512X8_inst_RNO_88_LC_7_3_6 { uu2.mem0.ram512X8_inst_RNO_88 }
ble_pack uu2.mem0.ram512X8_inst_RNO_79_LC_7_3_7 { uu2.mem0.ram512X8_inst_RNO_79 }
clb_pack LT_7_3 { Lab_UT.bcd2segment1.m99_LC_7_3_0, uu2.bitmap_90_LC_7_3_1, Lab_UT.bcd2segment1.segmentUQ_1_4_LC_7_3_2, uu2.mem0.ram512X8_inst_RNO_90_LC_7_3_3, uu2.mem0.ram512X8_inst_RNO_84_LC_7_3_4, uu2.bitmap_218_LC_7_3_5, uu2.mem0.ram512X8_inst_RNO_88_LC_7_3_6, uu2.mem0.ram512X8_inst_RNO_79_LC_7_3_7 }
set_location LT_7_3 7 3
ble_pack Lab_UT.bcd2segment1.m26_0_LC_7_4_0 { Lab_UT.bcd2segment1.m26_0 }
ble_pack uu2.mem0.ram512X8_inst_RNO_40_LC_7_4_3 { uu2.mem0.ram512X8_inst_RNO_40 }
ble_pack Lab_UT.didp.countrce3.q_1_LC_7_4_6 { Lab_UT.didp.countrce3.q_RNO[1], Lab_UT.didp.countrce3.q[1] }
ble_pack Lab_UT.bcd2segment1.m106_LC_7_4_7 { Lab_UT.bcd2segment1.m106 }
clb_pack LT_7_4 { Lab_UT.bcd2segment1.m26_0_LC_7_4_0, uu2.mem0.ram512X8_inst_RNO_40_LC_7_4_3, Lab_UT.didp.countrce3.q_1_LC_7_4_6, Lab_UT.bcd2segment1.m106_LC_7_4_7 }
set_location LT_7_4 7 4
ble_pack uu2.mem0.ram512X8_inst_RNO_34_LC_7_5_0 { uu2.mem0.ram512X8_inst_RNO_34 }
ble_pack uu2.mem0.ram512X8_inst_RNO_10_LC_7_5_1 { uu2.mem0.ram512X8_inst_RNO_10 }
ble_pack uu2.mem0.ram512X8_inst_RNO_60_LC_7_5_3 { uu2.mem0.ram512X8_inst_RNO_60 }
ble_pack uu2.mem0.ram512X8_inst_RNO_61_LC_7_5_4 { uu2.mem0.ram512X8_inst_RNO_61 }
ble_pack uu2.mem0.ram512X8_inst_RNO_41_LC_7_5_5 { uu2.mem0.ram512X8_inst_RNO_41 }
ble_pack uu2.mem0.ram512X8_inst_RNO_21_LC_7_5_6 { uu2.mem0.ram512X8_inst_RNO_21 }
ble_pack uu2.mem0.ram512X8_inst_RNO_9_LC_7_5_7 { uu2.mem0.ram512X8_inst_RNO_9 }
clb_pack LT_7_5 { uu2.mem0.ram512X8_inst_RNO_34_LC_7_5_0, uu2.mem0.ram512X8_inst_RNO_10_LC_7_5_1, uu2.mem0.ram512X8_inst_RNO_60_LC_7_5_3, uu2.mem0.ram512X8_inst_RNO_61_LC_7_5_4, uu2.mem0.ram512X8_inst_RNO_41_LC_7_5_5, uu2.mem0.ram512X8_inst_RNO_21_LC_7_5_6, uu2.mem0.ram512X8_inst_RNO_9_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack uu2.mem0.ram512X8_inst_RNO_42_LC_7_6_0 { uu2.mem0.ram512X8_inst_RNO_42 }
ble_pack uu2.mem0.ram512X8_inst_RNO_65_LC_7_6_1 { uu2.mem0.ram512X8_inst_RNO_65 }
ble_pack uu2.w_addr_displaying_2_rep1_RNINBDH1_LC_7_6_2 { uu2.w_addr_displaying_2_rep1_RNINBDH1 }
ble_pack uu2.mem0.ram512X8_inst_RNO_25_LC_7_6_3 { uu2.mem0.ram512X8_inst_RNO_25 }
ble_pack uu2.mem0.ram512X8_inst_RNO_48_LC_7_6_4 { uu2.mem0.ram512X8_inst_RNO_48 }
ble_pack uu2.w_addr_displaying_1_LC_7_6_5 { uu2.w_addr_displaying_RNO[1], uu2.w_addr_displaying[1] }
ble_pack uu2.w_addr_displaying_1_rep1_LC_7_6_6 { uu2.w_addr_displaying_1_rep1_RNO, uu2.w_addr_displaying_1_rep1 }
ble_pack uu2.w_addr_displaying_1_rep1_RNIKGI51_LC_7_6_7 { uu2.w_addr_displaying_1_rep1_RNIKGI51 }
clb_pack LT_7_6 { uu2.mem0.ram512X8_inst_RNO_42_LC_7_6_0, uu2.mem0.ram512X8_inst_RNO_65_LC_7_6_1, uu2.w_addr_displaying_2_rep1_RNINBDH1_LC_7_6_2, uu2.mem0.ram512X8_inst_RNO_25_LC_7_6_3, uu2.mem0.ram512X8_inst_RNO_48_LC_7_6_4, uu2.w_addr_displaying_1_LC_7_6_5, uu2.w_addr_displaying_1_rep1_LC_7_6_6, uu2.w_addr_displaying_1_rep1_RNIKGI51_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack Lab_UT.bcd2segment1.m118_LC_7_7_0 { Lab_UT.bcd2segment1.m118 }
ble_pack uu2.bitmap_296_LC_7_7_1 { Lab_UT.bcd2segment1.m119, uu2.bitmap[296] }
ble_pack Lab_UT.bcd2segment1.m97_0_LC_7_7_2 { Lab_UT.bcd2segment1.m97_0 }
ble_pack uu2.bitmap_40_LC_7_7_3 { Lab_UT.bcd2segment1.m98_0, uu2.bitmap[40] }
ble_pack uu2.mem0.ram512X8_inst_RNO_74_LC_7_7_4 { uu2.mem0.ram512X8_inst_RNO_74 }
ble_pack uu2.bitmap_RNIJVK41_40_LC_7_7_5 { uu2.bitmap_RNIJVK41[40] }
ble_pack uu2.bitmap_RNI19S42_34_LC_7_7_6 { uu2.bitmap_RNI19S42[34] }
ble_pack uu2.mem0.ram512X8_inst_RNO_57_LC_7_7_7 { uu2.mem0.ram512X8_inst_RNO_57 }
clb_pack LT_7_7 { Lab_UT.bcd2segment1.m118_LC_7_7_0, uu2.bitmap_296_LC_7_7_1, Lab_UT.bcd2segment1.m97_0_LC_7_7_2, uu2.bitmap_40_LC_7_7_3, uu2.mem0.ram512X8_inst_RNO_74_LC_7_7_4, uu2.bitmap_RNIJVK41_40_LC_7_7_5, uu2.bitmap_RNI19S42_34_LC_7_7_6, uu2.mem0.ram512X8_inst_RNO_57_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack uu2.w_addr_displaying_3_rep1_nesr_LC_7_8_0 { uu2.w_addr_displaying_3_rep1_nesr_RNO, uu2.w_addr_displaying_3_rep1_nesr }
ble_pack uu2.w_addr_displaying_fast_nesr_3_LC_7_8_1 { uu2.w_addr_displaying_fast_nesr_RNO[3], uu2.w_addr_displaying_fast_nesr[3] }
ble_pack uu2.w_addr_displaying_3_rep2_nesr_LC_7_8_2 { uu2.w_addr_displaying_3_rep2_nesr_RNO, uu2.w_addr_displaying_3_rep2_nesr }
ble_pack uu2.w_addr_displaying_8_rep1_nesr_LC_7_8_3 { uu2.w_addr_displaying_8_rep1_nesr_RNO, uu2.w_addr_displaying_8_rep1_nesr }
ble_pack uu2.w_addr_displaying_fast_nesr_8_LC_7_8_4 { uu2.w_addr_displaying_fast_nesr_RNO[8], uu2.w_addr_displaying_fast_nesr[8] }
ble_pack CONSTANT_ONE_LUT4_LC_7_8_5 { CONSTANT_ONE_LUT4 }
clb_pack LT_7_8 { uu2.w_addr_displaying_3_rep1_nesr_LC_7_8_0, uu2.w_addr_displaying_fast_nesr_3_LC_7_8_1, uu2.w_addr_displaying_3_rep2_nesr_LC_7_8_2, uu2.w_addr_displaying_8_rep1_nesr_LC_7_8_3, uu2.w_addr_displaying_fast_nesr_8_LC_7_8_4, CONSTANT_ONE_LUT4_LC_7_8_5 }
set_location LT_7_8 7 8
ble_pack Lab_UT.bcd2segment2.segment_0_0_LC_7_9_0 { Lab_UT.bcd2segment2.segment_0[0] }
ble_pack uu2.mem0.ram512X8_inst_RNO_70_LC_7_9_1 { uu2.mem0.ram512X8_inst_RNO_70 }
ble_pack Lab_UT.didp.countrce3.q_2_LC_7_9_2 { Lab_UT.didp.countrce3.q_RNO[2], Lab_UT.didp.countrce3.q[2] }
ble_pack Lab_UT.didp.countrce3.q_3_LC_7_9_3 { Lab_UT.didp.countrce3.q_RNO[3], Lab_UT.didp.countrce3.q[3] }
ble_pack Lab_UT.didp.countrce3.q_0_LC_7_9_4 { Lab_UT.didp.countrce3.q_RNO[0], Lab_UT.didp.countrce3.q[0] }
ble_pack Lab_UT.bcd2segment2.un1_num_1_LC_7_9_5 { Lab_UT.bcd2segment2.un1_num_1 }
ble_pack uu2.mem0.ram512X8_inst_RNO_71_LC_7_9_6 { uu2.mem0.ram512X8_inst_RNO_71 }
ble_pack resetGen.escKey_LC_7_9_7 { resetGen.escKey }
clb_pack LT_7_9 { Lab_UT.bcd2segment2.segment_0_0_LC_7_9_0, uu2.mem0.ram512X8_inst_RNO_70_LC_7_9_1, Lab_UT.didp.countrce3.q_2_LC_7_9_2, Lab_UT.didp.countrce3.q_3_LC_7_9_3, Lab_UT.didp.countrce3.q_0_LC_7_9_4, Lab_UT.bcd2segment2.un1_num_1_LC_7_9_5, uu2.mem0.ram512X8_inst_RNO_71_LC_7_9_6, resetGen.escKey_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack uu2.mem0.ram512X8_inst_RNO_67_LC_7_10_0 { uu2.mem0.ram512X8_inst_RNO_67 }
ble_pack Lab_UT.didp.countrce4.q_RNIASM81_2_LC_7_10_1 { Lab_UT.didp.countrce4.q_RNIASM81[2] }
ble_pack Lab_UT.didp.countrce3.q_RNIUG9D3_1_LC_7_10_2 { Lab_UT.didp.countrce3.q_RNIUG9D3[1] }
ble_pack Lab_UT.didp.countrce3.q_RNISKK51_3_LC_7_10_3 { Lab_UT.didp.countrce3.q_RNISKK51[3] }
ble_pack Lab_UT.didp.countrce4.q_3_LC_7_10_4 { Lab_UT.didp.countrce4.q_RNO[3], Lab_UT.didp.countrce4.q[3] }
ble_pack Lab_UT.bcd2segment1.m65_0_LC_7_10_5 { Lab_UT.bcd2segment1.m65_0 }
ble_pack Lab_UT.didp.countrce4.q_0_LC_7_10_6 { Lab_UT.didp.countrce4.q_RNO[0], Lab_UT.didp.countrce4.q[0] }
ble_pack Lab_UT.didp.countrce4.q_2_LC_7_10_7 { Lab_UT.didp.countrce4.q_RNO[2], Lab_UT.didp.countrce4.q[2] }
clb_pack LT_7_10 { uu2.mem0.ram512X8_inst_RNO_67_LC_7_10_0, Lab_UT.didp.countrce4.q_RNIASM81_2_LC_7_10_1, Lab_UT.didp.countrce3.q_RNIUG9D3_1_LC_7_10_2, Lab_UT.didp.countrce3.q_RNISKK51_3_LC_7_10_3, Lab_UT.didp.countrce4.q_3_LC_7_10_4, Lab_UT.bcd2segment1.m65_0_LC_7_10_5, Lab_UT.didp.countrce4.q_0_LC_7_10_6, Lab_UT.didp.countrce4.q_2_LC_7_10_7 }
set_location LT_7_10 7 10
ble_pack Lab_UT.dictrl.state_ret_4_RNINNUG_LC_7_11_0 { Lab_UT.dictrl.state_ret_4_RNINNUG }
ble_pack Lab_UT.dictrl.next_state_RNI72HD1_1_LC_7_11_1 { Lab_UT.dictrl.next_state_RNI72HD1[1] }
ble_pack Lab_UT.dictrl.next_state_1_LC_7_11_2 { Lab_UT.dictrl.next_state_RNO[1], Lab_UT.dictrl.next_state[1] }
ble_pack Lab_UT.dictrl.state_0_RNITK4F_1_LC_7_11_3 { Lab_UT.dictrl.state_0_RNITK4F[1] }
ble_pack Lab_UT.dictrl.state_ret_3_RNIS90D1_LC_7_11_4 { Lab_UT.dictrl.state_ret_3_RNIS90D1 }
ble_pack Lab_UT.dictrl.next_state_RNIR0FR1_3_LC_7_11_5 { Lab_UT.dictrl.next_state_RNIR0FR1[3] }
ble_pack Lab_UT.dictrl.state_ret_2_RNIGOKU_LC_7_11_6 { Lab_UT.dictrl.state_ret_2_RNIGOKU }
clb_pack LT_7_11 { Lab_UT.dictrl.state_ret_4_RNINNUG_LC_7_11_0, Lab_UT.dictrl.next_state_RNI72HD1_1_LC_7_11_1, Lab_UT.dictrl.next_state_1_LC_7_11_2, Lab_UT.dictrl.state_0_RNITK4F_1_LC_7_11_3, Lab_UT.dictrl.state_ret_3_RNIS90D1_LC_7_11_4, Lab_UT.dictrl.next_state_RNIR0FR1_3_LC_7_11_5, Lab_UT.dictrl.state_ret_2_RNIGOKU_LC_7_11_6 }
set_location LT_7_11 7 11
ble_pack buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_7_12_0 { buart.Z_rx.Z_baudgen.un5_counter_cry_1_c }
ble_pack buart.Z_rx.Z_baudgen.counter_RNO_0_2_LC_7_12_1 { buart.Z_rx.Z_baudgen.counter_RNO_0[2], buart.Z_rx.Z_baudgen.un5_counter_cry_2_c }
ble_pack buart.Z_rx.Z_baudgen.counter_3_LC_7_12_2 { buart.Z_rx.Z_baudgen.counter_RNO[3], buart.Z_rx.Z_baudgen.counter[3], buart.Z_rx.Z_baudgen.un5_counter_cry_3_c }
ble_pack buart.Z_rx.Z_baudgen.counter_RNO_0_4_LC_7_12_3 { buart.Z_rx.Z_baudgen.counter_RNO_0[4], buart.Z_rx.Z_baudgen.un5_counter_cry_4_c }
ble_pack buart.Z_rx.Z_baudgen.counter_RNO_0_5_LC_7_12_4 { buart.Z_rx.Z_baudgen.counter_RNO_0[5] }
ble_pack buart.Z_rx.Z_baudgen.counter_2_LC_7_12_5 { buart.Z_rx.Z_baudgen.counter_RNO[2], buart.Z_rx.Z_baudgen.counter[2] }
ble_pack Lab_UT.dictrl.state_ret_4_RNIPU6T9_LC_7_12_6 { Lab_UT.dictrl.state_ret_4_RNIPU6T9 }
ble_pack buart.Z_rx.Z_baudgen.counter_4_LC_7_12_7 { buart.Z_rx.Z_baudgen.counter_RNO[4], buart.Z_rx.Z_baudgen.counter[4] }
clb_pack LT_7_12 { buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_7_12_0, buart.Z_rx.Z_baudgen.counter_RNO_0_2_LC_7_12_1, buart.Z_rx.Z_baudgen.counter_3_LC_7_12_2, buart.Z_rx.Z_baudgen.counter_RNO_0_4_LC_7_12_3, buart.Z_rx.Z_baudgen.counter_RNO_0_5_LC_7_12_4, buart.Z_rx.Z_baudgen.counter_2_LC_7_12_5, Lab_UT.dictrl.state_ret_4_RNIPU6T9_LC_7_12_6, buart.Z_rx.Z_baudgen.counter_4_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack buart.Z_rx.shifter_7_LC_7_13_0 { buart.Z_rx.shifter_7_THRU_LUT4_0, buart.Z_rx.shifter[7] }
ble_pack buart.Z_rx.shifter_6_LC_7_13_1 { buart.Z_rx.shifter_6_THRU_LUT4_0, buart.Z_rx.shifter[6] }
ble_pack Lab_UT.dictrl.state_0_RNILGF17_3_LC_7_13_3 { Lab_UT.dictrl.state_0_RNILGF17[3] }
ble_pack Lab_UT.dictrl.state_0_RNIBITA2_2_LC_7_13_5 { Lab_UT.dictrl.state_0_RNIBITA2[2] }
ble_pack Lab_UT.dictrl.state_0_RNIJ9317_2_LC_7_13_6 { Lab_UT.dictrl.state_0_RNIJ9317[2] }
ble_pack resetGen.escKey_5_LC_7_13_7 { resetGen.escKey_5 }
clb_pack LT_7_13 { buart.Z_rx.shifter_7_LC_7_13_0, buart.Z_rx.shifter_6_LC_7_13_1, Lab_UT.dictrl.state_0_RNILGF17_3_LC_7_13_3, Lab_UT.dictrl.state_0_RNIBITA2_2_LC_7_13_5, Lab_UT.dictrl.state_0_RNIJ9317_2_LC_7_13_6, resetGen.escKey_5_LC_7_13_7 }
set_location LT_7_13 7 13
ble_pack Lab_UT.dictrl.state_0_RNICJTA2_3_LC_7_14_0 { Lab_UT.dictrl.state_0_RNICJTA2[3] }
ble_pack Lab_UT.dictrl.next_state_1_sqmuxa_4_LC_7_14_1 { Lab_UT.dictrl.next_state_1_sqmuxa_4 }
ble_pack Lab_UT.dictrl.next_state_1_sqmuxa_5_LC_7_14_2 { Lab_UT.dictrl.next_state_1_sqmuxa_5 }
ble_pack Lab_UT.dictrl.state_0_RNI0MRT_1_LC_7_14_5 { Lab_UT.dictrl.state_0_RNI0MRT[1] }
ble_pack Lab_UT.dictrl.state_0_RNIS90D1_2_LC_7_14_6 { Lab_UT.dictrl.state_0_RNIS90D1[2] }
ble_pack Lab_UT.dictrl.next_state16_4_LC_7_14_7 { Lab_UT.dictrl.next_state16_4 }
clb_pack LT_7_14 { Lab_UT.dictrl.state_0_RNICJTA2_3_LC_7_14_0, Lab_UT.dictrl.next_state_1_sqmuxa_4_LC_7_14_1, Lab_UT.dictrl.next_state_1_sqmuxa_5_LC_7_14_2, Lab_UT.dictrl.state_0_RNI0MRT_1_LC_7_14_5, Lab_UT.dictrl.state_0_RNIS90D1_2_LC_7_14_6, Lab_UT.dictrl.next_state16_4_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack buart.Z_rx.shifter_0_LC_7_15_0 { buart.Z_rx.shifter_0_THRU_LUT4_0, buart.Z_rx.shifter[0] }
clb_pack LT_7_15 { buart.Z_rx.shifter_0_LC_7_15_0 }
set_location LT_7_15 7 15
ble_pack Lab_UT.bcd2segment1.m84_0_LC_8_3_0 { Lab_UT.bcd2segment1.m84_0 }
ble_pack uu2.bitmap_162_LC_8_3_1 { Lab_UT.bcd2segment1.m85_0, uu2.bitmap[162] }
ble_pack Lab_UT.bcd2segment1.m87_0_LC_8_3_2 { Lab_UT.bcd2segment1.m87_0 }
ble_pack uu2.bitmap_66_LC_8_3_3 { Lab_UT.bcd2segment1.m88_0, uu2.bitmap[66] }
ble_pack Lab_UT.bcd2segment1.m90_0_LC_8_3_4 { Lab_UT.bcd2segment1.m90_0 }
ble_pack uu2.bitmap_194_LC_8_3_5 { Lab_UT.bcd2segment1.m91_0, uu2.bitmap[194] }
ble_pack uu2.bitmap_RNIIGUI_66_LC_8_3_6 { uu2.bitmap_RNIIGUI[66] }
ble_pack Lab_UT.bcd2segment1.m93_0_LC_8_3_7 { Lab_UT.bcd2segment1.m93_0 }
clb_pack LT_8_3 { Lab_UT.bcd2segment1.m84_0_LC_8_3_0, uu2.bitmap_162_LC_8_3_1, Lab_UT.bcd2segment1.m87_0_LC_8_3_2, uu2.bitmap_66_LC_8_3_3, Lab_UT.bcd2segment1.m90_0_LC_8_3_4, uu2.bitmap_194_LC_8_3_5, uu2.bitmap_RNIIGUI_66_LC_8_3_6, Lab_UT.bcd2segment1.m93_0_LC_8_3_7 }
set_location LT_8_3 8 3
ble_pack Lab_UT.bcd2segment1.m101_LC_8_4_0 { Lab_UT.bcd2segment1.m101 }
ble_pack uu2.bitmap_75_LC_8_4_1 { Lab_UT.bcd2segment1.m102, uu2.bitmap[75] }
ble_pack Lab_UT.bcd2segment3.segment_0_2_LC_8_4_2 { Lab_UT.bcd2segment3.segment_0[2] }
ble_pack uu2.bitmap_203_LC_8_4_3 { Lab_UT.bcd2segment3.segment[2], uu2.bitmap[203] }
ble_pack uu2.bitmap_RNIC6T81_212_LC_8_4_4 { uu2.bitmap_RNIC6T81[212] }
ble_pack uu2.w_addr_displaying_nesr_RNIL4F73_3_LC_8_4_5 { uu2.w_addr_displaying_nesr_RNIL4F73[3] }
ble_pack uu2.bitmap_RNIPIHG1_75_LC_8_4_6 { uu2.bitmap_RNIPIHG1[75] }
ble_pack uu2.bitmap_212_LC_8_4_7 { Lab_UT.bcd2segment2.segment[4], uu2.bitmap[212] }
clb_pack LT_8_4 { Lab_UT.bcd2segment1.m101_LC_8_4_0, uu2.bitmap_75_LC_8_4_1, Lab_UT.bcd2segment3.segment_0_2_LC_8_4_2, uu2.bitmap_203_LC_8_4_3, uu2.bitmap_RNIC6T81_212_LC_8_4_4, uu2.w_addr_displaying_nesr_RNIL4F73_3_LC_8_4_5, uu2.bitmap_RNIPIHG1_75_LC_8_4_6, uu2.bitmap_212_LC_8_4_7 }
set_location LT_8_4 8 4
ble_pack uu2.mem0.ram512X8_inst_RNO_17_LC_8_5_0 { uu2.mem0.ram512X8_inst_RNO_17 }
ble_pack uu2.mem0.ram512X8_inst_RNO_13_LC_8_5_1 { uu2.mem0.ram512X8_inst_RNO_13 }
ble_pack uu2.mem0.ram512X8_inst_RNO_28_LC_8_5_2 { uu2.mem0.ram512X8_inst_RNO_28 }
ble_pack uu2.w_addr_displaying_RNIF00Q_5_LC_8_5_3 { uu2.w_addr_displaying_RNIF00Q[5] }
ble_pack uu2.mem0.ram512X8_inst_RNO_46_LC_8_5_4 { uu2.mem0.ram512X8_inst_RNO_46 }
ble_pack uu2.mem0.ram512X8_inst_RNO_LC_8_5_5 { uu2.mem0.ram512X8_inst_RNO }
ble_pack uu2.mem0.ram512X8_inst_RNO_44_LC_8_5_6 { uu2.mem0.ram512X8_inst_RNO_44 }
ble_pack uu2.mem0.ram512X8_inst_RNO_24_LC_8_5_7 { uu2.mem0.ram512X8_inst_RNO_24 }
clb_pack LT_8_5 { uu2.mem0.ram512X8_inst_RNO_17_LC_8_5_0, uu2.mem0.ram512X8_inst_RNO_13_LC_8_5_1, uu2.mem0.ram512X8_inst_RNO_28_LC_8_5_2, uu2.w_addr_displaying_RNIF00Q_5_LC_8_5_3, uu2.mem0.ram512X8_inst_RNO_46_LC_8_5_4, uu2.mem0.ram512X8_inst_RNO_LC_8_5_5, uu2.mem0.ram512X8_inst_RNO_44_LC_8_5_6, uu2.mem0.ram512X8_inst_RNO_24_LC_8_5_7 }
set_location LT_8_5 8 5
ble_pack uu2.mem0.ram512X8_inst_RNO_58_LC_8_6_0 { uu2.mem0.ram512X8_inst_RNO_58 }
ble_pack uu2.mem0.ram512X8_inst_RNO_38_LC_8_6_1 { uu2.mem0.ram512X8_inst_RNO_38 }
ble_pack uu2.bitmap_RNI43641_162_LC_8_6_2 { uu2.bitmap_RNI43641[162] }
ble_pack uu2.mem0.ram512X8_inst_RNO_73_LC_8_6_3 { uu2.mem0.ram512X8_inst_RNO_73 }
ble_pack uu2.w_addr_displaying_4_rep1_LC_8_6_4 { uu2.w_addr_displaying_4_rep1_RNO, uu2.w_addr_displaying_4_rep1 }
ble_pack uu2.w_addr_displaying_4_LC_8_6_5 { uu2.w_addr_displaying_RNO[4], uu2.w_addr_displaying[4] }
ble_pack uu2.w_addr_displaying_fast_4_LC_8_6_6 { uu2.w_addr_displaying_fast_RNO[4], uu2.w_addr_displaying_fast[4] }
ble_pack uu2.w_addr_displaying_2_rep1_RNI01H61_LC_8_6_7 { uu2.w_addr_displaying_2_rep1_RNI01H61 }
clb_pack LT_8_6 { uu2.mem0.ram512X8_inst_RNO_58_LC_8_6_0, uu2.mem0.ram512X8_inst_RNO_38_LC_8_6_1, uu2.bitmap_RNI43641_162_LC_8_6_2, uu2.mem0.ram512X8_inst_RNO_73_LC_8_6_3, uu2.w_addr_displaying_4_rep1_LC_8_6_4, uu2.w_addr_displaying_4_LC_8_6_5, uu2.w_addr_displaying_fast_4_LC_8_6_6, uu2.w_addr_displaying_2_rep1_RNI01H61_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack uu2.mem0.ram512X8_inst_RNO_75_LC_8_7_0 { uu2.mem0.ram512X8_inst_RNO_75 }
ble_pack uu2.mem0.ram512X8_inst_RNO_54_LC_8_7_1 { uu2.mem0.ram512X8_inst_RNO_54 }
ble_pack uu2.mem0.ram512X8_inst_RNO_76_LC_8_7_2 { uu2.mem0.ram512X8_inst_RNO_76 }
ble_pack uu2.mem0.ram512X8_inst_RNO_72_LC_8_7_3 { uu2.mem0.ram512X8_inst_RNO_72 }
ble_pack uu2.mem0.ram512X8_inst_RNO_51_LC_8_7_4 { uu2.mem0.ram512X8_inst_RNO_51 }
ble_pack uu2.mem0.ram512X8_inst_RNO_29_LC_8_7_5 { uu2.mem0.ram512X8_inst_RNO_29 }
ble_pack uu2.mem0.ram512X8_inst_RNO_53_LC_8_7_6 { uu2.mem0.ram512X8_inst_RNO_53 }
ble_pack uu2.mem0.ram512X8_inst_RNO_31_LC_8_7_7 { uu2.mem0.ram512X8_inst_RNO_31 }
clb_pack LT_8_7 { uu2.mem0.ram512X8_inst_RNO_75_LC_8_7_0, uu2.mem0.ram512X8_inst_RNO_54_LC_8_7_1, uu2.mem0.ram512X8_inst_RNO_76_LC_8_7_2, uu2.mem0.ram512X8_inst_RNO_72_LC_8_7_3, uu2.mem0.ram512X8_inst_RNO_51_LC_8_7_4, uu2.mem0.ram512X8_inst_RNO_29_LC_8_7_5, uu2.mem0.ram512X8_inst_RNO_53_LC_8_7_6, uu2.mem0.ram512X8_inst_RNO_31_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack uu2.bitmap_34_LC_8_8_0 { Lab_UT.bcd2segment1.m77, uu2.bitmap[34] }
ble_pack uu2.bitmap_69_LC_8_8_1 { Lab_UT.bcd2segment1.m77_0, uu2.bitmap[69] }
ble_pack uu2.bitmap_197_LC_8_8_2 { Lab_UT.bcd2segment1.m82_0, uu2.bitmap[197] }
ble_pack uu2.bitmap_290_LC_8_8_3 { Lab_UT.bcd2segment1.m94_0, uu2.bitmap[290] }
ble_pack uu2.bitmap_308_LC_8_8_4 { Lab_UT.bcd2segment2.segment[3], uu2.bitmap[308] }
ble_pack uu2.w_addr_displaying_2_rep1_LC_8_8_5 { uu2.w_addr_displaying_2_rep1_RNO, uu2.w_addr_displaying_2_rep1 }
ble_pack uu2.w_addr_displaying_fast_2_LC_8_8_6 { uu2.w_addr_displaying_fast_RNO[2], uu2.w_addr_displaying_fast[2] }
ble_pack uu2.w_addr_displaying_2_LC_8_8_7 { uu2.w_addr_displaying_RNO[2], uu2.w_addr_displaying[2] }
clb_pack LT_8_8 { uu2.bitmap_34_LC_8_8_0, uu2.bitmap_69_LC_8_8_1, uu2.bitmap_197_LC_8_8_2, uu2.bitmap_290_LC_8_8_3, uu2.bitmap_308_LC_8_8_4, uu2.w_addr_displaying_2_rep1_LC_8_8_5, uu2.w_addr_displaying_fast_2_LC_8_8_6, uu2.w_addr_displaying_2_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack Lab_UT.bcd2segment2.segmentUQ_6_LC_8_9_0 { Lab_UT.bcd2segment2.segmentUQ[6] }
ble_pack uu2.bitmap_180_LC_8_9_1 { Lab_UT.bcd2segment2.segment[6], uu2.bitmap[180] }
ble_pack uu2.bitmap_52_LC_8_9_3 { Lab_UT.bcd2segment2.segment[0], uu2.bitmap[52] }
ble_pack Lab_UT.bcd2segment2.segment_0_1_LC_8_9_4 { Lab_UT.bcd2segment2.segment_0[1] }
ble_pack Lab_UT.bcd2segment2.segment_0_2_LC_8_9_5 { Lab_UT.bcd2segment2.segment_0[2] }
ble_pack uu2.bitmap_215_LC_8_9_6 { Lab_UT.bcd2segment2.segment[2], uu2.bitmap[215] }
ble_pack uu2.mem0.ram512X8_inst_RNO_89_LC_8_9_7 { uu2.mem0.ram512X8_inst_RNO_89 }
clb_pack LT_8_9 { Lab_UT.bcd2segment2.segmentUQ_6_LC_8_9_0, uu2.bitmap_180_LC_8_9_1, uu2.bitmap_52_LC_8_9_3, Lab_UT.bcd2segment2.segment_0_1_LC_8_9_4, Lab_UT.bcd2segment2.segment_0_2_LC_8_9_5, uu2.bitmap_215_LC_8_9_6, uu2.mem0.ram512X8_inst_RNO_89_LC_8_9_7 }
set_location LT_8_9 8 9
ble_pack Lab_UT.bcd2segment1.m39_e_2_LC_8_10_0 { Lab_UT.bcd2segment1.m39_e_2 }
ble_pack Lab_UT.bcd2segment1.m39_e_3_LC_8_10_1 { Lab_UT.bcd2segment1.m39_e_3 }
ble_pack Lab_UT.didp.reset_3_LC_8_10_2 { Lab_UT.bcd2segment1.m39_0, Lab_UT.didp.reset[3] }
ble_pack Lab_UT.didp.ce_3_LC_8_10_3 { Lab_UT.didp.ce_RNO[3], Lab_UT.didp.ce[3] }
ble_pack Lab_UT.didp.reset_2_LC_8_10_4 { Lab_UT.bcd2segment1.m25_0, Lab_UT.didp.reset[2] }
ble_pack Lab_UT.bcd2segment1.m76_LC_8_10_5 { Lab_UT.bcd2segment1.m76 }
ble_pack Lab_UT.bcd2segment1.m76_0_LC_8_10_6 { Lab_UT.bcd2segment1.m76_0 }
ble_pack Lab_UT.bcd2segment1.m81_0_LC_8_10_7 { Lab_UT.bcd2segment1.m81_0 }
clb_pack LT_8_10 { Lab_UT.bcd2segment1.m39_e_2_LC_8_10_0, Lab_UT.bcd2segment1.m39_e_3_LC_8_10_1, Lab_UT.didp.reset_3_LC_8_10_2, Lab_UT.didp.ce_3_LC_8_10_3, Lab_UT.didp.reset_2_LC_8_10_4, Lab_UT.bcd2segment1.m76_LC_8_10_5, Lab_UT.bcd2segment1.m76_0_LC_8_10_6, Lab_UT.bcd2segment1.m81_0_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack Lab_UT.dictrl.next_state_RNI95NC1_0_LC_8_11_1 { Lab_UT.dictrl.next_state_RNI95NC1[0] }
ble_pack Lab_UT.dictrl.state_ret_4_RNIQ35U8_LC_8_11_2 { Lab_UT.dictrl.state_ret_4_RNIQ35U8 }
ble_pack Lab_UT.dictrl.state_ret_4_RNIFPRO41_LC_8_11_3 { Lab_UT.dictrl.state_ret_4_RNIFPRO41 }
ble_pack Lab_UT.dictrl.state_ret_4_RNIQCSRA_LC_8_11_4 { Lab_UT.dictrl.state_ret_4_RNIQCSRA }
ble_pack Lab_UT.dictrl.state_ret_4_RNI2AJ17_LC_8_11_5 { Lab_UT.dictrl.state_ret_4_RNI2AJ17 }
ble_pack Lab_UT.dictrl.state_ret_4_RNIR8QUG_LC_8_11_6 { Lab_UT.dictrl.state_ret_4_RNIR8QUG }
ble_pack Lab_UT.dictrl.next_state_0_LC_8_11_7 { Lab_UT.dictrl.next_state_RNO[0], Lab_UT.dictrl.next_state[0] }
clb_pack LT_8_11 { Lab_UT.dictrl.next_state_RNI95NC1_0_LC_8_11_1, Lab_UT.dictrl.state_ret_4_RNIQ35U8_LC_8_11_2, Lab_UT.dictrl.state_ret_4_RNIFPRO41_LC_8_11_3, Lab_UT.dictrl.state_ret_4_RNIQCSRA_LC_8_11_4, Lab_UT.dictrl.state_ret_4_RNI2AJ17_LC_8_11_5, Lab_UT.dictrl.state_ret_4_RNIR8QUG_LC_8_11_6, Lab_UT.dictrl.next_state_0_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack Lab_UT.dictrl.state_0_1_LC_8_12_1 { Lab_UT.dictrl.state_ret_4_RNIPU6T9_Lab_UT.dictrl.state_0_1_REP_LUT4_0, Lab_UT.dictrl.state_0[1] }
ble_pack Lab_UT.dictrl.state_0_3_LC_8_12_2 { Lab_UT.dictrl.state_ret_4_RNI2AJ17_Lab_UT.dictrl.state_0_3_REP_LUT4_0, Lab_UT.dictrl.state_0[3] }
ble_pack Lab_UT.dictrl.state_ret_3_LC_8_12_4 { Lab_UT.dictrl.state_ret_3_RNO, Lab_UT.dictrl.state_ret_3 }
ble_pack Lab_UT.dictrl.state_0_0_LC_8_12_5 { Lab_UT.dictrl.state_ret_4_RNIQ35U8_Lab_UT.dictrl.state_0_0_REP_LUT4_0, Lab_UT.dictrl.state_0[0] }
ble_pack buart.Z_rx.bitcount_RNO_0_3_LC_8_12_6 { buart.Z_rx.bitcount_RNO_0[3] }
ble_pack buart.Z_rx.bitcount_3_LC_8_12_7 { buart.Z_rx.bitcount_RNO[3], buart.Z_rx.bitcount[3] }
clb_pack LT_8_12 { Lab_UT.dictrl.state_0_1_LC_8_12_1, Lab_UT.dictrl.state_0_3_LC_8_12_2, Lab_UT.dictrl.state_ret_3_LC_8_12_4, Lab_UT.dictrl.state_0_0_LC_8_12_5, buart.Z_rx.bitcount_RNO_0_3_LC_8_12_6, buart.Z_rx.bitcount_3_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack Lab_UT.bcd2segment1.m72_0_LC_8_13_0 { Lab_UT.bcd2segment1.m72_0 }
ble_pack Lab_UT.dictrl.state_0_RNIDH8U_1_LC_8_13_1 { Lab_UT.dictrl.state_0_RNIDH8U[1] }
ble_pack Lab_UT.bcd2segment1.m29_LC_8_13_2 { Lab_UT.bcd2segment1.m29 }
ble_pack Lab_UT.dictrl.state_ret_1_RNIAD2V_LC_8_13_3 { Lab_UT.dictrl.state_ret_1_RNIAD2V }
ble_pack buart.Z_rx.hh_RNI065O1_0_LC_8_13_5 { buart.Z_rx.hh_RNI065O1[0] }
ble_pack Lab_UT.dictrl.state_0_RNIENNE_1_LC_8_13_6 { Lab_UT.dictrl.state_0_RNIENNE[1] }
ble_pack Lab_UT.dictrl.state_ret_1_RNITFCD1_LC_8_13_7 { Lab_UT.dictrl.state_ret_1_RNITFCD1 }
clb_pack LT_8_13 { Lab_UT.bcd2segment1.m72_0_LC_8_13_0, Lab_UT.dictrl.state_0_RNIDH8U_1_LC_8_13_1, Lab_UT.bcd2segment1.m29_LC_8_13_2, Lab_UT.dictrl.state_ret_1_RNIAD2V_LC_8_13_3, buart.Z_rx.hh_RNI065O1_0_LC_8_13_5, Lab_UT.dictrl.state_0_RNIENNE_1_LC_8_13_6, Lab_UT.dictrl.state_ret_1_RNITFCD1_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack Lab_UT.bcd2segment1.m47_e_LC_8_14_0 { Lab_UT.bcd2segment1.m47_e }
ble_pack Lab_UT.bcd2segment1.m68_0_ns_1_LC_8_14_1 { Lab_UT.bcd2segment1.m68_0_ns_1 }
ble_pack Lab_UT.bcd2segment1.m68_0_ns_LC_8_14_2 { Lab_UT.bcd2segment1.m68_0_ns }
ble_pack Lab_UT.dictrl.state_0_RNIO00A3_3_LC_8_14_3 { Lab_UT.dictrl.state_0_RNIO00A3[3] }
ble_pack Lab_UT.dictrl.state_0_RNIFOTF_3_LC_8_14_4 { Lab_UT.dictrl.state_0_RNIFOTF[3] }
ble_pack Lab_UT.dictrl.state_0_RNIB7JE1_1_LC_8_14_5 { Lab_UT.dictrl.state_0_RNIB7JE1[1] }
ble_pack Lab_UT.dictrl.state_0_2_LC_8_14_6 { Lab_UT.dictrl.state_ret_4_RNIQCSRA_Lab_UT.dictrl.state_0_2_REP_LUT4_0, Lab_UT.dictrl.state_0[2] }
ble_pack Lab_UT.dictrl.state_0_RNIEI8U_2_LC_8_14_7 { Lab_UT.dictrl.state_0_RNIEI8U[2] }
clb_pack LT_8_14 { Lab_UT.bcd2segment1.m47_e_LC_8_14_0, Lab_UT.bcd2segment1.m68_0_ns_1_LC_8_14_1, Lab_UT.bcd2segment1.m68_0_ns_LC_8_14_2, Lab_UT.dictrl.state_0_RNIO00A3_3_LC_8_14_3, Lab_UT.dictrl.state_0_RNIFOTF_3_LC_8_14_4, Lab_UT.dictrl.state_0_RNIB7JE1_1_LC_8_14_5, Lab_UT.dictrl.state_0_2_LC_8_14_6, Lab_UT.dictrl.state_0_RNIEI8U_2_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack Lab_UT.bcd2segment1.segmentUQ_3_LC_9_3_0 { Lab_UT.bcd2segment1.segmentUQ[3] }
ble_pack uu2.bitmap_314_LC_9_3_1 { Lab_UT.bcd2segment1.segment[3], uu2.bitmap[314] }
ble_pack uu2.bitmap_87_LC_9_3_4 { Lab_UT.bcd2segment2.segment[1], uu2.bitmap[87] }
ble_pack uu2.bitmap_RNI672H_84_LC_9_3_5 { uu2.bitmap_RNI672H[84] }
ble_pack uu2.bitmap_84_LC_9_3_6 { Lab_UT.bcd2segment2.segment[5], uu2.bitmap[84] }
ble_pack uu2.w_addr_displaying_fast_7_LC_9_3_7 { uu2.w_addr_displaying_fast_RNO[7], uu2.w_addr_displaying_fast[7] }
clb_pack LT_9_3 { Lab_UT.bcd2segment1.segmentUQ_3_LC_9_3_0, uu2.bitmap_314_LC_9_3_1, uu2.bitmap_87_LC_9_3_4, uu2.bitmap_RNI672H_84_LC_9_3_5, uu2.bitmap_84_LC_9_3_6, uu2.w_addr_displaying_fast_7_LC_9_3_7 }
set_location LT_9_3 9 3
ble_pack uu2.bitmap_168_LC_9_4_1 { Lab_UT.bcd2segment1.m107, uu2.bitmap[168] }
ble_pack Lab_UT.bcd2segment1.m109_LC_9_4_2 { Lab_UT.bcd2segment1.m109 }
ble_pack uu2.bitmap_72_LC_9_4_3 { Lab_UT.bcd2segment1.m110, uu2.bitmap[72] }
ble_pack Lab_UT.bcd2segment1.m113_LC_9_4_4 { Lab_UT.bcd2segment1.m113 }
ble_pack uu2.bitmap_200_LC_9_4_5 { Lab_UT.bcd2segment1.m114, uu2.bitmap[200] }
ble_pack uu2.bitmap_RNI65TM_72_LC_9_4_6 { uu2.bitmap_RNI65TM[72] }
ble_pack uu2.w_addr_displaying_fast_0_LC_9_4_7 { uu2.w_addr_displaying_fast_RNO[0], uu2.w_addr_displaying_fast[0] }
clb_pack LT_9_4 { uu2.bitmap_168_LC_9_4_1, Lab_UT.bcd2segment1.m109_LC_9_4_2, uu2.bitmap_72_LC_9_4_3, Lab_UT.bcd2segment1.m113_LC_9_4_4, uu2.bitmap_200_LC_9_4_5, uu2.bitmap_RNI65TM_72_LC_9_4_6, uu2.w_addr_displaying_fast_0_LC_9_4_7 }
set_location LT_9_4 9 4
ble_pack uu2.mem0.ram512X8_inst_RNO_26_LC_9_5_0 { uu2.mem0.ram512X8_inst_RNO_26 }
ble_pack uu2.mem0.ram512X8_inst_RNO_43_LC_9_5_1 { uu2.mem0.ram512X8_inst_RNO_43 }
ble_pack uu2.mem0.ram512X8_inst_RNO_63_LC_9_5_2 { uu2.mem0.ram512X8_inst_RNO_63 }
ble_pack uu2.mem0.ram512X8_inst_RNO_68_LC_9_5_3 { uu2.mem0.ram512X8_inst_RNO_68 }
ble_pack uu2.mem0.ram512X8_inst_RNO_45_LC_9_5_4 { uu2.mem0.ram512X8_inst_RNO_45 }
ble_pack uu2.mem0.ram512X8_inst_RNO_69_LC_9_5_5 { uu2.mem0.ram512X8_inst_RNO_69 }
ble_pack uu2.w_addr_displaying_ness_6_LC_9_5_6 { uu2.w_addr_displaying_ness_RNO[6], uu2.w_addr_displaying_ness[6] }
ble_pack uu2.w_addr_displaying_nesr_8_LC_9_5_7 { uu2.w_addr_displaying_nesr_RNO[8], uu2.w_addr_displaying_nesr[8] }
clb_pack LT_9_5 { uu2.mem0.ram512X8_inst_RNO_26_LC_9_5_0, uu2.mem0.ram512X8_inst_RNO_43_LC_9_5_1, uu2.mem0.ram512X8_inst_RNO_63_LC_9_5_2, uu2.mem0.ram512X8_inst_RNO_68_LC_9_5_3, uu2.mem0.ram512X8_inst_RNO_45_LC_9_5_4, uu2.mem0.ram512X8_inst_RNO_69_LC_9_5_5, uu2.w_addr_displaying_ness_6_LC_9_5_6, uu2.w_addr_displaying_nesr_8_LC_9_5_7 }
set_location LT_9_5 9 5
ble_pack uu2.mem0.ram512X8_inst_RNO_49_LC_9_6_0 { uu2.mem0.ram512X8_inst_RNO_49 }
ble_pack uu2.mem0.ram512X8_inst_RNO_27_LC_9_6_1 { uu2.mem0.ram512X8_inst_RNO_27 }
ble_pack uu2.mem0.ram512X8_inst_RNO_16_LC_9_6_2 { uu2.mem0.ram512X8_inst_RNO_16 }
ble_pack uu2.mem0.ram512X8_inst_RNO_86_LC_9_6_3 { uu2.mem0.ram512X8_inst_RNO_86 }
ble_pack uu2.w_addr_displaying_RNI59BR1_5_LC_9_6_4 { uu2.w_addr_displaying_RNI59BR1[5] }
ble_pack uu2.w_addr_displaying_7_rep1_LC_9_6_5 { uu2.w_addr_displaying_7_rep1_RNO, uu2.w_addr_displaying_7_rep1 }
ble_pack uu2.w_addr_displaying_5_LC_9_6_6 { uu2.w_addr_displaying_RNO[5], uu2.w_addr_displaying[5] }
ble_pack uu2.w_addr_displaying_7_LC_9_6_7 { uu2.w_addr_displaying_RNO[7], uu2.w_addr_displaying[7] }
clb_pack LT_9_6 { uu2.mem0.ram512X8_inst_RNO_49_LC_9_6_0, uu2.mem0.ram512X8_inst_RNO_27_LC_9_6_1, uu2.mem0.ram512X8_inst_RNO_16_LC_9_6_2, uu2.mem0.ram512X8_inst_RNO_86_LC_9_6_3, uu2.w_addr_displaying_RNI59BR1_5_LC_9_6_4, uu2.w_addr_displaying_7_rep1_LC_9_6_5, uu2.w_addr_displaying_5_LC_9_6_6, uu2.w_addr_displaying_7_LC_9_6_7 }
set_location LT_9_6 9 6
ble_pack uu2.bitmap_RNIKGSI_58_LC_9_7_1 { uu2.bitmap_RNIKGSI[58] }
ble_pack uu2.mem0.ram512X8_inst_RNO_52_LC_9_7_2 { uu2.mem0.ram512X8_inst_RNO_52 }
ble_pack uu2.bitmap_58_LC_9_7_3 { Lab_UT.bcd2segment1.segment[0], uu2.bitmap[58] }
ble_pack uu2.bitmap_186_LC_9_7_5 { Lab_UT.bcd2segment1.m97, uu2.bitmap[186] }
ble_pack uu2.mem0.ram512X8_inst_RNO_81_LC_9_7_6 { uu2.mem0.ram512X8_inst_RNO_81 }
ble_pack uu2.mem0.ram512X8_inst_RNO_56_LC_9_7_7 { uu2.mem0.ram512X8_inst_RNO_56 }
clb_pack LT_9_7 { uu2.bitmap_RNIKGSI_58_LC_9_7_1, uu2.mem0.ram512X8_inst_RNO_52_LC_9_7_2, uu2.bitmap_58_LC_9_7_3, uu2.bitmap_186_LC_9_7_5, uu2.mem0.ram512X8_inst_RNO_81_LC_9_7_6, uu2.mem0.ram512X8_inst_RNO_56_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack buart.Z_rx.bitcount_0_LC_9_8_0 { buart.Z_rx.bitcount_RNO[0], buart.Z_rx.bitcount[0] }
ble_pack buart.Z_rx.bitcount_4_LC_9_8_1 { buart.Z_rx.bitcount_RNO[4], buart.Z_rx.bitcount[4] }
ble_pack buart.Z_rx.bitcount_1_LC_9_8_2 { buart.Z_rx.bitcount_RNO[1], buart.Z_rx.bitcount[1] }
ble_pack buart.Z_rx.bitcount_2_LC_9_8_3 { buart.Z_rx.bitcount_RNO[2], buart.Z_rx.bitcount[2] }
ble_pack uu2.mem0.ram512X8_inst_RNO_80_LC_9_8_4 { uu2.mem0.ram512X8_inst_RNO_80 }
ble_pack uu2.mem0.ram512X8_inst_RNO_82_LC_9_8_5 { uu2.mem0.ram512X8_inst_RNO_82 }
ble_pack uu2.r_addr_2_LC_9_8_6 { uu2.r_addr_RNO[2], uu2.r_addr[2] }
ble_pack uu2.r_addr_1_LC_9_8_7 { uu2.r_addr_RNO[1], uu2.r_addr[1] }
clb_pack LT_9_8 { buart.Z_rx.bitcount_0_LC_9_8_0, buart.Z_rx.bitcount_4_LC_9_8_1, buart.Z_rx.bitcount_1_LC_9_8_2, buart.Z_rx.bitcount_2_LC_9_8_3, uu2.mem0.ram512X8_inst_RNO_80_LC_9_8_4, uu2.mem0.ram512X8_inst_RNO_82_LC_9_8_5, uu2.r_addr_2_LC_9_8_6, uu2.r_addr_1_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack Lab_UT.didp.ce_1_LC_9_9_0 { Lab_UT.bcd2segment1.m5_Lab_UT.didp.ce_1_REP_LUT4_0, Lab_UT.didp.ce[1] }
ble_pack Lab_UT.bcd2segment1.m53_LC_9_9_1 { Lab_UT.bcd2segment1.m53 }
ble_pack Lab_UT.didp.ce_2_LC_9_9_3 { Lab_UT.didp.countrce2.q_RNI84NN1_2_Lab_UT.didp.ce_2_REP_LUT4_0, Lab_UT.didp.ce[2] }
ble_pack Lab_UT.didp.countrce3.q_RNO_0_3_LC_9_9_4 { Lab_UT.didp.countrce3.q_RNO_0[3] }
clb_pack LT_9_9 { Lab_UT.didp.ce_1_LC_9_9_0, Lab_UT.bcd2segment1.m53_LC_9_9_1, Lab_UT.didp.ce_2_LC_9_9_3, Lab_UT.didp.countrce3.q_RNO_0_3_LC_9_9_4 }
set_location LT_9_9 9 9
ble_pack buart.Z_rx.bitcount_cry_c_0_LC_9_10_0 { buart.Z_rx.bitcount_cry_c[0] }
ble_pack buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_9_10_1 { buart.Z_rx.bitcount_cry_0_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[1] }
ble_pack buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_9_10_2 { buart.Z_rx.bitcount_cry_1_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[2] }
ble_pack buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_9_10_3 { buart.Z_rx.bitcount_cry_2_THRU_LUT4_0, buart.Z_rx.bitcount_cry_c[3] }
ble_pack buart.Z_rx.bitcount_RNO_0_4_LC_9_10_4 { buart.Z_rx.bitcount_RNO_0[4] }
ble_pack Lab_UT.bcd2segment1.m42_bm_LC_9_10_6 { Lab_UT.bcd2segment1.m42_bm }
ble_pack buart.Z_rx.bitcount_RNO_0_0_LC_9_10_7 { buart.Z_rx.bitcount_RNO_0[0] }
clb_pack LT_9_10 { buart.Z_rx.bitcount_cry_c_0_LC_9_10_0, buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_9_10_1, buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_9_10_2, buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_9_10_3, buart.Z_rx.bitcount_RNO_0_4_LC_9_10_4, Lab_UT.bcd2segment1.m42_bm_LC_9_10_6, buart.Z_rx.bitcount_RNO_0_0_LC_9_10_7 }
set_location LT_9_10 9 10
ble_pack buart.Z_rx.bitcount_RNIMK771_4_LC_9_11_0 { buart.Z_rx.bitcount_RNIMK771[4] }
ble_pack buart.Z_rx.bitcount_RNIC77M1_0_LC_9_11_1 { buart.Z_rx.bitcount_RNIC77M1[0] }
ble_pack Lab_UT.dictrl.next_state_3_LC_9_11_2 { Lab_UT.dictrl.next_state_RNO[3], Lab_UT.dictrl.next_state[3] }
ble_pack buart.Z_rx.bitcount_RNIAPJJ_1_LC_9_11_3 { buart.Z_rx.bitcount_RNIAPJJ[1] }
ble_pack buart.Z_rx.bitcount_RNO_0_1_LC_9_11_6 { buart.Z_rx.bitcount_RNO_0[1] }
ble_pack buart.Z_rx.bitcount_RNO_0_2_LC_9_11_7 { buart.Z_rx.bitcount_RNO_0[2] }
clb_pack LT_9_11 { buart.Z_rx.bitcount_RNIMK771_4_LC_9_11_0, buart.Z_rx.bitcount_RNIC77M1_0_LC_9_11_1, Lab_UT.dictrl.next_state_3_LC_9_11_2, buart.Z_rx.bitcount_RNIAPJJ_1_LC_9_11_3, buart.Z_rx.bitcount_RNO_0_1_LC_9_11_6, buart.Z_rx.bitcount_RNO_0_2_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack Lab_UT.dictrl.next_state_2_LC_9_12_0 { Lab_UT.dictrl.next_state_RNO[2], Lab_UT.dictrl.next_state[2] }
ble_pack buart.Z_rx.bitcount_RNIBQJJ_4_LC_9_12_1 { buart.Z_rx.bitcount_RNIBQJJ[4] }
ble_pack buart.Z_rx.bitcount_RNI9F1H1_0_LC_9_12_2 { buart.Z_rx.bitcount_RNI9F1H1[0] }
ble_pack buart.Z_rx.bitcount_RNIIU223_0_LC_9_12_3 { buart.Z_rx.bitcount_RNIIU223[0] }
ble_pack Lab_UT.dictrl.next_state_RNI9T1T1_2_LC_9_12_5 { Lab_UT.dictrl.next_state_RNI9T1T1[2] }
ble_pack buart.Z_rx.bitcount_RNI9F1H1_4_LC_9_12_6 { buart.Z_rx.bitcount_RNI9F1H1[4] }
ble_pack buart.Z_rx.bitcount_RNILM873_0_LC_9_12_7 { buart.Z_rx.bitcount_RNILM873[0] }
clb_pack LT_9_12 { Lab_UT.dictrl.next_state_2_LC_9_12_0, buart.Z_rx.bitcount_RNIBQJJ_4_LC_9_12_1, buart.Z_rx.bitcount_RNI9F1H1_0_LC_9_12_2, buart.Z_rx.bitcount_RNIIU223_0_LC_9_12_3, Lab_UT.dictrl.next_state_RNI9T1T1_2_LC_9_12_5, buart.Z_rx.bitcount_RNI9F1H1_4_LC_9_12_6, buart.Z_rx.bitcount_RNILM873_0_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack Lab_UT.dictrl.state_ret_LC_9_13_4 { Lab_UT.dictrl.state_ret_RNO, Lab_UT.dictrl.state_ret }
ble_pack Lab_UT.dictrl.state_ret_1_LC_9_13_6 { Lab_UT.dictrl.state_ret_1_RNO, Lab_UT.dictrl.state_ret_1 }
clb_pack LT_9_13 { Lab_UT.dictrl.state_ret_LC_9_13_4, Lab_UT.dictrl.state_ret_1_LC_9_13_6 }
set_location LT_9_13 9 13
ble_pack buart.Z_rx.shifter_2_LC_9_14_1 { buart.Z_rx.shifter_2_THRU_LUT4_0, buart.Z_rx.shifter[2] }
clb_pack LT_9_14 { buart.Z_rx.shifter_2_LC_9_14_1 }
set_location LT_9_14 9 14
ble_pack Lab_UT.bcd2segment1.segment_0_0_LC_11_7_0 { Lab_UT.bcd2segment1.segment_0[0] }
ble_pack Lab_UT.bcd2segment1.m96_LC_11_7_4 { Lab_UT.bcd2segment1.m96 }
clb_pack LT_11_7 { Lab_UT.bcd2segment1.segment_0_0_LC_11_7_0, Lab_UT.bcd2segment1.m96_LC_11_7_4 }
set_location LT_11_7 11 7
ble_pack Lab_UT.didp.countrce1.q_0_LC_11_8_0 { Lab_UT.didp.countrce1.q_RNO[0], Lab_UT.didp.countrce1.q[0] }
ble_pack Lab_UT.bcd2segment2.segmentUQ_5_LC_11_8_1 { Lab_UT.bcd2segment2.segmentUQ[5] }
ble_pack Lab_UT.didp.countrce1.q_1_LC_11_8_2 { Lab_UT.didp.countrce1.q_RNO[1], Lab_UT.didp.countrce1.q[1] }
ble_pack Lab_UT.bcd2segment2.un1_num_5_2_LC_11_8_3 { Lab_UT.bcd2segment2.un1_num_5_2 }
ble_pack Lab_UT.bcd2segment2.segmentUQ_3_LC_11_8_4 { Lab_UT.bcd2segment2.segmentUQ[3] }
ble_pack Lab_UT.bcd2segment2.segmentUQ_4_LC_11_8_5 { Lab_UT.bcd2segment2.segmentUQ[4] }
ble_pack Lab_UT.bcd2segment1.m1_LC_11_8_6 { Lab_UT.bcd2segment1.m1 }
ble_pack Lab_UT.didp.countrce1.q_2_LC_11_8_7 { Lab_UT.didp.countrce1.q_RNO[2], Lab_UT.didp.countrce1.q[2] }
clb_pack LT_11_8 { Lab_UT.didp.countrce1.q_0_LC_11_8_0, Lab_UT.bcd2segment2.segmentUQ_5_LC_11_8_1, Lab_UT.didp.countrce1.q_1_LC_11_8_2, Lab_UT.bcd2segment2.un1_num_5_2_LC_11_8_3, Lab_UT.bcd2segment2.segmentUQ_3_LC_11_8_4, Lab_UT.bcd2segment2.segmentUQ_4_LC_11_8_5, Lab_UT.bcd2segment1.m1_LC_11_8_6, Lab_UT.didp.countrce1.q_2_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack Lab_UT.didp.countrce2.q_0_LC_11_9_0 { Lab_UT.didp.countrce2.q_RNO[0], Lab_UT.didp.countrce2.q[0] }
ble_pack Lab_UT.didp.countrce2.q_1_LC_11_9_1 { Lab_UT.didp.countrce2.q_RNO[1], Lab_UT.didp.countrce2.q[1] }
ble_pack Lab_UT.didp.countrce2.q_RNI4V78_3_LC_11_9_2 { Lab_UT.didp.countrce2.q_RNI4V78[3] }
ble_pack Lab_UT.didp.countrce2.q_RNI84NN1_2_LC_11_9_3 { Lab_UT.didp.countrce2.q_RNI84NN1[2] }
ble_pack Lab_UT.didp.countrce2.q_RNO_0_3_LC_11_9_5 { Lab_UT.didp.countrce2.q_RNO_0[3] }
ble_pack Lab_UT.didp.countrce2.q_3_LC_11_9_6 { Lab_UT.didp.countrce2.q_RNO[3], Lab_UT.didp.countrce2.q[3] }
ble_pack Lab_UT.didp.countrce2.q_2_LC_11_9_7 { Lab_UT.didp.countrce2.q_RNO[2], Lab_UT.didp.countrce2.q[2] }
clb_pack LT_11_9 { Lab_UT.didp.countrce2.q_0_LC_11_9_0, Lab_UT.didp.countrce2.q_1_LC_11_9_1, Lab_UT.didp.countrce2.q_RNI4V78_3_LC_11_9_2, Lab_UT.didp.countrce2.q_RNI84NN1_2_LC_11_9_3, Lab_UT.didp.countrce2.q_RNO_0_3_LC_11_9_5, Lab_UT.didp.countrce2.q_3_LC_11_9_6, Lab_UT.didp.countrce2.q_2_LC_11_9_7 }
set_location LT_11_9 11 9
ble_pack Lab_UT.didp.countrce1.q_RNO_0_3_LC_11_10_1 { Lab_UT.didp.countrce1.q_RNO_0[3] }
ble_pack Lab_UT.didp.countrce1.q_3_LC_11_10_2 { Lab_UT.didp.countrce1.q_RNO[3], Lab_UT.didp.countrce1.q[3] }
ble_pack Lab_UT.bcd2segment1.m5_LC_11_10_6 { Lab_UT.bcd2segment1.m5 }
clb_pack LT_11_10 { Lab_UT.didp.countrce1.q_RNO_0_3_LC_11_10_1, Lab_UT.didp.countrce1.q_3_LC_11_10_2, Lab_UT.bcd2segment1.m5_LC_11_10_6 }
set_location LT_11_10 11 10
ble_pack Lab_UT.didp.ce_0_LC_11_11_0 { Lab_UT.dictrl.state_ret_2_RNIGOKU_Lab_UT.didp.ce_0_REP_LUT4_0, Lab_UT.didp.ce[0] }
ble_pack Lab_UT.didp.reset_0_LC_11_11_2 { Lab_UT.didp.reset_RNO[0], Lab_UT.didp.reset[0] }
clb_pack LT_11_11 { Lab_UT.didp.ce_0_LC_11_11_0, Lab_UT.didp.reset_0_LC_11_11_2 }
set_location LT_11_11 11 11
ble_pack Lab_UT.didp.reset_1_LC_12_9_2 { Lab_UT.bcd2segment1.N_121_mux_i, Lab_UT.didp.reset[1] }
clb_pack LT_12_9 { Lab_UT.didp.reset_1_LC_12_9_2 }
set_location LT_12_9 12 9
set_location uu2.mem0.ram512X8_inst 3 5
set_location latticehx1k_pll_inst.latticehx1k_pll_inst_RNIQV8B 6 17
set_location uu0.delay_line_RNILLLG7_0[1] 0 9
set_location resetGen.rst_RNI4PQ1 0 8
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
