set_location Lab_UT.alarmchar_latch[0] 5 9 3 # SB_LUT4 (LogicCell: Lab_UT.alarmchar_latch[0]_LC_0)
set_location Lab_UT.alarmchar_latch[1] 4 10 6 # SB_LUT4 (LogicCell: Lab_UT.alarmchar_latch[1]_LC_1)
set_location Lab_UT.alarmchar_latch[3] 4 9 3 # SB_LUT4 (LogicCell: Lab_UT.alarmchar_latch[3]_LC_2)
set_location Lab_UT.alarmchar_latch[4] 5 9 5 # SB_LUT4 (LogicCell: Lab_UT.alarmchar_latch[4]_LC_3)
set_location Lab_UT.alarmchar_latch[6] 4 9 0 # SB_LUT4 (LogicCell: Lab_UT.alarmchar_latch[6]_LC_4)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[3] 9 3 0 # SB_LUT4 (LogicCell: uu2.bitmap[314]_LC_5)
set_location uu2.bitmap[314] 9 3 0 # SB_DFFNSR (LogicCell: uu2.bitmap[314]_LC_5)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[4] 9 3 1 # SB_LUT4 (LogicCell: uu2.bitmap[218]_LC_6)
set_location uu2.bitmap[218] 9 3 1 # SB_DFFNSR (LogicCell: uu2.bitmap[218]_LC_6)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[5] 9 3 2 # SB_LUT4 (LogicCell: uu2.bitmap[90]_LC_7)
set_location uu2.bitmap[90] 9 3 2 # SB_DFFNSR (LogicCell: uu2.bitmap[90]_LC_7)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[6] 9 3 4 # SB_LUT4 (LogicCell: uu2.bitmap[186]_LC_8)
set_location uu2.bitmap[186] 9 3 4 # SB_DFFNSR (LogicCell: uu2.bitmap[186]_LC_8)
set_location Lab_UT.bcd2segment1.segmentUQ_i[0] 9 3 5 # SB_LUT4 (LogicCell: uu2.bitmap[58]_LC_9)
set_location uu2.bitmap[58] 9 3 5 # SB_DFFNSR (LogicCell: uu2.bitmap[58]_LC_9)
set_location Lab_UT.bcd2segment1.segmentUQ_i[1] 7 3 0 # SB_LUT4 (LogicCell: uu2.bitmap[93]_LC_10)
set_location uu2.bitmap[93] 7 3 0 # SB_DFFNSR (LogicCell: uu2.bitmap[93]_LC_10)
set_location Lab_UT.bcd2segment1.segmentUQ_i[2] 7 3 1 # SB_LUT4 (LogicCell: uu2.bitmap[221]_LC_11)
set_location uu2.bitmap[221] 7 3 1 # SB_DFFNSR (LogicCell: uu2.bitmap[221]_LC_11)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[3] 7 4 0 # SB_LUT4 (LogicCell: uu2.bitmap[308]_LC_12)
set_location uu2.bitmap[308] 7 4 0 # SB_DFFNSR (LogicCell: uu2.bitmap[308]_LC_12)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[4] 7 4 1 # SB_LUT4 (LogicCell: uu2.bitmap[212]_LC_13)
set_location uu2.bitmap[212] 7 4 1 # SB_DFFNSR (LogicCell: uu2.bitmap[212]_LC_13)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[5] 7 4 2 # SB_LUT4 (LogicCell: uu2.bitmap[84]_LC_14)
set_location uu2.bitmap[84] 7 4 2 # SB_DFFNSR (LogicCell: uu2.bitmap[84]_LC_14)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[6] 7 4 3 # SB_LUT4 (LogicCell: uu2.bitmap[180]_LC_15)
set_location uu2.bitmap[180] 7 4 3 # SB_DFFNSR (LogicCell: uu2.bitmap[180]_LC_15)
set_location Lab_UT.bcd2segment2.segmentUQ_i[0] 7 4 4 # SB_LUT4 (LogicCell: uu2.bitmap[52]_LC_16)
set_location uu2.bitmap[52] 7 4 4 # SB_DFFNSR (LogicCell: uu2.bitmap[52]_LC_16)
set_location Lab_UT.bcd2segment2.segmentUQ_i[1] 7 4 6 # SB_LUT4 (LogicCell: uu2.bitmap[87]_LC_17)
set_location uu2.bitmap[87] 7 4 6 # SB_DFFNSR (LogicCell: uu2.bitmap[87]_LC_17)
set_location Lab_UT.bcd2segment2.segmentUQ_i[2] 8 5 0 # SB_LUT4 (LogicCell: uu2.bitmap[215]_LC_18)
set_location uu2.bitmap[215] 8 5 0 # SB_DFFNSR (LogicCell: uu2.bitmap[215]_LC_18)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[3] 8 2 5 # SB_LUT4 (LogicCell: uu2.bitmap[296]_LC_19)
set_location uu2.bitmap[296] 8 2 5 # SB_DFFNSR (LogicCell: uu2.bitmap[296]_LC_19)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[4] 8 5 6 # SB_LUT4 (LogicCell: uu2.bitmap[200]_LC_20)
set_location uu2.bitmap[200] 8 5 6 # SB_DFFNSR (LogicCell: uu2.bitmap[200]_LC_20)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[5] 8 5 5 # SB_LUT4 (LogicCell: uu2.bitmap[72]_LC_21)
set_location uu2.bitmap[72] 8 5 5 # SB_DFFNSR (LogicCell: uu2.bitmap[72]_LC_21)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[6] 8 2 6 # SB_LUT4 (LogicCell: uu2.bitmap[168]_LC_22)
set_location uu2.bitmap[168] 8 2 6 # SB_DFFNSR (LogicCell: uu2.bitmap[168]_LC_22)
set_location Lab_UT.bcd2segment3.segmentUQ_i[0] 7 2 1 # SB_LUT4 (LogicCell: uu2.bitmap[40]_LC_23)
set_location uu2.bitmap[40] 7 2 1 # SB_DFFNSR (LogicCell: uu2.bitmap[40]_LC_23)
set_location Lab_UT.bcd2segment3.segmentUQ_i[1] 7 2 2 # SB_LUT4 (LogicCell: uu2.bitmap[75]_LC_24)
set_location uu2.bitmap[75] 7 2 2 # SB_DFFNSR (LogicCell: uu2.bitmap[75]_LC_24)
set_location Lab_UT.bcd2segment3.segmentUQ_i[2] 7 2 3 # SB_LUT4 (LogicCell: uu2.bitmap[203]_LC_25)
set_location uu2.bitmap[203] 7 2 3 # SB_DFFNSR (LogicCell: uu2.bitmap[203]_LC_25)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[3] 9 2 0 # SB_LUT4 (LogicCell: uu2.bitmap[290]_LC_26)
set_location uu2.bitmap[290] 9 2 0 # SB_DFFNSR (LogicCell: uu2.bitmap[290]_LC_26)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[4] 9 2 1 # SB_LUT4 (LogicCell: uu2.bitmap[194]_LC_27)
set_location uu2.bitmap[194] 9 2 1 # SB_DFFNSR (LogicCell: uu2.bitmap[194]_LC_27)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[5] 9 2 2 # SB_LUT4 (LogicCell: uu2.bitmap[66]_LC_28)
set_location uu2.bitmap[66] 9 2 2 # SB_DFFNSR (LogicCell: uu2.bitmap[66]_LC_28)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[6] 9 2 4 # SB_LUT4 (LogicCell: uu2.bitmap[162]_LC_29)
set_location uu2.bitmap[162] 9 2 4 # SB_DFFNSR (LogicCell: uu2.bitmap[162]_LC_29)
set_location Lab_UT.bcd2segment4.segmentUQ_i[0] 9 2 5 # SB_LUT4 (LogicCell: uu2.bitmap[34]_LC_30)
set_location uu2.bitmap[34] 9 2 5 # SB_DFFNSR (LogicCell: uu2.bitmap[34]_LC_30)
set_location Lab_UT.bcd2segment4.segmentUQ_i[1] 9 2 7 # SB_LUT4 (LogicCell: uu2.bitmap[69]_LC_31)
set_location uu2.bitmap[69] 9 2 7 # SB_DFFNSR (LogicCell: uu2.bitmap[69]_LC_31)
set_location Lab_UT.bcd2segment4.segmentUQ_i[2] 6 3 0 # SB_LUT4 (LogicCell: uu2.bitmap[197]_LC_32)
set_location uu2.bitmap[197] 6 3 0 # SB_DFFNSR (LogicCell: uu2.bitmap[197]_LC_32)
set_location Lab_UT.dictrl.alarmstate8 5 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate8_LC_33)
set_location Lab_UT.dictrl.alarmstate8_1 6 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate8_1_LC_34)
set_location Lab_UT.dictrl.alarmstate8_3 5 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate8_3_LC_35)
set_location Lab_UT.dictrl.alarmstate_1_0_.m3 4 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_0_.m3_LC_36)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa 7 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_LC_37)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_0 6 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_0_LC_38)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_1 6 6 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_1_LC_39)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_12 6 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_12_LC_40)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_13 7 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_13_LC_41)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_1_i 4 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_1_i_LC_42)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_2 7 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_2_LC_43)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_3_0 7 6 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_3_0_LC_44)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_4 8 6 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_4_LC_45)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_5 7 6 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_5_LC_46)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_6 7 7 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_6_LC_47)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa_7 6 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_7_LC_48)
set_location Lab_UT.dictrl.alarmstate_latch[0] 4 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_latch[0]_LC_49)
set_location Lab_UT.dictrl.alarmstate_latch[1] 4 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_latch[1]_LC_50)
set_location Lab_UT.dictrl.g0_5_1 5 11 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_5_1_LC_51)
set_location Lab_UT.dictrl.g0_5_4 8 14 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_5_4_LC_52)
set_location Lab_UT.dictrl.g0_6_1 6 11 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_6_1_LC_53)
set_location Lab_UT.dictrl.g0_8 7 12 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_8_LC_54)
set_location Lab_UT.dictrl.g1_0_1 5 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_0_1_LC_55)
set_location Lab_UT.dictrl.g1_0_5 6 12 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_0_5_LC_56)
set_location Lab_UT.dictrl.g1_0_x1 8 14 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_0_x1_LC_57)
set_location Lab_UT.dictrl.g1_1_5 6 14 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_1_5_LC_58)
set_location Lab_UT.dictrl.g1_7 5 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_7_LC_59)
set_location Lab_UT.dictrl.g1_8 6 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_8_LC_60)
set_location Lab_UT.dictrl.g2 7 14 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g2_LC_61)
set_location Lab_UT.dictrl.g2_0 5 11 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g2_0_LC_62)
set_location Lab_UT.dictrl.justentered_latch 5 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.justentered_latch_LC_63)
set_location Lab_UT.dictrl.m1 5 10 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m1_LC_64)
set_location Lab_UT.dictrl.m14 9 13 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m14_LC_65)
set_location Lab_UT.dictrl.m22_1 7 13 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m22_1_LC_66)
set_location Lab_UT.dictrl.m22_4 8 14 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m22_4_LC_67)
set_location Lab_UT.dictrl.m22_ns 8 13 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m22_ns_LC_68)
set_location Lab_UT.dictrl.m22_x1 8 13 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m22_x1_LC_69)
set_location Lab_UT.dictrl.m34 7 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m34_LC_70)
set_location Lab_UT.dictrl.m34_1 6 14 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m34_1_LC_71)
set_location Lab_UT.dictrl.m37 7 12 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m37_LC_72)
set_location Lab_UT.dictrl.m37_N_2L1 6 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m37_N_2L1_LC_73)
set_location Lab_UT.dictrl.m5 7 14 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m5_LC_74)
set_location Lab_UT.dictrl.m59 4 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m59_LC_75)
set_location Lab_UT.dictrl.m7_0 9 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m7_0_LC_76)
set_location Lab_UT.dictrl.m7_a0 7 14 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m7_a0_LC_77)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_0_m2_0 8 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_0_m2_0_LC_78)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_0_mb 7 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_0_mb_LC_79)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_0_rn 7 13 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_0_rn_LC_80)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_0_sn 7 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_0_sn_LC_81)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_1 8 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_1_LC_82)
set_location Lab_UT.dictrl.next_state_1_3_0_.g0_4 7 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g0_4_LC_83)
set_location Lab_UT.dictrl.next_state_1_3_0_.g1 7 13 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g1_LC_84)
set_location Lab_UT.dictrl.next_state_1_3_0_.g1_1_0 7 13 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g1_1_0_LC_85)
set_location Lab_UT.dictrl.next_state_1_3_0_.g2 8 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.g2_LC_86)
set_location Lab_UT.dictrl.next_state_1_3_0_.m19 8 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m19_LC_87)
set_location Lab_UT.dictrl.next_state_1_3_0_.m19_1 7 11 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m19_1_LC_88)
set_location Lab_UT.dictrl.next_state_1_3_0_.m19_1_0 8 8 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m19_1_0_LC_89)
set_location Lab_UT.dictrl.next_state_1_3_0_.m21 7 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m21_LC_90)
set_location Lab_UT.dictrl.next_state_1_3_0_.m23 8 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[1]_LC_91)
set_location Lab_UT.dictrl.next_state[1] 8 10 1 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[1]_LC_91)
set_location Lab_UT.dictrl.next_state_1_3_0_.m32 8 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m32_LC_92)
set_location Lab_UT.dictrl.next_state_1_3_0_.m34_0 9 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m34_0_LC_93)
set_location Lab_UT.dictrl.next_state_1_3_0_.m35 9 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_1_3_0_.m35_LC_94)
set_location Lab_UT.dictrl.next_state_RNI81O17[2] 9 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNI81O17[2]_LC_95)
set_location Lab_UT.dictrl.next_state_RNIIANV3[0] 8 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNIIANV3[0]_LC_96)
set_location Lab_UT.dictrl.next_state_RNILQB86[1] 8 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNILQB86[1]_LC_97)
set_location Lab_UT.dictrl.next_state_RNIMMQU[0] 9 11 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNIMMQU[0]_LC_98)
set_location Lab_UT.dictrl.next_state_RNINVFJ7[3] 9 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNINVFJ7[3]_LC_99)
set_location Lab_UT.dictrl.next_state_RNO[0] 9 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[0]_LC_100)
set_location Lab_UT.dictrl.next_state[0] 9 11 3 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[0]_LC_100)
set_location Lab_UT.dictrl.next_state_RNO_0[0] 9 12 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_0[0]_LC_101)
set_location Lab_UT.dictrl.next_state_RNO_1[0] 9 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_1[0]_LC_102)
set_location Lab_UT.dictrl.next_state_RNO_2[0] 9 12 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_2[0]_LC_103)
set_location Lab_UT.dictrl.next_state_RNO_3[0] 8 12 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_3[0]_LC_104)
set_location Lab_UT.dictrl.next_state_RNO_4[0] 6 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_4[0]_LC_105)
set_location Lab_UT.dictrl.next_state_RNO_5[0] 8 12 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_5[0]_LC_106)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNI6QSR2 8 11 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNI6QSR2_LC_107)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIB36V3 8 13 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIB36V3_LC_108)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNICD344 9 13 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNICD344_LC_109)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13 8 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13_LC_110)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13_0 8 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13_0_LC_111)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13_1 7 12 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNID8O13_1_LC_112)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIE8O13 7 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIE8O13_LC_113)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIE8O13_0 7 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIE8O13_0_LC_114)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIIE4B1 7 12 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIIE4B1_LC_115)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIJ5AG2 7 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIJ5AG2_LC_116)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIJE4B1 6 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIJE4B1_LC_117)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIKMA19 9 13 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIKMA19_LC_118)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIKTFH 7 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIKTFH_LC_119)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIO0F67 8 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIO0F67_LC_120)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIVDGG2 6 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIVDGG2_LC_121)
set_location Lab_UT.dictrl.state_0_esr_RNI0CNA5[1] 9 14 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI0CNA5[1]_LC_122)
set_location Lab_UT.dictrl.state_0_esr_RNI53C16[0] 8 11 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI53C16[0]_LC_123)
set_location Lab_UT.dictrl.state_0_esr_RNI7TE56[1] 8 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI7TE56[1]_LC_124)
set_location Lab_UT.dictrl.state_0_esr_RNIBLGFF[0] 8 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIBLGFF[0]_LC_125)
set_location Lab_UT.dictrl.state_0_esr_RNIC4II1[0] 6 11 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIC4II1[0]_LC_126)
set_location Lab_UT.dictrl.state_0_esr_RNICL796[0] 9 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNICL796[0]_LC_127)
set_location Lab_UT.dictrl.state_0_esr_RNIDUKB5[0] 9 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIDUKB5[0]_LC_128)
set_location Lab_UT.dictrl.state_0_esr_RNIG91L6[0] 8 11 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIG91L6[0]_LC_129)
set_location Lab_UT.dictrl.state_0_esr_RNIH8JQ[2] 7 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIH8JQ[2]_LC_130)
set_location Lab_UT.dictrl.state_0_esr_RNIIJEG7[3] 9 12 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIIJEG7[3]_LC_131)
set_location Lab_UT.dictrl.state_0_esr_RNIKOLT_0[2] 9 10 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIKOLT_0[2]_LC_132)
set_location Lab_UT.dictrl.state_0_esr_RNIKOLT[2] 9 10 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIKOLT[2]_LC_133)
set_location Lab_UT.dictrl.state_0_esr_RNIN2PIH[1] 9 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIN2PIH[1]_LC_134)
set_location Lab_UT.dictrl.state_0_esr_RNINQBN3[0] 8 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNINQBN3[0]_LC_135)
set_location Lab_UT.dictrl.state_0_esr_RNIR0L55[1] 5 11 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIR0L55[1]_LC_136)
set_location Lab_UT.dictrl.state_0_esr_RNISV3C5[1] 7 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNISV3C5[1]_LC_137)
set_location Lab_UT.dictrl.state_0_esr_RNITL791[0] 6 11 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNITL791[0]_LC_138)
set_location Lab_UT.dictrl.state_0_esr_RNITNH9H[3] 8 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNITNH9H[3]_LC_139)
set_location Lab_UT.dictrl.state_0_esr_RNIUPT821[0] 8 9 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIUPT821[0]_LC_140)
set_location Lab_UT.dictrl.state_0_fast_esr_RNI0QVC1[0] 9 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNI0QVC1[0]_LC_141)
set_location Lab_UT.dictrl.state_0_fast_esr_RNI43D01[0] 9 14 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNI43D01[0]_LC_142)
set_location Lab_UT.dictrl.state_0_fast_esr_RNI61IM[0] 8 14 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNI61IM[0]_LC_143)
set_location Lab_UT.dictrl.state_0_fast_esr_RNI9GK03[0] 9 14 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNI9GK03[0]_LC_144)
set_location Lab_UT.dictrl.state_0_fast_esr_RNIT5E31[0] 8 14 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNIT5E31[0]_LC_145)
set_location Lab_UT.dictrl.state_ret_10_esr_RNO 9 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_10_esr_LC_146)
set_location Lab_UT.dictrl.state_ret_10_esr 9 7 0 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_ret_10_esr_LC_146)
set_location Lab_UT.dictrl.state_ret_11_ess_RNO 9 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_11_ess_LC_147)
set_location Lab_UT.dictrl.state_ret_11_ess 9 7 1 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_11_ess_LC_147)
set_location Lab_UT.dictrl.state_ret_13_RNIIQPMC 9 11 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNIIQPMC_LC_148)
set_location Lab_UT.dictrl.state_ret_13_RNO 7 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_LC_149)
set_location Lab_UT.dictrl.state_ret_13 7 10 3 # SB_DFF (LogicCell: Lab_UT.dictrl.state_ret_13_LC_149)
set_location Lab_UT.dictrl.state_ret_13_RNO_0 7 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_0_LC_150)
set_location Lab_UT.dictrl.state_ret_13_RNO_1 7 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_1_LC_151)
set_location Lab_UT.dictrl.state_ret_13_RNO_10 7 14 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_10_LC_152)
set_location Lab_UT.dictrl.state_ret_13_RNO_11 7 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_11_LC_153)
set_location Lab_UT.dictrl.state_ret_13_RNO_12 8 13 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_12_LC_154)
set_location Lab_UT.dictrl.state_ret_13_RNO_2 7 10 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_2_LC_155)
set_location Lab_UT.dictrl.state_ret_13_RNO_3 7 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_3_LC_156)
set_location Lab_UT.dictrl.state_ret_13_RNO_4 9 14 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_4_LC_157)
set_location Lab_UT.dictrl.state_ret_13_RNO_5 6 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_5_LC_158)
set_location Lab_UT.dictrl.state_ret_13_RNO_6 6 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_6_LC_159)
set_location Lab_UT.dictrl.state_ret_13_RNO_7 7 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_7_LC_160)
set_location Lab_UT.dictrl.state_ret_13_RNO_8 9 14 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_8_LC_161)
set_location Lab_UT.dictrl.state_ret_13_RNO_9 6 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_13_RNO_9_LC_162)
set_location Lab_UT.dictrl.state_ret_1_ess_RNI78U61 8 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNI78U61_LC_163)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO 9 8 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_LC_164)
set_location Lab_UT.dictrl.state_ret_1_ess 9 8 4 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_1_ess_LC_164)
set_location Lab_UT.dictrl.state_ret_2_ess_RNIAE4B1 7 13 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_RNIAE4B1_LC_165)
set_location Lab_UT.dictrl.state_ret_2_ess_RNII6R92 5 11 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_RNII6R92_LC_166)
set_location Lab_UT.dictrl.state_ret_2_ess_RNO 8 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_LC_167)
set_location Lab_UT.dictrl.state_ret_2_ess 8 8 0 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_2_ess_LC_167)
set_location Lab_UT.dictrl.state_ret_2_fast_ess_RNIS7QM1 6 14 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_fast_ess_RNIS7QM1_LC_168)
set_location Lab_UT.dictrl.state_ret_2_fast_ess_RNITJ214 8 14 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_fast_ess_RNITJ214_LC_169)
set_location Lab_UT.dictrl.state_ret_2_fast_ess_RNO 8 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_fast_ess_LC_170)
set_location Lab_UT.dictrl.state_ret_2_fast_ess 8 8 1 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_2_fast_ess_LC_170)
set_location Lab_UT.dictrl.state_ret_2_fast_ess_ctle 8 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_fast_ess_ctle_LC_171)
set_location Lab_UT.dictrl.state_ret_3_RNI9F571 8 7 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_3_RNI9F571_LC_172)
set_location Lab_UT.dictrl.state_ret_3_RNO 8 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_3_LC_173)
set_location Lab_UT.dictrl.state_ret_3 8 7 2 # SB_DFFSS (LogicCell: Lab_UT.dictrl.state_ret_3_LC_173)
set_location Lab_UT.dictrl.state_ret_5_RNICG571 8 8 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_5_RNICG571_LC_174)
set_location Lab_UT.dictrl.state_ret_5_RNO 8 7 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_5_LC_175)
set_location Lab_UT.dictrl.state_ret_5 8 7 3 # SB_DFFSS (LogicCell: Lab_UT.dictrl.state_ret_5_LC_175)
set_location Lab_UT.dictrl.state_ret_6_ess_RNINDRJ 9 8 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_6_ess_RNINDRJ_LC_176)
set_location Lab_UT.dictrl.state_ret_6_ess_RNO 8 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_6_ess_LC_177)
set_location Lab_UT.dictrl.state_ret_6_ess 8 8 3 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_6_ess_LC_177)
set_location Lab_UT.dictrl.state_ret_7_ess_RNI3FJ7D 9 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_ess_RNI3FJ7D_LC_178)
set_location Lab_UT.dictrl.state_ret_7_ess_RNI5MKI1 8 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_ess_RNI5MKI1_LC_179)
set_location Lab_UT.dictrl.state_ret_7_ess_RNIFIQ9B 9 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_ess_RNIFIQ9B_LC_180)
set_location Lab_UT.dictrl.state_ret_7_ess_RNIR14R 9 8 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_ess_RNIR14R_LC_181)
set_location Lab_UT.dictrl.state_ret_7_ess_RNO 8 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_ess_LC_182)
set_location Lab_UT.dictrl.state_ret_7_ess 8 9 5 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_7_ess_LC_182)
set_location Lab_UT.dictrl.state_ret_8_ess_RNO 9 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_8_ess_LC_183)
set_location Lab_UT.dictrl.state_ret_8_ess 9 7 2 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_8_ess_LC_183)
set_location Lab_UT.dictrl.state_ret_9_RNI14AG5 8 7 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_RNI14AG5_LC_184)
set_location Lab_UT.dictrl.state_ret_9_RNI27M74 8 12 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_RNI27M74_LC_185)
set_location Lab_UT.dictrl.state_ret_9_RNI5S0R1 9 8 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_RNI5S0R1_LC_186)
set_location Lab_UT.dictrl.state_ret_9_RNIK3GV 8 11 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_RNIK3GV_LC_187)
set_location Lab_UT.dictrl.state_ret_9_RNIUN0N1 9 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_RNIUN0N1_LC_188)
set_location Lab_UT.dictrl.state_ret_9_RNO 9 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_LC_189)
set_location Lab_UT.dictrl.state_ret_9 9 9 4 # SB_DFFSS (LogicCell: Lab_UT.dictrl.state_ret_9_LC_189)
set_location Lab_UT.dictrl.state_ret_esr_RNO 8 8 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_esr_LC_190)
set_location Lab_UT.dictrl.state_ret_esr 8 8 5 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_ret_esr_LC_190)
set_location Lab_UT.dictrl.un1_alarmstate_1_sqmuxa_1 5 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.un1_alarmstate_1_sqmuxa_1_LC_191)
set_location Lab_UT.dictrl.un1_alarmstate_1_sqmuxa_1_0_i 5 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.un1_alarmstate_1_sqmuxa_1_0_i_LC_192)
set_location Lab_UT.didp.ce_RNI62AM[1] 9 5 0 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNI62AM[1]_LC_193)
set_location Lab_UT.didp.ce_RNIBN0Q1[2] 6 5 0 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNIBN0Q1[2]_LC_194)
set_location Lab_UT.didp.ce_RNIFQ9K[0] 9 7 4 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNIFQ9K[0]_LC_195)
set_location Lab_UT.didp.ce_RNIHGGI1[3] 6 7 7 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNIHGGI1[3]_LC_196)
set_location Lab_UT.didp.ce_RNO[0] 5 7 5 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[0]_LC_197)
set_location Lab_UT.didp.ce[0] 5 7 5 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[0]_LC_197)
set_location Lab_UT.didp.countrce1.q_RNI0JJJ[2] 6 5 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNI0JJJ[2]_LC_198)
set_location Lab_UT.didp.countrce1.q_RNIULOK1[3] 6 4 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNIULOK1[3]_LC_199)
set_location Lab_UT.didp.countrce1.q_RNO[0] 4 6 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[0]_LC_200)
set_location Lab_UT.didp.countrce1.q[0] 4 6 6 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[0]_LC_200)
set_location Lab_UT.didp.countrce1.q_RNO_0[0] 4 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[0]_LC_201)
set_location Lab_UT.didp.countrce1.q_RNO_0[1] 9 7 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[1]_LC_202)
set_location Lab_UT.didp.countrce1.q_RNO_0[2] 9 5 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[2]_LC_203)
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 6 5 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[3]_LC_204)
set_location Lab_UT.didp.countrce1.q_RNO[1] 8 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[1]_LC_205)
set_location Lab_UT.didp.countrce1.q[1] 8 6 5 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[1]_LC_205)
set_location Lab_UT.didp.countrce1.q_RNO_1[2] 9 5 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_1[2]_LC_206)
set_location Lab_UT.didp.countrce1.q_RNO_1[3] 6 5 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_1[3]_LC_207)
set_location Lab_UT.didp.countrce1.q_RNO[2] 9 6 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[2]_LC_208)
set_location Lab_UT.didp.countrce1.q[2] 9 6 3 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[2]_LC_208)
set_location Lab_UT.didp.countrce1.q_RNO[3] 6 6 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[3]_LC_209)
set_location Lab_UT.didp.countrce1.q[3] 6 6 0 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[3]_LC_209)
set_location Lab_UT.didp.countrce2.q_RNI4I852[3] 4 5 2 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[1]_LC_210)
set_location Lab_UT.didp.reset[1] 4 5 2 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[1]_LC_210)
set_location Lab_UT.didp.countrce2.q_RNI6SFG[3] 7 5 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNI6SFG[3]_LC_211)
set_location Lab_UT.didp.countrce2.q_RNO[0] 7 5 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[0]_LC_212)
set_location Lab_UT.didp.countrce2.q[0] 7 5 1 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[0]_LC_212)
set_location Lab_UT.didp.countrce2.q_RNO_0[0] 8 4 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[0]_LC_213)
set_location Lab_UT.didp.countrce2.q_RNO_0[1] 7 6 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[1]_LC_214)
set_location Lab_UT.didp.countrce2.q_RNO_0[2] 7 5 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[2]_LC_215)
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 7 6 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[3]_LC_216)
set_location Lab_UT.didp.countrce2.q_RNO[1] 7 6 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[1]_LC_217)
set_location Lab_UT.didp.countrce2.q[1] 7 6 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[1]_LC_217)
set_location Lab_UT.didp.countrce2.q_RNO_1[2] 8 4 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_1[2]_LC_218)
set_location Lab_UT.didp.countrce2.q_RNO_1[3] 7 5 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_1[3]_LC_219)
set_location Lab_UT.didp.countrce2.q_RNO[2] 7 5 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[2]_LC_220)
set_location Lab_UT.didp.countrce2.q[2] 7 5 4 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[2]_LC_220)
set_location Lab_UT.didp.countrce2.q_RNO[3] 7 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[3]_LC_221)
set_location Lab_UT.didp.countrce2.q[3] 7 6 2 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[3]_LC_221)
set_location Lab_UT.didp.countrce3.q_RNIAGOP1[3] 9 6 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNIAGOP1[3]_LC_222)
set_location Lab_UT.didp.countrce3.q_RNIE21V3[3] 6 4 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNIE21V3[3]_LC_223)
set_location Lab_UT.didp.countrce3.q_RNO[0] 6 6 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[0]_LC_224)
set_location Lab_UT.didp.countrce3.q[0] 6 6 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[0]_LC_224)
set_location Lab_UT.didp.countrce3.q_RNO_0[0] 6 5 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[0]_LC_225)
set_location Lab_UT.didp.countrce3.q_RNO_0[1] 9 6 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[1]_LC_226)
set_location Lab_UT.didp.countrce3.q_RNO_0[2] 6 5 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[2]_LC_227)
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 9 5 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[3]_LC_228)
set_location Lab_UT.didp.countrce3.q_RNO[1] 9 6 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[1]_LC_229)
set_location Lab_UT.didp.countrce3.q[1] 9 6 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[1]_LC_229)
set_location Lab_UT.didp.countrce3.q_RNO_1[2] 6 5 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_1[2]_LC_230)
set_location Lab_UT.didp.countrce3.q_RNO_1[3] 9 5 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_1[3]_LC_231)
set_location Lab_UT.didp.countrce3.q_RNO[2] 6 5 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[2]_LC_232)
set_location Lab_UT.didp.countrce3.q[2] 6 5 6 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[2]_LC_232)
set_location Lab_UT.didp.countrce3.q_RNO[3] 9 4 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[3]_LC_233)
set_location Lab_UT.didp.countrce3.q[3] 9 4 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[3]_LC_233)
set_location Lab_UT.didp.countrce4.q_RNO[0] 7 7 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[0]_LC_234)
set_location Lab_UT.didp.countrce4.q[0] 7 7 5 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[0]_LC_234)
set_location Lab_UT.didp.countrce4.q_RNO_0[0] 7 7 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[0]_LC_235)
set_location Lab_UT.didp.countrce4.q_RNO_0[1] 8 6 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[1]_LC_236)
set_location Lab_UT.didp.countrce4.q_RNO_0[2] 9 5 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[2]_LC_237)
set_location Lab_UT.didp.countrce4.q_RNO_0[3] 9 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[3]_LC_238)
set_location Lab_UT.didp.countrce4.q_RNO[1] 8 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[1]_LC_239)
set_location Lab_UT.didp.countrce4.q[1] 8 6 2 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[1]_LC_239)
set_location Lab_UT.didp.countrce4.q_RNO_1[2] 8 4 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_1[2]_LC_240)
set_location Lab_UT.didp.countrce4.q_RNO_1[3] 8 6 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_1[3]_LC_241)
set_location Lab_UT.didp.countrce4.q_RNO[2] 8 6 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[2]_LC_242)
set_location Lab_UT.didp.countrce4.q[2] 8 6 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[2]_LC_242)
set_location Lab_UT.didp.countrce4.q_RNO[3] 8 6 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[3]_LC_243)
set_location Lab_UT.didp.countrce4.q[3] 8 6 4 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[3]_LC_243)
set_location Lab_UT.didp.g0_0 8 10 4 # SB_LUT4 (LogicCell: Lab_UT.didp.g0_0_LC_244)
set_location Lab_UT.didp.g0_0_2 7 11 7 # SB_LUT4 (LogicCell: Lab_UT.didp.g0_0_2_LC_245)
set_location Lab_UT.didp.g0_0_2_1 7 13 1 # SB_LUT4 (LogicCell: Lab_UT.didp.g0_0_2_1_LC_246)
set_location Lab_UT.didp.regrce1.q_esr_RNI1HI86[2] 8 4 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr_RNI1HI86[2]_LC_247)
set_location Lab_UT.didp.regrce1.q_esr_RNI3JI86[3] 8 3 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr_RNI3JI86[3]_LC_248)
set_location Lab_UT.didp.regrce1.q_esr_RNITCI86[0] 8 3 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr_RNITCI86[0]_LC_249)
set_location Lab_UT.didp.regrce1.q_esr_RNIVEI86[1] 8 4 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr_RNIVEI86[1]_LC_250)
set_location Lab_UT.didp.regrce1.q_esr_ctle[3] 7 8 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr_ctle[3]_LC_251)
set_location Lab_UT.didp.regrce2.q_esr_RNI1T0O5[1] 8 4 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr_RNI1T0O5[1]_LC_252)
set_location Lab_UT.didp.regrce2.q_esr_RNI3V0O5[2] 7 5 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr_RNI3V0O5[2]_LC_253)
set_location Lab_UT.didp.regrce2.q_esr_RNI511O5[3] 7 5 6 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr_RNI511O5[3]_LC_254)
set_location Lab_UT.didp.regrce2.q_esr_RNIVQ0O5[0] 7 5 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr_RNIVQ0O5[0]_LC_255)
set_location Lab_UT.didp.regrce2.q_esr_ctle[3] 2 11 7 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr_ctle[3]_LC_256)
set_location Lab_UT.didp.regrce3.q_esr_RNI19F76[0] 7 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr_RNI19F76[0]_LC_257)
set_location Lab_UT.didp.regrce3.q_esr_RNI3BF76[1] 8 6 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr_RNI3BF76[1]_LC_258)
set_location Lab_UT.didp.regrce3.q_esr_RNI5DF76[2] 8 4 7 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr_RNI5DF76[2]_LC_259)
set_location Lab_UT.didp.regrce3.q_esr_RNI7FF76[3] 8 3 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr_RNI7FF76[3]_LC_260)
set_location Lab_UT.didp.regrce3.q_esr_ctle[3] 4 5 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr_ctle[3]_LC_261)
set_location Lab_UT.didp.regrce4.q_esr_RNI3NT66[0] 8 3 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr_RNI3NT66[0]_LC_262)
set_location Lab_UT.didp.regrce4.q_esr_RNI5PT66[1] 9 5 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr_RNI5PT66[1]_LC_263)
set_location Lab_UT.didp.regrce4.q_esr_RNI7RT66[2] 9 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr_RNI7RT66[2]_LC_264)
set_location Lab_UT.didp.regrce4.q_esr_RNI9TT66[3] 8 3 6 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr_RNI9TT66[3]_LC_265)
set_location Lab_UT.didp.regrce4.q_esr_ctle[3] 7 8 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr_ctle[3]_LC_266)
set_location Lab_UT.didp.reset_RNO_0[3] 8 3 5 # SB_LUT4 (LogicCell: Lab_UT.didp.reset_RNO_0[3]_LC_267)
set_location Lab_UT.didp.reset_RNO[3] 6 4 7 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[3]_LC_268)
set_location Lab_UT.didp.reset[3] 6 4 7 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[3]_LC_268)
set_location Lab_UT.didp.state_ret_1_esr_RNO 9 7 3 # SB_LUT4 (LogicCell: Lab_UT.didp.state_ret_1_esr_LC_269)
set_location Lab_UT.didp.state_ret_1_esr 9 7 3 # SB_DFFESR (LogicCell: Lab_UT.didp.state_ret_1_esr_LC_269)
set_location Lab_UT.dispString.cnt_RNIFV4E[1] 6 7 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIFV4E[1]_LC_270)
set_location Lab_UT.dispString.cnt_RNIG05E[2] 6 6 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIG05E[2]_LC_271)
set_location Lab_UT.dispString.cnt_RNIH15E_0[2] 6 7 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIH15E_0[2]_LC_272)
set_location Lab_UT.dispString.cnt_RNIH15E[2] 5 7 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIH15E[2]_LC_273)
set_location Lab_UT.dispString.cnt_RNIKUO21[1] 6 6 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIKUO21[1]_LC_274)
set_location Lab_UT.dispString.cnt_RNIKUO21[2] 6 7 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIKUO21[2]_LC_275)
set_location Lab_UT.dispString.cnt_RNIOG7L[2] 5 8 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIOG7L[2]_LC_276)
set_location Lab_UT.dispString.cnt_RNO[0] 5 7 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[0]_LC_277)
set_location Lab_UT.dispString.cnt[0] 5 7 4 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[0]_LC_277)
set_location Lab_UT.dispString.cnt_RNO[1] 5 7 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[1]_LC_278)
set_location Lab_UT.dispString.cnt[1] 5 7 3 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[1]_LC_278)
set_location Lab_UT.dispString.cnt_RNO[2] 9 9 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[2]_LC_279)
set_location Lab_UT.dispString.cnt[2] 9 9 2 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[2]_LC_279)
set_location Lab_UT.dispString.dOut_RNO[0] 6 8 5 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[0]_LC_280)
set_location Lab_UT.dispString.dOut[0] 6 8 5 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[0]_LC_280)
set_location Lab_UT.dispString.dOut_RNO_0[0] 6 8 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[0]_LC_281)
set_location Lab_UT.dispString.dOut_RNO_0[1] 6 8 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[1]_LC_282)
set_location Lab_UT.dispString.dOut_RNO_0[2] 5 7 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[2]_LC_283)
set_location Lab_UT.dispString.dOut_RNO_0[3] 5 8 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[3]_LC_284)
set_location Lab_UT.dispString.dOut_RNO_0[4] 5 9 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[4]_LC_285)
set_location Lab_UT.dispString.dOut_RNO[1] 4 9 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[1]_LC_286)
set_location Lab_UT.dispString.dOut[1] 4 9 7 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[1]_LC_286)
set_location Lab_UT.dispString.dOut_RNO_1[0] 6 8 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[0]_LC_287)
set_location Lab_UT.dispString.dOut_RNO_1[1] 4 9 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[1]_LC_288)
set_location Lab_UT.dispString.dOut_RNO_1[2] 6 7 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[2]_LC_289)
set_location Lab_UT.dispString.dOut_RNO_1[3] 5 9 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[3]_LC_290)
set_location Lab_UT.dispString.dOut_RNO[2] 6 7 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[2]_LC_291)
set_location Lab_UT.dispString.dOut[2] 6 7 4 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[2]_LC_291)
set_location Lab_UT.dispString.dOut_RNO_2[0] 5 9 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[0]_LC_292)
set_location Lab_UT.dispString.dOut_RNO_2[1] 7 8 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[1]_LC_293)
set_location Lab_UT.dispString.dOut_RNO_2[2] 5 7 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[2]_LC_294)
set_location Lab_UT.dispString.dOut_RNO_2[3] 5 5 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[3]_LC_295)
set_location Lab_UT.dispString.dOut_RNO[3] 5 9 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[3]_LC_296)
set_location Lab_UT.dispString.dOut[3] 5 9 2 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[3]_LC_296)
set_location Lab_UT.dispString.dOut_RNO_3[1] 7 8 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_3[1]_LC_297)
set_location Lab_UT.dispString.dOut_RNO_3[3] 6 6 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_3[3]_LC_298)
set_location Lab_UT.dispString.dOut_RNO[4] 5 8 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[4]_LC_299)
set_location Lab_UT.dispString.dOut[4] 5 8 4 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[4]_LC_299)
set_location Lab_UT.dispString.dOut_RNO[5] 5 9 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[5]_LC_300)
set_location Lab_UT.dispString.dOut[5] 5 9 0 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[5]_LC_300)
set_location Lab_UT.dispString.dOut_RNO[6] 4 9 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[6]_LC_301)
set_location Lab_UT.dispString.dOut[6] 4 9 1 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[6]_LC_301)
set_location Lab_UT.dispString.rdy_RNO 6 6 5 # SB_LUT4 (LogicCell: Lab_UT.dispString.rdy_LC_302)
set_location Lab_UT.dispString.rdy 6 6 5 # SB_DFF (LogicCell: Lab_UT.dispString.rdy_LC_302)
set_location Lab_UT.un1_armed_2_0_iso_i 4 10 4 # SB_LUT4 (LogicCell: Lab_UT.un1_armed_2_0_iso_i_LC_303)
set_location Lab_UT.un1_idle_1_0_iclk 4 9 2 # SB_LUT4 (LogicCell: Lab_UT.un1_idle_1_0_iclk_LC_304)
set_location Lab_UT.un1_idle_5_0_iclk 4 10 5 # SB_LUT4 (LogicCell: Lab_UT.un1_idle_5_0_iclk_LC_305)
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[2] 2 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNI3O55[2]_LC_306)
set_location buart.Z_rx.Z_baudgen.counter_RNI5JE3[5] 2 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNI5JE3[5]_LC_307)
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 2 12 5 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_308)
set_location buart.Z_rx.Z_baudgen.counter[0] 2 12 5 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_308)
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 2 12 0 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_309)
set_location buart.Z_rx.Z_baudgen.counter[1] 2 12 0 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_309)
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 2 12 4 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_310)
set_location buart.Z_rx.Z_baudgen.counter[2] 2 12 4 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_310)
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 2 13 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_311)
set_location buart.Z_rx.Z_baudgen.counter[3] 2 13 2 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_311)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 2 13 2 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_311)
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 2 12 6 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_312)
set_location buart.Z_rx.Z_baudgen.counter[4] 2 12 6 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_312)
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 2 13 4 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_313)
set_location buart.Z_rx.Z_baudgen.counter[5] 2 13 4 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_313)
set_location buart.Z_rx.bitcount_es_RNIIVPI1[4] 1 11 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIIVPI1[4]_LC_314)
set_location buart.Z_rx.bitcount_es_RNIOP0V3[0] 1 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIOP0V3[0]_LC_315)
set_location buart.Z_rx.bitcount_es_RNIOUCP[4] 1 11 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIOUCP[4]_LC_316)
set_location buart.Z_rx.bitcount_es_RNIR1DP[4] 1 11 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIR1DP[4]_LC_317)
set_location buart.Z_rx.bitcount_es_RNISCGV1[0] 1 11 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNISCGV1[0]_LC_318)
set_location buart.Z_rx.bitcount_es_RNISCGV1[1] 1 11 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNISCGV1[1]_LC_319)
set_location buart.Z_rx.bitcount_es_RNIV4M42[0] 2 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIV4M42[0]_LC_320)
set_location buart.Z_rx.bitcount_es_RNO[0] 2 10 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[0]_LC_321)
set_location buart.Z_rx.bitcount_es[0] 2 10 1 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[0]_LC_321)
set_location buart.Z_rx.bitcount_es_RNO[1] 1 13 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[1]_LC_322)
set_location buart.Z_rx.bitcount_es[1] 1 13 4 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[1]_LC_322)
set_location buart.Z_rx.bitcount_es_RNO[2] 2 10 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[2]_LC_323)
set_location buart.Z_rx.bitcount_es[2] 2 10 0 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[2]_LC_323)
set_location buart.Z_rx.bitcount_es_RNO[3] 1 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[3]_LC_324)
set_location buart.Z_rx.bitcount_es[3] 1 11 6 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[3]_LC_324)
set_location buart.Z_rx.bitcount_es_RNO[4] 1 12 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[4]_LC_325)
set_location buart.Z_rx.bitcount_es[4] 1 12 4 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[4]_LC_325)
set_location buart.Z_rx.bitcount_sbtinv[4] 2 12 7 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_sbtinv[4]_LC_326)
set_location buart.Z_rx.hh_RNIJ3K62[0] 8 3 7 # SB_LUT4 (LogicCell: buart.Z_rx.hh_RNIJ3K62[0]_LC_327)
set_location buart.Z_rx.shifter_0_rep1_RNINSO21 8 14 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_rep1_RNINSO21_LC_328)
set_location buart.Z_rx.shifter_1_rep1_RNI0FPF 7 11 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_1_rep1_RNI0FPF_LC_329)
set_location buart.Z_rx.shifter_1_rep1_RNIR8D62 7 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_1_rep1_RNIR8D62_LC_330)
set_location buart.Z_rx.shifter_3_rep2_RNI055E2 8 11 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_3_rep2_RNI055E2_LC_331)
set_location buart.Z_rx.shifter_3_rep2_RNI055E2_0 9 13 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_3_rep2_RNI055E2_0_LC_332)
set_location buart.Z_rx.shifter_RNIR1VT2[3] 8 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_RNIR1VT2[3]_LC_333)
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 12 2 7 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNI5M6E[1]_LC_334)
set_location buart.Z_tx.Z_baudgen.counter_RNII048[6] 12 2 6 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNII048[6]_LC_335)
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 11 2 3 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_336)
set_location buart.Z_tx.Z_baudgen.counter[0] 11 2 3 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_336)
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 11 2 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_337)
set_location buart.Z_tx.Z_baudgen.counter[1] 11 2 1 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_337)
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 12 2 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_338)
set_location buart.Z_tx.Z_baudgen.counter[2] 12 2 1 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_338)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 12 2 1 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_338)
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 12 2 2 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_339)
set_location buart.Z_tx.Z_baudgen.counter[3] 12 2 2 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_339)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 12 2 2 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_339)
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 12 2 3 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_340)
set_location buart.Z_tx.Z_baudgen.counter[4] 12 2 3 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_340)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 12 2 3 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_340)
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 12 2 4 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_341)
set_location buart.Z_tx.Z_baudgen.counter[5] 12 2 4 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_341)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 12 2 4 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_341)
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 12 2 5 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_342)
set_location buart.Z_tx.Z_baudgen.counter[6] 12 2 5 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_342)
set_location buart.Z_tx.bitcount_RNI22V22[2] 11 2 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNI22V22[2]_LC_343)
set_location buart.Z_tx.bitcount_RNIDCDL[3] 11 2 5 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIDCDL[3]_LC_344)
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 11 2 6 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIVE1P1[2]_LC_345)
set_location buart.Z_tx.bitcount_RNO[0] 11 1 1 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[0]_LC_346)
set_location buart.Z_tx.bitcount[0] 11 1 1 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[0]_LC_346)
set_location buart.Z_tx.bitcount_RNO_0[2] 11 2 0 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[2]_LC_347)
set_location buart.Z_tx.bitcount_RNO_0[3] 11 2 7 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[3]_LC_348)
set_location buart.Z_tx.bitcount_RNO[1] 11 1 0 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[1]_LC_349)
set_location buart.Z_tx.bitcount[1] 11 1 0 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[1]_LC_349)
set_location buart.Z_tx.bitcount_RNO[2] 11 1 3 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[2]_LC_350)
set_location buart.Z_tx.bitcount[2] 11 1 3 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[2]_LC_350)
set_location buart.Z_tx.bitcount_RNO[3] 11 1 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[3]_LC_351)
set_location buart.Z_tx.bitcount[3] 11 1 2 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[3]_LC_351)
set_location buart.Z_tx.shifter_RNO[0] 2 2 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[0]_LC_352)
set_location buart.Z_tx.shifter[0] 2 2 1 # SB_DFFER (LogicCell: buart.Z_tx.shifter[0]_LC_352)
set_location buart.Z_tx.shifter_RNO[1] 2 2 0 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[1]_LC_353)
set_location buart.Z_tx.shifter[1] 2 2 0 # SB_DFFER (LogicCell: buart.Z_tx.shifter[1]_LC_353)
set_location buart.Z_tx.shifter_RNO[2] 2 2 3 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[2]_LC_354)
set_location buart.Z_tx.shifter[2] 2 2 3 # SB_DFFER (LogicCell: buart.Z_tx.shifter[2]_LC_354)
set_location buart.Z_tx.shifter_RNO[3] 2 2 4 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[3]_LC_355)
set_location buart.Z_tx.shifter[3] 2 2 4 # SB_DFFER (LogicCell: buart.Z_tx.shifter[3]_LC_355)
set_location buart.Z_tx.shifter_RNO[4] 2 2 5 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[4]_LC_356)
set_location buart.Z_tx.shifter[4] 2 2 5 # SB_DFFER (LogicCell: buart.Z_tx.shifter[4]_LC_356)
set_location buart.Z_tx.shifter_RNO[5] 2 2 6 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[5]_LC_357)
set_location buart.Z_tx.shifter[5] 2 2 6 # SB_DFFER (LogicCell: buart.Z_tx.shifter[5]_LC_357)
set_location buart.Z_tx.shifter_RNO[6] 2 2 7 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[6]_LC_358)
set_location buart.Z_tx.shifter[6] 2 2 7 # SB_DFFER (LogicCell: buart.Z_tx.shifter[6]_LC_358)
set_location buart.Z_tx.shifter_RNO[7] 5 1 0 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[7]_LC_359)
set_location buart.Z_tx.shifter[7] 5 1 0 # SB_DFFER (LogicCell: buart.Z_tx.shifter[7]_LC_359)
set_location buart.Z_tx.shifter_RNO[8] 5 1 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[8]_LC_360)
set_location buart.Z_tx.shifter[8] 5 1 1 # SB_DFFER (LogicCell: buart.Z_tx.shifter[8]_LC_360)
set_location buart.Z_tx.uart_tx_RNO 2 2 2 # SB_LUT4 (LogicCell: buart.Z_tx.uart_tx_LC_361)
set_location buart.Z_tx.uart_tx 2 2 2 # SB_DFFES (LogicCell: buart.Z_tx.uart_tx_LC_361)
set_location resetGen.escKey 6 12 4 # SB_LUT4 (LogicCell: resetGen.escKey_LC_362)
set_location resetGen.escKey_4 6 12 3 # SB_LUT4 (LogicCell: resetGen.escKey_4_LC_363)
set_location resetGen.escKey_5 6 12 5 # SB_LUT4 (LogicCell: resetGen.escKey_5_LC_364)
set_location resetGen.reset_count_RNO[0] 2 11 1 # SB_LUT4 (LogicCell: resetGen.reset_count[0]_LC_365)
set_location resetGen.reset_count[0] 2 11 1 # SB_DFF (LogicCell: resetGen.reset_count[0]_LC_365)
set_location resetGen.reset_count_RNO_0[4] 2 10 5 # SB_LUT4 (LogicCell: resetGen.reset_count_RNO_0[4]_LC_366)
set_location resetGen.reset_count_RNO[1] 2 11 0 # SB_LUT4 (LogicCell: resetGen.reset_count[1]_LC_367)
set_location resetGen.reset_count[1] 2 11 0 # SB_DFF (LogicCell: resetGen.reset_count[1]_LC_367)
set_location resetGen.reset_count_RNO[2] 2 11 6 # SB_LUT4 (LogicCell: resetGen.reset_count[2]_LC_368)
set_location resetGen.reset_count[2] 2 11 6 # SB_DFF (LogicCell: resetGen.reset_count[2]_LC_368)
set_location resetGen.reset_count_RNO[3] 2 11 4 # SB_LUT4 (LogicCell: resetGen.reset_count[3]_LC_369)
set_location resetGen.reset_count[3] 2 11 4 # SB_DFF (LogicCell: resetGen.reset_count[3]_LC_369)
set_location resetGen.reset_count_RNO[4] 2 11 2 # SB_LUT4 (LogicCell: resetGen.reset_count[4]_LC_370)
set_location resetGen.reset_count[4] 2 11 2 # SB_DFF (LogicCell: resetGen.reset_count[4]_LC_370)
set_location resetGen.rst_RNO 2 11 5 # SB_LUT4 (LogicCell: resetGen.rst_LC_371)
set_location resetGen.rst 2 11 5 # SB_DFF (LogicCell: resetGen.rst_LC_371)
set_location resetGen.uu0.counter_gen_label[2].un241_ci 2 10 4 # SB_LUT4 (LogicCell: resetGen.uu0.counter_gen_label[2].un241_ci_LC_372)
set_location resetGen.uu0.counter_gen_label[3].un252_ci 2 11 3 # SB_LUT4 (LogicCell: resetGen.uu0.counter_gen_label[3].un252_ci_LC_373)
set_location uu0.delay_line_RNILLLG7[1] 2 10 6 # SB_LUT4 (LogicCell: uu0.delay_line_RNILLLG7[1]_LC_374)
set_location uu0.delay_line_RNO[0] 1 9 6 # SB_LUT4 (LogicCell: uu0.delay_line[0]_LC_375)
set_location uu0.delay_line[0] 1 9 6 # SB_DFFR (LogicCell: uu0.delay_line[0]_LC_375)
set_location uu0.l_count_RNI04591[10] 1 8 0 # SB_LUT4 (LogicCell: uu0.l_count_RNI04591[10]_LC_376)
set_location uu0.l_count_RNI2CNU[11] 1 9 7 # SB_LUT4 (LogicCell: uu0.l_count_RNI2CNU[11]_LC_377)
set_location uu0.l_count_RNI2GS72[4] 1 8 1 # SB_LUT4 (LogicCell: uu0.l_count_RNI2GS72[4]_LC_378)
set_location uu0.l_count_RNI8ORT6[11] 1 9 2 # SB_LUT4 (LogicCell: uu0.l_count_RNI8ORT6[11]_LC_379)
set_location uu0.l_count_RNI96A32[18] 1 9 1 # SB_LUT4 (LogicCell: uu0.l_count_RNI96A32[18]_LC_380)
set_location uu0.l_count_RNIFAQ9[13] 2 7 0 # SB_LUT4 (LogicCell: uu0.l_count_RNIFAQ9[13]_LC_381)
set_location uu0.l_count_RNIRLTJ1[17] 2 8 0 # SB_LUT4 (LogicCell: uu0.l_count_RNIRLTJ1[17]_LC_382)
set_location uu0.l_count_RNO[0] 2 9 0 # SB_LUT4 (LogicCell: uu0.l_count[0]_LC_383)
set_location uu0.l_count[0] 2 9 0 # SB_DFFER (LogicCell: uu0.l_count[0]_LC_383)
set_location uu0.l_count_RNO[11] 1 8 6 # SB_LUT4 (LogicCell: uu0.l_count[11]_LC_384)
set_location uu0.l_count[11] 1 8 6 # SB_DFFER (LogicCell: uu0.l_count[11]_LC_384)
set_location uu0.l_count_RNO[12] 2 7 5 # SB_LUT4 (LogicCell: uu0.l_count[12]_LC_385)
set_location uu0.l_count[12] 2 7 5 # SB_DFFER (LogicCell: uu0.l_count[12]_LC_385)
set_location uu0.l_count_RNO[13] 2 7 3 # SB_LUT4 (LogicCell: uu0.l_count[13]_LC_386)
set_location uu0.l_count[13] 2 7 3 # SB_DFFER (LogicCell: uu0.l_count[13]_LC_386)
set_location uu0.l_count_RNO[15] 2 7 7 # SB_LUT4 (LogicCell: uu0.l_count[15]_LC_387)
set_location uu0.l_count[15] 2 7 7 # SB_DFFER (LogicCell: uu0.l_count[15]_LC_387)
set_location uu0.l_count_RNO[16] 2 8 1 # SB_LUT4 (LogicCell: uu0.l_count[16]_LC_388)
set_location uu0.l_count[16] 2 8 1 # SB_DFFER (LogicCell: uu0.l_count[16]_LC_388)
set_location uu0.l_count_RNO[18] 2 8 4 # SB_LUT4 (LogicCell: uu0.l_count[18]_LC_389)
set_location uu0.l_count[18] 2 8 4 # SB_DFFER (LogicCell: uu0.l_count[18]_LC_389)
set_location uu0.l_count_RNO[3] 2 8 5 # SB_LUT4 (LogicCell: uu0.l_count[3]_LC_390)
set_location uu0.l_count[3] 2 8 5 # SB_DFFER (LogicCell: uu0.l_count[3]_LC_390)
set_location uu0.l_count_RNO[4] 2 9 5 # SB_LUT4 (LogicCell: uu0.l_count[4]_LC_391)
set_location uu0.l_count[4] 2 9 5 # SB_DFFER (LogicCell: uu0.l_count[4]_LC_391)
set_location uu0.l_count_RNO[6] 2 7 6 # SB_LUT4 (LogicCell: uu0.l_count[6]_LC_392)
set_location uu0.l_count[6] 2 7 6 # SB_DFFER (LogicCell: uu0.l_count[6]_LC_392)
set_location uu0.l_count_RNO[7] 2 8 7 # SB_LUT4 (LogicCell: uu0.l_count[7]_LC_393)
set_location uu0.l_count[7] 2 8 7 # SB_DFFER (LogicCell: uu0.l_count[7]_LC_393)
set_location uu0.l_precount_RNI85Q91[3] 1 9 0 # SB_LUT4 (LogicCell: uu0.l_precount_RNI85Q91[3]_LC_394)
set_location uu0.l_precount_RNO[0] 1 6 6 # SB_LUT4 (LogicCell: uu0.l_precount[0]_LC_395)
set_location uu0.l_precount[0] 1 6 6 # SB_DFFR (LogicCell: uu0.l_precount[0]_LC_395)
set_location uu0.sec_clkD_RNISDHD 5 5 1 # SB_LUT4 (LogicCell: uu0.sec_clkD_RNISDHD_LC_396)
set_location uu0.sec_clk_RNO 2 4 2 # SB_LUT4 (LogicCell: uu0.sec_clk_LC_397)
set_location uu0.sec_clk 2 4 2 # SB_DFFR (LogicCell: uu0.sec_clk_LC_397)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1 2 9 1 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1_LC_398)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 2 9 7 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3_LC_399)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 2 9 4 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6_LC_400)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 2 7 4 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8_LC_401)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 1 8 5 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0_LC_402)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 8 3 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9_LC_403)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 2 7 2 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0_LC_404)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 7 7 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1_LC_405)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 2 6 2 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2_LC_406)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 2 8 3 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci_LC_407)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 2 7 1 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0_LC_408)
set_location uu0.vbuf_count_cntrl1.result_1[1] 2 9 3 # SB_LUT4 (LogicCell: uu0.l_count[1]_LC_409)
set_location uu0.l_count[1] 2 9 3 # SB_DFFER (LogicCell: uu0.l_count[1]_LC_409)
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 8 2 # SB_LUT4 (LogicCell: uu0.l_count[10]_LC_410)
set_location uu0.l_count[10] 1 8 2 # SB_DFFER (LogicCell: uu0.l_count[10]_LC_410)
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 8 4 # SB_LUT4 (LogicCell: uu0.l_count[14]_LC_411)
set_location uu0.l_count[14] 1 8 4 # SB_DFFER (LogicCell: uu0.l_count[14]_LC_411)
set_location uu0.vbuf_count_cntrl1.result_1[17] 2 8 2 # SB_LUT4 (LogicCell: uu0.l_count[17]_LC_412)
set_location uu0.l_count[17] 2 8 2 # SB_DFFER (LogicCell: uu0.l_count[17]_LC_412)
set_location uu0.vbuf_count_cntrl1.result_1[2] 2 9 2 # SB_LUT4 (LogicCell: uu0.l_count[2]_LC_413)
set_location uu0.l_count[2] 2 9 2 # SB_DFFER (LogicCell: uu0.l_count[2]_LC_413)
set_location uu0.vbuf_count_cntrl1.result_1[5] 2 9 6 # SB_LUT4 (LogicCell: uu0.l_count[5]_LC_414)
set_location uu0.l_count[5] 2 9 6 # SB_DFFER (LogicCell: uu0.l_count[5]_LC_414)
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 8 7 # SB_LUT4 (LogicCell: uu0.l_count[8]_LC_415)
set_location uu0.l_count[8] 1 8 7 # SB_DFFER (LogicCell: uu0.l_count[8]_LC_415)
set_location uu0.vbuf_count_cntrl1.result_1[9] 2 8 6 # SB_LUT4 (LogicCell: uu0.l_count[9]_LC_416)
set_location uu0.l_count[9] 2 8 6 # SB_DFFER (LogicCell: uu0.l_count[9]_LC_416)
set_location uu0.vbuf_precount_cntrl1.result_1[1] 1 10 3 # SB_LUT4 (LogicCell: uu0.l_precount[1]_LC_417)
set_location uu0.l_precount[1] 1 10 3 # SB_DFFR (LogicCell: uu0.l_precount[1]_LC_417)
set_location uu0.vbuf_precount_cntrl1.result_1[2] 1 9 4 # SB_LUT4 (LogicCell: uu0.l_precount[2]_LC_418)
set_location uu0.l_precount[2] 1 9 4 # SB_DFFR (LogicCell: uu0.l_precount[2]_LC_418)
set_location uu0.vbuf_precount_cntrl1.result_1[3] 1 9 5 # SB_LUT4 (LogicCell: uu0.l_precount[3]_LC_419)
set_location uu0.l_precount[3] 1 9 5 # SB_DFFR (LogicCell: uu0.l_precount[3]_LC_419)
set_location uu2.bitmap_RNI2Q8F1[111] 7 2 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNI2Q8F1[111]_LC_420)
set_location uu2.bitmap_RNI65TM[72] 8 5 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNI65TM[72]_LC_421)
set_location uu2.bitmap_RNI6MCU1[93] 7 3 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNI6MCU1[93]_LC_422)
set_location uu2.bitmap_RNI72CH8[69] 7 3 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNI72CH8[69]_LC_423)
set_location uu2.bitmap_RNIB3QK[52] 7 4 5 # SB_LUT4 (LogicCell: uu2.bitmap_RNIB3QK[52]_LC_424)
set_location uu2.bitmap_RNIBPBO[40] 7 2 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNIBPBO[40]_LC_425)
set_location uu2.bitmap_RNICM7R[180] 5 3 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNICM7R[180]_LC_426)
set_location uu2.bitmap_RNIJ4K41[90] 9 3 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNIJ4K41[90]_LC_427)
set_location uu2.bitmap_RNIJS4P[162] 7 2 5 # SB_LUT4 (LogicCell: uu2.bitmap_RNIJS4P[162]_LC_428)
set_location uu2.bitmap_RNIKGSI[58] 9 4 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNIKGSI[58]_LC_429)
set_location uu2.bitmap_RNIM5E21[314] 9 3 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNIM5E21[314]_LC_430)
set_location uu2.bitmap_RNIOPSS[212] 8 5 1 # SB_LUT4 (LogicCell: uu2.bitmap_RNIOPSS[212]_LC_431)
set_location uu2.bitmap_RNIP2JO1[34] 9 2 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNIP2JO1[34]_LC_432)
set_location uu2.bitmap_RNIPDM31[66] 9 2 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNIPDM31[66]_LC_433)
set_location uu2.bitmap_RNIPIHG1[75] 7 3 4 # SB_LUT4 (LogicCell: uu2.bitmap_RNIPIHG1[75]_LC_434)
set_location uu2.bitmap_RNIRMQA1[84] 7 4 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNIRMQA1[84]_LC_435)
set_location uu2.bitmap_RNITSCU1[69] 6 3 1 # SB_LUT4 (LogicCell: uu2.bitmap_RNITSCU1[69]_LC_436)
set_location uu2.l_count_RNI9S834_0[1] 2 6 1 # SB_LUT4 (LogicCell: uu2.l_count_RNI9S834_0[1]_LC_437)
set_location uu2.l_count_RNI9S834[1] 2 6 3 # SB_LUT4 (LogicCell: uu2.l_count_RNI9S834[1]_LC_438)
set_location uu2.l_count_RNIBCGK1_0[9] 2 5 6 # SB_LUT4 (LogicCell: uu2.l_count_RNIBCGK1_0[9]_LC_439)
set_location uu2.l_count_RNIBCGK1[9] 2 5 7 # SB_LUT4 (LogicCell: uu2.l_count_RNIBCGK1[9]_LC_440)
set_location uu2.l_count_RNIFGGK1[3] 2 6 0 # SB_LUT4 (LogicCell: uu2.l_count_RNIFGGK1[3]_LC_441)
set_location uu2.l_count_RNO[0] 1 6 4 # SB_LUT4 (LogicCell: uu2.l_count[0]_LC_442)
set_location uu2.l_count[0] 1 6 4 # SB_DFFR (LogicCell: uu2.l_count[0]_LC_442)
set_location uu2.l_count_RNO[3] 2 6 4 # SB_LUT4 (LogicCell: uu2.l_count[3]_LC_443)
set_location uu2.l_count[3] 2 6 4 # SB_DFFR (LogicCell: uu2.l_count[3]_LC_443)
set_location uu2.l_count_RNO[4] 2 5 3 # SB_LUT4 (LogicCell: uu2.l_count[4]_LC_444)
set_location uu2.l_count[4] 2 5 3 # SB_DFFS (LogicCell: uu2.l_count[4]_LC_444)
set_location uu2.l_count_RNO[9] 2 5 2 # SB_LUT4 (LogicCell: uu2.l_count[9]_LC_445)
set_location uu2.l_count[9] 2 5 2 # SB_DFFR (LogicCell: uu2.l_count[9]_LC_445)
set_location uu2.mem0.ram512X8_inst_RNO 2 10 7 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_LC_446)
set_location uu2.mem0.ram512X8_inst_RNO_0 11 1 5 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_0_LC_447)
set_location uu2.mem0.ram512X8_inst_RNO_1 11 1 7 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_1_LC_448)
set_location uu2.mem0.ram512X8_inst_RNO_10 4 4 2 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_10_LC_449)
set_location uu2.mem0.ram512X8_inst_RNO_11 4 2 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_11_LC_450)
set_location uu2.mem0.ram512X8_inst_RNO_12 4 2 5 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_12_LC_451)
set_location uu2.mem0.ram512X8_inst_RNO_13 4 2 1 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_13_LC_452)
set_location uu2.mem0.ram512X8_inst_RNO_14 4 2 0 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_14_LC_453)
set_location uu2.mem0.ram512X8_inst_RNO_2 9 1 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_2_LC_454)
set_location uu2.mem0.ram512X8_inst_RNO_3 8 1 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_3_LC_455)
set_location uu2.mem0.ram512X8_inst_RNO_4 8 1 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_4_LC_456)
set_location uu2.mem0.ram512X8_inst_RNO_5 8 1 2 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_5_LC_457)
set_location uu2.mem0.ram512X8_inst_RNO_6 8 1 6 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_6_LC_458)
set_location uu2.mem0.ram512X8_inst_RNO_7 5 1 2 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_7_LC_459)
set_location uu2.mem0.ram512X8_inst_RNO_8 4 2 7 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_8_LC_460)
set_location uu2.mem0.ram512X8_inst_RNO_9 4 2 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_9_LC_461)
set_location uu2.r_addr_RNO[0] 4 3 2 # SB_LUT4 (LogicCell: uu2.r_addr[0]_LC_462)
set_location uu2.r_addr[0] 4 3 2 # SB_DFFSR (LogicCell: uu2.r_addr[0]_LC_462)
set_location uu2.r_addr_RNO[1] 4 3 1 # SB_LUT4 (LogicCell: uu2.r_addr[1]_LC_463)
set_location uu2.r_addr[1] 4 3 1 # SB_DFFSR (LogicCell: uu2.r_addr[1]_LC_463)
set_location uu2.r_addr_RNO[2] 4 3 0 # SB_LUT4 (LogicCell: uu2.r_addr[2]_LC_464)
set_location uu2.r_addr[2] 4 3 0 # SB_DFFSR (LogicCell: uu2.r_addr[2]_LC_464)
set_location uu2.r_addr_RNO[4] 4 3 7 # SB_LUT4 (LogicCell: uu2.r_addr[4]_LC_465)
set_location uu2.r_addr[4] 4 3 7 # SB_DFFSR (LogicCell: uu2.r_addr[4]_LC_465)
set_location uu2.r_addr_RNO[5] 4 5 0 # SB_LUT4 (LogicCell: uu2.r_addr[5]_LC_466)
set_location uu2.r_addr[5] 4 5 0 # SB_DFFSR (LogicCell: uu2.r_addr[5]_LC_466)
set_location uu2.r_data_rdy_RNO 8 4 5 # SB_LUT4 (LogicCell: uu2.r_data_rdy_LC_467)
set_location uu2.r_data_rdy 8 4 5 # SB_DFF (LogicCell: uu2.r_data_rdy_LC_467)
set_location uu2.trig_rd_det_RNIJIIO[1] 4 4 3 # SB_LUT4 (LogicCell: uu2.trig_rd_det_RNIJIIO[1]_LC_468)
set_location uu2.trig_rd_det_RNINBDQ[1] 4 3 3 # SB_LUT4 (LogicCell: uu2.trig_rd_det_RNINBDQ[1]_LC_469)
set_location uu2.trig_rd_det_RNO[0] 5 4 2 # SB_LUT4 (LogicCell: uu2.trig_rd_det[0]_LC_470)
set_location uu2.trig_rd_det[0] 5 4 2 # SB_DFFSR (LogicCell: uu2.trig_rd_det[0]_LC_470)
set_location uu2.un1_w_user_cr_3 5 8 0 # SB_LUT4 (LogicCell: uu2.un1_w_user_cr_3_LC_471)
set_location uu2.un1_w_user_cr_4 5 8 3 # SB_LUT4 (LogicCell: uu2.un1_w_user_cr_4_LC_472)
set_location uu2.un1_w_user_lf_3 5 8 5 # SB_LUT4 (LogicCell: uu2.un1_w_user_lf_3_LC_473)
set_location uu2.un1_w_user_lf_4 5 8 1 # SB_LUT4 (LogicCell: uu2.un1_w_user_lf_4_LC_474)
set_location uu2.un20_w_addr_user_1 5 8 2 # SB_LUT4 (LogicCell: uu2.un20_w_addr_user_1_LC_475)
set_location uu2.un4_w_user_data_rdy[0] 6 7 5 # SB_LUT4 (LogicCell: uu2.un4_w_user_data_rdy[0]_LC_476)
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 4 6 2 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[2].un284_ci_LC_477)
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 2 6 6 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[4].un306_ci_LC_478)
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 2 5 0 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[6].un328_ci_3_LC_479)
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 2 5 1 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[8].un350_ci_LC_480)
set_location uu2.vbuf_count.result_1[1] 1 6 3 # SB_LUT4 (LogicCell: uu2.l_count[1]_LC_481)
set_location uu2.l_count[1] 1 6 3 # SB_DFFR (LogicCell: uu2.l_count[1]_LC_481)
set_location uu2.vbuf_count.result_1[2] 2 6 7 # SB_LUT4 (LogicCell: uu2.l_count[2]_LC_482)
set_location uu2.l_count[2] 2 6 7 # SB_DFFS (LogicCell: uu2.l_count[2]_LC_482)
set_location uu2.vbuf_count.result_1[5] 2 5 4 # SB_LUT4 (LogicCell: uu2.l_count[5]_LC_483)
set_location uu2.l_count[5] 2 5 4 # SB_DFFR (LogicCell: uu2.l_count[5]_LC_483)
set_location uu2.vbuf_count.result_1[6] 2 5 5 # SB_LUT4 (LogicCell: uu2.l_count[6]_LC_484)
set_location uu2.l_count[6] 2 5 5 # SB_DFFR (LogicCell: uu2.l_count[6]_LC_484)
set_location uu2.vbuf_count.result_1[7] 4 5 1 # SB_LUT4 (LogicCell: uu2.l_count[7]_LC_485)
set_location uu2.l_count[7] 4 5 1 # SB_DFFR (LogicCell: uu2.l_count[7]_LC_485)
set_location uu2.vbuf_count.result_1[8] 1 6 1 # SB_LUT4 (LogicCell: uu2.l_count[8]_LC_486)
set_location uu2.l_count[8] 1 6 1 # SB_DFFS (LogicCell: uu2.l_count[8]_LC_486)
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 4 1 4 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[4].un404_ci_LC_487)
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 4 1 6 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3_LC_488)
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 4 1 1 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0_LC_489)
set_location uu2.vbuf_raddr.result_1[3] 4 1 0 # SB_LUT4 (LogicCell: uu2.r_addr_esr[3]_LC_490)
set_location uu2.r_addr_esr[3] 4 1 0 # SB_DFFESR (LogicCell: uu2.r_addr_esr[3]_LC_490)
set_location uu2.vbuf_raddr.result_1[6] 4 1 5 # SB_LUT4 (LogicCell: uu2.r_addr_esr[6]_LC_491)
set_location uu2.r_addr_esr[6] 4 1 5 # SB_DFFESR (LogicCell: uu2.r_addr_esr[6]_LC_491)
set_location uu2.vbuf_raddr.result_1[7] 4 1 3 # SB_LUT4 (LogicCell: uu2.r_addr_esr[7]_LC_492)
set_location uu2.r_addr_esr[7] 4 1 3 # SB_DFFESR (LogicCell: uu2.r_addr_esr[7]_LC_492)
set_location uu2.vbuf_raddr.result_1[8] 4 1 2 # SB_LUT4 (LogicCell: uu2.r_addr_esr[8]_LC_493)
set_location uu2.r_addr_esr[8] 4 1 2 # SB_DFFESR (LogicCell: uu2.r_addr_esr[8]_LC_493)
set_location uu2.vbuf_w_addr_displaying.N_37_i_i 5 2 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr[3]_LC_494)
set_location uu2.w_addr_displaying_nesr[3] 5 2 3 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_nesr[3]_LC_494)
set_location uu2.vbuf_w_addr_displaying.N_37_i_i_fast 5 2 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_nesr[3]_LC_495)
set_location uu2.w_addr_displaying_fast_nesr[3] 5 2 4 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_fast_nesr[3]_LC_495)
set_location uu2.vbuf_w_addr_displaying.N_37_i_i_rep1 5 2 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_3_rep1_nesr_LC_496)
set_location uu2.w_addr_displaying_3_rep1_nesr 5 2 5 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_3_rep1_nesr_LC_496)
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[4] 6 3 5 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_displaying.result_1_0_o2[4]_LC_497)
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[7] 4 1 7 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_displaying.result_1_0_o2[7]_LC_498)
set_location uu2.vbuf_w_addr_user.counter_gen_label[4].un404_ci 9 1 6 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_user.counter_gen_label[4].un404_ci_LC_499)
set_location uu2.vbuf_w_addr_user.counter_gen_label[6].un426_ci_3 8 1 5 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_user.counter_gen_label[6].un426_ci_3_LC_500)
set_location uu2.vbuf_w_addr_user.counter_gen_label[8].un448_ci_0 8 1 7 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_user.counter_gen_label[8].un448_ci_0_LC_501)
set_location uu2.vbuf_w_addr_user.result_1[3] 9 1 1 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[3]_LC_502)
set_location uu2.w_addr_user_nesr[3] 9 1 1 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[3]_LC_502)
set_location uu2.vbuf_w_addr_user.result_1[7] 9 1 5 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[7]_LC_503)
set_location uu2.w_addr_user_nesr[7] 9 1 5 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[7]_LC_503)
set_location uu2.vbuf_w_addr_user.result_1[8] 9 1 7 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[8]_LC_504)
set_location uu2.w_addr_user_nesr[8] 9 1 7 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[8]_LC_504)
set_location uu2.vram_rd_clk_RNO 2 4 6 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_LC_505)
set_location uu2.vram_rd_clk 2 4 6 # SB_DFFS (LogicCell: uu2.vram_rd_clk_LC_505)
set_location uu2.vram_rd_clk_det_RNI95711[1] 5 1 3 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det_RNI95711[1]_LC_506)
set_location uu2.vram_wr_en_0_i 5 5 7 # SB_LUT4 (LogicCell: uu2.vram_wr_en_0_i_LC_507)
set_location uu2.w_addr_displaying_0_rep1_RNO 8 2 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_0_rep1_LC_508)
set_location uu2.w_addr_displaying_0_rep1 8 2 1 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying_0_rep1_LC_508)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNI0TIL 7 3 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_1_rep1_nesr_RNI0TIL_LC_509)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNI6DFN 6 2 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_1_rep1_nesr_RNI6DFN_LC_510)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNIO4T61 5 3 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_1_rep1_nesr_RNIO4T61_LC_511)
set_location uu2.w_addr_displaying_3_rep1_nesr_RNI2UBA2 5 3 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_3_rep1_nesr_RNI2UBA2_LC_512)
set_location uu2.w_addr_displaying_RNI03P31[4] 5 1 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI03P31[4]_LC_513)
set_location uu2.w_addr_displaying_RNI0ES07[8] 7 1 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI0ES07[8]_LC_514)
set_location uu2.w_addr_displaying_RNI0FGN6[4] 5 2 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI0FGN6[4]_LC_515)
set_location uu2.w_addr_displaying_RNI0NG56_0[4] 5 3 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI0NG56_0[4]_LC_516)
set_location uu2.w_addr_displaying_RNI0NG56[4] 5 3 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI0NG56[4]_LC_517)
set_location uu2.w_addr_displaying_RNI47N27[8] 6 1 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI47N27[8]_LC_518)
set_location uu2.w_addr_displaying_RNI4E8U4[8] 4 2 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI4E8U4[8]_LC_519)
set_location uu2.w_addr_displaying_RNI6SEI31[8] 5 3 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI6SEI31[8]_LC_520)
set_location uu2.w_addr_displaying_RNI8GJC3[8] 5 3 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI8GJC3[8]_LC_521)
set_location uu2.w_addr_displaying_RNIASLS1[8] 5 2 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIASLS1[8]_LC_522)
set_location uu2.w_addr_displaying_RNIGEPH1[4] 6 3 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIGEPH1[4]_LC_523)
set_location uu2.w_addr_displaying_RNIKIPH1[8] 5 2 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIKIPH1[8]_LC_524)
set_location uu2.w_addr_displaying_RNIQN495[0] 4 2 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIQN495[0]_LC_525)
set_location uu2.w_addr_displaying_RNO[0] 6 3 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[0]_LC_526)
set_location uu2.w_addr_displaying[0] 6 3 2 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[0]_LC_526)
set_location uu2.w_addr_displaying_RNO[2] 6 3 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[2]_LC_527)
set_location uu2.w_addr_displaying[2] 6 3 4 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[2]_LC_527)
set_location uu2.w_addr_displaying_RNO[4] 7 1 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[4]_LC_528)
set_location uu2.w_addr_displaying[4] 7 1 3 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[4]_LC_528)
set_location uu2.w_addr_displaying_RNO[5] 7 1 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[5]_LC_529)
set_location uu2.w_addr_displaying[5] 7 1 4 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[5]_LC_529)
set_location uu2.w_addr_displaying_RNO[7] 8 2 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[7]_LC_530)
set_location uu2.w_addr_displaying[7] 8 2 0 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[7]_LC_530)
set_location uu2.w_addr_displaying_RNO[8] 7 1 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[8]_LC_531)
set_location uu2.w_addr_displaying[8] 7 1 1 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[8]_LC_531)
set_location uu2.w_addr_displaying_fast_RNI1BE61[2] 6 2 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_RNI1BE61[2]_LC_532)
set_location uu2.w_addr_displaying_fast_RNINCTH4[2] 6 2 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_RNINCTH4[2]_LC_533)
set_location uu2.w_addr_displaying_fast_RNINQUSG[2] 5 3 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_RNINQUSG[2]_LC_534)
set_location uu2.w_addr_displaying_fast_RNISF1A1[2] 6 2 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_RNISF1A1[2]_LC_535)
set_location uu2.w_addr_displaying_fast_RNO[0] 8 5 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast[0]_LC_536)
set_location uu2.w_addr_displaying_fast[0] 8 5 2 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying_fast[0]_LC_536)
set_location uu2.w_addr_displaying_fast_RNO[2] 6 3 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast[2]_LC_537)
set_location uu2.w_addr_displaying_fast[2] 6 3 3 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying_fast[2]_LC_537)
set_location uu2.w_addr_displaying_fast_RNO[7] 8 5 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast[7]_LC_538)
set_location uu2.w_addr_displaying_fast[7] 8 5 4 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying_fast[7]_LC_538)
set_location uu2.w_addr_displaying_fast_RNO[8] 7 1 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast[8]_LC_539)
set_location uu2.w_addr_displaying_fast[8] 7 1 0 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying_fast[8]_LC_539)
set_location uu2.w_addr_displaying_fast_nesr_RNIT3TB[1] 7 2 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_nesr_RNIT3TB[1]_LC_540)
set_location uu2.w_addr_displaying_nesr_RNI4IVU3[3] 7 3 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI4IVU3[3]_LC_541)
set_location uu2.w_addr_displaying_nesr_RNI4JSO[1] 5 2 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI4JSO[1]_LC_542)
set_location uu2.w_addr_displaying_nesr_RNI84IJ2[3] 6 3 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI84IJ2[3]_LC_543)
set_location uu2.w_addr_displaying_nesr_RNIDDQM2[3] 6 2 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNIDDQM2[3]_LC_544)
set_location uu2.w_addr_displaying_nesr_RNIO7503[3] 5 2 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNIO7503[3]_LC_545)
set_location uu2.w_addr_displaying_ness_RNI6VOF1[6] 8 1 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNI6VOF1[6]_LC_546)
set_location uu2.w_addr_displaying_ness_RNIA3PF1_0[6] 7 1 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNIA3PF1_0[6]_LC_547)
set_location uu2.w_addr_displaying_ness_RNIA3PF1[6] 7 1 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNIA3PF1[6]_LC_548)
set_location uu2.w_addr_displaying_ness_RNO_0[6] 7 1 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNO_0[6]_LC_549)
set_location uu2.w_addr_displaying_ness_RNO[6] 8 1 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness[6]_LC_550)
set_location uu2.w_addr_displaying_ness[6] 8 1 1 # SB_DFFNESS (LogicCell: uu2.w_addr_displaying_ness[6]_LC_550)
set_location uu2.w_addr_user_RNI43E87[4] 5 1 7 # SB_LUT4 (LogicCell: uu2.w_addr_user_RNI43E87[4]_LC_551)
set_location uu2.w_addr_user_RNI93NG7[4] 5 1 5 # SB_LUT4 (LogicCell: uu2.w_addr_user_RNI93NG7[4]_LC_552)
set_location uu2.w_addr_user_RNID65PE[4] 5 1 6 # SB_LUT4 (LogicCell: uu2.w_addr_user_RNID65PE[4]_LC_553)
set_location uu2.w_addr_user_RNIINVH[4] 9 1 3 # SB_LUT4 (LogicCell: uu2.w_addr_user_RNIINVH[4]_LC_554)
set_location uu2.w_addr_user_RNO[0] 6 1 2 # SB_LUT4 (LogicCell: uu2.w_addr_user[0]_LC_555)
set_location uu2.w_addr_user[0] 6 1 2 # SB_DFFNSR (LogicCell: uu2.w_addr_user[0]_LC_555)
set_location uu2.w_addr_user_RNO[1] 6 1 1 # SB_LUT4 (LogicCell: uu2.w_addr_user[1]_LC_556)
set_location uu2.w_addr_user[1] 6 1 1 # SB_DFFNSR (LogicCell: uu2.w_addr_user[1]_LC_556)
set_location uu2.w_addr_user_RNO[2] 6 1 0 # SB_LUT4 (LogicCell: uu2.w_addr_user[2]_LC_557)
set_location uu2.w_addr_user[2] 6 1 0 # SB_DFFNSR (LogicCell: uu2.w_addr_user[2]_LC_557)
set_location uu2.w_addr_user_RNO[4] 6 1 3 # SB_LUT4 (LogicCell: uu2.w_addr_user[4]_LC_558)
set_location uu2.w_addr_user[4] 6 1 3 # SB_DFFNSR (LogicCell: uu2.w_addr_user[4]_LC_558)
set_location uu2.w_addr_user_RNO[5] 6 1 4 # SB_LUT4 (LogicCell: uu2.w_addr_user[5]_LC_559)
set_location uu2.w_addr_user[5] 6 1 4 # SB_DFFNSR (LogicCell: uu2.w_addr_user[5]_LC_559)
set_location uu2.w_addr_user_RNO[6] 6 1 5 # SB_LUT4 (LogicCell: uu2.w_addr_user[6]_LC_560)
set_location uu2.w_addr_user[6] 6 1 5 # SB_DFFNSR (LogicCell: uu2.w_addr_user[6]_LC_560)
set_location uu2.w_addr_user_nesr_RNI2OE4[8] 9 1 2 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNI2OE4[8]_LC_561)
set_location uu2.w_addr_user_nesr_RNI43G8[3] 9 1 0 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNI43G8[3]_LC_562)
set_location Lab_UT.dictrl.next_state_1_3_0__m35_Lab_UT.dictrl.next_state_3_REP_LUT4_0 9 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[3]_LC_563)
set_location Lab_UT.dictrl.next_state[3] 9 10 7 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[3]_LC_563)
set_location Lab_UT.dictrl.next_state_RNINVFJ7_3_Lab_UT.dictrl.state_0_esr_3_REP_LUT4_0 8 9 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[3]_LC_564)
set_location Lab_UT.dictrl.state_0_esr[3] 8 9 6 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[3]_LC_564)
set_location Lab_UT.dictrl.state_0_esr_RNITNH9H_3_Lab_UT.dictrl.state_0_esr_1_REP_LUT4_0 8 9 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[1]_LC_565)
set_location Lab_UT.dictrl.state_0_esr[1] 8 9 7 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[1]_LC_565)
set_location Lab_UT.dictrl.state_0_esr_RNIUPT821_0_Lab_UT.dictrl.state_0_0_rep1_esr_REP_LUT4_0 8 9 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_LC_566)
set_location Lab_UT.dictrl.state_0_0_rep1_esr 8 9 2 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_LC_566)
set_location Lab_UT.dictrl.state_0_esr_RNIUPT821_0_Lab_UT.dictrl.state_0_esr_0_REP_LUT4_0 8 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[0]_LC_567)
set_location Lab_UT.dictrl.state_0_esr[0] 8 9 3 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[0]_LC_567)
set_location Lab_UT.dictrl.state_0_esr_RNIUPT821_0_Lab_UT.dictrl.state_0_fast_esr_0_REP_LUT4_0 8 9 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr[0]_LC_568)
set_location Lab_UT.dictrl.state_0_fast_esr[0] 8 9 1 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_fast_esr[0]_LC_568)
set_location Lab_UT.dictrl.state_ret_7_ess_RNI3FJ7D_Lab_UT.dictrl.state_0_esr_2_REP_LUT4_0 9 8 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[2]_LC_569)
set_location Lab_UT.dictrl.state_0_esr[2] 9 8 2 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[2]_LC_569)
set_location Lab_UT.dictrl.state_ret_7_ess_RNIFIQ9B_Lab_UT.dictrl.next_state_2_REP_LUT4_0 8 3 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[2]_LC_570)
set_location Lab_UT.dictrl.next_state[2] 8 3 0 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[2]_LC_570)
set_location Lab_UT.didp.countrce1.q_RNIULOK1_3_Lab_UT.didp.ce_1_REP_LUT4_0 6 4 1 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[1]_LC_571)
set_location Lab_UT.didp.ce[1] 6 4 1 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[1]_LC_571)
set_location Lab_UT.didp.countrce1.q_RNIULOK1_3_Lab_UT.didp.reset_0_REP_LUT4_0 6 4 2 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[0]_LC_572)
set_location Lab_UT.didp.reset[0] 6 4 2 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[0]_LC_572)
set_location Lab_UT.didp.countrce2.q_RNI4I852_3_Lab_UT.didp.ce_2_REP_LUT4_0 4 5 3 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[2]_LC_573)
set_location Lab_UT.didp.ce[2] 4 5 3 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[2]_LC_573)
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.ce_3_REP_LUT4_0 6 4 0 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[3]_LC_574)
set_location Lab_UT.didp.ce[3] 6 4 0 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[3]_LC_574)
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.reset_2_REP_LUT4_0 6 4 4 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[2]_LC_575)
set_location Lab_UT.didp.reset[2] 6 4 4 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[2]_LC_575)
set_location Lab_UT.didp.regrce1.q_esr_0_THRU_LUT4_0 6 10 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr[0]_LC_576)
set_location Lab_UT.didp.regrce1.q_esr[0] 6 10 5 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce1.q_esr[0]_LC_576)
set_location Lab_UT.didp.regrce1.q_esr_1_THRU_LUT4_0 7 9 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr[1]_LC_577)
set_location Lab_UT.didp.regrce1.q_esr[1] 7 9 1 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce1.q_esr[1]_LC_577)
set_location Lab_UT.didp.regrce1.q_esr_2_THRU_LUT4_0 7 9 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr[2]_LC_578)
set_location Lab_UT.didp.regrce1.q_esr[2] 7 9 2 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce1.q_esr[2]_LC_578)
set_location Lab_UT.didp.regrce1.q_esr_3_THRU_LUT4_0 7 9 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_esr[3]_LC_579)
set_location Lab_UT.didp.regrce1.q_esr[3] 7 9 3 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce1.q_esr[3]_LC_579)
set_location Lab_UT.didp.regrce2.q_esr_0_THRU_LUT4_0 6 9 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr[0]_LC_580)
set_location Lab_UT.didp.regrce2.q_esr[0] 6 9 0 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce2.q_esr[0]_LC_580)
set_location Lab_UT.didp.regrce2.q_esr_1_THRU_LUT4_0 6 9 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr[1]_LC_581)
set_location Lab_UT.didp.regrce2.q_esr[1] 6 9 1 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce2.q_esr[1]_LC_581)
set_location Lab_UT.didp.regrce2.q_esr_2_THRU_LUT4_0 6 9 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr[2]_LC_582)
set_location Lab_UT.didp.regrce2.q_esr[2] 6 9 2 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce2.q_esr[2]_LC_582)
set_location Lab_UT.didp.regrce2.q_esr_3_THRU_LUT4_0 6 9 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_esr[3]_LC_583)
set_location Lab_UT.didp.regrce2.q_esr[3] 6 9 3 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce2.q_esr[3]_LC_583)
set_location Lab_UT.didp.regrce3.q_esr_0_THRU_LUT4_0 4 7 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr[0]_LC_584)
set_location Lab_UT.didp.regrce3.q_esr[0] 4 7 3 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce3.q_esr[0]_LC_584)
set_location Lab_UT.didp.regrce3.q_esr_1_THRU_LUT4_0 4 8 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr[1]_LC_585)
set_location Lab_UT.didp.regrce3.q_esr[1] 4 8 5 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce3.q_esr[1]_LC_585)
set_location Lab_UT.didp.regrce3.q_esr_2_THRU_LUT4_0 4 7 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr[2]_LC_586)
set_location Lab_UT.didp.regrce3.q_esr[2] 4 7 4 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce3.q_esr[2]_LC_586)
set_location Lab_UT.didp.regrce3.q_esr_3_THRU_LUT4_0 4 7 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_esr[3]_LC_587)
set_location Lab_UT.didp.regrce3.q_esr[3] 4 7 0 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce3.q_esr[3]_LC_587)
set_location Lab_UT.didp.regrce4.q_esr_0_THRU_LUT4_0 5 6 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr[0]_LC_588)
set_location Lab_UT.didp.regrce4.q_esr[0] 5 6 0 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce4.q_esr[0]_LC_588)
set_location Lab_UT.didp.regrce4.q_esr_1_THRU_LUT4_0 5 6 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr[1]_LC_589)
set_location Lab_UT.didp.regrce4.q_esr[1] 5 6 1 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce4.q_esr[1]_LC_589)
set_location Lab_UT.didp.regrce4.q_esr_2_THRU_LUT4_0 5 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr[2]_LC_590)
set_location Lab_UT.didp.regrce4.q_esr[2] 5 6 2 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce4.q_esr[2]_LC_590)
set_location Lab_UT.didp.regrce4.q_esr_3_THRU_LUT4_0 5 6 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_esr[3]_LC_591)
set_location Lab_UT.didp.regrce4.q_esr[3] 5 6 3 # SB_DFFESR (LogicCell: Lab_UT.didp.regrce4.q_esr[3]_LC_591)
set_location buart.Z_rx.hh_0_THRU_LUT4_0 5 4 7 # SB_LUT4 (LogicCell: buart.Z_rx.hh[0]_LC_592)
set_location buart.Z_rx.hh[0] 5 4 7 # SB_DFFS (LogicCell: buart.Z_rx.hh[0]_LC_592)
set_location buart.Z_rx.hh_1_THRU_LUT4_0 5 4 0 # SB_LUT4 (LogicCell: buart.Z_rx.hh[1]_LC_593)
set_location buart.Z_rx.hh[1] 5 4 0 # SB_DFFS (LogicCell: buart.Z_rx.hh[1]_LC_593)
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 4 12 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[0]_LC_594)
set_location buart.Z_rx.shifter[0] 4 12 7 # SB_DFFER (LogicCell: buart.Z_rx.shifter[0]_LC_594)
set_location buart.Z_rx.shifter_0_rep1_THRU_LUT4_0 5 14 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_rep1_LC_595)
set_location buart.Z_rx.shifter_0_rep1 5 14 3 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_rep1_LC_595)
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 4 11 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[1]_LC_596)
set_location buart.Z_rx.shifter[1] 4 11 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter[1]_LC_596)
set_location buart.Z_rx.shifter_1_rep1_THRU_LUT4_0 6 13 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_1_rep1_LC_597)
set_location buart.Z_rx.shifter_1_rep1 6 13 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter_1_rep1_LC_597)
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 6 13 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[2]_LC_598)
set_location buart.Z_rx.shifter[2] 6 13 7 # SB_DFFER (LogicCell: buart.Z_rx.shifter[2]_LC_598)
set_location buart.Z_rx.shifter_2_rep1_THRU_LUT4_0 5 13 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_2_rep1_LC_599)
set_location buart.Z_rx.shifter_2_rep1 5 13 1 # SB_DFFER (LogicCell: buart.Z_rx.shifter_2_rep1_LC_599)
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 5 12 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[3]_LC_600)
set_location buart.Z_rx.shifter[3] 5 12 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter[3]_LC_600)
set_location buart.Z_rx.shifter_3_rep1_THRU_LUT4_0 5 14 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_3_rep1_LC_601)
set_location buart.Z_rx.shifter_3_rep1 5 14 5 # SB_DFFER (LogicCell: buart.Z_rx.shifter_3_rep1_LC_601)
set_location buart.Z_rx.shifter_3_rep2_THRU_LUT4_0 5 13 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_3_rep2_LC_602)
set_location buart.Z_rx.shifter_3_rep2 5 13 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter_3_rep2_LC_602)
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 5 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[4]_LC_603)
set_location buart.Z_rx.shifter[4] 5 12 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter[4]_LC_603)
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 5 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[5]_LC_604)
set_location buart.Z_rx.shifter[5] 5 12 3 # SB_DFFER (LogicCell: buart.Z_rx.shifter[5]_LC_604)
set_location buart.Z_rx.shifter_5_rep1_THRU_LUT4_0 7 15 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_5_rep1_LC_605)
set_location buart.Z_rx.shifter_5_rep1 7 15 0 # SB_DFFER (LogicCell: buart.Z_rx.shifter_5_rep1_LC_605)
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 5 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[6]_LC_606)
set_location buart.Z_rx.shifter[6] 5 12 1 # SB_DFFER (LogicCell: buart.Z_rx.shifter[6]_LC_606)
set_location buart.Z_rx.shifter_6_rep1_THRU_LUT4_0 8 15 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_6_rep1_LC_607)
set_location buart.Z_rx.shifter_6_rep1 8 15 5 # SB_DFFER (LogicCell: buart.Z_rx.shifter_6_rep1_LC_607)
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 8 15 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[7]_LC_608)
set_location buart.Z_rx.shifter[7] 8 15 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter[7]_LC_608)
set_location buart.Z_rx.shifter_7_rep1_THRU_LUT4_0 8 15 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_7_rep1_LC_609)
set_location buart.Z_rx.shifter_7_rep1 8 15 0 # SB_DFFER (LogicCell: buart.Z_rx.shifter_7_rep1_LC_609)
set_location buart.Z_rx.shifter_fast_0_THRU_LUT4_0 8 15 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[0]_LC_610)
set_location buart.Z_rx.shifter_fast[0] 8 15 3 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[0]_LC_610)
set_location buart.Z_rx.shifter_fast_1_THRU_LUT4_0 6 13 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[1]_LC_611)
set_location buart.Z_rx.shifter_fast[1] 6 13 1 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[1]_LC_611)
set_location buart.Z_rx.shifter_fast_2_THRU_LUT4_0 5 13 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[2]_LC_612)
set_location buart.Z_rx.shifter_fast[2] 5 13 7 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[2]_LC_612)
set_location buart.Z_rx.shifter_fast_3_THRU_LUT4_0 5 15 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[3]_LC_613)
set_location buart.Z_rx.shifter_fast[3] 5 15 0 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[3]_LC_613)
set_location buart.Z_rx.shifter_fast_4_THRU_LUT4_0 7 15 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[4]_LC_614)
set_location buart.Z_rx.shifter_fast[4] 7 15 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[4]_LC_614)
set_location buart.Z_rx.shifter_fast_5_THRU_LUT4_0 5 14 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[5]_LC_615)
set_location buart.Z_rx.shifter_fast[5] 5 14 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[5]_LC_615)
set_location buart.Z_rx.shifter_fast_6_THRU_LUT4_0 7 15 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[6]_LC_616)
set_location buart.Z_rx.shifter_fast[6] 7 15 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[6]_LC_616)
set_location buart.Z_rx.shifter_fast_7_THRU_LUT4_0 7 15 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[7]_LC_617)
set_location buart.Z_rx.shifter_fast[7] 7 15 6 # SB_DFFER (LogicCell: buart.Z_rx.shifter_fast[7]_LC_617)
set_location uu0.delay_line_1_THRU_LUT4_0 1 10 0 # SB_LUT4 (LogicCell: uu0.delay_line[1]_LC_618)
set_location uu0.delay_line[1] 1 10 0 # SB_DFFR (LogicCell: uu0.delay_line[1]_LC_618)
set_location uu0.sec_clkD_THRU_LUT4_0 5 5 0 # SB_LUT4 (LogicCell: uu0.sec_clkD_LC_619)
set_location uu0.sec_clkD 5 5 0 # SB_DFF (LogicCell: uu0.sec_clkD_LC_619)
set_location uu2.bitmap_111_THRU_LUT4_0 8 2 2 # SB_LUT4 (LogicCell: uu2.bitmap[111]_LC_620)
set_location uu2.bitmap[111] 8 2 2 # SB_DFFNSR (LogicCell: uu2.bitmap[111]_LC_620)
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 1 0 # SB_LUT4 (LogicCell: uu2.r_data_reg[0]_LC_621)
set_location uu2.r_data_reg[0] 2 1 0 # SB_DFFNE (LogicCell: uu2.r_data_reg[0]_LC_621)
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 1 1 # SB_LUT4 (LogicCell: uu2.r_data_reg[1]_LC_622)
set_location uu2.r_data_reg[1] 2 1 1 # SB_DFFNE (LogicCell: uu2.r_data_reg[1]_LC_622)
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 1 2 # SB_LUT4 (LogicCell: uu2.r_data_reg[2]_LC_623)
set_location uu2.r_data_reg[2] 2 1 2 # SB_DFFNE (LogicCell: uu2.r_data_reg[2]_LC_623)
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 1 3 # SB_LUT4 (LogicCell: uu2.r_data_reg[3]_LC_624)
set_location uu2.r_data_reg[3] 2 1 3 # SB_DFFNE (LogicCell: uu2.r_data_reg[3]_LC_624)
set_location uu2.r_data_reg_4_THRU_LUT4_0 2 1 4 # SB_LUT4 (LogicCell: uu2.r_data_reg[4]_LC_625)
set_location uu2.r_data_reg[4] 2 1 4 # SB_DFFNE (LogicCell: uu2.r_data_reg[4]_LC_625)
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 1 5 # SB_LUT4 (LogicCell: uu2.r_data_reg[5]_LC_626)
set_location uu2.r_data_reg[5] 2 1 5 # SB_DFFNE (LogicCell: uu2.r_data_reg[5]_LC_626)
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 1 6 # SB_LUT4 (LogicCell: uu2.r_data_reg[6]_LC_627)
set_location uu2.r_data_reg[6] 2 1 6 # SB_DFFNE (LogicCell: uu2.r_data_reg[6]_LC_627)
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 1 7 # SB_LUT4 (LogicCell: uu2.r_data_reg[7]_LC_628)
set_location uu2.r_data_reg[7] 2 1 7 # SB_DFFNE (LogicCell: uu2.r_data_reg[7]_LC_628)
set_location uu2.trig_rd_det_1_THRU_LUT4_0 5 4 1 # SB_LUT4 (LogicCell: uu2.trig_rd_det[1]_LC_629)
set_location uu2.trig_rd_det[1] 5 4 1 # SB_DFFSR (LogicCell: uu2.trig_rd_det[1]_LC_629)
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 8 2 3 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det[0]_LC_630)
set_location uu2.vram_rd_clk_det[0] 8 2 3 # SB_DFFNS (LogicCell: uu2.vram_rd_clk_det[0]_LC_630)
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 8 2 4 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det[1]_LC_631)
set_location uu2.vram_rd_clk_det[1] 8 2 4 # SB_DFFNS (LogicCell: uu2.vram_rd_clk_det[1]_LC_631)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNI0TIL_uu2.w_addr_displaying_1_rep1_nesr_REP_LUT4_0 6 2 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_1_rep1_nesr_LC_632)
set_location uu2.w_addr_displaying_1_rep1_nesr 6 2 5 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_1_rep1_nesr_LC_632)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNI0TIL_uu2.w_addr_displaying_fast_nesr_1_REP_LUT4_0 6 2 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_fast_nesr[1]_LC_633)
set_location uu2.w_addr_displaying_fast_nesr[1] 6 2 6 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_fast_nesr[1]_LC_633)
set_location uu2.w_addr_displaying_1_rep1_nesr_RNI0TIL_uu2.w_addr_displaying_nesr_1_REP_LUT4_0 6 2 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr[1]_LC_634)
set_location uu2.w_addr_displaying_nesr[1] 6 2 7 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_nesr[1]_LC_634)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 2 13 1 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_635)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 2 13 1 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_635)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 2 13 3 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_636)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 2 13 3 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_636)
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 1 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_637)
set_location buart.Z_rx.bitcount_cry_c[1] 1 12 1 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_637)
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 1 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_638)
set_location buart.Z_rx.bitcount_cry_c[2] 1 12 2 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_638)
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 1 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_639)
set_location buart.Z_rx.bitcount_cry_c[3] 1 12 3 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_639)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 2 13 0 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_640)
set_location buart.Z_rx.bitcount_cry_c[0] 1 12 0 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_c[0]_LC_641)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 12 2 0 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_642)
set_location GND -1 -1 -1 # GND
set_io Z_rcxd._io 0 11 1 # ICE_IO
set_io buart.Z_rx.bitcount_es_RNIV4M42_0[0] 7 17 0 # ICE_GB
set_io clk_in_ibuf 0 8 1 # ICE_IO
set_location latticehx1k_pll_inst.latticehx1k_pll_inst 6 0 1 # SB_PLL40_CORE
set_io latticehx1k_pll_inst.latticehx1k_pll_inst_RNIQV8B 6 17 1 # ICE_GB
set_io led_obuft[0] 13 12 1 # ICE_IO
set_io led_obuft[1] 13 12 0 # ICE_IO
set_io led_obuft[2] 13 11 1 # ICE_IO
set_io led_obuft[3] 13 11 0 # ICE_IO
set_io led_obuft[4] 13 9 1 # ICE_IO
set_io o_serial_data_obuf 0 12 0 # ICE_IO
set_io resetGen.rst_RNI4PQ1 0 8 1 # ICE_GB
set_io sd_obuf 13 15 1 # ICE_IO
set_io to_ir_obuf 13 14 1 # ICE_IO
set_io uu0.delay_line_RNILLLG7_0[1] 0 9 0 # ICE_GB
set_location uu2.mem0.ram512X8_inst 3 1 0 # SB_RAM40_4K
set_location INV_clk_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 5 10 2 # SB_LUT4 (LogicCell: LC_643)
