set_location Lab_UT.bcd2segment1.segmentUQ_0_i[3] 5 1 0 # SB_LUT4 (LogicCell: uu2.bitmap[314]_LC_0)
set_location uu2.bitmap[314] 5 1 0 # SB_DFFNSR (LogicCell: uu2.bitmap[314]_LC_0)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[4] 5 1 1 # SB_LUT4 (LogicCell: uu2.bitmap[218]_LC_1)
set_location uu2.bitmap[218] 5 1 1 # SB_DFFNSR (LogicCell: uu2.bitmap[218]_LC_1)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[5] 5 1 2 # SB_LUT4 (LogicCell: uu2.bitmap[90]_LC_2)
set_location uu2.bitmap[90] 5 1 2 # SB_DFFNSR (LogicCell: uu2.bitmap[90]_LC_2)
set_location Lab_UT.bcd2segment1.segmentUQ_0_i[6] 5 1 4 # SB_LUT4 (LogicCell: uu2.bitmap[186]_LC_3)
set_location uu2.bitmap[186] 5 1 4 # SB_DFFNSR (LogicCell: uu2.bitmap[186]_LC_3)
set_location Lab_UT.bcd2segment1.segmentUQ_i[0] 5 1 5 # SB_LUT4 (LogicCell: uu2.bitmap[58]_LC_4)
set_location uu2.bitmap[58] 5 1 5 # SB_DFFNSR (LogicCell: uu2.bitmap[58]_LC_4)
set_location Lab_UT.bcd2segment1.segmentUQ_i[1] 4 2 0 # SB_LUT4 (LogicCell: uu2.bitmap[93]_LC_5)
set_location uu2.bitmap[93] 4 2 0 # SB_DFFNSR (LogicCell: uu2.bitmap[93]_LC_5)
set_location Lab_UT.bcd2segment1.segmentUQ_i[2] 4 2 1 # SB_LUT4 (LogicCell: uu2.bitmap[221]_LC_6)
set_location uu2.bitmap[221] 4 2 1 # SB_DFFNSR (LogicCell: uu2.bitmap[221]_LC_6)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[3] 4 4 0 # SB_LUT4 (LogicCell: uu2.bitmap[308]_LC_7)
set_location uu2.bitmap[308] 4 4 0 # SB_DFFNSR (LogicCell: uu2.bitmap[308]_LC_7)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[4] 4 4 1 # SB_LUT4 (LogicCell: uu2.bitmap[212]_LC_8)
set_location uu2.bitmap[212] 4 4 1 # SB_DFFNSR (LogicCell: uu2.bitmap[212]_LC_8)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[5] 4 4 2 # SB_LUT4 (LogicCell: uu2.bitmap[84]_LC_9)
set_location uu2.bitmap[84] 4 4 2 # SB_DFFNSR (LogicCell: uu2.bitmap[84]_LC_9)
set_location Lab_UT.bcd2segment2.segmentUQ_0_i[6] 4 4 3 # SB_LUT4 (LogicCell: uu2.bitmap[180]_LC_10)
set_location uu2.bitmap[180] 4 4 3 # SB_DFFNSR (LogicCell: uu2.bitmap[180]_LC_10)
set_location Lab_UT.bcd2segment2.segmentUQ_i[0] 4 4 4 # SB_LUT4 (LogicCell: uu2.bitmap[52]_LC_11)
set_location uu2.bitmap[52] 4 4 4 # SB_DFFNSR (LogicCell: uu2.bitmap[52]_LC_11)
set_location Lab_UT.bcd2segment2.segmentUQ_i[1] 4 4 6 # SB_LUT4 (LogicCell: uu2.bitmap[87]_LC_12)
set_location uu2.bitmap[87] 4 4 6 # SB_DFFNSR (LogicCell: uu2.bitmap[87]_LC_12)
set_location Lab_UT.bcd2segment2.segmentUQ_i[2] 4 3 0 # SB_LUT4 (LogicCell: uu2.bitmap[215]_LC_13)
set_location uu2.bitmap[215] 4 3 0 # SB_DFFNSR (LogicCell: uu2.bitmap[215]_LC_13)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[3] 5 3 0 # SB_LUT4 (LogicCell: uu2.bitmap[296]_LC_14)
set_location uu2.bitmap[296] 5 3 0 # SB_DFFNSR (LogicCell: uu2.bitmap[296]_LC_14)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[4] 5 3 1 # SB_LUT4 (LogicCell: uu2.bitmap[200]_LC_15)
set_location uu2.bitmap[200] 5 3 1 # SB_DFFNSR (LogicCell: uu2.bitmap[200]_LC_15)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[5] 5 3 2 # SB_LUT4 (LogicCell: uu2.bitmap[72]_LC_16)
set_location uu2.bitmap[72] 5 3 2 # SB_DFFNSR (LogicCell: uu2.bitmap[72]_LC_16)
set_location Lab_UT.bcd2segment3.segmentUQ_0_i[6] 5 3 7 # SB_LUT4 (LogicCell: uu2.bitmap[168]_LC_17)
set_location uu2.bitmap[168] 5 3 7 # SB_DFFNSR (LogicCell: uu2.bitmap[168]_LC_17)
set_location Lab_UT.bcd2segment3.segmentUQ_i[0] 4 7 0 # SB_LUT4 (LogicCell: uu2.bitmap[40]_LC_18)
set_location uu2.bitmap[40] 4 7 0 # SB_DFFNSR (LogicCell: uu2.bitmap[40]_LC_18)
set_location Lab_UT.bcd2segment3.segmentUQ_i[1] 5 3 5 # SB_LUT4 (LogicCell: uu2.bitmap[75]_LC_19)
set_location uu2.bitmap[75] 5 3 5 # SB_DFFNSR (LogicCell: uu2.bitmap[75]_LC_19)
set_location Lab_UT.bcd2segment3.segmentUQ_i[2] 5 3 6 # SB_LUT4 (LogicCell: uu2.bitmap[203]_LC_20)
set_location uu2.bitmap[203] 5 3 6 # SB_DFFNSR (LogicCell: uu2.bitmap[203]_LC_20)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[3] 6 5 0 # SB_LUT4 (LogicCell: uu2.bitmap[290]_LC_21)
set_location uu2.bitmap[290] 6 5 0 # SB_DFFNSR (LogicCell: uu2.bitmap[290]_LC_21)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[4] 6 5 1 # SB_LUT4 (LogicCell: uu2.bitmap[194]_LC_22)
set_location uu2.bitmap[194] 6 5 1 # SB_DFFNSR (LogicCell: uu2.bitmap[194]_LC_22)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[5] 6 5 2 # SB_LUT4 (LogicCell: uu2.bitmap[66]_LC_23)
set_location uu2.bitmap[66] 6 5 2 # SB_DFFNSR (LogicCell: uu2.bitmap[66]_LC_23)
set_location Lab_UT.bcd2segment4.segmentUQ_0_i[6] 6 5 4 # SB_LUT4 (LogicCell: uu2.bitmap[162]_LC_24)
set_location uu2.bitmap[162] 6 5 4 # SB_DFFNSR (LogicCell: uu2.bitmap[162]_LC_24)
set_location Lab_UT.bcd2segment4.segmentUQ_i[0] 6 5 5 # SB_LUT4 (LogicCell: uu2.bitmap[34]_LC_25)
set_location uu2.bitmap[34] 6 5 5 # SB_DFFNSR (LogicCell: uu2.bitmap[34]_LC_25)
set_location Lab_UT.bcd2segment4.segmentUQ_i[1] 5 4 0 # SB_LUT4 (LogicCell: uu2.bitmap[69]_LC_26)
set_location uu2.bitmap[69] 5 4 0 # SB_DFFNSR (LogicCell: uu2.bitmap[69]_LC_26)
set_location Lab_UT.bcd2segment4.segmentUQ_i[2] 5 4 1 # SB_LUT4 (LogicCell: uu2.bitmap[197]_LC_27)
set_location uu2.bitmap[197] 5 4 1 # SB_DFFNSR (LogicCell: uu2.bitmap[197]_LC_27)
set_location Lab_UT.dictrl.N_27_0_i 11 5 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.N_27_0_i_LC_28)
set_location Lab_UT.dictrl.alarmstate_1_sqmuxa 6 10 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.alarmstate_1_sqmuxa_LC_29)
set_location Lab_UT.dictrl.g0_11 7 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_11_LC_30)
set_location Lab_UT.dictrl.g0_20 6 14 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_20_LC_31)
set_location Lab_UT.dictrl.g0_27 7 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_27_LC_32)
set_location Lab_UT.dictrl.g0_28 8 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_28_LC_33)
set_location Lab_UT.dictrl.g0_28_1_0 7 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_28_1_0_LC_34)
set_location Lab_UT.dictrl.g0_3 7 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_3_LC_35)
set_location Lab_UT.dictrl.g0_30 9 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_30_LC_36)
set_location Lab_UT.dictrl.g0_31 6 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_31_LC_37)
set_location Lab_UT.dictrl.g0_35 7 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_35_LC_38)
set_location Lab_UT.dictrl.g0_37 9 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_37_LC_39)
set_location Lab_UT.dictrl.g0_3_0 7 13 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_3_0_LC_40)
set_location Lab_UT.dictrl.g0_42 7 12 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_42_LC_41)
set_location Lab_UT.dictrl.g0_43_x 6 13 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_43_x_LC_42)
set_location Lab_UT.dictrl.g0_46 7 12 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_46_LC_43)
set_location Lab_UT.dictrl.g0_4_1 7 13 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_4_1_LC_44)
set_location Lab_UT.dictrl.g0_4_a4_5 8 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_4_a4_5_LC_45)
set_location Lab_UT.dictrl.g0_5 7 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_5_LC_46)
set_location Lab_UT.dictrl.g0_5_5_ns 8 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_5_5_ns_LC_47)
set_location Lab_UT.dictrl.g0_5_5_x1 8 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_5_5_x1_LC_48)
set_location Lab_UT.dictrl.g0_9_1 6 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g0_9_1_LC_49)
set_location Lab_UT.dictrl.g1_0_1 7 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_0_1_LC_50)
set_location Lab_UT.dictrl.g1_1 8 13 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_1_LC_51)
set_location Lab_UT.dictrl.g1_1_0 7 12 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_1_0_LC_52)
set_location Lab_UT.dictrl.g1_1_4 6 13 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_1_4_LC_53)
set_location Lab_UT.dictrl.g1_2 9 12 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_2_LC_54)
set_location Lab_UT.dictrl.g1_2_1 7 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_2_1_LC_55)
set_location Lab_UT.dictrl.g1_4 11 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.g1_4_LC_56)
set_location Lab_UT.dictrl.m10 11 5 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m10_LC_57)
set_location Lab_UT.dictrl.m19 7 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m19_LC_58)
set_location Lab_UT.dictrl.m1_0 5 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m1_0_LC_59)
set_location Lab_UT.dictrl.m25_0 7 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m25_0_LC_60)
set_location Lab_UT.dictrl.m25_4 7 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m25_4_LC_61)
set_location Lab_UT.dictrl.m25_ns 7 11 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m25_ns_LC_62)
set_location Lab_UT.dictrl.m25_x1 7 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m25_x1_LC_63)
set_location Lab_UT.dictrl.m3 11 8 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m3_LC_64)
set_location Lab_UT.dictrl.m30 8 13 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m30_LC_65)
set_location Lab_UT.dictrl.m31_ns 8 13 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m31_ns_LC_66)
set_location Lab_UT.dictrl.m31_x0 7 13 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m31_x0_LC_67)
set_location Lab_UT.dictrl.m33 8 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m33_LC_68)
set_location Lab_UT.dictrl.m40 6 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m40_LC_69)
set_location Lab_UT.dictrl.m47 9 12 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m47_LC_70)
set_location Lab_UT.dictrl.m48 9 13 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m48_LC_71)
set_location Lab_UT.dictrl.m63_0_1 9 13 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m63_0_1_LC_72)
set_location Lab_UT.dictrl.m81_e 11 4 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m81_e_LC_73)
set_location Lab_UT.dictrl.m82 11 4 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m82_LC_74)
set_location Lab_UT.dictrl.m89_am 11 5 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m89_am_LC_75)
set_location Lab_UT.dictrl.m89_bm 11 5 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m89_bm_LC_76)
set_location Lab_UT.dictrl.m9 11 5 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m9_LC_77)
set_location Lab_UT.dictrl.m91 11 4 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.m91_LC_78)
set_location Lab_UT.dictrl.next_state_RNI3QHJ5[1] 9 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNI3QHJ5[1]_LC_79)
set_location Lab_UT.dictrl.next_state_RNICF9U4[3] 11 3 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNICF9U4[3]_LC_80)
set_location Lab_UT.dictrl.next_state_RNIEIOO8[0] 8 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNIEIOO8[0]_LC_81)
set_location Lab_UT.dictrl.next_state_RNISBBJ4[0] 11 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNISBBJ4[0]_LC_82)
set_location Lab_UT.dictrl.next_state_RNIU0079_0[2] 8 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNIU0079_0[2]_LC_83)
set_location Lab_UT.dictrl.next_state_RNIU0079[2] 8 6 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNIU0079[2]_LC_84)
set_location Lab_UT.dictrl.next_state_RNO[0] 11 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[0]_LC_85)
set_location Lab_UT.dictrl.next_state[0] 11 9 4 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[0]_LC_85)
set_location Lab_UT.dictrl.next_state_RNO_0[0] 11 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_0[0]_LC_86)
set_location Lab_UT.dictrl.next_state_RNO_0[1] 9 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_0[1]_LC_87)
set_location Lab_UT.dictrl.next_state_RNO_0[2] 11 9 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_0[2]_LC_88)
set_location Lab_UT.dictrl.next_state_RNO[1] 9 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[1]_LC_89)
set_location Lab_UT.dictrl.next_state[1] 9 9 4 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[1]_LC_89)
set_location Lab_UT.dictrl.next_state_RNO_1[0] 11 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_1[0]_LC_90)
set_location Lab_UT.dictrl.next_state_RNO[2] 11 9 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[2]_LC_91)
set_location Lab_UT.dictrl.next_state[2] 11 9 1 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[2]_LC_91)
set_location Lab_UT.dictrl.next_state_RNO_2[0] 11 9 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state_RNO_2[0]_LC_92)
set_location Lab_UT.dictrl.shifter_ret_1_RNI1OGT 8 14 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_1_RNI1OGT_LC_93)
set_location Lab_UT.dictrl.shifter_ret_1_RNICGMV1 6 13 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_1_RNICGMV1_LC_94)
set_location Lab_UT.dictrl.shifter_ret_3_RNI 6 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI_LC_95)
set_location Lab_UT.dictrl.shifter_ret_3_RNI4PQ1 6 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI4PQ1_LC_96)
set_location Lab_UT.dictrl.shifter_ret_3_RNI4PQ1_0 6 9 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI4PQ1_0_LC_97)
set_location Lab_UT.dictrl.shifter_ret_3_RNI6626 6 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI6626_LC_98)
set_location Lab_UT.dictrl.shifter_ret_3_RNIGCKQ8 6 9 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNIGCKQ8_LC_99)
set_location Lab_UT.dictrl.shifter_ret_3_RNIK5FS8 6 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNIK5FS8_LC_100)
set_location Lab_UT.dictrl.shifter_ret_3_RNIMIM09 6 9 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNIMIM09_LC_101)
set_location Lab_UT.dictrl.shifter_ret_3_RNIQBH29 6 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNIQBH29_LC_102)
set_location Lab_UT.dictrl.shifter_ret_3_RNI_1 5 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI_1_LC_103)
set_location Lab_UT.dictrl.shifter_ret_3_RNI_2 6 9 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNI_2_LC_104)
set_location Lab_UT.dictrl.shifter_ret_3_RNO 6 11 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_LC_105)
set_location Lab_UT.dictrl.shifter_ret_3 6 11 4 # SB_DFFER (LogicCell: Lab_UT.dictrl.shifter_ret_3_LC_105)
set_location Lab_UT.dictrl.shifter_ret_3_RNO_0 6 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_3_RNO_0_LC_106)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNI24TF4 7 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNI24TF4_LC_107)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIBHFL 7 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIBHFL_LC_108)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIHF8LB 8 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIHF8LB_LC_109)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIK8B43 11 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIK8B43_LC_110)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIOH1FC 8 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIOH1FC_LC_111)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIOJ371 8 11 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIOJ371_LC_112)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIPHQ67 8 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIPHQ67_LC_113)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIR1TO6 8 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIR1TO6_LC_114)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIU5J2B 8 9 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIU5J2B_LC_115)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_RNIU7Q14 11 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_RNIU7Q14_LC_116)
set_location Lab_UT.dictrl.state_0_0_rep1_esr_ctle 12 8 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_ctle_LC_117)
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNI0DI21 8 10 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep1_esr_RNI0DI21_LC_118)
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNIAUDM 7 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep1_esr_RNIAUDM_LC_119)
set_location Lab_UT.dictrl.state_0_3_rep1_esr_RNIS94O2 8 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep1_esr_RNIS94O2_LC_120)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21 7 7 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21_LC_121)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21_0 7 7 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNI31Q21_0_LC_122)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNI3DTV5 9 13 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNI3DTV5_LC_123)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNICSUJ 7 9 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNICSUJ_LC_124)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIE8RP4 7 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIE8RP4_LC_125)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIG3207 8 14 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIG3207_LC_126)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIGU6P7 9 12 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIGU6P7_LC_127)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIH05S 11 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIH05S_LC_128)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIN8JN3 8 12 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIN8JN3_LC_129)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIP5KF4 8 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIP5KF4_LC_130)
set_location Lab_UT.dictrl.state_0_3_rep2_esr_RNIPS7A6 9 14 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_RNIPS7A6_LC_131)
set_location Lab_UT.dictrl.state_0_esr_RNI38BCN[3] 11 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI38BCN[3]_LC_132)
set_location Lab_UT.dictrl.state_0_esr_RNI48008[3] 9 10 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI48008[3]_LC_133)
set_location Lab_UT.dictrl.state_0_esr_RNI4CET7_0[3] 9 10 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI4CET7_0[3]_LC_134)
set_location Lab_UT.dictrl.state_0_esr_RNI4CET7[3] 9 9 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI4CET7[3]_LC_135)
set_location Lab_UT.dictrl.state_0_esr_RNI4L025[3] 9 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI4L025[3]_LC_136)
set_location Lab_UT.dictrl.state_0_esr_RNI4N0L4_0[3] 7 9 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI4N0L4_0[3]_LC_137)
set_location Lab_UT.dictrl.state_0_esr_RNI4N0L4[3] 7 8 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI4N0L4[3]_LC_138)
set_location Lab_UT.dictrl.state_0_esr_RNI51E3N[1] 9 10 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI51E3N[1]_LC_139)
set_location Lab_UT.dictrl.state_0_esr_RNI6H8A1[2] 6 9 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI6H8A1[2]_LC_140)
set_location Lab_UT.dictrl.state_0_esr_RNI6KC68[0] 11 11 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI6KC68[0]_LC_141)
set_location Lab_UT.dictrl.state_0_esr_RNI89VA1[3] 9 10 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI89VA1[3]_LC_142)
set_location Lab_UT.dictrl.state_0_esr_RNI9CU3Q[2] 9 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI9CU3Q[2]_LC_143)
set_location Lab_UT.dictrl.state_0_esr_RNI9TD6E[0] 9 12 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNI9TD6E[0]_LC_144)
set_location Lab_UT.dictrl.state_0_esr_RNICE00K[1] 8 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNICE00K[1]_LC_145)
set_location Lab_UT.dictrl.state_0_esr_RNIGENTQ[2] 11 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIGENTQ[2]_LC_146)
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81[2] 8 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIGJHP81[2]_LC_147)
set_location Lab_UT.dictrl.state_0_esr_RNIH7T88[3] 9 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIH7T88[3]_LC_148)
set_location Lab_UT.dictrl.state_0_esr_RNIHNKSM[3] 9 8 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIHNKSM[3]_LC_149)
set_location Lab_UT.dictrl.state_0_esr_RNII6FQI[2] 8 8 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNII6FQI[2]_LC_150)
set_location Lab_UT.dictrl.state_0_esr_RNIIE1Q91[2] 11 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIIE1Q91[2]_LC_151)
set_location Lab_UT.dictrl.state_0_esr_RNIJGPPK[1] 9 10 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIJGPPK[1]_LC_152)
set_location Lab_UT.dictrl.state_0_esr_RNIKE4Q8[0] 9 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIKE4Q8[0]_LC_153)
set_location Lab_UT.dictrl.state_0_esr_RNIKPIVI[2] 8 6 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIKPIVI[2]_LC_154)
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A[2] 11 7 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIKRG8A[2]_LC_155)
set_location Lab_UT.dictrl.state_0_esr_RNIL2ATH[0] 11 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIL2ATH[0]_LC_156)
set_location Lab_UT.dictrl.state_0_esr_RNIOIJR7[0] 9 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIOIJR7[0]_LC_157)
set_location Lab_UT.dictrl.state_0_esr_RNIOT908[3] 9 9 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIOT908[3]_LC_158)
set_location Lab_UT.dictrl.state_0_esr_RNIPED74[3] 9 11 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIPED74[3]_LC_159)
set_location Lab_UT.dictrl.state_0_esr_RNIQ1339[0] 7 8 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIQ1339[0]_LC_160)
set_location Lab_UT.dictrl.state_0_esr_RNIQ1339[3] 8 9 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIQ1339[3]_LC_161)
set_location Lab_UT.dictrl.state_0_esr_RNIQ3CG[2] 8 6 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIQ3CG[2]_LC_162)
set_location Lab_UT.dictrl.state_0_esr_RNIR2IE1[2] 6 8 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIR2IE1[2]_LC_163)
set_location Lab_UT.dictrl.state_0_esr_RNISK689[0] 7 8 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNISK689[0]_LC_164)
set_location Lab_UT.dictrl.state_0_esr_RNIT67DE[0] 9 12 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIT67DE[0]_LC_165)
set_location Lab_UT.dictrl.state_0_esr_RNIU2C38[3] 9 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIU2C38[3]_LC_166)
set_location Lab_UT.dictrl.state_0_esr_RNIUQEL8_0[1] 8 8 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIUQEL8_0[1]_LC_167)
set_location Lab_UT.dictrl.state_0_esr_RNIUQEL8[1] 8 6 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIUQEL8[1]_LC_168)
set_location Lab_UT.dictrl.state_0_esr_RNIVHJND[0] 9 13 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr_RNIVHJND[0]_LC_169)
set_location Lab_UT.dictrl.state_0_fast_esr_RNIFKL21[0] 8 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNIFKL21[0]_LC_170)
set_location Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3[0] 8 8 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3[0]_LC_171)
set_location Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3_0[0] 8 8 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr_RNIV6AH3_0[0]_LC_172)
set_location Lab_UT.dictrl.state_ret_12_RNI5OGCH 9 8 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNI5OGCH_LC_173)
set_location Lab_UT.dictrl.state_ret_12_RNIVIE9H 9 9 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNIVIE9H_LC_174)
set_location Lab_UT.dictrl.state_ret_12_RNO 11 7 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_LC_175)
set_location Lab_UT.dictrl.state_ret_12 11 7 7 # SB_DFF (LogicCell: Lab_UT.dictrl.state_ret_12_LC_175)
set_location Lab_UT.dictrl.state_ret_12_RNO_0 11 7 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_0_LC_176)
set_location Lab_UT.dictrl.state_ret_12_RNO_1 11 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_1_LC_177)
set_location Lab_UT.dictrl.state_ret_12_RNO_10 7 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_10_LC_178)
set_location Lab_UT.dictrl.state_ret_12_RNO_11 6 14 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_11_LC_179)
set_location Lab_UT.dictrl.state_ret_12_RNO_12 7 14 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_12_LC_180)
set_location Lab_UT.dictrl.state_ret_12_RNO_13 8 10 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_13_LC_181)
set_location Lab_UT.dictrl.state_ret_12_RNO_14 6 14 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_14_LC_182)
set_location Lab_UT.dictrl.state_ret_12_RNO_15 6 14 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_15_LC_183)
set_location Lab_UT.dictrl.state_ret_12_RNO_2 11 6 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_2_LC_184)
set_location Lab_UT.dictrl.state_ret_12_RNO_3 11 7 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_3_LC_185)
set_location Lab_UT.dictrl.state_ret_12_RNO_4 11 7 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_4_LC_186)
set_location Lab_UT.dictrl.state_ret_12_RNO_5 7 9 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_5_LC_187)
set_location Lab_UT.dictrl.state_ret_12_RNO_6 11 6 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_6_LC_188)
set_location Lab_UT.dictrl.state_ret_12_RNO_7 7 9 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_7_LC_189)
set_location Lab_UT.dictrl.state_ret_12_RNO_8 7 10 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_8_LC_190)
set_location Lab_UT.dictrl.state_ret_12_RNO_9 7 10 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_12_RNO_9_LC_191)
set_location Lab_UT.dictrl.state_ret_1_ess_RNIHOSE 8 7 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNIHOSE_LC_192)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO 8 7 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_LC_193)
set_location Lab_UT.dictrl.state_ret_1_ess 8 7 4 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_1_ess_LC_193)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_0 8 10 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_0_LC_194)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_1 7 12 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_1_LC_195)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_2 6 10 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_2_LC_196)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_3 7 9 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_3_LC_197)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_4 9 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_4_LC_198)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_5 5 11 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_5_LC_199)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_6 6 12 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_6_LC_200)
set_location Lab_UT.dictrl.state_ret_1_ess_RNO_7 6 12 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_1_ess_RNO_7_LC_201)
set_location Lab_UT.dictrl.state_ret_2_ess_RNIJT2J 8 6 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_RNIJT2J_LC_202)
set_location Lab_UT.dictrl.state_ret_2_ess_RNO 9 6 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_LC_203)
set_location Lab_UT.dictrl.state_ret_2_ess 9 6 3 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_2_ess_LC_203)
set_location Lab_UT.dictrl.state_ret_2_ess_RNO_0 9 6 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_2_ess_RNO_0_LC_204)
set_location Lab_UT.dictrl.state_ret_3_RNIITJO1 6 3 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_3_RNIITJO1_LC_205)
set_location Lab_UT.dictrl.state_ret_3_RNO 7 5 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_3_LC_206)
set_location Lab_UT.dictrl.state_ret_3 7 5 0 # SB_DFFSS (LogicCell: Lab_UT.dictrl.state_ret_3_LC_206)
set_location Lab_UT.dictrl.state_ret_4_esr_RNO 9 3 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_4_esr_LC_207)
set_location Lab_UT.dictrl.state_ret_4_esr 9 3 0 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_ret_4_esr_LC_207)
set_location Lab_UT.dictrl.state_ret_5_ess_RNINALF 8 4 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_5_ess_RNINALF_LC_208)
set_location Lab_UT.dictrl.state_ret_5_ess_RNIR0LH1 6 3 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_5_ess_RNIR0LH1_LC_209)
set_location Lab_UT.dictrl.state_ret_5_ess_RNO 9 6 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_5_ess_LC_210)
set_location Lab_UT.dictrl.state_ret_5_ess 9 6 0 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_5_ess_LC_210)
set_location Lab_UT.dictrl.state_ret_6_esr_RNIB8OC4 7 11 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_6_esr_RNIB8OC4_LC_211)
set_location Lab_UT.dictrl.state_ret_6_esr_RNO 9 6 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_6_esr_LC_212)
set_location Lab_UT.dictrl.state_ret_6_esr 9 6 4 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_ret_6_esr_LC_212)
set_location Lab_UT.dictrl.state_ret_7_esr_RNO 9 3 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_7_esr_LC_213)
set_location Lab_UT.dictrl.state_ret_7_esr 9 3 3 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_ret_7_esr_LC_213)
set_location Lab_UT.dictrl.state_ret_8_ess_RNO 9 3 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_8_ess_LC_214)
set_location Lab_UT.dictrl.state_ret_8_ess 9 3 1 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_8_ess_LC_214)
set_location Lab_UT.dictrl.state_ret_9_ess_RNO 9 4 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_ret_9_ess_LC_215)
set_location Lab_UT.dictrl.state_ret_9_ess 9 4 4 # SB_DFFESS (LogicCell: Lab_UT.dictrl.state_ret_9_ess_LC_215)
set_location Lab_UT.didp.ce_RNI14UL1[2] 7 2 4 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNI14UL1[2]_LC_216)
set_location Lab_UT.didp.ce_RNI62AM[1] 9 3 4 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNI62AM[1]_LC_217)
set_location Lab_UT.didp.ce_RNI65GA[0] 7 1 5 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNI65GA[0]_LC_218)
set_location Lab_UT.didp.ce_RNIDJKH1[3] 7 6 7 # SB_LUT4 (LogicCell: Lab_UT.didp.ce_RNIDJKH1[3]_LC_219)
set_location Lab_UT.didp.ce_RNO[0] 7 5 1 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[0]_LC_220)
set_location Lab_UT.didp.ce[0] 7 5 1 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[0]_LC_220)
set_location Lab_UT.didp.countrce1.q_RNI28771[3] 8 1 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNI28771[3]_LC_221)
set_location Lab_UT.didp.countrce1.q_RNIULOK1[3] 8 3 7 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[0]_LC_222)
set_location Lab_UT.didp.reset[0] 8 3 7 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[0]_LC_222)
set_location Lab_UT.didp.countrce1.q_RNIVHJJ[1] 7 1 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNIVHJJ[1]_LC_223)
set_location Lab_UT.didp.countrce1.q_RNO[0] 7 1 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[0]_LC_224)
set_location Lab_UT.didp.countrce1.q[0] 7 1 6 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[0]_LC_224)
set_location Lab_UT.didp.countrce1.q_RNO_0[0] 9 3 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[0]_LC_225)
set_location Lab_UT.didp.countrce1.q_RNO_0[1] 7 1 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[1]_LC_226)
set_location Lab_UT.didp.countrce1.q_RNO_0[2] 6 1 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[2]_LC_227)
set_location Lab_UT.didp.countrce1.q_RNO_0[3] 6 1 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_0[3]_LC_228)
set_location Lab_UT.didp.countrce1.q_RNO[1] 7 1 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[1]_LC_229)
set_location Lab_UT.didp.countrce1.q[1] 7 1 2 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[1]_LC_229)
set_location Lab_UT.didp.countrce1.q_RNO_1[3] 6 1 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q_RNO_1[3]_LC_230)
set_location Lab_UT.didp.countrce1.q_RNO[2] 6 1 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[2]_LC_231)
set_location Lab_UT.didp.countrce1.q[2] 6 1 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[2]_LC_231)
set_location Lab_UT.didp.countrce1.q_RNO[3] 6 1 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce1.q[3]_LC_232)
set_location Lab_UT.didp.countrce1.q[3] 6 1 4 # SB_DFF (LogicCell: Lab_UT.didp.countrce1.q[3]_LC_232)
set_location Lab_UT.didp.countrce2.q_RNI1S78[1] 9 1 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNI1S78[1]_LC_233)
set_location Lab_UT.didp.countrce2.q_RNI4I852[3] 8 3 4 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[1]_LC_234)
set_location Lab_UT.didp.reset[1] 8 3 4 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[1]_LC_234)
set_location Lab_UT.didp.countrce2.q_RNI6SFG[3] 8 1 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNI6SFG[3]_LC_235)
set_location Lab_UT.didp.countrce2.q_RNO[0] 9 1 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[0]_LC_236)
set_location Lab_UT.didp.countrce2.q[0] 9 1 0 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[0]_LC_236)
set_location Lab_UT.didp.countrce2.q_RNO_0[0] 9 2 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[0]_LC_237)
set_location Lab_UT.didp.countrce2.q_RNO_0[1] 9 2 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[1]_LC_238)
set_location Lab_UT.didp.countrce2.q_RNO_0[2] 9 2 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[2]_LC_239)
set_location Lab_UT.didp.countrce2.q_RNO_0[3] 9 1 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_0[3]_LC_240)
set_location Lab_UT.didp.countrce2.q_RNO[1] 9 2 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[1]_LC_241)
set_location Lab_UT.didp.countrce2.q[1] 9 2 5 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[1]_LC_241)
set_location Lab_UT.didp.countrce2.q_RNO_1[3] 9 1 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q_RNO_1[3]_LC_242)
set_location Lab_UT.didp.countrce2.q_RNO[2] 9 2 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[2]_LC_243)
set_location Lab_UT.didp.countrce2.q[2] 9 2 2 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[2]_LC_243)
set_location Lab_UT.didp.countrce2.q_RNO[3] 9 1 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce2.q[3]_LC_244)
set_location Lab_UT.didp.countrce2.q[3] 9 1 4 # SB_DFF (LogicCell: Lab_UT.didp.countrce2.q[3]_LC_244)
set_location Lab_UT.didp.countrce3.q_RNI36SS[0] 8 2 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNI36SS[0]_LC_245)
set_location Lab_UT.didp.countrce3.q_RNIAGOP1[3] 8 2 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNIAGOP1[3]_LC_246)
set_location Lab_UT.didp.countrce3.q_RNIE21V3[3] 8 3 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNIE21V3[3]_LC_247)
set_location Lab_UT.didp.countrce3.q_RNO[0] 6 2 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[0]_LC_248)
set_location Lab_UT.didp.countrce3.q[0] 6 2 0 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[0]_LC_248)
set_location Lab_UT.didp.countrce3.q_RNO_0[0] 6 2 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[0]_LC_249)
set_location Lab_UT.didp.countrce3.q_RNO_0[1] 6 2 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[1]_LC_250)
set_location Lab_UT.didp.countrce3.q_RNO_0[2] 8 2 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[2]_LC_251)
set_location Lab_UT.didp.countrce3.q_RNO_0[3] 8 2 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_0[3]_LC_252)
set_location Lab_UT.didp.countrce3.q_RNO[1] 7 2 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[1]_LC_253)
set_location Lab_UT.didp.countrce3.q[1] 7 2 5 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[1]_LC_253)
set_location Lab_UT.didp.countrce3.q_RNO_1[3] 8 2 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q_RNO_1[3]_LC_254)
set_location Lab_UT.didp.countrce3.q_RNO[2] 8 2 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[2]_LC_255)
set_location Lab_UT.didp.countrce3.q[2] 8 2 3 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[2]_LC_255)
set_location Lab_UT.didp.countrce3.q_RNO[3] 8 2 7 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce3.q[3]_LC_256)
set_location Lab_UT.didp.countrce3.q[3] 8 2 7 # SB_DFF (LogicCell: Lab_UT.didp.countrce3.q[3]_LC_256)
set_location Lab_UT.didp.countrce4.q_RNI5GGH[0] 7 6 0 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNI5GGH[0]_LC_257)
set_location Lab_UT.didp.countrce4.q_RNO[0] 7 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[0]_LC_258)
set_location Lab_UT.didp.countrce4.q[0] 7 6 2 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[0]_LC_258)
set_location Lab_UT.didp.countrce4.q_RNO_0[0] 7 6 1 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[0]_LC_259)
set_location Lab_UT.didp.countrce4.q_RNO_0[1] 7 6 3 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[1]_LC_260)
set_location Lab_UT.didp.countrce4.q_RNO_0[2] 6 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[2]_LC_261)
set_location Lab_UT.didp.countrce4.q_RNO_0[3] 7 6 5 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_0[3]_LC_262)
set_location Lab_UT.didp.countrce4.q_RNO[1] 7 6 4 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[1]_LC_263)
set_location Lab_UT.didp.countrce4.q[1] 7 6 4 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[1]_LC_263)
set_location Lab_UT.didp.countrce4.q_RNO_1[3] 6 6 2 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q_RNO_1[3]_LC_264)
set_location Lab_UT.didp.countrce4.q_RNO[2] 6 6 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[2]_LC_265)
set_location Lab_UT.didp.countrce4.q[2] 6 6 6 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[2]_LC_265)
set_location Lab_UT.didp.countrce4.q_RNO[3] 7 6 6 # SB_LUT4 (LogicCell: Lab_UT.didp.countrce4.q[3]_LC_266)
set_location Lab_UT.didp.countrce4.q[3] 7 6 6 # SB_DFF (LogicCell: Lab_UT.didp.countrce4.q[3]_LC_266)
set_location Lab_UT.didp.regrce1.q_RNI0LVO3[0] 6 3 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNI0LVO3[0]_LC_267)
set_location Lab_UT.didp.regrce1.q_RNI2NVO3[1] 4 1 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNI2NVO3[1]_LC_268)
set_location Lab_UT.didp.regrce1.q_RNI4PVO3[2] 4 1 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNI4PVO3[2]_LC_269)
set_location Lab_UT.didp.regrce1.q_RNI6RVO3[3] 4 1 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNI6RVO3[3]_LC_270)
set_location Lab_UT.didp.regrce1.q_RNI8N121[0] 6 3 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNI8N121[0]_LC_271)
set_location Lab_UT.didp.regrce1.q_RNICJDT[1] 6 1 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNICJDT[1]_LC_272)
set_location Lab_UT.didp.regrce1.q_RNIK3221[3] 4 1 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q_RNIK3221[3]_LC_273)
set_location Lab_UT.didp.regrce1.q_RNO[0] 6 7 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q[0]_LC_274)
set_location Lab_UT.didp.regrce1.q[0] 6 7 0 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce1.q[0]_LC_274)
set_location Lab_UT.didp.regrce1.q_RNO[1] 6 7 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q[1]_LC_275)
set_location Lab_UT.didp.regrce1.q[1] 6 7 1 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce1.q[1]_LC_275)
set_location Lab_UT.didp.regrce1.q_RNO[2] 6 7 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q[2]_LC_276)
set_location Lab_UT.didp.regrce1.q[2] 6 7 2 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce1.q[2]_LC_276)
set_location Lab_UT.didp.regrce1.q_RNO[3] 6 7 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce1.q[3]_LC_277)
set_location Lab_UT.didp.regrce1.q[3] 6 7 3 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce1.q[3]_LC_277)
set_location Lab_UT.didp.regrce2.q_RNI2VJT3[0] 6 3 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_RNI2VJT3[0]_LC_278)
set_location Lab_UT.didp.regrce2.q_RNI41KT3[1] 5 2 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_RNI41KT3[1]_LC_279)
set_location Lab_UT.didp.regrce2.q_RNI63KT3[2] 5 2 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_RNI63KT3[2]_LC_280)
set_location Lab_UT.didp.regrce2.q_RNI85KT3[3] 4 1 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_RNI85KT3[3]_LC_281)
set_location Lab_UT.didp.regrce2.q_RNIG7M61[1] 8 1 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q_RNIG7M61[1]_LC_282)
set_location Lab_UT.didp.regrce2.q_RNO[0] 7 3 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q[0]_LC_283)
set_location Lab_UT.didp.regrce2.q[0] 7 3 0 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce2.q[0]_LC_283)
set_location Lab_UT.didp.regrce2.q_RNO[1] 7 3 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q[1]_LC_284)
set_location Lab_UT.didp.regrce2.q[1] 7 3 1 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce2.q[1]_LC_284)
set_location Lab_UT.didp.regrce2.q_RNO[2] 7 3 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q[2]_LC_285)
set_location Lab_UT.didp.regrce2.q[2] 7 3 2 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce2.q[2]_LC_285)
set_location Lab_UT.didp.regrce2.q_RNO[3] 7 3 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce2.q[3]_LC_286)
set_location Lab_UT.didp.regrce2.q[3] 7 3 3 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce2.q[3]_LC_286)
set_location Lab_UT.didp.regrce3.q_RNI49824[0] 5 2 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNI49824[0]_LC_287)
set_location Lab_UT.didp.regrce3.q_RNI6B824[1] 5 2 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNI6B824[1]_LC_288)
set_location Lab_UT.didp.regrce3.q_RNI8D824[2] 5 2 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNI8D824[2]_LC_289)
set_location Lab_UT.didp.regrce3.q_RNIAF824[3] 5 2 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNIAF824[3]_LC_290)
set_location Lab_UT.didp.regrce3.q_RNIKRUF1[1] 7 2 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNIKRUF1[1]_LC_291)
set_location Lab_UT.didp.regrce3.q_RNINAVN[0] 6 2 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q_RNINAVN[0]_LC_292)
set_location Lab_UT.didp.regrce3.q_RNO[0] 6 7 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q[0]_LC_293)
set_location Lab_UT.didp.regrce3.q[0] 6 7 4 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce3.q[0]_LC_293)
set_location Lab_UT.didp.regrce3.q_RNO[1] 7 3 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q[1]_LC_294)
set_location Lab_UT.didp.regrce3.q[1] 7 3 4 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce3.q[1]_LC_294)
set_location Lab_UT.didp.regrce3.q_RNO[2] 6 7 6 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q[2]_LC_295)
set_location Lab_UT.didp.regrce3.q[2] 6 7 6 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce3.q[2]_LC_295)
set_location Lab_UT.didp.regrce3.q_RNO[3] 6 7 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce3.q[3]_LC_296)
set_location Lab_UT.didp.regrce3.q[3] 6 7 5 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce3.q[3]_LC_296)
set_location Lab_UT.didp.regrce4.q_RNI6JSM3[0] 7 4 0 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNI6JSM3[0]_LC_297)
set_location Lab_UT.didp.regrce4.q_RNI8LSM3[1] 7 4 1 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNI8LSM3[1]_LC_298)
set_location Lab_UT.didp.regrce4.q_RNIANSM3[2] 6 3 7 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNIANSM3[2]_LC_299)
set_location Lab_UT.didp.regrce4.q_RNICAPA4[3] 7 4 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNICAPA4[3]_LC_300)
set_location Lab_UT.didp.regrce4.q_RNICPSM3[3] 7 4 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNICPSM3[3]_LC_301)
set_location Lab_UT.didp.regrce4.q_RNIGCKQ8[0] 6 6 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNIGCKQ8[0]_LC_302)
set_location Lab_UT.didp.regrce4.q_RNIOF7P[1] 6 6 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNIOF7P[1]_LC_303)
set_location Lab_UT.didp.regrce4.q_RNIOMK62[0] 6 2 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNIOMK62[0]_LC_304)
set_location Lab_UT.didp.regrce4.q_RNISBJ41[3] 7 4 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q_RNISBJ41[3]_LC_305)
set_location Lab_UT.didp.regrce4.q_RNO[0] 7 5 2 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q[0]_LC_306)
set_location Lab_UT.didp.regrce4.q[0] 7 5 2 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce4.q[0]_LC_306)
set_location Lab_UT.didp.regrce4.q_RNO[1] 7 5 3 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q[1]_LC_307)
set_location Lab_UT.didp.regrce4.q[1] 7 5 3 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce4.q[1]_LC_307)
set_location Lab_UT.didp.regrce4.q_RNO[2] 7 5 4 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q[2]_LC_308)
set_location Lab_UT.didp.regrce4.q[2] 7 5 4 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce4.q[2]_LC_308)
set_location Lab_UT.didp.regrce4.q_RNO[3] 7 3 5 # SB_LUT4 (LogicCell: Lab_UT.didp.regrce4.q[3]_LC_309)
set_location Lab_UT.didp.regrce4.q[3] 7 3 5 # SB_DFFSR (LogicCell: Lab_UT.didp.regrce4.q[3]_LC_309)
set_location Lab_UT.didp.reset_RNO_0[3] 7 2 1 # SB_LUT4 (LogicCell: Lab_UT.didp.reset_RNO_0[3]_LC_310)
set_location Lab_UT.didp.reset_RNO[3] 8 3 6 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[3]_LC_311)
set_location Lab_UT.didp.reset[3] 8 3 6 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[3]_LC_311)
set_location Lab_UT.dispString.cnt_RNIFV4E[1] 4 11 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIFV4E[1]_LC_312)
set_location Lab_UT.dispString.cnt_RNIOG7L[1] 4 11 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt_RNIOG7L[1]_LC_313)
set_location Lab_UT.dispString.cnt_RNO[0] 4 12 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[0]_LC_314)
set_location Lab_UT.dispString.cnt[0] 4 12 3 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[0]_LC_314)
set_location Lab_UT.dispString.cnt_RNO[1] 4 12 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[1]_LC_315)
set_location Lab_UT.dispString.cnt[1] 4 12 4 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[1]_LC_315)
set_location Lab_UT.dispString.cnt_RNO[2] 4 12 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.cnt[2]_LC_316)
set_location Lab_UT.dispString.cnt[2] 4 12 0 # SB_DFFSR (LogicCell: Lab_UT.dispString.cnt[2]_LC_316)
set_location Lab_UT.dispString.dOut_RNO[0] 5 10 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[0]_LC_317)
set_location Lab_UT.dispString.dOut[0] 5 10 2 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[0]_LC_317)
set_location Lab_UT.dispString.dOut_RNO_0[0] 4 10 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[0]_LC_318)
set_location Lab_UT.dispString.dOut_RNO_0[1] 5 10 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[1]_LC_319)
set_location Lab_UT.dispString.dOut_RNO_0[2] 5 9 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[2]_LC_320)
set_location Lab_UT.dispString.dOut_RNO_0[3] 4 11 5 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[3]_LC_321)
set_location Lab_UT.dispString.dOut_RNO_0[4] 5 9 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[4]_LC_322)
set_location Lab_UT.dispString.dOut_RNO_0[5] 5 9 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_0[5]_LC_323)
set_location Lab_UT.dispString.dOut_RNO[1] 5 9 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[1]_LC_324)
set_location Lab_UT.dispString.dOut[1] 5 9 3 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[1]_LC_324)
set_location Lab_UT.dispString.dOut_RNO_1[0] 5 10 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[0]_LC_325)
set_location Lab_UT.dispString.dOut_RNO_1[1] 5 9 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[1]_LC_326)
set_location Lab_UT.dispString.dOut_RNO_1[2] 5 10 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[2]_LC_327)
set_location Lab_UT.dispString.dOut_RNO_1[3] 4 12 2 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_1[3]_LC_328)
set_location Lab_UT.dispString.dOut_RNO[2] 5 10 5 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[2]_LC_329)
set_location Lab_UT.dispString.dOut[2] 5 10 5 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[2]_LC_329)
set_location Lab_UT.dispString.dOut_RNO_2[0] 4 11 7 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[0]_LC_330)
set_location Lab_UT.dispString.dOut_RNO_2[1] 4 11 3 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[1]_LC_331)
set_location Lab_UT.dispString.dOut_RNO_2[2] 5 9 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[2]_LC_332)
set_location Lab_UT.dispString.dOut_RNO_2[3] 2 8 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_2[3]_LC_333)
set_location Lab_UT.dispString.dOut_RNO[3] 4 11 6 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[3]_LC_334)
set_location Lab_UT.dispString.dOut[3] 4 11 6 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[3]_LC_334)
set_location Lab_UT.dispString.dOut_RNO_3[3] 4 12 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut_RNO_3[3]_LC_335)
set_location Lab_UT.dispString.dOut_RNO[4] 4 8 0 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[4]_LC_336)
set_location Lab_UT.dispString.dOut[4] 4 8 0 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[4]_LC_336)
set_location Lab_UT.dispString.dOut_RNO[5] 4 8 5 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[5]_LC_337)
set_location Lab_UT.dispString.dOut[5] 4 8 5 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[5]_LC_337)
set_location Lab_UT.dispString.m9 6 10 4 # SB_LUT4 (LogicCell: Lab_UT.dispString.m9_LC_338)
set_location Lab_UT.dispString.rdy_RNO 4 8 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.rdy_LC_339)
set_location Lab_UT.dispString.rdy 4 8 1 # SB_DFF (LogicCell: Lab_UT.dispString.rdy_LC_339)
set_location buart.Z_rx.Z_baudgen.counter_RNI3HE3[5] 11 3 0 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNI3HE3[5]_LC_340)
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[4] 11 3 1 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNI3O55[4]_LC_341)
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 11 3 5 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_342)
set_location buart.Z_rx.Z_baudgen.counter[0] 11 3 5 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_342)
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 11 3 3 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_343)
set_location buart.Z_rx.Z_baudgen.counter[1] 11 3 3 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_343)
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 11 3 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_344)
set_location buart.Z_rx.Z_baudgen.counter[2] 11 3 2 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_344)
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 12 3 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_345)
set_location buart.Z_rx.Z_baudgen.counter[3] 12 3 2 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_345)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 12 3 2 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_345)
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 11 3 4 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_346)
set_location buart.Z_rx.Z_baudgen.counter[4] 11 3 4 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_346)
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 12 3 4 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_347)
set_location buart.Z_rx.Z_baudgen.counter[5] 12 3 4 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_347)
set_location buart.Z_rx.bitcount_es_RNIFSPI1[4] 11 4 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es_RNIFSPI1[4]_LC_348)
set_location buart.Z_rx.bitcount_es_RNO[0] 11 5 7 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[0]_LC_349)
set_location buart.Z_rx.bitcount_es[0] 11 5 7 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[0]_LC_349)
set_location buart.Z_rx.bitcount_es_RNO[1] 8 5 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[1]_LC_350)
set_location buart.Z_rx.bitcount_es[1] 8 5 0 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[1]_LC_350)
set_location buart.Z_rx.bitcount_es_RNO[2] 8 5 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[2]_LC_351)
set_location buart.Z_rx.bitcount_es[2] 8 5 1 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[2]_LC_351)
set_location buart.Z_rx.bitcount_es_RNO[3] 11 5 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[3]_LC_352)
set_location buart.Z_rx.bitcount_es[3] 11 5 3 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[3]_LC_352)
set_location buart.Z_rx.bitcount_es_RNO[4] 9 5 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_es[4]_LC_353)
set_location buart.Z_rx.bitcount_es[4] 9 5 4 # SB_DFFES (LogicCell: buart.Z_rx.bitcount_es[4]_LC_353)
set_location buart.Z_rx.bitcount_sbtinv[4] 11 5 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_sbtinv[4]_LC_354)
set_location buart.Z_rx.shifter_0_fast_RNI13PI1[2] 7 11 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast_RNI13PI1[2]_LC_355)
set_location buart.Z_rx.shifter_ret_1_RNO 7 13 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_1_LC_356)
set_location buart.Z_rx.shifter_ret_1 7 13 6 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_1_LC_356)
set_location buart.Z_rx.shifter_ret_1_fast_RNO 7 13 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_1_fast_LC_357)
set_location buart.Z_rx.shifter_ret_1_fast 7 13 4 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_1_fast_LC_357)
set_location buart.Z_rx.shifter_ret_2_RNO 5 11 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_2_LC_358)
set_location buart.Z_rx.shifter_ret_2 5 11 7 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_2_LC_358)
set_location buart.Z_rx.shifter_ret_3_RNI9ARR 8 12 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_3_RNI9ARR_LC_359)
set_location buart.Z_rx.shifter_ret_3_RNO 7 14 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_3_LC_360)
set_location buart.Z_rx.shifter_ret_3 7 14 7 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_3_LC_360)
set_location buart.Z_rx.shifter_ret_3_fast_RNO 7 14 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_3_fast_LC_361)
set_location buart.Z_rx.shifter_ret_3_fast 7 14 5 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_3_fast_LC_361)
set_location buart.Z_rx.shifter_ret_3_rep1_RNO 7 14 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_3_rep1_LC_362)
set_location buart.Z_rx.shifter_ret_3_rep1 7 14 6 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_3_rep1_LC_362)
set_location buart.Z_rx.shifter_ret_4_RNO 7 15 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_4_LC_363)
set_location buart.Z_rx.shifter_ret_4 7 15 0 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_4_LC_363)
set_location buart.Z_rx.shifter_ret_5_RNIIJHP1 11 12 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_5_RNIIJHP1_LC_364)
set_location buart.Z_rx.shifter_ret_5_RNO 6 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_5_LC_365)
set_location buart.Z_rx.shifter_ret_5 6 12 3 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_5_LC_365)
set_location buart.Z_rx.shifter_ret_5_fast_RNO 6 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_5_fast_LC_366)
set_location buart.Z_rx.shifter_ret_5_fast 6 12 1 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_5_fast_LC_366)
set_location buart.Z_rx.shifter_ret_6_RNO 5 13 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_6_LC_367)
set_location buart.Z_rx.shifter_ret_6 5 13 5 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_6_LC_367)
set_location buart.Z_rx.shifter_ret_6_fast_RNO 5 13 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_6_fast_LC_368)
set_location buart.Z_rx.shifter_ret_6_fast 5 13 3 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_6_fast_LC_368)
set_location buart.Z_rx.shifter_ret_6_rep1_RNI4S9J1 11 13 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_6_rep1_RNI4S9J1_LC_369)
set_location buart.Z_rx.shifter_ret_6_rep1_RNO 5 13 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_6_rep1_LC_370)
set_location buart.Z_rx.shifter_ret_6_rep1 5 13 2 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_6_rep1_LC_370)
set_location buart.Z_rx.shifter_ret_RNO 5 12 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_ret_LC_371)
set_location buart.Z_rx.shifter_ret 5 12 5 # SB_DFFES (LogicCell: buart.Z_rx.shifter_ret_LC_371)
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 5 13 7 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNI5M6E[1]_LC_372)
set_location buart.Z_tx.Z_baudgen.counter_RNIHV38[6] 5 14 6 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNIHV38[6]_LC_373)
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 1 9 6 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_374)
set_location buart.Z_tx.Z_baudgen.counter[0] 1 9 6 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_374)
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 1 9 5 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_375)
set_location buart.Z_tx.Z_baudgen.counter[1] 1 9 5 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_375)
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 5 14 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_376)
set_location buart.Z_tx.Z_baudgen.counter[2] 5 14 1 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_376)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 5 14 1 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_376)
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 5 14 2 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_377)
set_location buart.Z_tx.Z_baudgen.counter[3] 5 14 2 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_377)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 5 14 2 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_377)
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 5 14 3 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_378)
set_location buart.Z_tx.Z_baudgen.counter[4] 5 14 3 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_378)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 5 14 3 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_378)
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 5 14 4 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_379)
set_location buart.Z_tx.Z_baudgen.counter[5] 5 14 4 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_379)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 5 14 4 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_379)
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 5 14 5 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_380)
set_location buart.Z_tx.Z_baudgen.counter[6] 5 14 5 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_380)
set_location buart.Z_tx.bitcount_RNI22V22[2] 2 11 3 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNI22V22[2]_LC_381)
set_location buart.Z_tx.bitcount_RNIDCDL[3] 4 13 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIDCDL[3]_LC_382)
set_location buart.Z_tx.bitcount_RNIVE1P1[2] 4 13 3 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIVE1P1[2]_LC_383)
set_location buart.Z_tx.bitcount_RNO[0] 2 13 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[0]_LC_384)
set_location buart.Z_tx.bitcount[0] 2 13 2 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[0]_LC_384)
set_location buart.Z_tx.bitcount_RNO_0[2] 4 13 4 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[2]_LC_385)
set_location buart.Z_tx.bitcount_RNO_0[3] 4 13 0 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[3]_LC_386)
set_location buart.Z_tx.bitcount_RNO[1] 4 13 7 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[1]_LC_387)
set_location buart.Z_tx.bitcount[1] 4 13 7 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[1]_LC_387)
set_location buart.Z_tx.bitcount_RNO[2] 4 13 5 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[2]_LC_388)
set_location buart.Z_tx.bitcount[2] 4 13 5 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[2]_LC_388)
set_location buart.Z_tx.bitcount_RNO[3] 4 13 1 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[3]_LC_389)
set_location buart.Z_tx.bitcount[3] 4 13 1 # SB_DFFR (LogicCell: buart.Z_tx.bitcount[3]_LC_389)
set_location buart.Z_tx.shifter_RNO[0] 2 14 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[0]_LC_390)
set_location buart.Z_tx.shifter[0] 2 14 1 # SB_DFFER (LogicCell: buart.Z_tx.shifter[0]_LC_390)
set_location buart.Z_tx.shifter_RNO[1] 2 14 0 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[1]_LC_391)
set_location buart.Z_tx.shifter[1] 2 14 0 # SB_DFFER (LogicCell: buart.Z_tx.shifter[1]_LC_391)
set_location buart.Z_tx.shifter_RNO[2] 2 14 3 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[2]_LC_392)
set_location buart.Z_tx.shifter[2] 2 14 3 # SB_DFFER (LogicCell: buart.Z_tx.shifter[2]_LC_392)
set_location buart.Z_tx.shifter_RNO[3] 2 14 4 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[3]_LC_393)
set_location buart.Z_tx.shifter[3] 2 14 4 # SB_DFFER (LogicCell: buart.Z_tx.shifter[3]_LC_393)
set_location buart.Z_tx.shifter_RNO[4] 2 14 5 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[4]_LC_394)
set_location buart.Z_tx.shifter[4] 2 14 5 # SB_DFFER (LogicCell: buart.Z_tx.shifter[4]_LC_394)
set_location buart.Z_tx.shifter_RNO[5] 2 14 6 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[5]_LC_395)
set_location buart.Z_tx.shifter[5] 2 14 6 # SB_DFFER (LogicCell: buart.Z_tx.shifter[5]_LC_395)
set_location buart.Z_tx.shifter_RNO[6] 2 11 0 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[6]_LC_396)
set_location buart.Z_tx.shifter[6] 2 11 0 # SB_DFFER (LogicCell: buart.Z_tx.shifter[6]_LC_396)
set_location buart.Z_tx.shifter_RNO[7] 2 11 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[7]_LC_397)
set_location buart.Z_tx.shifter[7] 2 11 1 # SB_DFFER (LogicCell: buart.Z_tx.shifter[7]_LC_397)
set_location buart.Z_tx.shifter_RNO[8] 2 11 2 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[8]_LC_398)
set_location buart.Z_tx.shifter[8] 2 11 2 # SB_DFFER (LogicCell: buart.Z_tx.shifter[8]_LC_398)
set_location buart.Z_tx.uart_tx_RNO 2 14 2 # SB_LUT4 (LogicCell: buart.Z_tx.uart_tx_LC_399)
set_location buart.Z_tx.uart_tx 2 14 2 # SB_DFFES (LogicCell: buart.Z_tx.uart_tx_LC_399)
set_location resetGen.escKey 9 11 5 # SB_LUT4 (LogicCell: resetGen.escKey_LC_400)
set_location resetGen.escKey_4 5 13 1 # SB_LUT4 (LogicCell: resetGen.escKey_4_LC_401)
set_location resetGen.escKey_5 9 11 4 # SB_LUT4 (LogicCell: resetGen.escKey_5_LC_402)
set_location resetGen.reset_count_RNO[0] 8 4 1 # SB_LUT4 (LogicCell: resetGen.reset_count[0]_LC_403)
set_location resetGen.reset_count[0] 8 4 1 # SB_DFF (LogicCell: resetGen.reset_count[0]_LC_403)
set_location resetGen.reset_count_RNO_0[4] 8 4 5 # SB_LUT4 (LogicCell: resetGen.reset_count_RNO_0[4]_LC_404)
set_location resetGen.reset_count_RNO[1] 8 4 0 # SB_LUT4 (LogicCell: resetGen.reset_count[1]_LC_405)
set_location resetGen.reset_count[1] 8 4 0 # SB_DFF (LogicCell: resetGen.reset_count[1]_LC_405)
set_location resetGen.reset_count_RNO[2] 8 4 3 # SB_LUT4 (LogicCell: resetGen.reset_count[2]_LC_406)
set_location resetGen.reset_count[2] 8 4 3 # SB_DFF (LogicCell: resetGen.reset_count[2]_LC_406)
set_location resetGen.reset_count_RNO[3] 8 4 4 # SB_LUT4 (LogicCell: resetGen.reset_count[3]_LC_407)
set_location resetGen.reset_count[3] 8 4 4 # SB_DFF (LogicCell: resetGen.reset_count[3]_LC_407)
set_location resetGen.reset_count_RNO[4] 8 4 6 # SB_LUT4 (LogicCell: resetGen.reset_count[4]_LC_408)
set_location resetGen.reset_count[4] 8 4 6 # SB_DFF (LogicCell: resetGen.reset_count[4]_LC_408)
set_location resetGen.rst_RNIAL6V33 12 9 2 # SB_LUT4 (LogicCell: resetGen.rst_RNIAL6V33_LC_409)
set_location resetGen.rst_RNIMHUCC 11 8 5 # SB_LUT4 (LogicCell: resetGen.rst_RNIMHUCC_LC_410)
set_location resetGen.rst_RNO 7 7 0 # SB_LUT4 (LogicCell: resetGen.rst_LC_411)
set_location resetGen.rst 7 7 0 # SB_DFF (LogicCell: resetGen.rst_LC_411)
set_location resetGen.uu0.counter_gen_label[2].un241_ci 8 4 2 # SB_LUT4 (LogicCell: resetGen.uu0.counter_gen_label[2].un241_ci_LC_412)
set_location resetGen.uu0.counter_gen_label[3].un252_ci 8 5 2 # SB_LUT4 (LogicCell: resetGen.uu0.counter_gen_label[3].un252_ci_LC_413)
set_location uu0.delay_line_RNILLLG7[1] 8 5 5 # SB_LUT4 (LogicCell: uu0.delay_line_RNILLLG7[1]_LC_414)
set_location uu0.delay_line_RNO[0] 1 10 0 # SB_LUT4 (LogicCell: uu0.delay_line[0]_LC_415)
set_location uu0.delay_line[0] 1 10 0 # SB_DFFR (LogicCell: uu0.delay_line[0]_LC_415)
set_location uu0.l_count_RNI8ORT6[15] 1 13 2 # SB_LUT4 (LogicCell: uu0.l_count_RNI8ORT6[15]_LC_416)
set_location uu0.l_count_RNIFAQ9[13] 2 13 3 # SB_LUT4 (LogicCell: uu0.l_count_RNIFAQ9[13]_LC_417)
set_location uu0.l_count_RNIGTCU[15] 1 14 7 # SB_LUT4 (LogicCell: uu0.l_count_RNIGTCU[15]_LC_418)
set_location uu0.l_count_RNIO2782[16] 1 10 6 # SB_LUT4 (LogicCell: uu0.l_count_RNIO2782[16]_LC_419)
set_location uu0.l_count_RNIOIDD2[18] 1 13 1 # SB_LUT4 (LogicCell: uu0.l_count_RNIOIDD2[18]_LC_420)
set_location uu0.l_count_RNIRLTJ1[17] 1 12 0 # SB_LUT4 (LogicCell: uu0.l_count_RNIRLTJ1[17]_LC_421)
set_location uu0.l_count_RNO[0] 1 11 4 # SB_LUT4 (LogicCell: uu0.l_count[0]_LC_422)
set_location uu0.l_count[0] 1 11 4 # SB_DFFER (LogicCell: uu0.l_count[0]_LC_422)
set_location uu0.l_count_RNO[11] 1 13 3 # SB_LUT4 (LogicCell: uu0.l_count[11]_LC_423)
set_location uu0.l_count[11] 1 13 3 # SB_DFFER (LogicCell: uu0.l_count[11]_LC_423)
set_location uu0.l_count_RNO[12] 1 11 7 # SB_LUT4 (LogicCell: uu0.l_count[12]_LC_424)
set_location uu0.l_count[12] 1 11 7 # SB_DFFER (LogicCell: uu0.l_count[12]_LC_424)
set_location uu0.l_count_RNO[13] 1 16 5 # SB_LUT4 (LogicCell: uu0.l_count[13]_LC_425)
set_location uu0.l_count[13] 1 16 5 # SB_DFFER (LogicCell: uu0.l_count[13]_LC_425)
set_location uu0.l_count_RNO[15] 1 14 3 # SB_LUT4 (LogicCell: uu0.l_count[15]_LC_426)
set_location uu0.l_count[15] 1 14 3 # SB_DFFER (LogicCell: uu0.l_count[15]_LC_426)
set_location uu0.l_count_RNO[16] 1 12 5 # SB_LUT4 (LogicCell: uu0.l_count[16]_LC_427)
set_location uu0.l_count[16] 1 12 5 # SB_DFFER (LogicCell: uu0.l_count[16]_LC_427)
set_location uu0.l_count_RNO[18] 1 13 0 # SB_LUT4 (LogicCell: uu0.l_count[18]_LC_428)
set_location uu0.l_count[18] 1 13 0 # SB_DFFER (LogicCell: uu0.l_count[18]_LC_428)
set_location uu0.l_count_RNO[3] 1 12 6 # SB_LUT4 (LogicCell: uu0.l_count[3]_LC_429)
set_location uu0.l_count[3] 1 12 6 # SB_DFFER (LogicCell: uu0.l_count[3]_LC_429)
set_location uu0.l_count_RNO[4] 1 14 5 # SB_LUT4 (LogicCell: uu0.l_count[4]_LC_430)
set_location uu0.l_count[4] 1 14 5 # SB_DFFER (LogicCell: uu0.l_count[4]_LC_430)
set_location uu0.l_count_RNO[6] 1 11 0 # SB_LUT4 (LogicCell: uu0.l_count[6]_LC_431)
set_location uu0.l_count[6] 1 11 0 # SB_DFFER (LogicCell: uu0.l_count[6]_LC_431)
set_location uu0.l_count_RNO[7] 1 12 7 # SB_LUT4 (LogicCell: uu0.l_count[7]_LC_432)
set_location uu0.l_count[7] 1 12 7 # SB_DFFER (LogicCell: uu0.l_count[7]_LC_432)
set_location uu0.l_precount_RNI3Q7K1[2] 1 10 5 # SB_LUT4 (LogicCell: uu0.l_precount_RNI3Q7K1[2]_LC_433)
set_location uu0.l_precount_RNI85Q91[3] 1 10 2 # SB_LUT4 (LogicCell: uu0.l_precount_RNI85Q91[3]_LC_434)
set_location uu0.l_precount_RNO[0] 1 7 7 # SB_LUT4 (LogicCell: uu0.l_precount[0]_LC_435)
set_location uu0.l_precount[0] 1 7 7 # SB_DFFR (LogicCell: uu0.l_precount[0]_LC_435)
set_location uu0.sec_clkD_RNISDHD 2 8 5 # SB_LUT4 (LogicCell: uu0.sec_clkD_RNISDHD_LC_436)
set_location uu0.sec_clk_RNO 1 7 0 # SB_LUT4 (LogicCell: uu0.sec_clk_LC_437)
set_location uu0.sec_clk 1 7 0 # SB_DFFR (LogicCell: uu0.sec_clk_LC_437)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1 1 11 1 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1_LC_438)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 1 8 2 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3_LC_439)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 11 5 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6_LC_440)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 1 11 6 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8_LC_441)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 1 12 1 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0_LC_442)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 1 14 1 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9_LC_443)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 2 13 4 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0_LC_444)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 14 2 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1_LC_445)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 14 0 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2_LC_446)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 1 12 4 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci_LC_447)
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 1 9 2 # SB_LUT4 (LogicCell: uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0_LC_448)
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 11 3 # SB_LUT4 (LogicCell: uu0.l_count[1]_LC_449)
set_location uu0.l_count[1] 1 11 3 # SB_DFFER (LogicCell: uu0.l_count[1]_LC_449)
set_location uu0.vbuf_count_cntrl1.result_1[10] 1 14 6 # SB_LUT4 (LogicCell: uu0.l_count[10]_LC_450)
set_location uu0.l_count[10] 1 14 6 # SB_DFFER (LogicCell: uu0.l_count[10]_LC_450)
set_location uu0.vbuf_count_cntrl1.result_1[14] 1 14 4 # SB_LUT4 (LogicCell: uu0.l_count[14]_LC_451)
set_location uu0.l_count[14] 1 14 4 # SB_DFFER (LogicCell: uu0.l_count[14]_LC_451)
set_location uu0.vbuf_count_cntrl1.result_1[17] 1 12 3 # SB_LUT4 (LogicCell: uu0.l_count[17]_LC_452)
set_location uu0.l_count[17] 1 12 3 # SB_DFFER (LogicCell: uu0.l_count[17]_LC_452)
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 11 2 # SB_LUT4 (LogicCell: uu0.l_count[2]_LC_453)
set_location uu0.l_count[2] 1 11 2 # SB_DFFER (LogicCell: uu0.l_count[2]_LC_453)
set_location uu0.vbuf_count_cntrl1.result_1[5] 1 15 0 # SB_LUT4 (LogicCell: uu0.l_count[5]_LC_454)
set_location uu0.l_count[5] 1 15 0 # SB_DFFER (LogicCell: uu0.l_count[5]_LC_454)
set_location uu0.vbuf_count_cntrl1.result_1[8] 1 15 1 # SB_LUT4 (LogicCell: uu0.l_count[8]_LC_455)
set_location uu0.l_count[8] 1 15 1 # SB_DFFER (LogicCell: uu0.l_count[8]_LC_455)
set_location uu0.vbuf_count_cntrl1.result_1[9] 1 12 2 # SB_LUT4 (LogicCell: uu0.l_count[9]_LC_456)
set_location uu0.l_count[9] 1 12 2 # SB_DFFER (LogicCell: uu0.l_count[9]_LC_456)
set_location uu0.vbuf_precount_cntrl1.result_1[1] 1 10 3 # SB_LUT4 (LogicCell: uu0.l_precount[1]_LC_457)
set_location uu0.l_precount[1] 1 10 3 # SB_DFFR (LogicCell: uu0.l_precount[1]_LC_457)
set_location uu0.vbuf_precount_cntrl1.result_1[2] 1 10 4 # SB_LUT4 (LogicCell: uu0.l_precount[2]_LC_458)
set_location uu0.l_precount[2] 1 10 4 # SB_DFFR (LogicCell: uu0.l_precount[2]_LC_458)
set_location uu0.vbuf_precount_cntrl1.result_1[3] 1 10 1 # SB_LUT4 (LogicCell: uu0.l_precount[3]_LC_459)
set_location uu0.l_precount[3] 1 10 1 # SB_DFFR (LogicCell: uu0.l_precount[3]_LC_459)
set_location uu2.bitmap_RNI10J51[69] 5 4 2 # SB_LUT4 (LogicCell: uu2.bitmap_RNI10J51[69]_LC_460)
set_location uu2.bitmap_RNI1PH82[40] 4 7 1 # SB_LUT4 (LogicCell: uu2.bitmap_RNI1PH82[40]_LC_461)
set_location uu2.bitmap_RNI1UT12[75] 5 3 4 # SB_LUT4 (LogicCell: uu2.bitmap_RNI1UT12[75]_LC_462)
set_location uu2.bitmap_RNI208E6[40] 4 7 2 # SB_LUT4 (LogicCell: uu2.bitmap_RNI208E6[40]_LC_463)
set_location uu2.bitmap_RNI6RO21[162] 6 5 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNI6RO21[162]_LC_464)
set_location uu2.bitmap_RNI7GKQ[58] 5 1 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNI7GKQ[58]_LC_465)
set_location uu2.bitmap_RNIAE522[93] 4 2 2 # SB_LUT4 (LogicCell: uu2.bitmap_RNIAE522[93]_LC_466)
set_location uu2.bitmap_RNIC4D61[72] 5 3 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNIC4D61[72]_LC_467)
set_location uu2.bitmap_RNIC6I01[84] 4 4 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNIC6I01[84]_LC_468)
set_location uu2.bitmap_RNIEJM91[34] 6 5 6 # SB_LUT4 (LogicCell: uu2.bitmap_RNIEJM91[34]_LC_469)
set_location uu2.bitmap_RNIELSJ2[111] 5 7 5 # SB_LUT4 (LogicCell: uu2.bitmap_RNIELSJ2[111]_LC_470)
set_location uu2.bitmap_RNIKL222[212] 4 3 1 # SB_LUT4 (LogicCell: uu2.bitmap_RNIKL222[212]_LC_471)
set_location uu2.bitmap_RNILGG61[90] 5 1 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNILGG61[90]_LC_472)
set_location uu2.bitmap_RNIMS86A[66] 4 2 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNIMS86A[66]_LC_473)
set_location uu2.bitmap_RNIS4UH1[314] 5 1 7 # SB_LUT4 (LogicCell: uu2.bitmap_RNIS4UH1[314]_LC_474)
set_location uu2.bitmap_RNIU2IS[52] 4 4 5 # SB_LUT4 (LogicCell: uu2.bitmap_RNIU2IS[52]_LC_475)
set_location uu2.bitmap_RNIV8902[66] 6 5 3 # SB_LUT4 (LogicCell: uu2.bitmap_RNIV8902[66]_LC_476)
set_location uu2.bitmap_RNIVKR41[180] 5 7 0 # SB_LUT4 (LogicCell: uu2.bitmap_RNIVKR41[180]_LC_477)
set_location uu2.l_count_RNI9S834_0[1] 1 6 0 # SB_LUT4 (LogicCell: uu2.l_count_RNI9S834_0[1]_LC_478)
set_location uu2.l_count_RNI9S834[1] 1 6 5 # SB_LUT4 (LogicCell: uu2.l_count_RNI9S834[1]_LC_479)
set_location uu2.l_count_RNIBCGK1_0[9] 1 5 3 # SB_LUT4 (LogicCell: uu2.l_count_RNIBCGK1_0[9]_LC_480)
set_location uu2.l_count_RNIBCGK1[9] 1 5 1 # SB_LUT4 (LogicCell: uu2.l_count_RNIBCGK1[9]_LC_481)
set_location uu2.l_count_RNIFGGK1[3] 1 6 4 # SB_LUT4 (LogicCell: uu2.l_count_RNIFGGK1[3]_LC_482)
set_location uu2.l_count_RNO[0] 1 4 0 # SB_LUT4 (LogicCell: uu2.l_count[0]_LC_483)
set_location uu2.l_count[0] 1 4 0 # SB_DFFR (LogicCell: uu2.l_count[0]_LC_483)
set_location uu2.l_count_RNO[3] 1 6 2 # SB_LUT4 (LogicCell: uu2.l_count[3]_LC_484)
set_location uu2.l_count[3] 1 6 2 # SB_DFFR (LogicCell: uu2.l_count[3]_LC_484)
set_location uu2.l_count_RNO[4] 1 6 6 # SB_LUT4 (LogicCell: uu2.l_count[4]_LC_485)
set_location uu2.l_count[4] 1 6 6 # SB_DFFS (LogicCell: uu2.l_count[4]_LC_485)
set_location uu2.l_count_RNO[9] 1 5 2 # SB_LUT4 (LogicCell: uu2.l_count[9]_LC_486)
set_location uu2.l_count[9] 1 5 2 # SB_DFFR (LogicCell: uu2.l_count[9]_LC_486)
set_location uu2.mem0.ram512X8_inst_RNO 4 8 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_LC_487)
set_location uu2.mem0.ram512X8_inst_RNO_0 4 8 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_0_LC_488)
set_location uu2.mem0.ram512X8_inst_RNO_1 2 8 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_1_LC_489)
set_location uu2.mem0.ram512X8_inst_RNO_10 4 9 0 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_10_LC_490)
set_location uu2.mem0.ram512X8_inst_RNO_11 4 5 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_11_LC_491)
set_location uu2.mem0.ram512X8_inst_RNO_12 4 10 2 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_12_LC_492)
set_location uu2.mem0.ram512X8_inst_RNO_13 4 5 1 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_13_LC_493)
set_location uu2.mem0.ram512X8_inst_RNO_14 5 5 0 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_14_LC_494)
set_location uu2.mem0.ram512X8_inst_RNO_15 4 9 3 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_15_LC_495)
set_location uu2.mem0.ram512X8_inst_RNO_16 4 9 5 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_16_LC_496)
set_location uu2.mem0.ram512X8_inst_RNO_17 4 10 1 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_17_LC_497)
set_location uu2.mem0.ram512X8_inst_RNO_2 2 11 5 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_2_LC_498)
set_location uu2.mem0.ram512X8_inst_RNO_3 2 11 6 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_3_LC_499)
set_location uu2.mem0.ram512X8_inst_RNO_4 2 6 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_4_LC_500)
set_location uu2.mem0.ram512X8_inst_RNO_5 2 9 6 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_5_LC_501)
set_location uu2.mem0.ram512X8_inst_RNO_6 2 9 7 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_6_LC_502)
set_location uu2.mem0.ram512X8_inst_RNO_7 2 7 6 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_7_LC_503)
set_location uu2.mem0.ram512X8_inst_RNO_8 4 9 4 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_8_LC_504)
set_location uu2.mem0.ram512X8_inst_RNO_9 4 5 5 # SB_LUT4 (LogicCell: uu2.mem0.ram512X8_inst_RNO_9_LC_505)
set_location uu2.r_addr_RNO[0] 2 4 4 # SB_LUT4 (LogicCell: uu2.r_addr[0]_LC_506)
set_location uu2.r_addr[0] 2 4 4 # SB_DFFSR (LogicCell: uu2.r_addr[0]_LC_506)
set_location uu2.r_addr_RNO[1] 2 4 1 # SB_LUT4 (LogicCell: uu2.r_addr[1]_LC_507)
set_location uu2.r_addr[1] 2 4 1 # SB_DFFSR (LogicCell: uu2.r_addr[1]_LC_507)
set_location uu2.r_addr_RNO[2] 2 4 0 # SB_LUT4 (LogicCell: uu2.r_addr[2]_LC_508)
set_location uu2.r_addr[2] 2 4 0 # SB_DFFSR (LogicCell: uu2.r_addr[2]_LC_508)
set_location uu2.r_addr_RNO[4] 2 4 7 # SB_LUT4 (LogicCell: uu2.r_addr[4]_LC_509)
set_location uu2.r_addr[4] 2 4 7 # SB_DFFSR (LogicCell: uu2.r_addr[4]_LC_509)
set_location uu2.r_addr_RNO[5] 2 13 0 # SB_LUT4 (LogicCell: uu2.r_addr[5]_LC_510)
set_location uu2.r_addr[5] 2 13 0 # SB_DFFSR (LogicCell: uu2.r_addr[5]_LC_510)
set_location uu2.r_data_rdy_RNO 2 8 4 # SB_LUT4 (LogicCell: uu2.r_data_rdy_LC_511)
set_location uu2.r_data_rdy 2 8 4 # SB_DFF (LogicCell: uu2.r_data_rdy_LC_511)
set_location uu2.trig_rd_det_RNIJIIO[1] 2 4 3 # SB_LUT4 (LogicCell: uu2.trig_rd_det_RNIJIIO[1]_LC_512)
set_location uu2.trig_rd_det_RNINBDQ[1] 2 4 2 # SB_LUT4 (LogicCell: uu2.trig_rd_det_RNINBDQ[1]_LC_513)
set_location uu2.trig_rd_det_RNO[0] 1 4 1 # SB_LUT4 (LogicCell: uu2.trig_rd_det[0]_LC_514)
set_location uu2.trig_rd_det[0] 1 4 1 # SB_DFFSR (LogicCell: uu2.trig_rd_det[0]_LC_514)
set_location uu2.un28_w_addr_user_i_0_a2 4 9 6 # SB_LUT4 (LogicCell: uu2.un28_w_addr_user_i_0_a2_LC_515)
set_location uu2.un28_w_addr_user_i_0_o2_0 4 10 3 # SB_LUT4 (LogicCell: uu2.un28_w_addr_user_i_0_o2_0_LC_516)
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 1 9 3 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[2].un284_ci_LC_517)
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 1 6 3 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[4].un306_ci_LC_518)
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 1 5 5 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[6].un328_ci_3_LC_519)
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 1 5 6 # SB_LUT4 (LogicCell: uu2.vbuf_count.counter_gen_label[8].un350_ci_LC_520)
set_location uu2.vbuf_count.result_1[1] 1 7 1 # SB_LUT4 (LogicCell: uu2.l_count[1]_LC_521)
set_location uu2.l_count[1] 1 7 1 # SB_DFFR (LogicCell: uu2.l_count[1]_LC_521)
set_location uu2.vbuf_count.result_1[2] 1 6 1 # SB_LUT4 (LogicCell: uu2.l_count[2]_LC_522)
set_location uu2.l_count[2] 1 6 1 # SB_DFFS (LogicCell: uu2.l_count[2]_LC_522)
set_location uu2.vbuf_count.result_1[5] 1 6 7 # SB_LUT4 (LogicCell: uu2.l_count[5]_LC_523)
set_location uu2.l_count[5] 1 6 7 # SB_DFFR (LogicCell: uu2.l_count[5]_LC_523)
set_location uu2.vbuf_count.result_1[6] 1 5 0 # SB_LUT4 (LogicCell: uu2.l_count[6]_LC_524)
set_location uu2.l_count[6] 1 5 0 # SB_DFFR (LogicCell: uu2.l_count[6]_LC_524)
set_location uu2.vbuf_count.result_1[7] 1 5 4 # SB_LUT4 (LogicCell: uu2.l_count[7]_LC_525)
set_location uu2.l_count[7] 1 5 4 # SB_DFFR (LogicCell: uu2.l_count[7]_LC_525)
set_location uu2.vbuf_count.result_1[8] 1 5 7 # SB_LUT4 (LogicCell: uu2.l_count[8]_LC_526)
set_location uu2.l_count[8] 1 5 7 # SB_DFFS (LogicCell: uu2.l_count[8]_LC_526)
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 2 5 2 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[4].un404_ci_LC_527)
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 2 5 0 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3_LC_528)
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 2 5 4 # SB_LUT4 (LogicCell: uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0_LC_529)
set_location uu2.vbuf_raddr.result_1[3] 2 5 6 # SB_LUT4 (LogicCell: uu2.r_addr_esr[3]_LC_530)
set_location uu2.r_addr_esr[3] 2 5 6 # SB_DFFESR (LogicCell: uu2.r_addr_esr[3]_LC_530)
set_location uu2.vbuf_raddr.result_1[6] 2 5 5 # SB_LUT4 (LogicCell: uu2.r_addr_esr[6]_LC_531)
set_location uu2.r_addr_esr[6] 2 5 5 # SB_DFFESR (LogicCell: uu2.r_addr_esr[6]_LC_531)
set_location uu2.vbuf_raddr.result_1[7] 2 5 3 # SB_LUT4 (LogicCell: uu2.r_addr_esr[7]_LC_532)
set_location uu2.r_addr_esr[7] 2 5 3 # SB_DFFESR (LogicCell: uu2.r_addr_esr[7]_LC_532)
set_location uu2.vbuf_raddr.result_1[8] 2 5 1 # SB_LUT4 (LogicCell: uu2.r_addr_esr[8]_LC_533)
set_location uu2.r_addr_esr[8] 2 5 1 # SB_DFFESR (LogicCell: uu2.r_addr_esr[8]_LC_533)
set_location uu2.vbuf_w_addr_displaying.counter_gen_label[7].un437_ci_0 5 4 3 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_displaying.counter_gen_label[7].un437_ci_0_LC_534)
set_location uu2.vbuf_w_addr_displaying.result_1[3] 5 6 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr[3]_LC_535)
set_location uu2.w_addr_displaying_nesr[3] 5 6 1 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_nesr[3]_LC_535)
set_location uu2.vbuf_w_addr_displaying.result_1[6] 6 4 0 # SB_LUT4 (LogicCell: uu2.vbuf_w_addr_displaying.result_1[6]_LC_536)
set_location uu2.vram_rd_clk_RNO 1 3 5 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_LC_537)
set_location uu2.vram_rd_clk 1 3 5 # SB_DFFS (LogicCell: uu2.vram_rd_clk_LC_537)
set_location uu2.vram_rd_clk_det_RNI95711[1] 2 13 1 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det_RNI95711[1]_LC_538)
set_location uu2.vram_wr_en_0_i 4 9 2 # SB_LUT4 (LogicCell: uu2.vram_wr_en_0_i_LC_539)
set_location uu2.w_addr_displaying_RNI0ES07[8] 5 5 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI0ES07[8]_LC_540)
set_location uu2.w_addr_displaying_RNI1U7M3[7] 4 6 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI1U7M3[7]_LC_541)
set_location uu2.w_addr_displaying_RNI206J5[7] 5 7 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI206J5[7]_LC_542)
set_location uu2.w_addr_displaying_RNI30QB21[7] 4 6 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI30QB21[7]_LC_543)
set_location uu2.w_addr_displaying_RNI47N27[8] 5 5 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI47N27[8]_LC_544)
set_location uu2.w_addr_displaying_RNI84IJ2[2] 2 6 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI84IJ2[2]_LC_545)
set_location uu2.w_addr_displaying_RNI8NSO[2] 5 6 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI8NSO[2]_LC_546)
set_location uu2.w_addr_displaying_RNI8NSO[4] 4 6 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNI8NSO[4]_LC_547)
set_location uu2.w_addr_displaying_RNIAJJL8[8] 4 5 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIAJJL8[8]_LC_548)
set_location uu2.w_addr_displaying_RNIAKAQ2[7] 5 7 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIAKAQ2[7]_LC_549)
set_location uu2.w_addr_displaying_RNICAPH1[2] 4 6 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNICAPH1[2]_LC_550)
set_location uu2.w_addr_displaying_RNIGEPH1[4] 5 6 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIGEPH1[4]_LC_551)
set_location uu2.w_addr_displaying_RNIJHPH1[2] 5 7 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIJHPH1[2]_LC_552)
set_location uu2.w_addr_displaying_RNIKE7JD[4] 4 7 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIKE7JD[4]_LC_553)
set_location uu2.w_addr_displaying_RNIM0T61[2] 5 7 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIM0T61[2]_LC_554)
set_location uu2.w_addr_displaying_RNIOELE1[4] 4 6 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIOELE1[4]_LC_555)
set_location uu2.w_addr_displaying_RNIOM1S6[2] 5 6 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIOM1S6[2]_LC_556)
set_location uu2.w_addr_displaying_RNIQN495[8] 5 5 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIQN495[8]_LC_557)
set_location uu2.w_addr_displaying_RNIUNPV1[2] 5 6 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_RNIUNPV1[2]_LC_558)
set_location uu2.w_addr_displaying_RNO[0] 5 4 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[0]_LC_559)
set_location uu2.w_addr_displaying[0] 5 4 7 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[0]_LC_559)
set_location uu2.w_addr_displaying_RNO[2] 5 8 0 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[2]_LC_560)
set_location uu2.w_addr_displaying[2] 5 8 0 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[2]_LC_560)
set_location uu2.w_addr_displaying_RNO[4] 5 4 5 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[4]_LC_561)
set_location uu2.w_addr_displaying[4] 5 4 5 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[4]_LC_561)
set_location uu2.w_addr_displaying_RNO[5] 5 4 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[5]_LC_562)
set_location uu2.w_addr_displaying[5] 5 4 6 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[5]_LC_562)
set_location uu2.w_addr_displaying_RNO[7] 5 4 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[7]_LC_563)
set_location uu2.w_addr_displaying[7] 5 4 4 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[7]_LC_563)
set_location uu2.w_addr_displaying_RNO[8] 5 5 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying[8]_LC_564)
set_location uu2.w_addr_displaying[8] 5 5 1 # SB_DFFNSR (LogicCell: uu2.w_addr_displaying[8]_LC_564)
set_location uu2.w_addr_displaying_nesr_RNI25P31_0[1] 4 5 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI25P31_0[1]_LC_565)
set_location uu2.w_addr_displaying_nesr_RNI25P31[1] 4 5 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI25P31[1]_LC_566)
set_location uu2.w_addr_displaying_nesr_RNI4JSO[1] 4 5 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI4JSO[1]_LC_567)
set_location uu2.w_addr_displaying_nesr_RNI6RE03[3] 4 6 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI6RE03[3]_LC_568)
set_location uu2.w_addr_displaying_nesr_RNI9ITA5[3] 4 3 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNI9ITA5[3]_LC_569)
set_location uu2.w_addr_displaying_nesr_RNIASLS1[1] 4 5 7 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNIASLS1[1]_LC_570)
set_location uu2.w_addr_displaying_nesr_RNII08G4[1] 4 8 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNII08G4[1]_LC_571)
set_location uu2.w_addr_displaying_nesr_RNIS6T61[1] 5 5 6 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr_RNIS6T61[1]_LC_572)
set_location uu2.w_addr_displaying_ness_RNI6VOF1[6] 6 4 3 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNI6VOF1[6]_LC_573)
set_location uu2.w_addr_displaying_ness_RNIA3PF1_0[6] 6 4 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNIA3PF1_0[6]_LC_574)
set_location uu2.w_addr_displaying_ness_RNIA3PF1[6] 6 4 4 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness_RNIA3PF1[6]_LC_575)
set_location uu2.w_addr_displaying_ness_RNO[6] 6 4 1 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_ness[6]_LC_576)
set_location uu2.w_addr_displaying_ness[6] 6 4 1 # SB_DFFNESS (LogicCell: uu2.w_addr_displaying_ness[6]_LC_576)
set_location uu2.w_addr_i_0_tz[0] 4 10 4 # SB_LUT4 (LogicCell: uu2.w_addr_i_0_tz[0]_LC_577)
set_location uu2.w_addr_user_RNIG9RA[1] 2 10 0 # SB_LUT4 (LogicCell: uu2.w_addr_user_RNIG9RA[1]_LC_578)
set_location uu2.w_addr_user_RNO[1] 5 8 1 # SB_LUT4 (LogicCell: uu2.w_addr_user[1]_LC_579)
set_location uu2.w_addr_user[1] 5 8 1 # SB_DFFNSR (LogicCell: uu2.w_addr_user[1]_LC_579)
set_location uu2.w_addr_user_RNO[4] 5 8 2 # SB_LUT4 (LogicCell: uu2.w_addr_user[4]_LC_580)
set_location uu2.w_addr_user[4] 5 8 2 # SB_DFFNSR (LogicCell: uu2.w_addr_user[4]_LC_580)
set_location uu2.w_addr_user_nesr_RNI2Q224[6] 1 9 4 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNI2Q224[6]_LC_581)
set_location uu2.w_addr_user_nesr_RNIFBD5[3] 2 10 6 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNIFBD5[3]_LC_582)
set_location uu2.w_addr_user_nesr_RNIHSS8[5] 2 9 3 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNIHSS8[5]_LC_583)
set_location uu2.w_addr_user_nesr_RNINJD5[3] 2 10 2 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNINJD5[3]_LC_584)
set_location uu2.w_addr_user_nesr_RNIU0804[6] 4 9 7 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNIU0804[6]_LC_585)
set_location uu2.w_addr_user_nesr_RNIVCU1[8] 2 10 1 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNIVCU1[8]_LC_586)
set_location uu2.w_addr_user_nesr_RNO[0] 2 9 5 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[0]_LC_587)
set_location uu2.w_addr_user_nesr[0] 2 9 5 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[0]_LC_587)
set_location uu2.w_addr_user_nesr_RNO_0[3] 2 10 3 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNO_0[3]_LC_588)
set_location uu2.w_addr_user_nesr_RNO_0[8] 2 9 1 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr_RNO_0[8]_LC_589)
set_location uu2.w_addr_user_nesr_RNO[2] 2 10 5 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[2]_LC_590)
set_location uu2.w_addr_user_nesr[2] 2 10 5 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[2]_LC_590)
set_location uu2.w_addr_user_nesr_RNO[3] 2 10 4 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[3]_LC_591)
set_location uu2.w_addr_user_nesr[3] 2 10 4 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[3]_LC_591)
set_location uu2.w_addr_user_nesr_RNO[5] 2 10 7 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[5]_LC_592)
set_location uu2.w_addr_user_nesr[5] 2 10 7 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[5]_LC_592)
set_location uu2.w_addr_user_nesr_RNO[6] 2 9 4 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[6]_LC_593)
set_location uu2.w_addr_user_nesr[6] 2 9 4 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[6]_LC_593)
set_location uu2.w_addr_user_nesr_RNO[7] 2 9 0 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[7]_LC_594)
set_location uu2.w_addr_user_nesr[7] 2 9 0 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[7]_LC_594)
set_location uu2.w_addr_user_nesr_RNO[8] 2 9 2 # SB_LUT4 (LogicCell: uu2.w_addr_user_nesr[8]_LC_595)
set_location uu2.w_addr_user_nesr[8] 2 9 2 # SB_DFFNESR (LogicCell: uu2.w_addr_user_nesr[8]_LC_595)
set_location uu2.w_data_0_o2_0[4] 4 9 1 # SB_LUT4 (LogicCell: uu2.w_data_0_o2_0[4]_LC_596)
set_location Lab_UT.dictrl.m1_0_Lab_UT.dictrl.shifter_ret_1_REP_LUT4_0 5 11 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.shifter_ret_1_LC_597)
set_location Lab_UT.dictrl.shifter_ret_1 5 11 5 # SB_DFFES (LogicCell: Lab_UT.dictrl.shifter_ret_1_LC_597)
set_location Lab_UT.dictrl.next_state_3_THRU_LUT4_0 12 5 0 # SB_LUT4 (LogicCell: Lab_UT.dictrl.next_state[3]_LC_598)
set_location Lab_UT.dictrl.next_state[3] 12 5 0 # SB_DFFE (LogicCell: Lab_UT.dictrl.next_state[3]_LC_598)
set_location Lab_UT.dictrl.state_0_esr_RNI9CU3Q_2_Lab_UT.dictrl.state_0_esr_1_REP_LUT4_0 9 7 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[1]_LC_599)
set_location Lab_UT.dictrl.state_0_esr[1] 9 7 3 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[1]_LC_599)
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_0_rep1_esr_REP_LUT4_0 8 7 2 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_LC_600)
set_location Lab_UT.dictrl.state_0_0_rep1_esr 8 7 2 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_0_rep1_esr_LC_600)
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_esr_0_REP_LUT4_0 8 7 3 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[0]_LC_601)
set_location Lab_UT.dictrl.state_0_esr[0] 8 7 3 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[0]_LC_601)
set_location Lab_UT.dictrl.state_0_esr_RNIGJHP81_2_Lab_UT.dictrl.state_0_fast_esr_0_REP_LUT4_0 8 7 1 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr[0]_LC_602)
set_location Lab_UT.dictrl.state_0_fast_esr[0] 8 7 1 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_fast_esr[0]_LC_602)
set_location Lab_UT.dictrl.state_0_esr_RNIKPIVI_2_Lab_UT.dictrl.state_0_esr_2_REP_LUT4_0 8 7 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[2]_LC_603)
set_location Lab_UT.dictrl.state_0_esr[2] 8 7 6 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[2]_LC_603)
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_3_rep1_esr_REP_LUT4_0 9 7 6 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep1_esr_LC_604)
set_location Lab_UT.dictrl.state_0_3_rep1_esr 9 7 6 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_3_rep1_esr_LC_604)
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_3_rep2_esr_REP_LUT4_0 9 7 7 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_LC_605)
set_location Lab_UT.dictrl.state_0_3_rep2_esr 9 7 7 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_3_rep2_esr_LC_605)
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_esr_3_REP_LUT4_0 9 7 4 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_esr[3]_LC_606)
set_location Lab_UT.dictrl.state_0_esr[3] 9 7 4 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_esr[3]_LC_606)
set_location Lab_UT.dictrl.state_0_esr_RNIKRG8A_2_Lab_UT.dictrl.state_0_fast_esr_3_REP_LUT4_0 9 7 5 # SB_LUT4 (LogicCell: Lab_UT.dictrl.state_0_fast_esr[3]_LC_607)
set_location Lab_UT.dictrl.state_0_fast_esr[3] 9 7 5 # SB_DFFESR (LogicCell: Lab_UT.dictrl.state_0_fast_esr[3]_LC_607)
set_location Lab_UT.didp.countrce1.q_RNIULOK1_3_Lab_UT.didp.ce_1_REP_LUT4_0 8 3 0 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[1]_LC_608)
set_location Lab_UT.didp.ce[1] 8 3 0 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[1]_LC_608)
set_location Lab_UT.didp.countrce2.q_RNI4I852_3_Lab_UT.didp.ce_2_REP_LUT4_0 8 3 3 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[2]_LC_609)
set_location Lab_UT.didp.ce[2] 8 3 3 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[2]_LC_609)
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.ce_3_REP_LUT4_0 8 3 1 # SB_LUT4 (LogicCell: Lab_UT.didp.ce[3]_LC_610)
set_location Lab_UT.didp.ce[3] 8 3 1 # SB_DFFSR (LogicCell: Lab_UT.didp.ce[3]_LC_610)
set_location Lab_UT.didp.countrce3.q_RNIE21V3_3_Lab_UT.didp.reset_2_REP_LUT4_0 8 3 2 # SB_LUT4 (LogicCell: Lab_UT.didp.reset[2]_LC_611)
set_location Lab_UT.didp.reset[2] 8 3 2 # SB_DFFSS (LogicCell: Lab_UT.didp.reset[2]_LC_611)
set_location Lab_UT.dispString.cnt_RNIOG7L_1_Lab_UT.dispString.dOut_6_REP_LUT4_0 4 11 1 # SB_LUT4 (LogicCell: Lab_UT.dispString.dOut[6]_LC_612)
set_location Lab_UT.dispString.dOut[6] 4 11 1 # SB_DFF (LogicCell: Lab_UT.dispString.dOut[6]_LC_612)
set_location buart.Z_rx.hh_0_THRU_LUT4_0 1 7 4 # SB_LUT4 (LogicCell: buart.Z_rx.hh[0]_LC_613)
set_location buart.Z_rx.hh[0] 1 7 4 # SB_DFFS (LogicCell: buart.Z_rx.hh[0]_LC_613)
set_location buart.Z_rx.hh_1_THRU_LUT4_0 1 7 5 # SB_LUT4 (LogicCell: buart.Z_rx.hh[1]_LC_614)
set_location buart.Z_rx.hh[1] 1 7 5 # SB_DFFS (LogicCell: buart.Z_rx.hh[1]_LC_614)
set_location buart.Z_rx.shifter_0_0_THRU_LUT4_0 6 12 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[0]_LC_615)
set_location buart.Z_rx.shifter_0[0] 6 12 7 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[0]_LC_615)
set_location buart.Z_rx.shifter_0_1_THRU_LUT4_0 5 13 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[1]_LC_616)
set_location buart.Z_rx.shifter_0[1] 5 13 6 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[1]_LC_616)
set_location buart.Z_rx.shifter_0_2_THRU_LUT4_0 5 11 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[2]_LC_617)
set_location buart.Z_rx.shifter_0[2] 5 11 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[2]_LC_617)
set_location buart.Z_rx.shifter_0_3_THRU_LUT4_0 5 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[3]_LC_618)
set_location buart.Z_rx.shifter_0[3] 5 11 6 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[3]_LC_618)
set_location buart.Z_rx.shifter_0_4_THRU_LUT4_0 6 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[4]_LC_619)
set_location buart.Z_rx.shifter_0[4] 6 11 5 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[4]_LC_619)
set_location buart.Z_rx.shifter_0_4_rep1_THRU_LUT4_0 6 12 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_4_rep1_LC_620)
set_location buart.Z_rx.shifter_0_4_rep1 6 12 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_4_rep1_LC_620)
set_location buart.Z_rx.shifter_0_5_THRU_LUT4_0 6 11 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[5]_LC_621)
set_location buart.Z_rx.shifter_0[5] 6 11 0 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[5]_LC_621)
set_location buart.Z_rx.shifter_0_5_rep1_THRU_LUT4_0 6 13 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_5_rep1_LC_622)
set_location buart.Z_rx.shifter_0_5_rep1 6 13 5 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_5_rep1_LC_622)
set_location buart.Z_rx.shifter_0_6_THRU_LUT4_0 6 11 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[6]_LC_623)
set_location buart.Z_rx.shifter_0[6] 6 11 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[6]_LC_623)
set_location buart.Z_rx.shifter_0_6_rep1_THRU_LUT4_0 6 11 7 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_6_rep1_LC_624)
set_location buart.Z_rx.shifter_0_6_rep1 6 11 7 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_6_rep1_LC_624)
set_location buart.Z_rx.shifter_0_7_THRU_LUT4_0 6 11 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0[7]_LC_625)
set_location buart.Z_rx.shifter_0[7] 6 11 1 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0[7]_LC_625)
set_location buart.Z_rx.shifter_0_fast_2_THRU_LUT4_0 7 13 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast[2]_LC_626)
set_location buart.Z_rx.shifter_0_fast[2] 7 13 5 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_fast[2]_LC_626)
set_location buart.Z_rx.shifter_0_fast_3_THRU_LUT4_0 5 13 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast[3]_LC_627)
set_location buart.Z_rx.shifter_0_fast[3] 5 13 4 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_fast[3]_LC_627)
set_location buart.Z_rx.shifter_0_fast_4_THRU_LUT4_0 6 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast[4]_LC_628)
set_location buart.Z_rx.shifter_0_fast[4] 6 12 2 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_fast[4]_LC_628)
set_location buart.Z_rx.shifter_0_fast_5_THRU_LUT4_0 6 13 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast[5]_LC_629)
set_location buart.Z_rx.shifter_0_fast[5] 6 13 6 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_fast[5]_LC_629)
set_location buart.Z_rx.shifter_0_fast_6_THRU_LUT4_0 6 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_0_fast[6]_LC_630)
set_location buart.Z_rx.shifter_0_fast[6] 6 11 6 # SB_DFFER (LogicCell: buart.Z_rx.shifter_0_fast[6]_LC_630)
set_location uu0.delay_line_1_THRU_LUT4_0 1 7 6 # SB_LUT4 (LogicCell: uu0.delay_line[1]_LC_631)
set_location uu0.delay_line[1] 1 7 6 # SB_DFFR (LogicCell: uu0.delay_line[1]_LC_631)
set_location uu0.sec_clkD_THRU_LUT4_0 2 7 7 # SB_LUT4 (LogicCell: uu0.sec_clkD_LC_632)
set_location uu0.sec_clkD 2 7 7 # SB_DFF (LogicCell: uu0.sec_clkD_LC_632)
set_location uu2.bitmap_111_THRU_LUT4_0 5 8 3 # SB_LUT4 (LogicCell: uu2.bitmap[111]_LC_633)
set_location uu2.bitmap[111] 5 8 3 # SB_DFFNSR (LogicCell: uu2.bitmap[111]_LC_633)
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 12 0 # SB_LUT4 (LogicCell: uu2.r_data_reg[0]_LC_634)
set_location uu2.r_data_reg[0] 2 12 0 # SB_DFFNE (LogicCell: uu2.r_data_reg[0]_LC_634)
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 12 1 # SB_LUT4 (LogicCell: uu2.r_data_reg[1]_LC_635)
set_location uu2.r_data_reg[1] 2 12 1 # SB_DFFNE (LogicCell: uu2.r_data_reg[1]_LC_635)
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 12 2 # SB_LUT4 (LogicCell: uu2.r_data_reg[2]_LC_636)
set_location uu2.r_data_reg[2] 2 12 2 # SB_DFFNE (LogicCell: uu2.r_data_reg[2]_LC_636)
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 12 3 # SB_LUT4 (LogicCell: uu2.r_data_reg[3]_LC_637)
set_location uu2.r_data_reg[3] 2 12 3 # SB_DFFNE (LogicCell: uu2.r_data_reg[3]_LC_637)
set_location uu2.r_data_reg_4_THRU_LUT4_0 2 12 4 # SB_LUT4 (LogicCell: uu2.r_data_reg[4]_LC_638)
set_location uu2.r_data_reg[4] 2 12 4 # SB_DFFNE (LogicCell: uu2.r_data_reg[4]_LC_638)
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 12 5 # SB_LUT4 (LogicCell: uu2.r_data_reg[5]_LC_639)
set_location uu2.r_data_reg[5] 2 12 5 # SB_DFFNE (LogicCell: uu2.r_data_reg[5]_LC_639)
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 12 6 # SB_LUT4 (LogicCell: uu2.r_data_reg[6]_LC_640)
set_location uu2.r_data_reg[6] 2 12 6 # SB_DFFNE (LogicCell: uu2.r_data_reg[6]_LC_640)
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 12 7 # SB_LUT4 (LogicCell: uu2.r_data_reg[7]_LC_641)
set_location uu2.r_data_reg[7] 2 12 7 # SB_DFFNE (LogicCell: uu2.r_data_reg[7]_LC_641)
set_location uu2.trig_rd_det_1_THRU_LUT4_0 2 4 5 # SB_LUT4 (LogicCell: uu2.trig_rd_det[1]_LC_642)
set_location uu2.trig_rd_det[1] 2 4 5 # SB_DFFSR (LogicCell: uu2.trig_rd_det[1]_LC_642)
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 5 8 4 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det[0]_LC_643)
set_location uu2.vram_rd_clk_det[0] 5 8 4 # SB_DFFNS (LogicCell: uu2.vram_rd_clk_det[0]_LC_643)
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 5 8 5 # SB_LUT4 (LogicCell: uu2.vram_rd_clk_det[1]_LC_644)
set_location uu2.vram_rd_clk_det[1] 5 8 5 # SB_DFFNS (LogicCell: uu2.vram_rd_clk_det[1]_LC_644)
set_location uu2.w_addr_displaying_nesr_RNI4JSO_1_uu2.w_addr_displaying_nesr_1_REP_LUT4_0 5 6 2 # SB_LUT4 (LogicCell: uu2.w_addr_displaying_nesr[1]_LC_645)
set_location uu2.w_addr_displaying_nesr[1] 5 6 2 # SB_DFFNESR (LogicCell: uu2.w_addr_displaying_nesr[1]_LC_645)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 12 3 1 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_646)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 12 3 1 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0_LC_646)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 12 3 3 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_647)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 12 3 3 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0_LC_647)
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 9 5 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_648)
set_location buart.Z_rx.bitcount_cry_c[1] 9 5 1 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_648)
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 9 5 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_649)
set_location buart.Z_rx.bitcount_cry_c[2] 9 5 2 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_649)
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 9 5 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_650)
set_location buart.Z_rx.bitcount_cry_c[3] 9 5 3 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_650)
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 12 3 0 # SB_CARRY (LogicCell: buart.Z_rx.Z_baudgen.un5_counter_cry_1_c_LC_651)
set_location buart.Z_rx.bitcount_cry_c[0] 9 5 0 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_c[0]_LC_652)
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 5 14 0 # SB_CARRY (LogicCell: buart.Z_tx.Z_baudgen.un2_counter_cry_1_c_LC_653)
set_location GND -1 -1 -1 # GND
set_io Z_rcxd._io 0 11 1 # ICE_IO
set_io bu_rx_data_rdy_0_g_gb 13 8 1 # ICE_GB
set_io buart.Z_rx.sample_g_gb 7 17 0 # ICE_GB
set_io clk_in_ibuf 0 8 1 # ICE_IO
set_location latticehx1k_pll_inst.latticehx1k_pll_inst 6 0 1 # SB_PLL40_CORE
set_io latticehx1k_pll_inst.latticehx1k_pll_inst_RNIQV8B 6 17 1 # ICE_GB
set_io led_obuft[0] 13 12 1 # ICE_IO
set_io led_obuft[1] 13 12 0 # ICE_IO
set_io led_obuft[2] 13 11 1 # ICE_IO
set_io led_obuft[3] 13 11 0 # ICE_IO
set_io led_obuft[4] 13 9 1 # ICE_IO
set_io o_serial_data_obuf 0 12 0 # ICE_IO
set_io resetGen.rst_RNI4PQ1 0 8 1 # ICE_GB
set_io sd_obuf 13 15 1 # ICE_IO
set_io to_ir_obuf 13 14 1 # ICE_IO
set_io uu0.delay_line_RNILLLG7_0[1] 0 9 0 # ICE_GB
set_location uu2.mem0.ram512X8_inst 3 5 0 # SB_RAM40_4K
set_location INV_clk_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 8 5 6 # SB_LUT4 (LogicCell: LC_654)
